<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("View School"); ?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                            <form class="form-horizontal">
                                 <div style="float:left;">
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('School Name'); ?>:</label>
                                            <div class="controls"><?php if($this->result['school_name'] != '')echo $this->translate($this->escape($this->result['school_name'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('School City'); ?>:</label>
                                        <div class="controls"><?php if($this->result['school_city'] != '')echo $this->translate($this->escape($this->result['school_city'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('PopularCnt'); ?>:</label>
                                        <div class="controls"><?php if($this->result['popular_order'] != '')echo $this->translate($this->escape($this->result['popular_order'])); else echo "--N/A--" ?></div>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;</div>
                                <div class="form-action-area">
                                    <button id="back" class="btn btn-primary" onclick='javasctipt:history.go(-1);' type="button" name="back">Back</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<style type="text/css">
    .form-horizontal .controls{ margin-top: 5px; }
</style>