<?php //echo '<pre>';print_r($userdata);exit;
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
$userdata = $auth->getIdentity();
$user_id = $userdata->user_id;
if($this->roomsinfo != '') {
    $i=0;
    foreach($this->roomsinfo as $roominfo) {
        if($roominfo['open_status'] == '0') {
            $i++;
        }
    }
    $activeroomcnt = $i;
} else {
    $activeroomcnt = '0';
}
 echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));

?>
<script type="text/javascript">
    $(document).ready(function() {
        $('#TabbedPanels1').css('width', 'auto');
        <?php if($this->type == 'target') { ?>
            $('#targettab').addClass('active');
            $('#targettabcontent').addClass('TabbedPanelsContentVisible');
            $('#targettabcontent').attr('tabindex', '0');
            $('#targettabcontent').show();
            $('#huddletab').removeClass('active');
            $('#huddletabcontent').removeClass('TabbedPanelsContentVisible');
            $('#huddletabcontent').hide();
        <?php } else { ?>
            $('#targettab').removeClass('active');
            $('#targettabcontent').removeClass('TabbedPanelsContentVisible');
            $('#targettabcontent').hide();
            $('#huddletab').addClass('active');
            $('#huddletabcontent').addClass('TabbedPanelsContentVisible');
            $('#huddletabcontent').attr('tabindex', '0');
            $('#huddletabcontent').show();
        <?php } ?>
    });
</script>
<div id="wrapper">
    <div class="at_left_wrap1">
        <div id="TabbedPanels1" class="TabbedPanels tabshead">
            <ul class="TabbedPanelsTabGroup">
                <li><a href="<?php echo SITE_URL.'huddles/viewhuddles/owner'; ?>" id ="huddletab">My Huddles</a></li>
                <li><a href="<?php echo SITE_URL.'huddles/viewhuddles/target'; ?>" id="targettab">Target Huddles</a></li>
            </ul>
            <div class="clear">&nbsp;</div>
            <div class="TabbedPanelsContentGroup">
                <div class="TabbedPanelsContent" id="huddletabcontent" >
<!--                    <div class="HW_huddle_logo"></div>-->
                    <div class="HW_profile">
                        <div class="HW_profile_pic">
                            <?php if(($userdata->profile_pic_path != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$userdata->profile_pic_path)))
                                    $imagepath = SITE_URL.'uploads/images/thumbnails/'.$userdata->profile_pic_path;
                            else
                                    $imagepath = SITE_URL.'images/no-user.gif';
                            ?>
                            <a href="<?=SITE_URL?>user/userprofile"><img src="<?=$imagepath?>" height="100" alt="<?=ucfirst($userdata->firstname);?>" ></a>
<!--                            <img src="<?//=SITE_URL?>uploads/images/thumbnails/" width="119" height="115" style="margin:10px 6px 0 6px;">-->
                        </div>
                        <div class="HW_profile_txt1">
                            <?php echo $this->translate("My Open Sessions"); ?>:<br/>
                            <span><?php echo $activeroomcnt; ?></span>
                        </div>
                        <div class="HW_profile_txt2">
                            <?php echo ''; ?><br/>
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <!-- Start Photos tab -->  
                    <?php if($this->roomsinfo != '') {
                        foreach($this->roomsinfo as $roominfo) { ?>
                        <div class="HW_scroll_imgcon">
                            <?php if((!empty($roominfo['room_photo_path'])) && (file_exists(UPLOAD_PATH."images/thumbnails/".$roominfo['room_photo_path']))) { ?>
                                <img src="<?=SITE_URL?>uploads/images/thumbnails/<?php echo $roominfo['room_photo_path']; ?>" width="119" height="115" style="margin:10px 6px 0 6px;">
                            <?php } else { ?>
                                <img src="<?=SITE_URL?>images/no-user.png" width="119" height="115" style="margin:10px 6px 0 6px;">
                            <?php } ?>
                            <?php if($roominfo['open_status'] == '0') { ?>
                                <div class="HW_scroll_greent"><?php echo $roominfo['room_name']; ?></div>
                            <?php } else { ?>
                                <div class="HW_scroll_redt"><?php echo $roominfo['room_name']; ?></div>
                            <?php } ?>
                        </div>
                    <?php } } else {
                        echo 'No Huddles To View';
                    } ?>
                </div>
                <div class="TabbedPanelsContent" id="targettabcontent" >
                    <!-- Start Videos tab -->
                    <?php if($this->targetinfo != '') {
                        foreach($this->targetinfo as $targetinfo) { ?>
                        <div class="HW_scroll_imgcon">
                            <?php if((!empty($targetinfo['room_photo_path'])) && (file_exists(UPLOAD_PATH."images/thumbnails/".$targetinfo['room_photo_path']))) { ?>
                                <img src="<?=SITE_URL?>uploads/images/thumbnails/<?php echo $targetinfo['room_photo_path']; ?>" width="119" height="115" style="margin:10px 6px 0 6px;">
                            <?php } else { ?>
                                <img src="<?=SITE_URL?>images/no-user.png" width="119" height="115" style="margin:10px 6px 0 6px;">
                            <?php } ?>
                            <?php if($targetinfo['open_status'] == '0') { ?>
                                <div class="HW_scroll_greent"><?php echo $targetinfo['room_name']; ?></div>
                            <?php } else { ?>
                                <div class="HW_scroll_redt"><?php echo $targetinfo['room_name']; ?></div>
                            <?php } ?>
                        </div>
                    <?php } } else {
                        echo 'No Huddles To View';
                    } ?>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-----RIGHT COLUMN STARTS---->
<!--    <div id="H_right_column">
        <img src="<?=SITE_URL?>images/upmedial_huddle.png" width="272" height="24">
        <div class="H_right_outer" style="height:auto">
            <h1>HEADLINE</h1>
            <img src="<?=SITE_URL?>images/img20.png">
            <img src="<?=SITE_URL?>images/img19.png">
            <img src="<?=SITE_URL?>images/img18.png">
        </div>
    </div>-->
    <?php echo $this->action('profilerightbar','index', 'user',array('user_id'=>$user_id));?>
    <div class="clear"></div>
</div>
<div class="clear"></div>