<section id="main" class="span9">
        <section id="tabs" class="row-fluid">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#tab2" data-toggle="tab"><?= $this->translate("Approve Celebrity");?></a></li>
                        </ul>
                        <div class="tab-content">
                                <div class="tab-pane row-fluid active" id="tab2">
                                        <fieldset class="span12">
                                                <?php
                                                    if($this->flashMessages())
                                                        echo $this->flashMessages();
                                                ?>
                                        </fieldset>
                                        <div class="clearfix"></div>
                                </div>
                        </div>
                </div>
        </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->