<div class="dashboard_pan">
    <div class="titlepan">
        <h1><?php echo $this->translate('Welcome To Dashboard');?></h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Till Date</th>
                <th>Yesterday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Total No Of Users</th>
                <td><?php echo $this->data['user_count']; ?></td>
                <td><?php echo $this->data['prev_user_count']; ?></td>
            </tr>
            <tr>
                <th>Total No Of Businesses</th>
                <td><?php echo $this->data['businessuser_count']; ?></td>
                <td><?php echo $this->data['prev_businessuser_count']; ?></td>
            </tr>
            <tr>
                <th>Total No Of Uppers</th>
                <td><?php echo $this->data['uppers_count']; ?></td>
                <td><?php echo $this->data['prev_uppers_count']; ?></td>
            </tr>
            <tr>
                <th>Total No Of Active Uppers</th>
                <td><?php echo $this->data['active_uppers_count']; ?></td>
                <td><?php echo $this->data['prev_active_uppers_count']; ?></td>
            </tr>
            <tr>
                <th>Total Purchased Uppers</th>
                <td><?php echo $this->data['purchased_uppers_count']; ?></td>
                <td><?php echo $this->data['prev_purchased_uppers_count']; ?></td>
            </tr>
            <tr>
                <th>Total Active Purchased Uppers</th>
                <td><?php echo $this->data['active_purchased_uppers_count']; ?></td>
                <td><?php echo $this->data['prev_active_purchased_uppers_count']; ?></td>
            </tr>
            <tr>
                <th>Total Income</th>
                <td><?php echo '-Work In Process-'; ?></td>
                <td><?php echo '-Work In Process-'; ?></td>
            </tr>
            <tr>
                <th>Total Celebrity</th>
                <td><?php echo $this->data['celebrity_count']; ?></td>
                <td><?php echo $this->data['prev_celebrity_count']; ?></td>
            </tr>
            <tr>
                <th>Popular User</th>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['popular_user'], 0, 44)); else echo '-N/A-'; ?></td>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['prev_popular_user'], 0, 44)); else echo '-N/A-'; ?></td>
            </tr>
            <tr>
                <th>Popular Business</th>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['popular_business'], 0, 44)); else echo '-N/A-'; ?></td>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['prev_popular_business'], 0, 44)); else echo '-N/A-'; ?></td>
            </tr>
            <tr>
                <th>Popular High School</th>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['popular_school'], 0, 44)); else echo '-N/A-'; ?></td>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['prev_popular_school'], 0, 44)); else echo '-N/A-'; ?></td>
            </tr>
            <tr>
                <th>Popular College</th>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['popular_college'], 0, 44)); else echo '-N/A-'; ?></td>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['prev_popular_college'], 0, 44)); else echo '-N/A-'; ?></td>
            </tr>
            <tr>
                <th>Popular Work Place</th>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['popular_workplace'], 0, 44)); else echo '-N/A-'; ?></td>
                <td><?php if(!empty($this->data['prev_popular_user'])) echo ucwords(substr($this->data['prev_popular_workplace'], 0, 44)); else echo '-N/A-'; ?></td>
            </tr>
        </tbody>
    </table>
    <!-- End of Main Section (Holds all controls of the page) -->
</div>