<!--<br /><br />
<div id="view-content">
	<p>View script for controller <b>Index</b> and script/action name <b>index</b></p>
</div>-->
<div class="login_pan">   
    <div class="pan">
        <div align="center" class="errDiv"><?= $this->flashMessages();?></div>
        <?php echo $this->form;?>
    </div>
    <!-- End of Main Section (Holds all controls of the page) -->
</div>
<script language="javascript">
$(document).ready(function(){
    $("#adminLoginForm").validate({
        user_name: {
            required: true
        },
        admin_pwd: {
            required: true
        }
    });
});
</script>