<?php 

if($_SERVER['REMOTE_ADDR'] == '10.211.173.8' || strstr($_SERVER['REMOTE_ADDR'], '192.168.1.')){?>

<style>
.spreadsheet{
	background:#CCC;
	border: 1px solid #CCC;
}
.spreadsheet td{
	background:#FFF;
	border: 1px solid #CCC;
}
</style>
<div style="clear:both;"></div>
<?php
// get the default db adapter
$adapter = Zend_Db_Table::getDefaultAdapter();
$adapter->getProfiler()->setEnabled(true);
$profiler = $adapter->getProfiler();
if ($profiler->getEnabled() && $profiler->getTotalNumQueries() > 0) :
?>
	<div style="background:#FFF; margin:5px; border:1px solid #FF0000;">    
	<div style='text-align:center; background:#FFF;'>
        <h2>Database Profiling Report</h2>
        <p>Total queries executed: <?php echo $profiler->getTotalNumQueries() ?></p>
        <p>Total elapsed time: <?php echo $profiler->getTotalElapsedSecs() ?></p>
    </div>
	<div style=" padding:0px 15px 15px 15px;">
    <table class='spreadsheet' cellpadding='2' cellspacing='2' style=' '>
        <thead>
            <tr>
                <th>#</th>
                <th>Query</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
    <?php foreach ($profiler->getQueryProfiles() as $queryNumber => $query) : ?>
                <tr>
                    <td width="2%">(<?php echo $queryNumber + 1 ?>)</td>
                    <td  width="90%"><?php echo $query->getQuery(); ?></td>
                    <td  width="8%"><?php echo $query->getElapsedSecs(); ?></td>
                </tr>
    <?php endforeach ?>
        </tbody>
    </table></div>
    <?php endif ?>
    </div>
<?php } ?>    
