<?php //echo "<pre>";print_r($this->data);exit;?>
<section id="main" class="span9">
        <section id="tabs" class="row-fluid">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#tab2" data-toggle="tab"><?= $this->translate("Add CMS");?></a></li>
                        </ul>
                        <div class="tab-content">
                                <div class="tab-pane row-fluid active" id="tab2">
                                                <fieldset class="span12">
                                                        <?php 
                                                        $this->form->setAction($this->baseUrl().'/admin/cms/addcms');
                                                        echo $this->form;
                                                        ?>
                                                </fieldset>
                                        <div class="clearfix"></div>
                                        <div class="tableFooter">
                                                <div class="clearfix"></div>
                                        </div><!-- End of Table footer -->
                                </div>
                        </div>
                </div>
        </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script type="text/javascript">
    CKEDITOR.replace('page_content',
    {
        width:'800px',
                    toolbar : [ 
                                    ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
                                    ['NumberedList','BulletedList','-','Outdent','Indent'],
                                    ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Image'],
                                    ['Styles'],['Format'],['Font'],['FontSize'],
                                    ['TextColor'],['BGColor']],
	filebrowserBrowseUrl : site_url+'public/includes/ckfinder/ckfinder.html',
	filebrowserImageBrowseUrl : site_url+'public/includes/ckfinder/ckfinder.html?type=Images',
	filebrowserFlashBrowseUrl : site_url+'public/includes/ckfinder/ckfinder.html?type=Flash',
	filebrowserUploadUrl : site_url+'public/includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
	filebrowserImageUploadUrl : site_url+'public/includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
	filebrowserFlashUploadUrl : site_url+'public/includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
    });
    $(document).ready(function(){
        $("#addcms").validate({                                   
                page_title: {
                        required: true
                    }
                });
        });
</script>