<?php $paginationControl = $this->paginationControl($this->paginator, 'Sliding', '_partials/paginator.phtml');
//sleep(5);
if(!$this->isAjaxReq)
{
?>
<section id="main" class="span9">
    <?php
    if($this->flashMessages())
    {
        echo $this->translate($this->flashMessages());
    }
    ?>
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <div class="addbtn"><a href="<?php echo SITE_URL.'admin/cms/addcms'; ?>">Add CMS</a></div>
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab"><?= $this->translate("CMS Management");?></a></li>			
            </ul>
            <div class="tab-content">
<?php } ?>
                <form name="managecms" id="managecms" method="post">
                    <input type="hidden" name="hid_key" id="hid_key" value=""/>
                    <input type="hidden" name="hid_id" id="hid_id" value="" />
                    <input type="hidden" name="hid_status" id="hid_status" value="" />
                    <div class="tab-pane active" id="tab1">
                        <div class="pagination-result">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectall" name="checkAll" value="Y" onclick="javascript:funCheckAll();"></th>  
                                    <th><?php echo $this->translate('Page Title');?></th>
                                    <th><?php echo $this->translate('Page Content');?></th>
                                    <th><?php echo $this->translate('Status');?></th>
                                    <th><?php echo $this->translate('Actions');?></th>
                                </tr>					
                                </thead>
                                <tbody>
                                <?php 
                                    $count = 0;    
                                    foreach ($this->paginator as $cms) { $count++;?>
                                    <tr>
                                            <td><input type="checkbox" class="case" name="checkcms[]" value="<?php echo $cms['id'];?>"></td>
                                            <td> 
                                                <?php echo stripslashes($cms['page_title']);?>
                                            </td>
                                            <td> 
                                                <?php if(strlen($cms['page_content'])>50) {  echo stripslashes(substr($cms['page_content'],0,50)).'....'; } else { echo stripslashes($cms['page_content']);}?>
                                            </td>
                                            <td><?php if($cms['status'] == '1'){?> 
                                                    <span style="color:#008000"><?php echo $this->translate("Active");?></span>
                                                    <?php } else{ ?>
                                                    <span style="color:#FF0000"><?php echo $this->translate("Inactive");}?></span>
                                            </td>
                                            <td>
                                                <a href="<?php echo $this->url(array('controller'=>'cms', 'action'=>'editcms','id'=>$cms['id'])); ?>" title="Edit Cms"><i class="icon-edit"></i></a>
                                                <a href="javascript:void(0);"><i class="icon-remove" title="Remove Cms" onclick="fnDeleteRecord('managecms',<?php echo $cms['id'];?>);"></i></a>
                                                <?php if($cms['status'] == '0'){?>
                                                            <a href="javascript:void(0);" title="Make Active" onclick="fnChangeStatus('managecms','1',<?php echo $cms['id'];?>);"><i class="icon-ok-circle"></i></a>
                                                <?php } else{?>
                                                            <a href="javascript:void(0);" title="Make Inactive" onclick="fnChangeStatus('managecms','0',<?php echo $cms['id'];?>);"><i class="icon-ban-circle"></i></a>
                                                <?php } ?>
                                            </td>
                                    </tr>
                                <?php } 
                                    if($count == 0)
                                    {?>
                                        <tr><td colspan="5" class="norecords" style="text-align: center;"><?php echo $this->translate("No Records To Display");?></td></tr>
                                <?php } ?>
                                </tbody>                                    
                            </table>                  
                        </div>
                        <div class="tableFooter">
                            <?php if($count != 0) { ?>
                            <div class="tableActions span7 action">
                            <select name="adminActions" id="adminActions">
                                <option value=""><?php echo $this->translate("Choose an action");?></option>
                                <option value="A"><?php echo $this->translate("Make Active");?></option>
                                <option value="I"><?php echo $this->translate("Make Inactive");?></option>
                                <option value="D"><?php echo $this->translate("Delete");?></option>
                            </select>
                            <button class="btn btn-primary" onclick="return setAdminStatus('managecms');"><?php echo $this->translate("Submit");?></button>
                            </div><!-- End of table Actions -->
                            <?php } ?>
                            <div class="pagination span5 page">
                            <?php echo $paginationControl ?>
                            </div>    
                            <div class="clearfix"></div>
                        </div><!-- End of Table footer -->
                    </div><!-- End of Tab 1 -->
                </form>
            </div>
        </div>
    </section><!-- End of Tabs -->        
</section>
<SCRIPT language="javascript">
$(window).scrollTop(0);
$(function(){

        // add multiple select / deselect functionality
        $("#selectall").click(function () {
        $('.case').attr('checked', this.checked);
        });

        // if all checkbox are selected, check the selectall checkbox
        // and viceversa
        $(".case").click(function(){

        if($(".case").length == $(".case:checked").length) {
        $("#selectall").attr("checked", "checked");
        } else {
        $("#selectall").removeAttr("checked");
        }
     });
});
</SCRIPT>