<?php  
$request = Zend_Controller_Front::getInstance()->getRequest();
$request_user_id = $request->getParam('user_id');
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
if($auth->hasIdentity()) {
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id;;
    $authVar->user_id = $user_id;
if(isset($userdata->user_type) && ($userdata->user_type == "B"))
   $user_type = "B";
else
   $user_type = "U";
}else{
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->business_id;
    $authVar->user_id = $user_id;
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
    $user_type = "B";
    else
    $user_type = "U";
}
$logged_user_id = $authVar->user_id;
if($request_user_id == '' || $request_user_id == 'user_id'){
    $request_user_id = $logged_user_id;
}
 $rightBarScribbleCnt = count($this->scribArray);
if($rightBarScribbleCnt > 0) { 
    $timeObj = new UpmeSocial_View_Helper_Datetimediff();
    foreach($this->scribArray as $key=>$scrib) {
        if($scrib['blast_id']== 0) {
            $original_scribble_id = $scrib['scribble_id'];
        }
        if($scrib['blast_id'] != 0) {
            $original_scribble_id = $scrib['blast_id'];
        }

        if(($scrib['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['profile_pic_path'])))
            $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['profile_pic_path'];
        else
            $imagepath = SITE_URL.'images/no-user.gif';

        // for Emotions
        $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
        $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
        $output = str_replace($strAry,$replaceAry,$scrib['scribble_message']);
    ?>
    <div class="tab_row" id="tab_row_rightbar<?php echo $scrib['scribble_id'];?>">
        <?php
            if($scrib['BlastedUsersCnt'] > 0) { ?>
                <div class="tab_row_cnt_otr" style="width: auto !important;">
                    <img src="<?php echo SITE_URL;?>/images/blast_Icon.png" />
                    <h2><?php echo $this->translate("Blasted By");?></h2>
                    <span style="color: #808080; margin-left: 5px">
                            <?php $i = 1;
                                $blastCnt = count($scrib['BlastedUsers']);
                                foreach($scrib['BlastedUsers'] as $blastedBy):
                                    $blastUser = ($i< $blastCnt)? "@".$blastedBy['username'].",":"@".$blastedBy['username'];
                                    echo "<a href='".SITE_URL."user/userprofile/".$blastedBy['user_id']."'>".$blastUser."</a>";
                                    $i++;
                                endforeach;
                            ?>
                    </span>
                </div>
            <?php } 
             if($scrib['BlastedUsersCnt'] > 2) { echo "<h2><a id='more_rightbar".$original_scribble_id."' onclick='getAllScribbleBlastedUsers(".$original_scribble_id.", ".$logged_user_id.", \"rightbar\")' class='pointer popupLink' style='color:#FF0000 !important;'>".$this->translate("and")." ".($scrib['BlastedUsersCnt']-2)." ".$this->translate("more")."</a></h2>"; } ?>
        <div class="clear" style="height: 8px;"></div>
        <a href="<?=SITE_URL?>user/userprofile/<?=$scrib['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
        <div class="tab_row_cnt_otr" style="width: 420px !important;">
            <?php echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))."</h1>"; ?>
            <h2><?php echo " @".$this->translate($scrib['username']);?></h2><span class="time" style="float: right;"><?php echo $this->translate($scrib['created_date']);?> </span><div class="clear"></div>
            <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div>
            <div style="float: left; margin-top: 5px;">
                <span style="color:#808080; font-size: 12px; font-weight: bold;"><?php echo $this->translate('COOL POINTS');?></span><br>
                <img src="<?php echo SITE_URL;?>images/pointer_small.png" /> <span style="color:#808080; font-size: 14px; font-weight: bold; margin-left: 5px;"><?php echo $scrib['cool_points'];?></span>
            </div>
            <div style="float:left;">
              <?php if($scrib['childScribbles'] > 0) { ?>
                <a class="pointer" id="viewReplies_rightbar<?php echo $scrib['scribble_id'] ?>" onclick="viewReplies('<?php echo $scrib['scribble_id'] ?>','<?php echo $scrib['from_user_id'] ?>','RIGHTBAR');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px;"><?php echo $this->translate("View Replies") ?></a>
                <a class="pointer" id="hideReplies_rightbar<?php echo $scrib['scribble_id'] ?>" onclick="hideReplies('<?php echo $scrib['scribble_id'] ?>','<?php echo $scrib['from_user_id'] ?>','RIGHTBAR');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px; display: none;"><?php echo $this->translate("Hide Replies") ?></a>
                 <?php   }
                if($authVar->user_id != $scrib['from_user_id']) {
                    if($scrib['isUpDownScribble']=="" && $scrib['isBlastedScribble']=="") { ?>
                    <a id="rightbar_up<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="upScribble('rightbar','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                    <a id="rightbar_down<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="downScribble('rightbar','<?php echo $scrib['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                <?php }
                if($scrib['isBlastedScribble']==""  && $scrib['UpDownAction']!="down") { ?>
                    <a id="rightbar_blast<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="blastScribble('rightbar','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id; ?>','<?php echo $scrib['scribble_id']; ?>','<?php echo addslashes($scrib['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                <?php }
                } ?>
                <a id="reply<?php echo $scrib['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib['from_user_id']; ?>','<?php echo $scrib['user_level']; ?>', 'DOWNLINE')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
            </div>
        </div>
    </div>
    <?php }
            if($rightBarScribbleCnt <= $this->limit) {
                echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreUserPostedScribbles('.$request_user_id.', '.($this->pagenum+1).', '.$this->limit.');">'.$this->translate("Load more scribbles").'</div>';
            }
} else {
    echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Scribbles Available")."</div>";
} ?>
<script type="text/javascript">
function getAllScribbleBlastedUsers(scribble_id, logged_user_id, tabType){
    if($("#more_"+tabType+scribble_id).children('.popupDiv').length === 0) {
        var datastring = 'scribble_id='+scribble_id+'&logged_user_id='+logged_user_id;
        $.ajax({
            type: "POST",
            url: site_url+'user/getallscribbleblastedusers',
            data:datastring,
            cache: false,
            success: function(result) {
                if(result !== '') {
                    $('.popupDiv').css('display','none');
                    $('#more_'+tabType+scribble_id).append(result);
                }
            }
        });
    } else {
        $('.popupDiv').css('display','none');
        //$('#more_'+tabType+scribble_id).children('.popupDiv').css('display', 'block');
        $('#more_'+tabType+scribble_id).children('.popupDiv').toggle();
    }
}
$('.popupLink').click(function(event){
    event.stopPropagation();
});
$('html').click(function(){
    $('.popupDiv').css('display','none');
});
</script>