<?php 
$request = Zend_Controller_Front::getInstance()->getRequest();
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
if($auth->hasIdentity()) {
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id;;
    $authVar->user_id = $user_id;
if(isset($userdata->user_type) && ($userdata->user_type == "B"))
   $user_type = "B";
else
   $user_type = "U";
}else{
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->business_id;
    $authVar->user_id = $user_id;
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
    $user_type = "B";
    else
    $user_type = "U";
}
$logged_user_id = $authVar->user_id;
 $downlineScribbleCnt = count($this->downlineArray);
if($downlineScribbleCnt > 0) {
    //echo "<pre>";print_r($this->downlineArray);exit;
    $timeObj = new UpmeSocial_View_Helper_Datetimediff();
    foreach($this->downlineArray as $key=>$scrib1) {
        if($scrib1['blast_id']== 0) {
            $original_scribble_id1 = $scrib1['scribble_id'];
        }
        if($scrib1['blast_id']!= 0) {
            $original_scribble_id1 = $scrib1['blast_id'];
        }
        if(($scrib1['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib1['profile_pic_path'])))
            $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib1['profile_pic_path'];
        else
            $imagepath = SITE_URL.'images/no-user.gif';
        // for Emotions
        $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
        $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
        $output = str_replace($strAry,$replaceAry,$scrib1['scribble_message']);
        ?>
        <div class="tab_row" id="tab_row_downline<?php echo $scrib1['scribble_id'];?>">
            <?php
                if($scrib1['BlastedUsersCnt'] > 0) { ?>
                    <div class="tab_row_cnt_otr" style="width: auto !important;">
                        <img src="<?php echo SITE_URL;?>/images/blast_Icon.png" />
                        <h2><?php echo $this->translate("Blasted By");?></h2>
                        <span style="color: #808080; margin-left: 5px">
                                <?php $i = 1;
                                    $blastCnt1 = count($scrib1['BlastedUsers']);
                                    foreach($scrib1['BlastedUsers'] as $blastedBy1):
                                        $blastUser1 = ($i< $blastCnt1)? "@".$blastedBy1['username'].",":"@".$blastedBy1['username'];
                                        echo "<a href='".SITE_URL."user/userprofile/".$blastedBy1['user_id']."'>".$blastUser1."</a>";
                                        $i++;
                                    endforeach;
                                ?>
                        </span>
                    </div>
                <?php } 
                    if($scrib1['BlastedUsersCnt'] > 2) { echo "<h2><a id='more_downline".$original_scribble_id1."' onclick='getAllScribbleBlastedUsers(".$original_scribble_id1.", ".$logged_user_id.", \"downline\")' class='pointer popupLink' style='color:#FF0000 !important;'>".$this->translate("and")." ".($scrib1['BlastedUsersCnt']-2)." ".$this->translate("more")."</a></h2>"; } ?>
            <div class="clear" style="height: 8px;"></div>
            <a href="<?=SITE_URL?>user/userprofile/<?=$scrib1['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
            <div class="tab_row_cnt_otr" style="width: 475px !important;">
                <?php 
                        echo "<h1>".$this->translate(ucfirst($scrib1['firstname']))." ".$this->translate(ucfirst($scrib1['lastname']))?></h1>
            <h2><?php echo $this->translate($scrib1['username']);?></h2><span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib1['created_date']));?> </span><div class="clear"></div>
                <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div>
                <div style="float: left; margin-top: 5px;">
                    <span style="color:#808080; font-size: 12px; font-weight: bold;"><?php echo $this->translate('COOL POINTS');?></span><br>
                    <img src="<?php echo SITE_URL;?>images/pointer_small.png" /> <span style="color:#808080; font-size: 14px; font-weight: bold; margin-left: 5px;"><?php echo $scrib1['cool_points'];?></span>
                </div>
                <div style="float:left;">
                  <?php if($scrib1['childScribbles'] > 0) { ?>
                    <a class="pointer" id="viewReplies_downline<?php echo $scrib1['scribble_id'] ?>" onclick="viewReplies('<?php echo $scrib1['scribble_id'] ?>','<?php echo $scrib1['from_user_id'] ?>','DOWNLINE');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px;"><?php echo $this->translate("View Replies") ?></a>
                    <a class="pointer" id="hideReplies_downline<?php echo $scrib1['scribble_id'] ?>" onclick="hideReplies('<?php echo $scrib1['scribble_id'] ?>','<?php echo $scrib1['from_user_id'] ?>','DOWNLINE');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px; display: none;"><?php echo $this->translate("Hide Replies") ?></a>
                     <?php   }
                    if($authVar->user_id != $scrib1['from_user_id']) {
                        if($scrib1['isUpDownScribble']=="" && $scrib1['isBlastedScribble']=="") { ?>
                        <a id="downline_up<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="upScribble('downline','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                        <a id="downline_down<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="downScribble('downline','<?php echo $scrib1['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                    <?php }
                    if($scrib1['isBlastedScribble']==""  && $scrib1['UpDownAction']!="down") { ?>
                        <a id="downline_blast<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="blastScribble('downline','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id1; ?>','<?php echo $scrib1['scribble_id']; ?>','<?php echo addslashes($scrib1['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                    <?php }
                    } ?>
                    <a id="reply<?php echo $scrib1['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib1['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib1['from_user_id']; ?>','<?php echo $scrib1['user_level']; ?>', 'DOWNLINE')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                </div>
            </div>
        </div>
    <?php }
       //echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
       if($downlineScribbleCnt <= $this->limit) {
            echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreDownlineScribbles('.$logged_user_id.', '.($this->pagenum+1).', '.$this->limit.');">'.$this->translate("Load more scribbles").'</div>';
        }
} else {
    echo "<div align='center' class='noScribblesAvailable'>".$this->translate("No More Scribbles available")."</div>";
} ?>
<script type="text/javascript">
    function getAllScribbleBlastedUsers(scribble_id, logged_user_id, tabType){
    if($("#more_"+tabType+scribble_id).children('.popupDiv').length === 0) {
        var datastring = 'scribble_id='+scribble_id+'&logged_user_id='+logged_user_id;
        $.ajax({
            type: "POST",
            url: site_url+'user/getallscribbleblastedusers',
            data:datastring,
            cache: false,
            success: function(result) {
                if(result !== '') {
                    $('.popupDiv').css('display','none');
                    $('#more_'+tabType+scribble_id).append(result);
                }
            }
        });
    } else {
        $('.popupDiv').css('display','none');
        //$('#more_'+tabType+scribble_id).children('.popupDiv').css('display', 'block');
        $('#more_'+tabType+scribble_id).children('.popupDiv').toggle();
    }
}
$('.popupLink').click(function(event){
    event.stopPropagation();
});
$('html').click(function(){
    $('.popupDiv').css('display','none');
});
</script>