<?php 
$request = Zend_Controller_Front::getInstance()->getRequest();
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
if($auth->hasIdentity()) {
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id;;
    $authVar->user_id = $user_id;
if(isset($userdata->user_type) && ($userdata->user_type == "B"))
   $user_type = "B";
else
   $user_type = "U";
}else{
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->business_id;
    $authVar->user_id = $user_id;
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
    $user_type = "B";
    else
    $user_type = "U";
}
$logged_user_id = $authVar->user_id;
if(count($this->scribArray) > 0) {
    $timeObj = new UpmeSocial_View_Helper_Datetimediff();
    //$i=$this->offset;
    foreach($this->scribArray as $key=>$scrib) {
        if($scrib['blast_id']== 0) {
            $original_scribble_id = $scrib['scribble_id'];
        }
        if($scrib['blast_id'] != 0) {
            $original_scribble_id = $scrib['blast_id'];
        }
        if(($scrib['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['profile_pic_path'])))
            $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['profile_pic_path'];
        else
            $imagepath = SITE_URL.'images/no-user.gif';
        // for Emotions
        $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
        $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
        $output = str_replace($strAry,$replaceAry,$scrib['scribble_message']);
    ?>
    <div class="tab_row">
        <a href="<?=SITE_URL?>user/userprofile/<?=$scrib['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
        <div class="tab_row_cnt_otr">
            <?php if($scrib['from_user_type']=='U') { ?>
            <?php if($_SERVER['REMOTE_ADDR'] ==  '192.168.1.63') {
                    if($scrib['blast_id'] != 0) { ?>
                        <?php echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                        <h2><?php echo " @".$this->translate($scrib['username']);?></h2> <?php echo $this->translate("has Blasted");?>
                        <h1><?php echo $this->translate(ucfirst($scrib['owner_name']))?></h1>
                        <h2><?php echo $this->translate($scrib['owner_user_name']);?></h2>
                        <?php echo $this->translate("Scribble");
                    } else {
                            echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                    <h2><?php echo " @".$this->translate($scrib['username']);?></h2>
                <?php }
                } else {
                    echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                    <h2><?php echo " @".$this->translate($scrib['username']);?></h2>
                <?php }
            } else { ?>
                <h1><?php echo $this->translate(ucfirst($scrib['firstname']));?></h1>
            <?php } ?>
            <div class="clear"></div>
            <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
            <div class="clear"></div>
            <span class="time"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?> </span> 
            <a id="reply<?php echo $scrib['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib['from_user_id']; ?>','<?php echo $scrib['user_level']; ?>')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
            <?php if($authVar->user_id != $scrib['from_user_id']) {
                if($scrib['isUpDownScribble']=="" && $scrib['isBlastedScribble']=="") { ?>
                    <a id="level_up<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="upScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                    <a id="level_down<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="downScribble('level','<?php echo $scrib['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                <?php }
                if($scrib['isBlastedScribble']==""  && $scrib['UpDownAction']!="down") { ?>
                    <a id="level_blast<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="blastScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id; ?>','<?php echo $scrib['scribble_id']; ?>','<?php echo addslashes($scrib['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                <?php }
            } ?>
        </div>
    </div>
    <?php }
    if($this->scribblecnt > $this->limit) {
        echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="morelevelscribbles('.$userdata->user_id.','.$this->offset.','.$this->limit.');">'.$this->translate("Load more scribbles").'</div>';//'.$this->scribArray[$i-1]["scribble_id"].', 
    }
} else {
    echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
} ?>