<?php 
$request = Zend_Controller_Front::getInstance()->getRequest();
if($this->userAuthVar == 1) {
    $userdata = $this->userdata;
    $logged_user_id = $userdata->user_id;
    $user_type = "U";
}
?>
    <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab" tabindex="0"><?php echo $this->translate("LEVEL");?> </li>
        <?php if(($request->getParam('user_id') =='' || $request->getParam('user_id') == $logged_user_id) && $user_type != 'B') { ?>
            <li class="TabbedPanelsTab" tabindex="1"><?php echo $this->translate("DOWNLINE");?></li>
            <li class="TabbedPanelsTab" tabindex="2"><?php echo $this->translate("@username");?></li>
            <li class="TabbedPanelsTab" tabindex="3"><?php echo $this->translate("Know Tags");?> </li>        
        <?php } ?>
        <li class="TabbedPanelsTab" tabindex="4"><?php echo $this->translate("Uppers");?> </li>
    </ul>
    <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent" id="level">
            <?php if(count($this->scribArray) > 0) {
                $timeObj = new UpmeSocial_View_Helper_Datetimediff();
                foreach($this->scribArray as $key=>$scrib){ //echo '<pre>';print_r($scrib);exit;
                    if($scrib['blast_id']== 0) {
                        $original_scribble_id = $scrib['scribble_id'];
                    }
                    if($scrib['blast_id'] != 0) {
                        $original_scribble_id = $scrib['blast_id'];
                    }

                    if(($scrib['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['profile_pic_path'])))
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['profile_pic_path'];
                    else
                        $imagepath = SITE_URL.'images/no-user.gif';

                    // for Emotions
                    $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
                    $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
                    $output = str_replace($strAry,$replaceAry,$scrib['scribble_message']);
                ?>
                <div class="tab_row">
                    <img src="<?=$imagepath?>" width="66" height="66">
                    <div class="tab_row_cnt_otr">
                        <?php if($scrib['from_user_type']=='U'){ ?>
                        <?php 
                            if($_SERVER['REMOTE_ADDR'] ==  '192.168.1.63') {
                                if($scrib['blast_id'] != 0) {?>
                                    <?php echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                                    <h2><?php echo $this->translate($scrib['username']);?></h2> <?php echo $this->translate("has Blasted");?>
                                    <h1><?php echo $this->translate(ucfirst($scrib['owner_name']))?></h1>
                                    <h2><?php echo $this->translate($scrib['owner_user_name']);?></h2>
                                    <?php echo $this->translate("Scribble");
                                }
                                else {
                                     echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                                <h2><?php echo $this->translate($scrib['username']);?></h2><br>
                        <?php
                                }
                            }
                            else {
                                echo "<h1>".$this->translate(ucfirst($scrib['firstname']))." ".$this->translate(ucfirst($scrib['lastname']))?></h1>
                                <h2><?php echo $this->translate($scrib['username']);?></h2><br>
                        <?php    }
                         }else{?>
                        <h1><?php echo $this->translate(ucfirst($scrib['firstname']));?></h1><br>
                        <?php } ?>
                        <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                        <div class="clear"></div>
                        <span class="time"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?> </span> 
                        <a id="reply<?php echo $scrib['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib['from_user_id']; ?>','<?php echo $scrib['user_level']; ?>')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                        <?php if($logged_user_id != $scrib['from_user_id']){
                        if($scrib['isUpDownScribble']=="") {?>
                        <a id="level_up<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="upScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                        <a id="level_down<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="downScribble('level','<?php echo $scrib['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                        <?php } 
                        if($scrib['isBlastedScribble']==""  && $scrib['UpDownAction']!="down") {?>
                        <a id="level_blast<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="blastScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id; ?>','<?php echo $scrib['scribble_id']; ?>','<?php echo addslashes($scrib['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                        <?php } 
                        } ?>
                    </div>
                </div>
                <?php }
                echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
            } else {
                echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
            } ?>
        </div>
        <?php if($request->getParam('user_id') =='' || $request->getParam('user_id') == $logged_user_id){?>
        <div class="TabbedPanelsContent">
        <?php if(count($this->downlineArray) > 0) {
            //echo "<pre>";print_r($this->downlineArray);exit;
            $timeObj = new UpmeSocial_View_Helper_Datetimediff();
            foreach($this->downlineArray as $key=>$scrib1) {
                if($scrib['blast_id']== 0) {
                    $original_scribble_id1 = $scrib1['scribble_id'];
                }
                if($scrib['blast_id']!= 0) {
                    $original_scribble_id1 = $scrib1['blast_id'];
                }
                if(($scrib1['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib1['profile_pic_path'])))
                    $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib1['profile_pic_path'];
                else
                    $imagepath = SITE_URL.'images/no-user.gif';

                // for Emotions
                $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
                $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
                $output = str_replace($strAry,$replaceAry,$scrib1['scribble_message']);
                ?>
                <div class="tab_row">
                    <img src="<?=$imagepath?>" width="66" height="66">
                    <div class="tab_row_cnt_otr">
                        <h1><?php echo $this->translate(ucfirst($scrib1['firstname']))." ".$this->translate(ucfirst($scrib1['lastname']))?></h1><h2><?php echo $this->translate($scrib1['username']);?></h2><br>
                        <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                        <div class="clear"></div>
                        <span class="time"><?php echo $this->translate($timeObj->humaneDate($scrib1['created_date']));?> </span> 
                        <a id="reply<?php echo $scrib1['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib1['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib1['from_user_id']; ?>','<?php echo $scrib1['user_level']; ?>')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                        <?php if($logged_user_id != $scrib1['from_user_id']){ 
                            if($scrib1['isUpDownScribble']=="") {?>
                        <a id="downline_up<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="upScribble('downline','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                        <a id="downline_down<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="downScribble('downline','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','down','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                        <?php } if($scrib1['isBlastedScribble']==""  && $scrib1['UpDownAction']!="down") { ?>
                        <a id="downline_blast<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="blastScribble('downline','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id1; ?>','<?php echo $scrib1['scribble_id']; ?>','<?php echo addslashes($scrib1['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                        <?php } 
                        } ?>
                    </div>
                </div>
            <?php }
               echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
        } else {
            echo "<div align='center' class='noScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
        } ?>
        </div>
        <div class="TabbedPanelsContent">
            <?php if(count($this->atUsernameArray) > 0) {
                $timeObj = new UpmeSocial_View_Helper_Datetimediff();
                foreach($this->atUsernameArray as $key=>$scrib2) {
                        if($scrib['blast_id']== 0) {
                            $original_scribble_id2 = $scrib2['scribble_id'];
                        }
                        if($scrib['blast_id']!= 0) {
                            $original_scribble_id2 = $scrib2['blast_id'];
                        }
                        if(($scrib2['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib2['profile_pic_path'])))
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib2['profile_pic_path'];
                    else
                        $imagepath = SITE_URL.'images/no-user.gif';

                    // for Emotions
                    $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
                    $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
                    $output = str_replace($strAry,$replaceAry,$scrib2['scribble_message']);
                    ?>
                    <div class="tab_row">
                        <img src="<?=$imagepath?>" width="66" height="66">
                        <div class="tab_row_cnt_otr">
                            <h1><?php echo $this->translate(ucfirst($scrib2['firstname']))." ".$this->translate(ucfirst($scrib2['lastname']))?></h1><h2><?php echo $this->translate($scrib2['username']);?></h2><br>
                            <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                            <div class="clear"></div>
                            <span class="time"><?php echo $this->translate($timeObj->humaneDate($scrib2['created_date']));?> </span> 
                            <a id="reply<?php echo $scrib2['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib2['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib2['from_user_id']; ?>','<?php echo $scrib2['user_level']; ?>')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                            <?php 
                            if($logged_user_id != $scrib2['from_user_id']){
                                if($scrib2['isUpDownScribble']=="") {?>
                                    <a id="atuname_up<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="upScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib2['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                                    <a id="atuname_down<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="downScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','down','<?php echo $scrib2['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                            <?php } if($scrib['isBlastedScribble']==""  && $scrib2['UpDownAction']!="down") { ?>
                            <a id="atuname_blast<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="blastScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id2; ?>','<?php echo $scrib2['scribble_id']; ?>','<?php echo addslashes($scrib2['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                            <?php } 
                            } ?>
                        </div>
                    </div>
                <?php }
            echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
            } else {
                echo "<div align='center' class='noScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
            } ?>
        </div>
        <div class="TabbedPanelsContent">Content 2</div>            
        <?php } ?>
        <div class="TabbedPanelsContent">
            <?php //echo '<pre>';print_r($this->purchasecoupons);exit; 
            foreach($this->purchasecoupons as $row): 
                $count1 = $row['discounted_price'] / $row['original_price']; 
                $count2 = $count1 * 100;
                $count = number_format($count2, 0);
            ?>
            <div class="tab_row"><a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " > <img class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>/public/uploads/images/thumbnails/<?php echo $row['business_image']; ?>" alt="" width="66" height="66"></a>
                <div class="tab_row_cnt_otr">
                    <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " > <h1><?php echo ucfirst($row['business_firstname']) . ' ' . ucfirst($row ['business_lastname']); ?></h1>
                    <h2><?php echo $row['business_username'] ?></h2></a>
                    <div class="coupon_wrapper">
                        <div class="coupon_image_bg">
                            <div class="coupon_image " id ="firstgallery">
                                <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " class="tooltip1_photo" > 
                                    <img width="276px" height="160px" class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>public/uploads/images/original/<?php echo $row['coupon_image']; ?>" >
                                    <div class="caption">
                                        <ul>
                                            <!--<li class="img_property"><img  class="tab_row_cnt_profileImg" src="../assets/images/coupon_up_icon.png"></li>-->
                                            <li class="coupon_txt"><?php echo $row['business_name']; ?></li><br>
                                            <li class="coupon_txt"><?php echo $row['country_name']; ?></li><br>
                                            <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="coupon_price">
                            <ul>
                                <li><strong><?php echo $row['title']; ?></strong></li>
                                <li><?php echo $row['description']; ?></li>
                                <li><?php echo 'Coupon Price: $ '.$row['coupon_price']; ?></li>
                                <li><?php echo 'Expires on '.date('d/m/Y',strtotime($row['expiration_date'])); ?></li>
                            </ul>
                        </div>
                        <div class="coupon_price2"><?php echo $count;?>% off</div>
                    </div>
                </div>
            </div>
            <?php endforeach;?>
        </div>
    </div>
<script type="text/javascript" lang="javascript">
        //var TabbedPanelsContent = new Spry.Widget.TabbedPanels("TabbedPanelsContent");
        function replyScribble(parentId, frmUserId,frmUsrType, toUserId,user_level){
                $('.various2').fancybox({
                        maxWidth	: 1000,
                        maxHeight	: 900,
                        fitToView	: true,
                        width           : '100%',
                        height          : '100%',
                        autoSize	: true,
                        closeClick	: false,
                        openEffect	: 'none',
                        helpers         : { 
                                            overlay : {closeClick: false}
                                        },
                        closeEffect	: 'none',
                        href            : site_url+'scribbles/replyscribble?parentId='+escape(parentId)+'&frmUserId='+escape(frmUserId)+'&frmUsrType='+escape(frmUsrType)+'&toUserId='+escape(toUserId)+'&user_level='+escape(user_level),
                        ajax            : {
                                            type: "POST",
                                            cache : false
                                        }
                });        
        }
        function upScribble(divId,uId, logged_user_Id, uType, actionType, scribbleId){
                var dataObj = {
                                    uId: uId,
                                    logged_user_Id:logged_user_Id,
                                    uType: uType,
                                    actionType: actionType,
                                    scribbleId: scribbleId
                            };
                $.ajax({
                        method     : 'post',
                        url        : site_url+'/scribbles/upscribble',
                        success    : function(result) { 
                                var data = $.parseJSON(result);
                                if(data['service_status'] =='success') {
                                        //var divCnt = parseInt($('#coolPointDiv').html());
                                        $('#'+divId+'_up'+scribbleId).remove();
                                        $('#'+divId+'_down'+scribbleId).remove();
                                        //$('#coolPointDiv').html(divCnt+1);
                                }
                                if(data['service_status'] == 'error') {
                                        alert(data['error_msg']);
                                        return false;
                                }
                                /*else {
                                        alert("Error while processing the request!!!. Please try again")
                                        return false;
                                }*/
                        },
                        data: dataObj    
                });
        }
        function downScribble(divId, uId, logged_user_Id,  uType, actionType, scribbleId){
                var dataObj = {
                                    uId: uId,
                                    logged_user_Id:logged_user_Id,
                                    uType: uType,
                                    actionType: actionType,
                                    scribbleId: scribbleId
                            };
                $.ajax({
                        method     : 'post',
                        url        : site_url+'/scribbles/downscribble',
                        success    : function(result) {  
                            var data = $.parseJSON(result);
                            if(data['service_status'] =='success') {
                                    //var divCnt = parseInt($('#coolPointDiv').html());
                                    $('#'+divId+'_up'+scribbleId).remove();
                                    $('#'+divId+'_down'+scribbleId).remove();
                                    $('#'+divId+'_blast'+scribbleId).remove();
                                    //$('#coolPointDiv').html(divCnt-1);
                            }
                            if(data['service_status'] == 'error') {
                                    alert(data['error_msg']);
                                    return false;
                            }
                            /*else {
                                        alert("Error while processing the request!!!. Please try again")
                                        return false;
                                }*/
                            },
                        data: dataObj    
                });
        }
        function blastScribble(divId, uId, logged_user_Id, uType, blastId,scribbleId, blastContent){
                var dataObj = {
                                    frmUserId: uId,
                                    logged_user_Id:logged_user_Id,
                                    frmUsrType: uType,
                                    blastId: blastId,
                                    scribbleId:scribbleId,
                                    blastContent: blastContent
                            };
                $.ajax({
                        method     : 'post',
                        url        : site_url+'scribbles/blastscribble',
                        success    : function(result) {
                                var data = $.parseJSON(result);
                                if(data['service_status'] =='success') {
                                        $('#'+divId+'_blast'+scribbleId).remove();
                                        alert('Blasted Successfully');
                                        return false;
                                }
                                if(data['service_status'] == 'error') {
                                        alert(data['error_msg']);
                                        return false;
                                }
                            /*else {
                                        alert('Error processing data.. Please try again!');
                                        return false;
                                }*/
                        },
                        data: dataObj    
                });
        }
</script>