<?php 
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
$userdata = $auth->getIdentity();
if(isset($userdata->user_type) && ($userdata->user_type == "B"))
   $user_type = "B";
else
   $user_type = "U";
$tab_row = "tab_row";
if($this->tabType == 'LEVEL')
    $tab_row = "tab_row";
if($this->tabType == 'DOWNLINE')
    $tab_row = "tab_row_downline";
if($this->tabType == 'ATUSERNAME')
    $tab_row = "tab_row_atusername";
if($this->tabType == 'RIGHTBAR')
    $tab_row = "tab_row_rightbar";
$tabDivID = $tab_row.$this->parentId;
?>
<div class="scribble_outer" id="replyScribbleContent">
    <form name="replyScribbleForm" id="replyScribbleForm" method="post" action="">
        <div class="scribble_title"><?php echo $this->translate("Scribble Something.");?></div><div id="repScribErr" class="scribErr"></div>
        <textarea class="scribble_box required" rows="5" cols="30" id="replyscribbleTxtArea" style="width: 90%"></textarea>
        <div class="scribble_btn_otr"> 
            <a id="replyScribbleBtn" class="pointer"><img src="<?=SITE_URL?>images/scribble_btn.png" width="100" height="31"></a>
            <a id="replyScribbleBtnLoading" style="display: none; color:#FF0000; margin: 10px 0 0 15px; float: left;" class="pointer"><img src="<?=SITE_URL?>images/scribble_btn.png" width="100" height="31"></a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#replyScribbleBtn').click(function(){
        $("#replyScribbleForm").submit();
    });
    
    $("#replyScribbleForm").validate({
        rules: {
            replyscribbleTxtArea: {
                required:true,
                minlength: 1,
                maxlength: 150
            }
        },
        submitHandler: function(form) {
            var dataObj = {
                                    parentId: '<?php echo $this->parentId;?>',
                                    fromId: '<?php echo $userdata->user_id;?>',
                                    fromType: '<?php echo $user_type;?>',
                                    toId: '<?php echo $this->toUserId;?>',
                                    scribble: $('#replyscribbleTxtArea').val(),
                                    user_level: '<?php echo $this->user_level;?>',
                                    tabType: '<?php echo $this->tabType;?>'
                                    };
            $('#repScribErr').html('');
            $('#replyScribbleBtn').hide();
            $('#replyScribbleBtnLoading').show();
            $.ajax({
                    method     : 'post',
                    url        : site_url+'/scribbles/postscribbleweb',
                    success    : function(result) {
                        //var data = $.parseJSON(result);
                        $('#replyscribbleTxtArea').html('');
                        if(result !='error') {
                            if($('.notAvailable').length == 1)
                                $('#level').html($(result).fadeIn('slow'));
                            else{
                                if($('#<?php echo $tab_row.$this->parentId;?>').children().hasClass('child_level')){
                                    $('#<?php echo $tab_row.$this->parentId;?>').children(".child_level").remove();
                                }
                                $('#<?php echo $tab_row.$this->parentId;?>').append($(result).fadeIn('slow'));
                                }
                            $('#replyScribbleContent').html('<div style="min-height:100px; padding-top:50px;color:#FF0000;" align="center">Posted Successfully.</div>')
                            //$('#replyScribbleBtn').show();
                            //$('#replyScribbleBtnLoading').hide();
                        } else {
                            $('#repScribErr').html(result);
                            $('#replyScribbleBtn').show();
                            $('#replyScribbleBtnLoading').hide();
                            return false;
                            }
                    },
                    data: dataObj    
            });
        }
    });
</script>