<?php 

$request = Zend_Controller_Front::getInstance()->getRequest();
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
if($auth->hasIdentity()) {
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id;;
    $authVar->user_id = $user_id;
if(isset($userdata->user_type) && ($userdata->user_type == "B"))
   $user_type = "B";
else
   $user_type = "U";
}else{
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->business_id;
    $authVar->user_id = $user_id;
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
    $user_type = "B";
    else
    $user_type = "U";
}
$logged_user_id = $authVar->user_id;
?>
<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0"><?php echo $this->translate("LEVEL");?> </li>
    <?php if(($request->getParam('user_id') =='' || $request->getParam('user_id') == $user_id) && $user_type != 'B') { ?>
        <li class="TabbedPanelsTab" tabindex="1"><?php echo $this->translate("DOWNLINE");?></li>
        <li class="TabbedPanelsTab" tabindex="2"><?php echo $this->translate("@username");?></li>
        <li class="TabbedPanelsTab" tabindex="3"><?php echo $this->translate("Know Tags");?> </li>        
    <?php } ?>
    <li class="TabbedPanelsTab" tabindex="4"><?php echo $this->translate("Uppers");?> </li>
</ul>
<div class="TabbedPanelsContentGroup">
    <div class="TabbedPanelsContent" id="level">
        <?php 
        $levelScribbleCnt = $this->scribblecnt;
        $mixedAryCnt = count($this->scribArray);
        if($levelScribbleCnt > 0) {
            //echo '<pre>';print_r($this->scribArray);exit;
            $timeObj = new UpmeSocial_View_Helper_Datetimediff();
            //$i=0;
            foreach($this->scribArray as $key=>$scrib) {
                //echo "<pre>";print_r($scrib);exit;
                if($scrib['notifications_type'] == 'scribble') {
                    if($scrib['blast_id']== 0) {
                        $original_scribble_id = $scrib['scribble_id'];
                    }
                    if($scrib['blast_id'] != 0) {
                        $original_scribble_id = $scrib['blast_id'];
                    }
                    if(($scrib['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['profile_pic_path'])))
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['profile_pic_path'];
                    else
                        $imagepath = SITE_URL.'images/no-user.gif';

                    // for Emotions
                    $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
                    $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
                    $output = str_replace($strAry,$replaceAry,$scrib['scribble_message']);
                ?>
                    <div class="tab_row" id="tab_row<?php echo $scrib['scribble_id'];?>">
                    <?php
                        if($scrib['BlastedUsersCnt'] > 0) { ?>
                            <div class="tab_row_cnt_otr" style="width: auto !important;">
                                <img src="<?php echo SITE_URL;?>/images/blast_Icon.png" />
                                <h2><?php echo $this->translate("Blasted By");?></h2>
                                <span style="color: #808080; margin-left: 5px">
                                        <?php $i = 1;
                                            $blastCnt = count($scrib['BlastedUsers']);
                                            foreach($scrib['BlastedUsers'] as $blastedBy):
                                                $blastUser = ($i< $blastCnt)? "@".$blastedBy['username'].",":"@".$blastedBy['username'];
                                                echo "<a href='".SITE_URL."user/userprofile/".$blastedBy['user_id']."'>".$blastUser."</a>";
                                                $i++;
                                            endforeach;
                                        ?>
                                </span>
                            </div>
                        <?php }
                        if($scrib['BlastedUsersCnt'] > 2) { echo "<h2><a id='more_level".$original_scribble_id."' onclick='getAllScribbleBlastedUsers(".$original_scribble_id.", ".$logged_user_id.", \"level\")' class='pointer popupLink' style='color:#FF0000 !important;'>".$this->translate("and")." ".($scrib['BlastedUsersCnt']-2)." ".$this->translate("more")."</a></h2>"; } ?>
                    <div class="clear" style="height: 8px;"></div>
                    <a href="<?=SITE_URL?>user/userprofile/<?=$scrib['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
                    <div class="tab_row_cnt_otr" style="width: 475px !important;">
                        <?php echo "<h1>".$this->translate(ucfirst($scrib['realname']))."</h1>"; ?>
                        <h2><?php 
                        echo "@".$this->translate($scrib['username']);?></h2>
                        <span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?></span>
                        <div class="clear"></div>
                        <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div style="float: left; margin-top: 5px;">
                            <span style="color:#808080; font-size: 12px; font-weight: bold;"><?php echo $this->translate('COOL POINTS');?></span><br>
                            <img src="<?php echo SITE_URL;?>images/pointer_small.png" /> <span style="color:#808080; font-size: 14px; font-weight: bold; margin-left: 5px;"><?php echo $scrib['cool_points'];?></span>
                        </div>
                        <div style="float:left;">
                            <?php if($scrib['childScribbles'] > 0) { ?>
                            <a class="pointer" id="viewReplies<?php echo $scrib['scribble_id'] ?>" onclick="viewReplies('<?php echo $scrib['scribble_id'] ?>','<?php echo $scrib['from_user_id'] ?>','LEVEL');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px;"><?php echo $this->translate("View Replies") ?></a>
                            <a class="pointer" id="hideReplies<?php echo $scrib['scribble_id'] ?>" onclick="hideReplies('<?php echo $scrib['scribble_id'] ?>','<?php echo $scrib['from_user_id'] ?>','LEVEL');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px; display: none;"><?php echo $this->translate("Hide Replies") ?></a>
                             <?php   }
                            if($authVar->user_id != $scrib['from_user_id']) {
                                if($scrib['isUpDownScribble']=="" && $scrib['isBlastedScribble']=="") { ?>
                                <a id="level_up<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="upScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                                <a id="level_down<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="downScribble('level','<?php echo $scrib['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                            <?php }
                            if($scrib['isBlastedScribble']==""  && $scrib['UpDownAction']!="down") { ?>
                                <a id="level_blast<?php echo $scrib['scribble_id']; ?>" class="pointer" onclick="blastScribble('level','<?php echo $scrib['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id; ?>','<?php echo $scrib['scribble_id']; ?>','<?php echo addslashes($scrib['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                            <?php }
                            } ?>
                            <a id="reply<?php echo $scrib['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib['from_user_id']; ?>','<?php echo $scrib['user_level']; ?>','LEVEL')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                        </div>
                    </div>
                </div>
            <?php } 
                if($scrib['notifications_type'] == 'huddle_target') { ?>
                <div class="tab_row" id="tab_row<?php echo $scrib['id'];?>">
                    <a href="javascript:void(0);" id="huddle_target_fancybox<?=$scrib['id'];?>" class="various14 fancybox.ajax" onclick="showHuddleDetails(<?=$scrib['id'];?>, 'various14', <?=$logged_user_id?>);">
                        <div align="center" style="background: #000000;">
                            <div class="targeted">
                                <img src="<?=SITE_URL?>images/target_iphone.png"  alt="target-icon" style="float: none;">
                                <span style="padding-left: 10px;"><?php echo $this->translate("YOU'VE BEEN TARGETED");?></span>
                                 <span class="time" style="float: right; padding-right: 15px;font-weight: normal;"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clr"></div>
                <?php }
                if($scrib['notifications_type'] == 'photo') {
                    if($scrib['blast_id']== 0) {
                        $original_photo_id = $scrib['photo_id'];
                    }
                    if($scrib['blast_id'] != 0) {
                        $original_photo_id = $scrib['blast_id'];
                    }

                    if(($scrib['photo_modified_name'] != '') && (file_exists(UPLOAD_PATH."images/mobile/".$scrib['photo_modified_name']))){
                        $photopath = "<img src='".SITE_URL."uploads/images/mobile/".$scrib['photo_modified_name']."'  style='margin-left:45px' alt='photo'>";
                    }
                    else
                        $photopath = "<img src='".SITE_URL."images/no-image-available.jpg' style='margin-left:45px'  alt='no-image'/>";

                    if(($scrib['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['profile_pic_path'])))
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['profile_pic_path'];
                    else
                        $imagepath = SITE_URL.'images/no-user.gif';

                ?>
                    <div class="tab_row" id="tab_row<?php echo $scrib['photo_id'];?>">
                    <?php
                        if($scrib['photoblastedUserCnt'] > 0) { ?>
                            <div class="tab_row_cnt_otr" style="width: auto !important;">
                                <img src="<?php echo SITE_URL;?>/images/blast_Icon.png" />
                                <h2><?php echo $this->translate("Blasted By");?></h2>
                                <span style="color: #808080; margin-left: 5px">
                                        <?php $i = 1;
                                            $blastCnt = count($scrib['photoblastedUsers']);
                                            foreach($scrib['photoblastedUsers'] as $blastedBy):
                                                $blastUser = ($i< $blastCnt)? "@".$blastedBy['username'].",":"@".$blastedBy['username'];
                                                echo "<a href='".SITE_URL."user/userprofile/".$blastedBy['user_id']."'>".$blastUser."</a>";
                                                $i++;
                                            endforeach;
                                        ?>
                                </span>
                            </div>
                        <?php }
                        if($scrib['photoblastedUserCnt'] > 2) { echo "<h2><a id='more_level".$original_photo_id."' onclick='getAllPhotoBlastedUsers(".$original_photo_id.", ".$logged_user_id.", \"level\")' class='pointer popupLink' style='color:#FF0000 !important;'>".$this->translate("and")." ".($scrib['photoblastedUserCnt']-2)." ".$this->translate("more")."</a></h2>"; } ?>
                    <div class="clear" style="height: 8px;"></div>
                    <a href="<?=SITE_URL?>user/userprofile/<?=$scrib['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
                    <div class="tab_row_cnt_otr" style="width: 475px !important;">
                        <?php echo "<h1>".$this->translate(ucfirst($scrib['realname']))."</h1>"; ?>
                        <h2><?php 
                        echo "@".$this->translate($scrib['username']);?></h2>
                        <span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?></span>
                        <div class="clear" style="height: 25px;"></div>
                        <h2 class="scrb-text"><?=$photopath?></h2><br>
                        <div class="clear" style="height: 25px;"></div>
                    </div>
                    <div class="clear"></div>
                    <div>

                        <div style="float:right; margin-right: 85px;">
                            <?php 
                            if($authVar->user_id != $scrib['user_id']) {
                            if($scrib['isBlasted']=="" || $scrib['isBlasted']==0) { ?>
                                <a id="level_blast<?php echo $scrib['photo_id']; ?>" class="pointer" onclick="blastScribblePhoto('<?=$logged_user_id?>','U','<?=$original_photo_id?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                            <?php }
                            } ?>
                        </div>
                    </div>
                </div>
            <?php }
                if($scrib['notifications_type'] == 'purchasecoupon') {
                    
                    
                    if($scrib['couponDetails']['original_price'] != '' && $scrib['couponDetails']['original_price'] != 0 && $scrib['couponDetails']['discounted_price'] != '' && $scrib['couponDetails']['discounted_price'] != 0){
                        $count1 = $scrib['couponDetails']['discounted_price'] / $scrib['couponDetails']['original_price']; 
                        $count2 = $count1 * 100;
                        $count = number_format($count2, 0); 
                    }
                    if($scrib['couponDetails']['original_price'] == '' || $scrib['couponDetails']['original_price'] == 0 || $scrib['couponDetails']['discounted_price'] == '' || $scrib['couponDetails']['discounted_price'] == 0){
                        $count1 = 0; 
                        $count2 = 0;
                        $count = 0;
                    }
                    if(($scrib['couponDetails']['image_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['couponDetails']['image_path'])))
                        $couponpath = SITE_URL.'uploads/images/thumbnails/'.$scrib['couponDetails']['image_path'];
                    else
                        $couponpath = SITE_URL.'images/no-image-available.jpg';

                    if(($scrib['couponDetails']['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib['couponDetails']['profile_pic_path'])))
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib['couponDetails']['profile_pic_path'];
                    else
                        $imagepath = SITE_URL.'images/no-user.gif';

                ?>
                    <div class="tab_row" id="tab_row<?php echo $scrib['couponDetails']['coupon_id'];?>">
                    <div class="clear" style="height: 8px;"></div>
                    <a href="<?=SITE_URL?>user/userprofile/<?=$scrib['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
                    <div class="tab_row_cnt_otr" style="width: 475px !important;">
                        <?php echo "<h1>".$this->translate(ucfirst($scrib['couponDetails']['realname']))."</h1>"; ?>
                        <h2><?php 
                        echo "@".$this->translate($scrib['couponDetails']['username']);?></h2>
                        <span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib['created_date']));?></span>
                        <div class="clear" style="height: 25px;"></div>
                        <h2 class="scrb-text">
                            <div class="coupon_wrapper">
                                <div class="coupon_image_bg">
                                    <div class="coupon_image " id ="firstgallery">
                                        <a href="javascript:void(0);" class="tooltip1_photo various16 fancybox.ajax" id="purchase_coupon_fancybox<?=$scrib['id']?>" onclick="showCouponDetails(<?=$scrib['id']?>, <?=$scrib['couponDetails']['coupon_id'];?>, 'various16');" > 
                                            <img width="276px" height="160px" class="tab_row_cnt_profileImg" src="<?=$couponpath?>">                                        
                                            <div class="caption">
                                                <ul>
                                                    <li class="img_property2"><img  class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>images/coupon_up_icon.png"></li>
                                                    <li class="coupon_txt2"><?php echo ucfirst($scrib['couponDetails']['business_name']); ?></li><br>
                                                    <li class="coupon_txt2"><?php echo $scrib['couponDetails']['country_name']; ?></li><br>
                                                    <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="coupon_price1" style="width:150px;">
                                    <ul>
                                        <li><strong><?php echo $scrib['couponDetails']['title']; ?></strong></li>
                                        <li><?php $desc = (strlen($scrib['couponDetails']['description'])>110)?substr($scrib['couponDetails']['description'],0,110).'...':$scrib['couponDetails']['description']; echo 'Description: '.$desc; ?></li> 
                                        <li><?php echo 'Upper Price: $ '.$scrib['couponDetails']['coupon_price']; ?></li>
                                        <li><?php echo 'Expires on '.date('d/m/Y',strtotime($scrib['couponDetails']['expire_date'])); ?></li>
                                    </ul>
                                </div>      
                                <div class="coupon_price2" style="width:134px;"><?php echo $count;?>% off</div>
                            </div>
                        </h2><br>
                        <div class="clear" style="height: 25px;"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            <?php }
            }
            if($levelScribbleCnt >= $this->limit) {
                if($this->scribArray[($mixedAryCnt-1)]['notifications_type'] == 'scribble')
                    $nId = $this->scribArray[($mixedAryCnt-1)]['scribble_id'];
                if($this->scribArray[($mixedAryCnt-1)]['notifications_type'] == 'photo')
                    $nId = $this->scribArray[($mixedAryCnt-1)]['photo_id'];
                if($this->scribArray[($mixedAryCnt-1)]['notifications_type'] == 'huddle_target')
                    $nId = $this->scribArray[($mixedAryCnt-1)]['id'];
                if($this->scribArray[($mixedAryCnt-1)]['notifications_type'] == 'purchasecoupon')
                    $nId = $this->scribArray[($mixedAryCnt-1)]['id'];
                echo '<div class="ajax_loadDiv"><div class="" style="cursor: pointer;" onclick="getmorelevelscribbles('.$logged_user_id.','.$logged_user_id.','.$nId.', \''.(($this->scribArray[($mixedAryCnt-1)]['notifications_type'])).'\', \'previous\', '.$this->limit.');">'.$this->translate("Load more scribbles").'</div></div>';
            }
        } else {
            echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
        } ?>
    </div>
    <?php if($request->getParam('user_id') == '' || $request->getParam('user_id') == $user_id) { ?>
    <div class="TabbedPanelsContent" id="downlineDiv">
    <?php $downlineScribbleCnt = count($this->downlineArray);
    if($downlineScribbleCnt > 0) {
        //echo "<pre>";print_r($this->downlineArray);exit;
        $timeObj = new UpmeSocial_View_Helper_Datetimediff();
        foreach($this->downlineArray as $key=>$scrib1) {
            if($scrib1['blast_id']== 0) {
                $original_scribble_id1 = $scrib1['scribble_id'];
            }
            if($scrib1['blast_id']!= 0) {
                $original_scribble_id1 = $scrib1['blast_id'];
            }
            if(($scrib1['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib1['profile_pic_path'])))
                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib1['profile_pic_path'];
            else
                $imagepath = SITE_URL.'images/no-user.gif';
            // for Emotions
            $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
            $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
            $output = str_replace($strAry,$replaceAry,$scrib1['scribble_message']);
            ?>
            <div class="tab_row" id="tab_row_downline<?php echo $scrib1['scribble_id'];?>">
                <?php
                    if($scrib1['BlastedUsersCnt'] > 0) { ?>
                        <div class="tab_row_cnt_otr" style="width: auto !important;">
                            <img src="<?php echo SITE_URL;?>/images/blast_Icon.png" />
                            <h2><?php echo $this->translate("Blasted By");?></h2>
                            <span style="color: #808080; margin-left: 5px">
                                    <?php $i = 1;
                                        $blastCnt1 = count($scrib1['BlastedUsers']);
                                        foreach($scrib1['BlastedUsers'] as $blastedBy1):
                                            $blastUser1 = ($i< $blastCnt1)? "@".$blastedBy1['username'].",":"@".$blastedBy1['username'];
                                            echo "<a href='".SITE_URL."user/userprofile/".$blastedBy1['user_id']."'>".$blastUser1."</a>";
                                            $i++;
                                        endforeach;
                                    ?>
                            </span>
                        </div>
                    <?php } 
                     if($scrib1['BlastedUsersCnt'] > 2) { echo "<h2><a id='more_downline".$original_scribble_id1."' onclick='getAllScribbleBlastedUsers(".$original_scribble_id1.", ".$logged_user_id.", \"downline\")' class='pointer popupLink' style='color:#FF0000 !important;'>".$this->translate("and")." ".($scrib1['BlastedUsersCnt']-2)." ".$this->translate("more")."</a></h2>"; } ?>
                <div class="clear" style="height: 8px;"></div>
                <a href="<?=SITE_URL?>user/userprofile/<?=$scrib1['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
                <div class="tab_row_cnt_otr" style="width: 475px !important;">
                    <?php echo "<h1>".$this->translate(ucfirst($scrib1['firstname']))." ".$this->translate(ucfirst($scrib1['lastname']))?></h1>
                        <h2>@<?php echo $this->translate($scrib1['username']);?></h2><span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib1['created_date']));?> </span>
                        <div class="clear"></div>
                    <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div>
                    <div style="float: left; margin-top: 5px;">
                        <span style="color:#808080; font-size: 12px; font-weight: bold;"><?php echo $this->translate('COOL POINTS');?></span><br>
                        <img src="<?php echo SITE_URL;?>images/pointer_small.png" /> <span style="color:#808080; font-size: 14px; font-weight: bold; margin-left: 5px;"><?php echo $scrib1['cool_points'];?></span>
                    </div>
                    <div style="float:left;">
                      <?php if($scrib1['childScribbles'] > 0) { ?>
                        <a class="pointer" id="viewReplies_downline<?php echo $scrib1['scribble_id'] ?>" onclick="viewReplies('<?php echo $scrib1['scribble_id'] ?>','<?php echo $scrib1['from_user_id'] ?>','DOWNLINE');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px;"><?php echo $this->translate("View Replies") ?></a>
                        <a class="pointer" id="hideReplies_downline<?php echo $scrib1['scribble_id'] ?>" onclick="hideReplies('<?php echo $scrib1['scribble_id'] ?>','<?php echo $scrib1['from_user_id'] ?>','DOWNLINE');" style="color:#3BB9FF !important; font-size: 12px; font-weight: bold; float: left; margin: 10px; display: none;"><?php echo $this->translate("Hide Replies") ?></a>
                         <?php   }
                        if($authVar->user_id != $scrib1['from_user_id']) {
                            if($scrib1['isUpDownScribble']=="" && $scrib1['isBlastedScribble']=="") { ?>
                            <a id="level_up<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="upScribble('level','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                            <a id="level_down<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="downScribble('level','<?php echo $scrib1['from_user_id'];?>',<?php echo $logged_user_id;?>,'<?php echo $user_type;?>','down','<?php echo $scrib1['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                        <?php }
                        if($scrib1['isBlastedScribble']==""  && $scrib1['UpDownAction']!="down") { ?>
                            <a id="level_blast<?php echo $scrib1['scribble_id']; ?>" class="pointer" onclick="blastScribble('level','<?php echo $scrib1['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id1; ?>','<?php echo $scrib1['scribble_id']; ?>','<?php echo addslashes($scrib1['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                        <?php }
                        } ?>
                        <a id="reply<?php echo $scrib1['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib1['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib1['from_user_id']; ?>','<?php echo $scrib1['user_level']; ?>', 'DOWNLINE')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                    </div>
                </div>
            </div>
        <?php }
           //echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
           if($downlineScribbleCnt >= $this->limit) {
                echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreDownlineScribbles('.$logged_user_id.', '.($this->pagenum+1).', '.$this->limit.');">'.$this->translate("Load more scribbles").'</div>';
            }
    } else {
        echo "<div align='center' class='noScribblesAvailable'>".$this->translate("No More Scribbles available")."</div>";
    } ?>
    </div>
    <div class="TabbedPanelsContent">
        <?php if(count($this->atUsernameArray) > 0) {
            $timeObj = new UpmeSocial_View_Helper_Datetimediff();
            $authVar = Zend_Auth::getInstance()->getIdentity();
            foreach($this->atUsernameArray as $key=>$scrib2) {
                if($scrib['blast_id']== 0) {
                    $original_scribble_id2 = $scrib2['scribble_id'];
                }
                if($scrib['blast_id']!= 0) {
                    $original_scribble_id2 = $scrib2['blast_id'];
                }
                if(($scrib2['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$scrib2['profile_pic_path'])))
                    $imagepath = SITE_URL.'uploads/images/thumbnails/'.$scrib2['profile_pic_path'];
                else
                    $imagepath = SITE_URL.'images/no-user.gif';
                // for Emotions
                $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
                $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
                $output = str_replace($strAry,$replaceAry,$scrib2['scribble_message']);
                ?>
                <div class="tab_row" id="tab_row_atusername<?php echo $scrib2['scribble_id'];?>">
                    <a href="<?=SITE_URL?>user/userprofile/<?=$scrib2['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
                    <div class="tab_row_cnt_otr">
                        <h1><?php echo $this->translate(ucfirst($scrib2['firstname']))." ".$this->translate(ucfirst($scrib2['lastname']))?></h1>
                        <h2>@<?php echo $this->translate($scrib2['username']);?></h2>
                        <span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($scrib2['created_date']));?> </span> <br>
                        <div class="clear"></div>
                        <h2 class="scrb-text scribble_h2"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2>
                        <div class="clear"></div>
                    </div>
                    <a id="reply<?php echo $scrib2['scribble_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyScribble('<?php echo $scrib2['scribble_id']; ?>','<?php echo $userdata->user_id;?>','<?php echo $user_type;?>','<?php echo $scrib2['from_user_id']; ?>','<?php echo $scrib2['user_level']; ?>', 'ATUSERNAME')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
                    <?php if($authVar->user_id != $scrib2['from_user_id']) {
                        if($scrib2['isUpDownScribble']=="" && $scrib2['isBlastedScribble']=="") { ?>
                            <a id="atuname_up<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="upScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','up','<?php echo $scrib2['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png" ></a>
                            <a id="atuname_down<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="downScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','down','<?php echo $scrib2['scribble_id']; ?>')"> <img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png" ></a>
                    <?php } if($scrib2['isBlastedScribble']==""  && $scrib2['UpDownAction']!="down") { ?>
                    <a id="atuname_blast<?php echo $scrib2['scribble_id']; ?>" class="pointer" onclick="blastScribble('atuname','<?php echo $scrib2['from_user_id'];?>','<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $original_scribble_id2; ?>','<?php echo $scrib2['scribble_id']; ?>','<?php echo addslashes($scrib2['scribble_message']);?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                    <?php } 
                    } ?>
                </div>
            <?php }
            echo '<div class="tab_loadmore"><a href="#">'.$this->translate("Load more scribbles").'</a></div>';
        } else {
            echo "<div align='center' class='noScribblesAvailable'>".$this->translate("No Scribbles available")."</div>";
        } ?>
    </div>
    <div class="TabbedPanelsContent">Content 2</div>            
    <?php } ?>
    <div class="TabbedPanelsContent">
        <?php //echo '<pre>';print_r($this->purchasecoupons);exit;
        if(!empty($this->purchasecoupons)) {
        foreach($this->purchasecoupons as $row):
            
            if($row['original_price'] != '' && $row['original_price'] != 0 && $row['discounted_price'] != '' && $row['discounted_price'] != 0){
                $count1 = $row['discounted_price'] / $row['original_price']; 
                $count2 = $count1 * 100;
                $count = number_format($count2, 0); 
            }
            if($row['original_price'] == '' || $row['original_price'] == 0 || $row['discounted_price'] == '' || $row['discounted_price'] == 0){
                $count1 = 0; 
                $count2 = 0;
                $count = 0;
            }
        ?>
        <div class="tab_row"><a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " > <img class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>/public/uploads/images/thumbnails/<?php echo $row['business_image']; ?>" alt="" width="66" height="66"></a>
            <div class="tab_row_cnt_otr" style="width: 475px !important;">
                <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?>" >
                    <h1><?php echo ucfirst($row['business_firstname']) . ' ' . ucfirst($row ['business_lastname']); ?></h1>
                    <h2>@<?php echo $row['business_username'] ?></h2>
                </a>
                <div class="clear">&nbsp;</div>
                <div class="coupon_wrapper">
                    <div class="coupon_image_bg">
                        <div class="coupon_image " id ="firstgallery">
                            <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " class="tooltip1_photo" > 
                                <img width="276px" height="160px" class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>public/uploads/images/original/<?php echo $row['coupon_image']; ?>">                                        <div class="caption">
                                    <ul>
                                        <li class="img_property1"><img  class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>images/coupon_up_icon.png"></li>
                                        <li class="coupon_txt1"><?php echo $row['business_name']; ?></li><br>
                                        <li class="coupon_txt1"><?php echo $row['country_name']; ?></li><br>
                                        <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="coupon_price1" style="width:150px;">
                        <ul>
                            <li><strong><?php echo $row['title']; ?></strong></li>
                            <li><?php $desc = (strlen($row['description'])>110)?substr($row['description'],0,110).'...':$row['description']; echo 'Description: '.$desc; ?></li> 
                            <li><?php echo 'Upper Price: $ '.$row['coupon_price']; ?></li>
                            <li><?php echo 'Expires on '.date('d/m/Y',strtotime($row['expiration_date'])); ?></li>
                        </ul>
                    </div>      
                    <div class="coupon_price2" style="width:134px;"><?php echo $count;?>% off</div>
                </div>
            </div>
        </div>
        <?php endforeach; } else { echo 'No Uppers Purchased To View'; } ?>
    </div>
</div>
<script type="text/javascript">
    
$('.popupLink').click(function(event){
    event.stopPropagation();
});
$('html').click(function(){
    $('.popupDiv').css('display','none');
});
</script>