<div style="min-height: 150px; min-width: 500px;">
    <div align="center"><img src="<?=SITE_URL?>images/huddle.png" alt="Huddle"></div>
    <div class="clr"></div>
    <div style="float: left;"><img src="<?=SITE_URL?>images/celeLimg.png" alt="Huddle Icon"></div>
    <div style="float: left;font-size: 18px;padding-top: 20px;"><?=$this->msg;?></div>
</div>