<?php 
    $params = ($_SERVER['REQUEST_URI']!=$this->baseUrl()) ? str_replace($this->baseUrl()."/","",$_SERVER['REQUEST_URI']) : $_SERVER['REQUEST_URI'] ; 
    $params = explode("?",$params); //echo "<pre>";print_r($params);exit;
    if(!empty($_REQUEST['userviewActions']))
	{
		$get = "?order=".$_REQUEST['userviewActions'];
	}
	else if(!empty($params[1])){
		$get = "?".$params[1];
	}
	else{
			$get = "";
	}
	//$get = "?".$params[1];	//echo "<pre>";print_r($get);exit;
    //echo "<pre>";print_r($get);exit;
    //echo "aaaa".$this->search;exit;
    //$allParams = Zend_Controller_Front::getInstance()->getRequest()->getParams();
    //echo "<pre>";print_r($allParams);exit;
    if ($this->pageCount > 1) : ?>
    <ul>
    <?php if (isset($this->previous)) : ?>
        <li>
            <a title="First" rel="firs" class="paginator-first" href="<?php echo $this->url(array('page' => $this->first)).$get; ?>"> <i class="icon-backward icon-white"></i><?php echo $this->translate('First'); ?></a>
        </li>
    <?php else : ?>
        <li class="active"> <a class="paginator-first" href="javascript:void(0);"></i><?php echo $this->translate('First'); ?></a></li>
    <?php endif ?>
    <?php if (isset($this->previous)) : ?>
        <a title="Previous" rel="prev" class="paginator-prev" href="<?php echo $this->url(array( 'page' => $this->previous)).$get; ?>"><?php echo $this->translate('Previous'); ?></a>
    <?php else : ?>
       <!-- <span class="paginator-prev"><?php echo $this->translate('Previous'); ?></span>-->
    <?php endif ?>
    <?php $count =0;
    foreach ($this->pagesInRange as $page) : ?>
        <?php if ($page == $this->current) : ?>
            <li class="active"><a href="javascript:void(0);"><?php echo $page ?></a></li>
                <?php else : $rel = $page > $this->current ? 'next' : 'prev'; 
    //            if($this->search != '') {
    //                $pageArr    = array('page' => $page,'search'=>$this->search);
    //            } else {
                    $pageArr    = array('page' => $page);
               // }
                //echo $this->url($pageArr, 'default', TRUE);exit;
                //echo '<pre>';print_r($pageArr);exit;
                //echo $this->url(array_merge($allParams, array('page' =>  $page)));exit;
                ?>
            <li>
                <a title="Page <?php echo $page ?>" rel="<?php echo $rel ?>" href="<?php echo $this->url($pageArr).$get; ?>"><?php echo $page ?></a>
            </li>
            <?php endif ?>
    <?php endforeach ?>
    <?php if (isset($this->next)) : ?>
        <a title="Next" rel="next" class="paginator-next" href="<?php echo $this->url(array('page' => $this->next)).$get; ?>"><?php echo $this->translate('Next'); ?></a>
    <?php else : ?>
        <!--<span class="paginator-next"><?php echo $this->translate('Next'); ?></span>-->
    <?php endif ?>
    <?php if (isset($this->next)) : //echo "last Exist"; ?>
        <li>
            <a title="Last" rel="last" class="paginator-last" href="<?php echo $this->url(array('page' => $this->last)).$get; ?>"><?php echo $this->translate('Last'); ?><i class="icon-forward icon-white"></i></a>
        </li>
    <?php else : //echo "no last"; ?>
        <li class="active"><a class="paginator-next" href="javascript:void(0);"><?php echo $this->translate('Last'); ?></a></li>
    <?php endif ?>
    </ul>
<?php endif ?>