<?php 
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
    
    $request = Zend_Controller_Front::getInstance()->getRequest();
    if(Zend_Registry::isRegistered('userdata')) {
        $userdata = Zend_Registry::get('userdata');
        $user_type = "U";
        $user_id = $userdata->user_id;
    }
    if(Zend_Registry::isRegistered('businessdata')) {
        $userdata = Zend_Registry::get('businessdata');
        $user_type = "B";
        $user_id = $userdata->business_id;
    }
    //echo "<pre>";print_r($this->filterArray);exit;
    $gender1 ='';
    $gender2 ='';
    if(isset($this->filterArray['gender'][0]) && $this->filterArray['gender'][0] != '')
        $gender1 = $this->filterArray['gender'][0];
    if(isset($this->filterArray['gender'][1]) && $this->filterArray['gender'][1] != '')
        $gender2 = $this->filterArray['gender'][1];
    ?>
    <section>
        <div class="FP_body_wrap" style="width:1120px;">
            <div class="at_body_wrap">
                <div class="at_left_wrap">
                    <div id="filter_outer"> 
                        <form name="advancedSearchleftForm" id="advancedSearchleftForm" method="post" onsubmit="return validateSearch();">  
                            <div class="filter_header">
                                <input class="fltr_search_box" name="keyword" id="keyword" type="text" value="<?php echo (($this->keyword!='')?$this->keyword:$this->val); ?>" placeholder="<?php echo $this->q; ?>">
                                <div class="styled-select">
                                    <select name="category" class="" id="category">
                                        <option value="People" <?php if($this->category == 'People'){?> selected="selected"<?php } ?>><?php echo $this->translate('People');?></option>
                                        <option value="Business"<?php if($this->category == 'Business'){?> selected="selected"<?php } ?>><?php echo $this->translate('Business');?></option>
                                        <option value="College"<?php if($this->category == 'College'){?> selected="selected"<?php } ?>><?php echo $this->translate('College/University');?></option>
                                        <option value="School"<?php if($this->category == 'School'){?> selected="selected"<?php } ?>><?php echo $this->translate('High School');?></option>
                                        <option value="Workplace"<?php if($this->category == 'Workplace'){?> selected="selected"<?php } ?>><?php echo $this->translate('Workplace');?></option>
                                    </select>
                                </div>
                                <input type="submit" value="Search" id="advancedSearchLeft" class="search_btn_search">
                            </div>
                        </form>
                        <div class="people_results" id="resultsDiv">
                        <?php if(!empty($this->searchDetails)){
                                    //echo "<pre>";print_r($this->searchDetails);exit;
                                if($this->category == 'People' || $this->category == 'Business') {
                                    foreach($this->searchDetails as $row){
                                    if($this->logged_user_Id  !=$row['user_id']) { 
                                        if($row['image_path'] !='' && file_exists(UPLOAD_PATH.'images/thumbnails/'.$row['image_path'])){ 
                                             $img_path = SITE_URL."uploads/images/thumbnails/".$row['image_path'];
                                         } else { 
                                             $img_path = SITE_URL.'images/no-user.gif'; 
                                         }
                                         ?>
                                         <div class="tpp_main_box">
                                            <div class="tpp_main_box_photo"><img src="<?php echo $img_path; ?>" border="0" width="66" height="66" title="<?php echo ucwords($row['uname']); ?>"></div>
                                            <div class="tpp_main_box_cont" id="<?php echo $row['user_id']; ?>">
                                                <?php 
                                                    if($this->category == 'People') { 
                                                            $link = SITE_URL.'user/userprofile/'.$row['user_id'];
                                                    }
                                                    if($this->category == 'Business') { 
                                                            $link = SITE_URL.'business/businessprofile/'.$row['user_id'];
                                                    }?>
                                               <a href="<?php echo $link; ?>" style="text-decoration: none;">
                                                   <h1>
                                                       <?php  
                                                                  $fname = ucwords($row['uname']); 
                                                                  if(strlen($fname)>12){ echo substr($fname, 0,11);  }else{ echo $fname; } 
                                                          ?>
                                                   </h1>
                                               </a>
                                              <span>@<?php  if(strlen($row['username'])>15){ echo substr(ucwords($row['username']), 0,12)."...";  }else{ echo $row['username']; }  ?>
                                              </span><br>
                                              <div align="center" id="makeFrndLink<?php echo $row['user_id'];?>" style="margin-bottom: 5px;">
                                              <?php if($row['isFollowing'] == "0"){ ?>
                                                  <a class="pointer" onclick="followPeopleSearchUser('<?php echo $row['user_id'];?>','<?php echo $row['user_type'];?>','<?php echo $user_id; ?>','<?php echo $user_type;?>');"><img height="38" width="39" src="<?=SITE_URL?>images/arrowup.png" ></a>
                                              <?php } 
                                                  if($row['isFollowing'] == "1"){ ?>
                                                      <a class="pointer"><img src="<?php echo SITE_URL;?>images/follow.png"  height="25" /></a>
                                         <?php }?>
                                                 </div>
                                            </div>
                                            <a href="<?php echo SITE_URL.'user/userprofile/'.$row['user_id']; ?>" style="text-decoration: none;"><div class="tpp_main_box_arr_b"></div></a>
                                         </div>
                            <?php } 
                            } 
                                }
                                
                                if($this->category == 'College' || $this->category == 'School' || $this->category == 'Workplace') {
                                    if($this->searchDetails !='') { $i=1;
                                        foreach($this->searchDetails as $row) {
                                            if($i == 1) { ?>
                                                <div class="wp_topB">
                                                    <div class="PHS_icon">
                                                        <img src="<?php echo SITE_URL; ?>images/<?php echo $i ?>.png" alt="topcount" >
                                                    </div>
                                                    <div class="PHS_box_pt">
                                                        <div style="height: 29px;margin: 3px 0 3px 139px; width: 40px;" >
                                                            <?php if($row['isFollowing'] == '0') { ?>
                                                                <img src="<?php echo SITE_URL; ?>images/up_btn-40x29.png" style="cursor: pointer;" name="<?php echo $row['college_id']; ?>" onclick="$().make_friend('<?php echo $row['college_id'];?>','<?php echo $row['type'];?>', this);" >
                                                            <?php } ?>
                                                        </div>
                                                        <div class="PHS_box_ptb">
                                                            <span style="color: #000000; font-weight: bold; margin-left: 5px;"><?php echo ucwords(substr($row['college_name'], 0, 60)); ?></span><br/>
                                                            <span><?php echo $row['followerscnt']; ?> People Following</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php } elseif($i <= 10) { ?>
                                                <div class="wp_partB">
                                                    <div class="PHS_icon_s">
                                                        <img src="<?php echo SITE_URL; ?>images/<?php echo $i ?>.png" alt="topcount" >
                                                    </div>
                                                    <div class="PHS_box_pt">
                                                        <div style="height: 29px;margin: 3px 0 3px 139px; width: 40px;" >
                                                            <?php if($row['isFollowing'] == '0') { ?>
                                                                <img src="<?php echo SITE_URL; ?>images/up_btn-40x29.png" style="cursor: pointer;" name="<?php echo $row['college_id']; ?>" onclick="$().make_friend('<?php echo $row['college_id'];?>','<?php echo $row['type'];?>', this);">
                                                            <?php } ?>
                                                        </div>
                                                        <div class="PHS_box_ptb">
                                                            <span style="color: #000000; font-weight: bold; margin-left: 5px;"><?php echo ucwords(substr($row['college_name'],0,60)); ?></span><br/>
                                                            <span><?php echo $row['followerscnt']; ?> People Following</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php } $i++;
                                        }
            }
                                }
                            } else { ?>
                                <div align="center" style="margin-top: 15px;color: #FF0000;"><?php echo $this->translate("No Results Available");?></div>
                            <?php }?>
                        </div>
                    </div>
                </div>
                <div class="BUT_right" style="margin-top:24px;">
                    <div class="BUT_right_POP_f" id="filter_search">
                        <div class="filter_tab" style="cursor: default;"><div style="float:left;"><?php echo $this->translate("FILTER");?></div><div style="font-size: 11px;" id="filterSearchErr" align='center'></div></div>
                    <span>
                        <form name="filterAdvancedSearch" id="filterAdvancedSearch" method="post" onsubmit="return filteradvancesearchfun();">
                           <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="35%" align="right" valign="middle" class="text_filt_right"><?php echo $this->translate('Gender');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                        <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="10%" align="center" valign="middle"><input type="checkbox" name="gender[]" id="male" value="M" <?php if($gender1 == "M" || $gender2 == "M") { ?>checked="checked"<?php };?></td>
                                              <td width="40%" align="left" valign="middle" class="text_filt_right"><?php echo $this->translate('Male')?></td>
                                              <td width="10%" align="center" valign="middle"><input type="checkbox" name="gender[]" id="female" value="F" <?php if($gender1 == "F" || $gender2 == "F"){?> checked="checked"<?php };?>></td>
                                              <td width="40%" align="left" valign="middle" class="text_filt_right"><?php echo $this->translate('Female');?></td>
                                            </tr>
                                        </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('Age');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td width="10%" align="center" valign="middle" class="text_filt_right"><?php echo $this->translate('From');?></td>
                                          <td width="40%" align="left" valign="middle" class="text_filt_right"><input type="text" name="agefrom"  id="agefrom" class="filt_age_box" value="<?php if($this->filterArray['agefrom'] != ''){ echo $this->filterArray['agefrom'];}?>"></td>
                                          <td width="10%" align="center" valign="middle" class="text_filt_right">To</td>
                                          <td width="40%" align="left" valign="middle" class="text_filt_right"><input type="text" name="ageto"  id="ageto" class="filt_age_box" value="<?php if($this->filterArray['ageto'] != ''){ echo $this->filterArray['ageto'];}?>"></td>
                                        </tr>
                                      </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('Email');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle"><input type="text" name="email" id="email" class="filt_text_box" value="<?php if($this->filterArray['email'] != ''){ echo $this->filterArray['email'];}?>"></td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('Country');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divcon">
                                      <select name="country" id="country" onchange="fngetstates($(this).val());">
                                          <option value="">---<?php echo $this->translate('Select Country'); ?>---</option>
                                          <?php 
                                                if(count($this->countries) > 0){ 
                                                    foreach($this->countries as $row){ ?>
                                                        <option value="<?php echo $row['id']; ?>"<?php if($this->filterArray['country']==$row['id']){?> selected="selected"<?php }?> ><?php echo $row['country_name']; ?></option>
                                              <?php } } ?>
                                      </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('State');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divstate">
                                      <select name="state" id="state" onchange="fngetcities($(this).val());">
                                          <?php if(count($this->states) > 0){ ?>
                                                    <option value="">---<?php echo $this->translate('Select State'); ?>---</option>
                                                <?php foreach($this->states as $row){ ?>
                                                        <option value="<?php echo $row['id']; ?>"<?php if($this->filterArray['state']==$row['id']){?> selected="selected"<?php }?> ><?php echo $row['state_name']; ?></option>
                                              <?php } } else {?>
                                                        <option value="">---<?php echo $this->translate('Select State'); ?>---</option>
                                              <?php } ?>
                                      </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('City');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divcity">
                                          <select name="city" id="city">
                                              <?php if(count($this->cities) > 0){ ?>
                                                    <option value="">---<?php echo $this->translate('Select City'); ?>---</option>
                                                <?php foreach($this->cities as $row){ ?>
                                                        <option value="<?php echo $row['id']; ?>"<?php if($this->filterArray['city']==$row['id']){?> selected="selected"<?php }?> ><?php echo $row['city_name']; ?></option>
                                              <?php } } else {?>
                                                        <option value="">---<?php echo $this->translate('Select City'); ?>---</option>
                                              <?php } ?>
                                          </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('School');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divschool">
                                      <select name="school" id="school">
                                          <option value="">---<?php echo $this->translate('Select a School'); ?>---</option>
                                          <?php 
                                                if(count($this->schools) > 0){ 
                                                    foreach($this->schools as $row){ ?>
                                          <option value="<?php echo $row['school_id']; ?>" <?php if($this->filterArray['school']==$row['school_id']){?> selected="selected"<?php }?> ><?php echo $row['school_name']; ?></option>
                                              <?php } } ?>
                                            <option value="0"><?php echo $this->translate("Haven't gone yet"); ?></option>
                                      </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('College/Univ');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divcollege">
                                      <select name="college" id="college">
                                          <option value="">---<?php echo $this->translate('Select a College'); ?>---</option>
                                            <?php 
                                                if(count($this->colleges) > 0){ 
                                                    foreach($this->colleges as $row){ ?>
                                                      <option value="<?php echo $row['college_id']; ?>" <?php if($this->filterArray['college']==$row['college_id']){?> selected="selected"<?php }?>><?php echo $row['college_name']; ?></option>
                                              <?php } } ?>
                                            <option value="0"><?php echo $this->translate("Haven't gone yet"); ?></option>
                                      </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle"class="text_filt_right"><?php echo $this->translate('Workplace');?></td>
                                  <td width="5%" align="center" valign="middle"class="text_filt_right">:</td>
                                  <td align="left" valign="middle">
                                      <div class="dropdown-select" id="divwp">
                                      <select name="workplace" id="workplace">
                                          <option value="">---<?php echo $this->translate('Select a Work Place'); ?>---</option>
                                           <?php 
                                                if(count($this->workplaces) > 0){ 
                                                    foreach($this->workplaces as $row){ ?>
                                                      <option value="<?php echo $row['work_place_id']; ?>" <?php if($this->filterArray['workplace']==$row['work_place_id']){?> selected="selected"<?php }?>><?php echo $row['work_place_name']; ?></option>
                                              <?php } } ?>
                                            <option value="0"><?php echo $this->translate("Haven't gone yet"); ?></option>
                                      </select>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="35%" align="right" valign="middle">&nbsp;</td>
                                  <td width="5%" align="center" valign="middle">&nbsp;</td>
                                  <td align="left" valign="middle"><input type="submit" name="filterSearchBtn" id="filterSearchBtn" value="Filter Search" class="submit_btn_f"></td>
                                </tr>
                            </table>
                        </form>
                    </span>
                </div>
                <div class="right_HOTB_f">

                    <div class="BUT_right_HT">
                      <div class="BUT_right_HTB_f"><?php echo $this->translate('Your friends also suggest...');?></div>

                    </div>

                    <div class="BUT_right_HT_Row">
                     <div class="BUT_right_HT_IMG"><img src="<?php echo SITE_URL;?>images/img15.png" border="0"  width="41" height="41" alt="No Image" /></div>

                     <div class="BUT_right_HT_TXT">
                        <h2>Blerta Malaj</h2>
                        <span>10 Followers</span>
                     </div>
                     <div class="BUT_right_HT_UP">
                         <img src="<?php echo SITE_URL;?>images/up_icon2.png" border="0" class="" width="28" height="17" alt="" title="" style=""/>
                     </div>

                    </div>

                    <div class="BUT_right_HT_Row" style="margin:10px 0 0 0;">
                     <div class="BUT_right_HT_IMG"><img src="<?php echo SITE_URL;?>images/img15.png" border="0"  width="41" height="41" alt="No Image" /></div>

                     <div class="BUT_right_HT_TXT">
                        <h2>Somer</h2>
                        <span>6 Followers</span>
                     </div>
                     <div class="BUT_right_HT_UP">
                         <img src="<?php echo SITE_URL;?>images/up_icon2.png" border="0" class="" width="28" height="17" alt="" title="" style=""/>
                     </div>

                    </div>

                    <div class="BUT_right_HT_Row" style="margin:10px 0 0 0;">
                     <div class="BUT_right_HT_IMG"><img src="<?php echo SITE_URL;?>images/img15.png" border="0"  width="41" height="41" alt="No Image" /></div>

                     <div class="BUT_right_HT_TXT">
                        <h2>Jenny</h2>
                        <span>12 Followers</span>
                     </div>
                     <div class="BUT_right_HT_UP">
                         <img src="<?php echo SITE_URL;?>images/up_icon2.png" border="0" class="" width="28" height="17" alt="" title="" style=""/>
                     </div>

                    </div>

                    <div class="BUT_right_HT_Row" style="margin:10px 0 0 0;">
                     <div class="BUT_right_HT_IMG"><img src="<?php echo SITE_URL;?>images/img15.png" border="0"  width="41" height="41" alt="No Image" /></div>

                     <div class="BUT_right_HT_TXT">
                        <h2>Gresham</h2>
                        <span>4 Followers</span>
                     </div>
                     <div class="BUT_right_HT_UP">
                         <img src="<?php echo SITE_URL;?>images/up_icon2.png" border="0" class="" width="28" height="17" alt="" title="" style=""/>
                     </div>

                    </div>

                    <div class="BUT_right_HT_b">
                       View more Hotspots <span>View People Spots</span>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </section>
<script type="text/javascript">
    // for Enter Keypress
    $('#keyword').bind('keypress', function(e) {
            if(e.keyCode===13){
                    $('#advancedSearchLeft').trigger('click');
                    return false;
            }
    });

    function validateSearch(){
        $('#resultsDiv').empty();
        var keyword = $('#keyword').val();
        var category = $('#category').val();
        if(keyword==='') {
            $('#resultsDiv').html('<div style="color:#FF0000;margin-top:50px" align="center">Enter a keword to search</div>');
            return false;
        }
        return true;
    }

    $(document).ready(function() {
        $.fn.make_friend = function(fId,user_type, eleObj) {
            var datastring = "follower_id="+fId+"&follower_type="+user_type;
            $.ajax({
                type: "POST",
                url: site_url+"user/makefriends",
                data:datastring,
                cache: false,
                success: function(value) {
                    var data = $.parseJSON(value);
                    if(data['service_status']=='success') {
                        $(eleObj).remove(); 
                    } else {
                        return false;
                    }
                }
            });
        }
    });

    function filteradvancesearchfun() {
        var genderlength = $('input[name="gender[]"]:checked').length;
        //var gender = $("input[name=gender]:checked").map(function () {return this.value;}).get().join(",");
        var ageFrom = $('#agefrom').val();
        var ageTo = $('#ageto').val();
        var email = $('#email').val();
        var country = $('#country').val();
        var state = $('#state').val();
        var city = $('#city').val();
        var school = $('#school').val();
        var college = $('#college').val();
        var workplace = $('#workplace').val();
        //alert(gender+'-->+genderlength+'-->'+ageFrom+'-->'+ageTo+'-->'+email+'-->'+country+'-->'+state+'-->'+city+'-->'+school+'-->'+college+'-->'+workplace);
        if(genderlength===0 && ageFrom==='' && ageTo==='' && email==='' && country==='' && state==='' && city==='' && school==='' && college==='' && workplace===''){
            $('#filterSearchErr').html('Choose any of the fields below and Click Search');
            return false;
        } else {
            $('#filterSearchErr').html('');
            return true;
        }
    }
</script>