<div style="float: left;height: 537px; margin: 13px 0 0; width: 110px;">
    <div class="BUT_leftL_wrap">
        <ul id="categoriesUL">
            <?php 
                if(!empty($this->businesscategory)){ 
                    foreach($this->businesscategory as $row){ ?>
                        <li class="categoriesLI"><a href="javascript:void(0);" onclick="getTopBusinesses($(this).attr('id'))"  id="<?php echo $row['id']; ?>"><?php echo ucwords($row['category_name']); ?></a></li>
            <?php } } ?>
        </ul>
    </div>
</div>