<?php
echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    $userdata = $auth->getIdentity();
    $user_type = "U";
?><section>
    <div id="wrapper">
        <?php echo $this->render('index/people-search-leftbar.phtml');?>
        <div class="tpp_main_cont">
            <div class="tpp_main_Ha">
                <img src="<?php echo SITE_URL;?>images/headimgLC.png" border="0">
             <h1><?php echo $this->translate("TOP LOCAL PEOPLE"); ?></h1>
            </div>
            <div class="tpp_main_part1">
                
           <?php
           if(!empty($this->localPeopleArray)){
               foreach($this->localPeopleArray as $row){
                   if($this->logged_user_Id  !=$row['user_id']) { 
                       if($row['profile_pic_path'] !='' && file_exists(UPLOAD_PATH.'images/thumbnails/'.$row['profile_pic_path'])){ 
                            $img_path = SITE_URL."uploads/images/thumbnails/".$row['profile_pic_path'];
                        } else { 
                            $img_path = SITE_URL.'images/no-user.gif'; 
                        }
                        ?>
                        <div class="tpp_main_box">
                            <div class="tpp_main_box_photo"><img src="<?php echo $img_path; ?>" border="0" width="66" height="66" title="<?php echo ucwords($row['firstname'])." ".  ucwords($row['lastname']); ?>"></div>
                            <div class="tpp_main_box_cont" id="<?php echo $row['user_id']; ?>">
                               <a href="<?php echo SITE_URL.'user/userprofile/'.$row['user_id']; ?>" style="text-decoration: none;"><h1><?php  $fname = ucwords($row['firstname'])." ".  ucwords($row['lastname']); if(strlen($fname)>12){ echo substr($fname, 0,11);  }else{ echo $fname; } ?></h1></a>
                              <span>@<?php echo ucwords($row['username']); ?></span><br>
                              <div align="center" id="makeFrndLink<?php echo $row['user_id'];?>" style="margin-bottom: 5px;">
                              <?php if($row['isFollowing'] == "0"){ ?>
                                  <a class="pointer" onclick="followPeopleSearchUser('<?php echo $row['user_id'];?>','<?php echo $user_type;?>','<?php echo $userdata->user_id; ?>','<?php echo $user_type;?>');"><img height="38" width="39" src="<?=SITE_URL?>images/arrowup.png" ></a>
                              <?php }
                                      if($row['isFollowing'] == "1"){ ?>
                                          <a class="pointer"><img src="<?php echo SITE_URL;?>images/follow.png"  height="25" /></a>
                              <?php }?>
                          </div>
              </div>
              <a href="<?php echo SITE_URL.'user/userprofile/'.$row['user_id']; ?>" style="text-decoration: none;"><div class="tpp_main_box_arr_b"></div></a>
           </div>
        <?php } 
            } 
        } else { ?>
            <div align="center" style="margin-top: 15px;color: #FF0000;"><?php echo $this->translate("No Users Available");?></div>
        <?php } ?>
        </div>
      </div>
    </div>
    <?php //echo $this->render('../user/index/profilerightbar.phtml');    ?>
    
</section>