<div class="tpp_leftLC">
    <div class="tpp_leftLC_LL">
        <div class="tpp_leftLC_LIM" id="oneDiv"></div>
       <div class="tpp_leftLC_LIN"><a class="pointer" id="one"><?php echo $this->translate("LOCAL"); ?></a></div>
    </div>
    <div class="tpp_leftLC_CE">
        <div class="tpp_leftLC_CIM" id="twoDiv"></div>
        <div class="tpp_leftLC_CIN"><a class="pointer" id="two"><?php echo $this->translate("CELEBRITIES"); ?></a></div>
    </div>
    <div class="tpp_leftLC_TP">
        <div class="tpp_leftLC_TPIM" id="threeDiv"></div>
        <div class="tpp_leftLC_TPIN"><a class="pointer" id="three"><?php echo $this->translate("TOP POPULAR"); ?></a></div>
    </div>
    <div class="tpp_leftLC_LM">
        <div class="tpp_leftLC_LMIM" id="fourDiv"></div>
        <div class="tpp_leftLC_LMIN"><a id="four" class="pointer"><?php echo $this->translate("LAMES"); ?></a></div>
    </div>
</div>
<script type="text/javascript">
   $('#one').click(function(){
       window.location.href=site_url+"user/search/local_people";
   });
   $('#oneDiv').click(function(){
       window.location.href=site_url+"user/search/local_people";
   });
   $('#two').click(function(){
       //window.location.href=site_url+"/user/search/top_popular_people";
   });
   $('#twoDiv').click(function(){
       //window.location.href=site_url+"/user/search/top_popular_people";
   });
   $('#three').click(function(){
       window.location.href=site_url+"user/search/top_popular_people";
   });
   $('#threeDiv').click(function(){
       window.location.href=site_url+"user/search/top_popular_people";
   });
   $('#four').click(function(){
       window.location.href=site_url+"user/search/lame_people";
   });
   $('#fourDiv').click(function(){
       window.location.href=site_url+"user/search/lame_people";
   });
</script>