<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <title>UPMEsocial</title>
    </head>
    <body>
        <div style="width:700px; margin:0px auto; background:#FFF; font-family:'Arial'; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; border: solid 2px #F4F4F4; box-shadow: 0px 0px 3px #F4F4F4; ">
            <!-- SOF HEADER -->
            <div style="width:700px; margin:0px auto; border-bottom:0px; background:#F4F4F4; height:70px; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; margin-bottom:25px;">
                <img src="<?php echo SITE_URL;?>images/upme_social_logo2.png" alt="UPMEsocial" style="padding:14px 0px 0px 10px;" >
                <div style="width:280px; float:right;">
                    <div style="float:right;">
                        <p style="float:right; padding-top:10px; font-size:18px; color:#FFF; padding-bottom:5px; margin:0px !important; margin-bottom: 0px;"><?php //echo $this->receiver_name;?></p>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <!-- EOF HEADER -->
            <div style="clear:both;"></div>

            <!-- SOF CONTAINER -->
            <div style="min-height:210px; color:#ffffff; font-size:16px; ">
                <h1 style="font-size:16px; color:#7a7a7a; padding:5px; margin:0px; line-height:18px;"><?php echo 'Hi '.ucfirst($this->firstname).",";?><br></h1>
                <p style="color:#7a7a7a;padding-left: 5px;">You have recently changed your password. Below are your new details.</p><br>
                <p style="color:#7a7a7a;padding-left: 5px;"><strong>User Name: <?php echo $this->username; ?></strong></p>
                <p style="color:#7a7a7a;padding-left: 5px;"><strong>Password: <?php echo $this->password; ?></strong></p><br>
                <p style="color:#7a7a7a;padding-left: 5px;">Best Regards,</p>
                <p style="color:#7a7a7a;padding-left: 5px;">UPMEsocial Team</p>
            </div>
            <!-- EOF CONTAINER -->

            <!-- SOF footer -->
            <div style="padding:0px; margin:0px; margin-top:10px; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; ">
                <div style="width:700px; margin:0px auto;">
                    <div style="background:#F4F4F4;-moz-box-shadow:2px 2px 5px #F4F4F4;-webkit-box-shadow:2px 2px 5px #F4F4F4;box-shadow:2px 2px 5px #F4F4F4; height:35px;">
                        <p style="color:#7a7a7a;padding: 10px 0px 0px 50px;  font-size: 11px;">
                            The message was sent to <a href="mailto:<?php echo $this->email;?>"><?php echo $this->email;?></a>. If you want to stop receiving emails from UPMEsocial, <a href="<?php echo SITE_URL;?>user/unsubscribe?ml=<?php echo base64_encode($this->email); ?>">unsubscribe here.</a><br>
                            © <?php echo date('Y'); ?> UPMEsocial llc. All rights reserved. UPMEsocial and the UPMEsocial logo are trademarks or registered of UPMEsocial llc.
                        </p>
                    </div>
                </div>
            </div>
            <!-- EOF footer -->

        </div>
    </body>
</html>