<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UP.ME</title>
<style type="text/css">
a {
	color:#FF9600 !important;
	font-size:14px !important;
	text-decoration:none !important;
}
a:hover {
	color:#7a7a7a !important;
}
</style>
</head>
<body>
<!--url(images/body_bg.png)-->
<div style="width:700px; margin:0px auto; background:#ddcfc2; font-family:'Arial'; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; ">
    <!-- SOF HEADER -->
    <div style="width:700px; margin:0px auto; border-bottom:0px; background:#A66522; height:70px; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; margin-bottom:25px;">
<!--        <div style="width:280px; float:left;"><a href="<?php //echo SITE_URL;?>"><img src="<?php //echo SITE_URL;?>images/email_logo_inner.png" alt="juice.me"></a></div>-->
        <div style="width:280px; float:right;">
            <div style="float:right;">
                <p style="float:right; padding-top:10px; font-size:18px; color:#FFF; padding-bottom:5px; margin:0px !important; margin-bottom: 0px;"><?php //echo $this->receiver_name;?></p>
                <div style="clear:both"></div>
<!--                <span style="background:#FFF; color: #FF9600; float: right; font-size: 25px; padding: 1px; border-radius: 3px; -moz-border-radius:3px;  -webkit-border-radius:3px;"><?php //if($this->Endorsements !='') echo $this->Endorsements; else echo '0'; ?></span>-->
            </div>
        </div>
    </div>
    <!-- EOF HEADER -->
    <div style="clear:both;"></div>
    <!-- SOF CONTAINER -->
    <div style="min-height:210px; color:#ffffff; font-size:21px; ">
        <h1 style="font-size:23px; color:#7a7a7a; padding:5px; margin:0px; line-height:20px;"><?php echo 'Hi '.ucfirst($this->name).'<br/>'; ?></h1>
        <p style="color:#7a7a7a;padding-left: 5px;">We are happy to inform you that, your Level is Upgraded from <?php echo ucfirst($this->old_level)." to ".ucfirst($this->new_level) ;?> as your cool points count has reached <?php echo $this->coolpoints;?>.</p>
    </div>
    <!-- EOF CONTAINER -->
    <!-- SOF footer -->
    <div style="padding:0px; margin:0px; margin-top:30px; border-radius: 5px; -moz-border-radius:5px;  -webkit-border-radius:5px; ">
        <div style="width:700px; margin:0px auto;">
            <div style="background:#FFF;-moz-box-shadow:2px 2px 5px #505050;-webkit-box-shadow:2px 2px 5px #505050;box-shadow:2px 2px 5px #505050; height:2px;"></div>
<!--            <div style=" padding:0px; margin:0px; text-align:left;"> <img src="<?php echo SITE_URL;?>images/email_footer.png" alt="juice.me" width="43" height="43" hspace="10" vspace="10" align="absmiddle" style="border-radius:5px;"><a href="<?php echo SITE_URL;?>" style=" font-size:25px;"> - Go To Up.me</a> </div>-->
        </div>
    </div>
    <!-- EOF footer -->
</div>
</body>
</html>