<?php echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('css/reset.css'))
                        ->appendStylesheet($this->baseUrl('css/mainpage_styles.css'))
                        ->appendStylesheet($this->baseUrl('css/jquery.alerts.css'))
                        ->appendStylesheet($this->baseUrl('css/me_box.css'))
                        ->appendStylesheet($this->baseUrl('css/fonts.css'))
                        ->appendStylesheet($this->baseUrl('css/style.css'))
                        ->appendStylesheet($this->baseUrl('css/ImageOverlay.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.8.0.min.js'))
                            //->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/general.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('js/jquery.metadata.js'))
                            ->appendFile($this->baseUrl('js/jquery.ImageOverlay.js'))
                            ->appendFile($this->baseUrl('js/jquery.alerts.js'));
    if(Zend_Registry::isRegistered('userdata')) {
        $logged_user_data = Zend_Registry::get('userdata');
        $loggedUserId = $logged_user_data->user_id;
        $loggedUserType = 'U';
    }
    if(Zend_Registry::isRegistered('businessdata')) {
        $logged_user_data = Zend_Registry::get('businessdata');
        $loggedUserId = $logged_user_data->business_id;
        $loggedUserType = 'B';
    }
?>
<div class="tpp_wrap">
    <div class="at_left_wrap">
        <div id="filter_outer">
            <div class="noti_page_wrapper">
                <div style="border-bottom: 1px solid #c6c6c6"><h1><?php echo $this->translate('Notifications'); ?></h1></div>
                <?php if(!empty($this->notification)) {
                    $i=0;
                    foreach($this->notification as $row) { //echo $row['notification_id'];
                        if((!empty($row['user_image'])) && (file_exists(UPLOAD_PATH."images/thumbnails/".$row['user_image']))) {
                            $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row['user_image'];
                        } else {
                            $imagepath = SITE_URL.'images/no-user.gif';
                        } ?>
                        <div class="noti_page_outer msgbox fancybox.ajax" id="notificationid<?php echo $row['notification_id']; ?>" onclick="destinationurl('<?=$row["notification_type"]?>','<?=$row["notification_id"]?>','<?=$row["user_id"]?>','<?=$row["user_type"]?>');">
                            <ul>
                                <li class="noti_imgouter"><img src="<?php echo $imagepath; ?>" border="0" width="45" height="45" title="<?php echo ucwords($row['firstname']); ?>"></li>
                                <li class="noti_pop_txt">
                                    <?php echo $row['message']; ?>
                                </li>
                                <li class="noti_close"><a href="javascript:void(0);" onclick="deletenotification(<?php echo $row['notification_id']; ?>)">x</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                <?php $i++; } } ?>
                <?php if(!empty($this->notification) && $this->notificationcnt > $i) { ?>
                    <div class="noti_page_foot" onclick="morenotifications(<?php echo $this->notification[$i-1]['notification_id']; ?>);"><?=$this->translate('See More Notifications')?></div>
                <?php } ?>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <?php if($loggedUserType == 'U') { echo $this->action('profilerightbar','index', 'user',array('user_id'=>$this->user_id)); } ?>
</div>
<script type="text/javascript">
    function destinationurl(ntype,nid,uid,utype) {//alert(ntype+uid+utype);
        if(ntype == 'message' && utype != 'B') {
            msgbox(nid);
        }
        if(ntype == 'huddle_target' && utype != 'B') {
            window.location.href =  site_url+'huddles/viewhuddles';
            return;
        }
        if(ntype == 'new_upper' && utype == 'B') {
            window.location.href =  site_url+'business/myuppers/'+uid;
            return;
        }
        if(ntype == 'purchasecoupon' && utype != 'B') {
            myuppers(nid);
            return;
        }
        if(ntype == 'photo_blasted' && utype != 'B') {
            window.location.href =  site_url+'user/media/photos';
            return;
        }
        if((utype != 'B')) {
            window.location.href =  site_url+'user/userprofile/'+uid;
            return;
        }
        if(ntype == 'message' && utype == 'B') {
            msgbox(nid);
            return;
        }
        if(ntype != 'message' && utype == 'B') {
            window.location.href =  site_url+'business/businessprofile/'+uid;
            return;
        }
    }
    function msgbox(nid) {
        $("#notificationid"+nid).attr('href',site_url+"user/messages");
        $('.msgbox').fancybox({
            width       : 800,
            height      : 600,
            fitToView   : true,
            autoSize    : true,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
        });
    }
    function myuppers(nid) {
        $("#notificationid"+nid).attr('href',site_url+"user/myuppers");
        $('.msgbox').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width	: '70%',
            height	: '80%',
            autoSize	: false,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    }
    function morenotifications(lastnotificationid) {
        var datastring = 'notification_id=' + lastnotificationid;
        $.ajax({
            type: "POST",
            url: site_url+'notifications/index/morenotifications',
            data:datastring,
            cache: false,
            success: function(result) {
                if(result != '') {
                    $('.noti_page_foot').remove();
                    $('.noti_page_wrapper').append(result);
                }
            }
        });
    }
    function deletenotification(notificationid) {
        var datastring = 'notification_id=' + notificationid;
        var r=confirm("Can You Confirm This Action");
        if (r==true) {
            $.ajax({
                type: "POST",
                url: site_url+'notifications/index/deletenotification',
                data:datastring,
                cache: false,
                success: function(result) {
                    if(result =='1') {
                        window.location =  site_url+'notifications/getallnotifications';
                    }
                }
            });
        }
    }
</script>