<?php if(!empty($this->notification)) {
    echo '<div class="noti_arrow"><img class="top_icons_notif" src="'.SITE_URL.'images/noti_pop_arrow.png"></div>
    <div class="noti_bg">';
        $i=1;
        foreach($this->notification as $row) {
            if(($row['user_image'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row['user_image']))) {
                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row['user_image'];
            } else {
                $imagepath = SITE_URL.'images/no-user.gif';
            } ?>
            <div class="noti_outer msgbox fancybox.ajax" id="notificationid<?php echo $row['notification_id']; ?>" onclick="destinationurl('<?=$row["notification_type"]?>','<?=$row["notification_id"]?>','<?=$row["user_id"]?>','<?=$row["user_type"]?>');">
            <?php //echo '<div class="noti_outer msgbox fancybox.ajax" id="msgbox'.$row['notification_id'].'" onclick="destinationurl('"'.$row["notification_type"]."'","'".$row["notification_id"]."'","'".$row["user_id"]."'","'".$row["user_type"]."'")"> ?>
            <?php echo '<ul>
                    <li class="noti_imgouter"><img src="'.$imagepath.'" border="0" width="45" height="45" title="'.$row['firstname'].'"></li>
                    <li class="noti_pop_txt">';
                        echo $row['message'];
                    echo '</li>
                </ul>'; ?>
            </div>
            <?php $i++;
        }
        if(count($this->notification) > 5) {
            echo '<div class="noti_foot" onclick="gotonotificationpage();"> <a href="'.SITE_URL.'notifications/getallnotifications" style="text-decoration: none; color: #000;">See All Notifications</a></div>';
        }
    echo '</div>';
} else {
    echo '<div class="noti_arrow"><img class="top_icons_notif" src="'.SITE_URL.'images/noti_pop_arrow.png"></div>
    <div class="noti_bg">
        <div class ="msg_notfound" style="text-align: center;">'.$this->translate("No Notifications Found").'</div>
    </div>';  
} ?>
<script type="text/javascript">
    function destinationurl(ntype,nid,uid,utype) {
        if(ntype == 'message' && utype != 'B') {
            msgbox(nid);
        }
        if(ntype == 'huddle_target' && utype != 'B') {
            window.location.href =  site_url+'huddles/viewhuddles';
            return;
        }
        if(ntype == 'new_upper' && utype == 'B') {
            window.location.href =  site_url+'business/myuppers/'+uid;
            return;
        }
        if(ntype == 'purchasecoupon' && utype != 'B') {
            myuppers(nid);
            return;
        }
        if(ntype == 'photo_blasted' && utype != 'B') {
            window.location.href =  site_url+'user/media/photos';
            return;
        }
        if((utype != 'B')) {
            window.location.href =  site_url+'user/userprofile/'+uid;
            return;
        }
        if(ntype == 'message' && utype == 'B') {
            msgbox(nid);
            return;
        }
        if(ntype != 'message' && utype == 'B') {
            window.location.href =  site_url+'business/businessprofile/'+uid;
            return;
        }
    }
    function msgbox(nid) {alert(nid);
        $("#notificationid"+nid).attr('href',site_url+"user/messages");
        $('.msgbox').fancybox({
            width       : 800,
            height      : 600,
            fitToView   : true,
            autoSize    : true,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
        });
    }
    function myuppers(nid) {
        $("#notificationid"+nid).attr('href',site_url+"user/myuppers");
        $('.msgbox').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width	: '70%',
            height	: '80%',
            autoSize	: false,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    }
    $(document).ready(function() {
        $('.notificationpopup').click(function(event){
            event.stopPropagation();
        });
        $('html').click(function(){
            $('.noti_bg').css('display','none');
            $('.top_icons_notif').css('display','none');
        });
        $.fn.showNotification = function() {
            $('#noti_pop_outer').toggle("slidedown",function() {
                $.ajax({
                    type: "POST",
                    url: site_url+"notifications/getnotificationswithid",
                    data: '',
                    cache: false,
                    success: function(result) {
                        /*$('.noti_bg').css('display','none');
                        $('.top_icons_notif').css('display','none');*/
                        $("#noti_pop_outer").html(result);
                    }
                })
            });
        }
    });
</script>