<?php if($this->notification!='') {
    $i=0;
    foreach($this->notification as $row) { //echo $row['notification_id'];
        if(($row['user_image'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row['user_image']))) {
            $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row['user_image'];
        } else {
            $imagepath = SITE_URL.'images/no-user.gif';
        } ?>
        <div class="noti_page_outer msgbox fancybox.ajax" id="notificationid<?php echo $row['notification_id']; ?>" onclick="destinationurl('<?=$row["notification_type"]?>','<?=$row["notification_id"]?>','<?=$row["user_id"]?>','<?=$row["user_type"]?>');">
            <ul>
                <li class="noti_imgouter"><img src="<?php echo $imagepath; ?>" border="0" width="45" height="45" title="<?php echo ucwords($row['firstname']); ?>"></li>
                <li class="noti_pop_txt">
                    <?php echo $row['message']; ?>
                </li>
                <li class="noti_close"><a href="javascript:void(0);" onclick="deletenotification(<?php echo $row['notification_id']; ?>)">x</a></li>
            </ul>
        </div>
        <div class="clear"></div>
<?php $i++; } } ?>
<?php if($this->notification != '' && $i >= 29) { ?>
    <div class="noti_page_foot" onclick="morenotifications(<?php echo $this->notification[$i-1]['notification_id']; ?>);"><?=$this->translate('See More Notifications')?></div>
<?php } ?>