<?php
if($this->businessAuthVar == 1) {
    $logged_user_id = $this->businessdata->business_id;
    $user = 'business';
    $logged_user_type = "B";
}
if($this->userAuthVar == 1) {
    $user = 'normal';
    $logged_user_id = $this->userdata->user_id;
    $logged_user_type = "U";
}
?>
<div  class="child_level" style="width: 500px; padding-left: 5px; max-height: 500px !important;overflow-x: hidden;overflow-y: auto;">
<?php
if(count($this->reviewArray) > 0) {
    $timeObj = new UpmeSocial_View_Helper_Datetimediff();
    foreach($this->reviewArray as $key=>$review) {
        $original_review_id = $review['review_id'];
        if($review['parent_id']!=0)
            $original_review_id = $review['parent_id'];
        // For Normal  User Image
        if($review['from_user_type'] == "U") {
            if(($review['profile_pic_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$review['profile_pic_path'])))
                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$review['profile_pic_path'];
            else
                $imagepath = SITE_URL.'images/no-user.gif';
        }
        // For Business User Image
        if($review['from_user_type'] == "B") {
            if(($review['image_path'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$review['image_path'])))
                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$review['image_path'];
            else
                $imagepath = SITE_URL.'images/no-user.gif';
        }
        // for Emotions
        $strAry = array(':0',':x',':-D',':-)',':-p',':(',':D',':^0',';|','?:|',';-)');
        $replaceAry = array('<img src="'.SITE_URL.'images/emoticons/angel.png">','<img src="'.SITE_URL.'images/emoticons/kiss.png">','<img src="'.SITE_URL.'images/emoticons/laugh.png">','<img src="'.SITE_URL.'images/emoticons/plain.png">','<img src="'.SITE_URL.'images/emoticons/raspberry.png">','<img src="'.SITE_URL.'images/emoticons/sad.png">','<img src="'.SITE_URL.'images/emoticons/smile.png">','<img src="'.SITE_URL.'images/emoticons/smile-big.png">','<img src="'.SITE_URL.'images/emoticons/surprise.png">','<img src="'.SITE_URL.'images/emoticons/uncertain.png">','<img src="'.SITE_URL.'images/emoticons/wink.png">');
        $output = str_replace($strAry,$replaceAry,$review['review_message']); ?>
        <div class="tab_row" id="tab_row<?php echo $review['review_id'];?>">
            <?php if(!empty($review['business_id'])) { ?>
                <a href="<?=SITE_URL?>business/businessprofile/<?=$review['business_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
            <?php } ?>
            <?php if(!empty($review['user_id'])) { ?>
                <a href="<?=SITE_URL?>user/userprofile/<?=$review['user_id']?>"><img src="<?=$imagepath?>" width="66" height="66"></a>
            <?php } ?>
            <div class="tab_row_cnt_otr" style="width: 400px !important;">
                <?php if($review['from_user_type']=='U'){
                    echo "<h1>".$this->translate(ucfirst($review['firstname']))." ".$this->translate(ucfirst($review['lastname']))?></h1><h2>@<?php echo $this->translate($review['username']);?></h2><span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($review['created_date']));?> </span> <br>
                <?php }else{
                    echo "<h1>".$this->translate(ucfirst($review['business_name']));?></h1><h2>@<?php echo $this->translate($review['business_username']);?></h2><span class="time" style="float: right;"><?php echo $this->translate($timeObj->humaneDate($review['created_date']));?> </span> <br>
                <?php } ?>
                <h2 class="scrb-text"><?php echo$this->translate(Html_entity_decode(stripslashes(urldecode($output))));?></h2><br>
                <div class="clear"></div>
            </div>
            <a id="reply<?php echo $review['review_id']; ?>" class="various2 fancybox.ajax pointer" onclick="replyReview('<?php echo $original_review_id; ?>','<?php echo $logged_user_id;?>','<?php echo $logged_user_type;?>','<?php echo $review['to_user_id']; ?>')"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png" ></a>
        </div>
    <?php } ?>
    <div class="clear"></div>
<?php } else {
    echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Reviews available")."</div>";
} ?>
</div>