<?php 
    $request = Zend_Controller_Front::getInstance()->getRequest();;
    $to_id = $request->getParam("user_id");
//    if($this->isLoggedUser == 1){
//        echo "<div align='center' style='color:#FF0000; margin-top:25px;'>You can't Post Review to Yourself</div>";
//    }
//    else
    if($this->isfollowingUser == 1){
        echo "<div align='center' style='color:#FF0000; margin-top:25px;'>You need to follow this Business to Post a Review</div>";
    } else {
        if($this->businessAuthVar == 1) {
            $userdata = $this->businessdata;
            $auth_id = $this->businessdata->business_id;
            $user = 'business';
            $user_type = "B";
        }

        if($this->userAuthVar == 1) {
            $userdata = $this->userdata;    
            $user = 'normal';
            $auth_id = $this->userdata->user_id;
            $user_type = "U";
    }?>
<div class="scribble_outer" id="replyScribbleContent">
    <div align='center' style='color:#FF0000;' id="error_reviewDiv"></div>
    <form name="replyReviewForm" id="replyReviewForm" method="post" action="">
        <div class="scribble_title"><?php echo $this->translate("Reply Review");?></div><div id="repReviewErr" class="scribErr"></div>
        <textarea class="scribble_box required" rows="5" cols="30" id="replyReviewTxtArea" style="width: 90%"></textarea>
        <div class="scribble_btn_otr"> 
            <a id="replyReviewBtn" class="pointer"><img src="<?=SITE_URL?>images/scribble_btn.png" width="100" height="31"></a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#replyReviewBtn').click(function(){
        $("#replyReviewForm").submit();
    });
    
    $("#replyReviewForm").validate({
        rules: {
            replyReviewTxtArea: {
                required:true,
                minlength: 1,
                maxlength: 150
            }
        },
        submitHandler: function(form) {
            var dataObj = {
                            For:'Reply_Review',
                            parentId: '<?php echo $this->parentId;?>',
                            fromId: '<?php echo $auth_id;?>',
                            fromType: '<?php echo $user_type;?>',
                            toId: '<?php echo $this->toUserId;?>',
                            review: $('#replyReviewTxtArea').val()
                            };
            $('#repReviewErr').html('');
            $.ajax({
                    method     : 'post',
                    url        : site_url+'business/reviews/replyreview2',
                    success    : function(result) {
                        var data = $.parseJSON(result);
                        // if any error occured
                        if(data['service_status'] === 'error'){
                            $('#error_reviewDiv').html(data['message']);
                            return false;
                        }
                            
                        // if no err's
                        $('#replyReviewTxtArea').html('')
                        if(data['service_status'] ==='success') {
                            $.fancybox.close();
                            if($('.noReviewsAvailable').length === 1)
                                $('#reviewDiv').html($(data['content']).fadeIn('slow'));
                            else {
                                    if($('#tab_row<?php echo $this->parentId;?>').children().hasClass('child_level')){
                                        $('#tab_row<?php echo $this->parentId;?>').children(".child_level").remove();
                                    }
                                    if($('#tab_row<?php echo $this->parentId;?>').children().is('#viewReviewReplies<?php echo $this->parentId;?>')){
                                        $('#viewReviewReplies<?php echo $this->parentId;?>').hide();
                                        $('#hideReviewReplies<?php echo $this->parentId;?>').show();
                                    }
                                    $('#tab_row<?php echo $this->parentId;?>').append($(data['content']).fadeIn('slow'));
                                }
                        }
                    },
                    data: dataObj    
            });
        }
    });
</script>
<?php } ?>