<?php if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $userdata = $this->businessdata;
        $user = 'business';
        $user_type = "B";
    }

    if($this->userAuthVar == 1) {
        $user = 'normal';
        $userdata = $this->userdata;
        $auth_id = $this->userdata->user_id;
        $user_type = "U";
    }
?>
<div class="scribble_outer" id="replyScribbleContent">
    <form name="replyReviewForm" id="replyReviewForm" method="post" action="">
        <div class="scribble_title"><?php echo $this->translate("Reply Review.");?></div><div id="repReviewErr" class="scribErr"></div>
        <textarea class="scribble_box required" rows="5" cols="30" id="replyReviewTxtArea" style="width: 90%"></textarea>
        <div class="scribble_btn_otr"> 
            <a id="replyReviewBtn" class="pointer"><img src="<?=SITE_URL?>images/scribble_btn.png" width="100" height="31"></a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#replyReviewBtn').click(function(){
        $("#replyReviewForm").submit();
    });
    
    $("#replyReviewForm").validate({
        rules: {
            replyReviewTxtArea: {
                required:true,
                minlength: 1,
                maxlength: 150
            }
        },
        submitHandler: function(form) {
            var dataObj = {
                            For:'Post_Review',
                            parentId: '<?php echo $this->parentId;?>',
                            fromId: '<?php echo $auth_id;?>',
                            fromType: '<?php echo $user_type;?>',
                            toId: '<?php echo $this->toUserId;?>',
                            review: $('#replyReviewTxtArea').val()
                            };
            $('#repReviewErr').html('');
            $.ajax({
                    method     : 'post',
                    url        : site_url+'business/reviews/replyreview2',
                    success    : function(result) {
                        var data = $.parseJSON(result);
                        $('#replyReviewTxtArea').html('')
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            if($('.noLevelScribblesAvailable').length == 1)
                                $('#reviewDiv').html($(data['content']).fadeIn('slow'));
                            else
                                $('#reviewDiv').prepend($(data['content']).fadeIn('slow'));
                            $('#replyScribbleContent').html('<div style="min-height:100px; padding-top:50px;color:#FF0000;" align="center">Posted Successfully.</div>')
                        } else {
                            $('#repReviewErr').html(data['content']);
                            return false;
                            }
                    },
                    data: dataObj    
            });
        }
    });
</script>