<?php //echo $this->inlineScript()->appendFile($this->baseUrl('js/ajaxupload.js'));
//echo '<pre>';print_r($this->userdata);print_r($this->schools);print_r($this->colleges);print_r($this->workplaces);exit;
?>
<link href="<?=SITE_URL?>css/calendar.css" rel="stylesheet" type="text/css" >
<script type="text/javascript" lang="javascript" src="<?=SITE_URL?>js/jquery-ui-datepicker.min.js"></script>
<div id="AccountSetting">
    <div style="width:744px; height:45px;">
        <div class="act_title"><?php echo $this->translate('Account Settings');?></div>
        <div class="act_title_img"></div>
    </div>
    <div class="act_body">
        <div id="errmsg" style="text-align: center;height: 15px; color: red; font-size: 12px;"></div>
        <div class="act_s_con">
            <ul>
                <li class="selectedtabs"><a href="javascript:void(0);" id="acgeneral"><?php echo $this->translate('General');?></a></li>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="acprofilepicedit"><?php echo $this->translate('Profile Picture Edit');?></a></li>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="acsettings"><?php echo $this->translate('Settings');?></a></li>
                <!--<li class="unselectedtabs"><a href="javascript:void(0);" id="acstatus"><?//php echo $this->translate('Status');?></a></li>-->
                <li class="unselectedtabs"><a href="javascript:void(0);" id="acpwd"><?php echo $this->translate('Change Password');?></a></li>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="payment"><?php echo $this->translate('Payment');?></a></li>
            </ul>
        </div>
        <!--For Account General Settings Edit-->
        <div id="account_general">
            <div class="act_fcon">
                <div class="act_ftitle"><?php echo $this->translate('General');?></div>
                <div class="act_fbox">
                    <table width="466" border="0" cellpadding="12" cellspacing="0" class="text_styl">
                        <input type="hidden" name="userid" id="userid" value="<?php echo $this->userdata->user_id;?>">
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('First Name');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><input class="text_box" type="text" name="firstname" id="firstname" value="<?php echo $this->userdata->firstname; ?>"></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Last Name');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><input class="text_box" type="text" name="lastname" id="lastname" value="<?php echo $this->userdata->lastname; ?>"></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Email');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><input class="text_box" type="text" name="email" id="email" value="<?php echo $this->userdata->email; ?>"></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Gender');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="20" align="center" valign="middle"><input name="gender" id="gender" type="radio" value="M" <?php if($this->userdata->gender=='M'){ echo 'checked'; } ?> /></td>
                                        <td width="35" align="left" valign="middle" class="text_styl"><?php echo $this->translate('Male');?></td>
                                        <td width="20" align="center" valign="middle"><input name="gender" id="gender" type="radio" value="F" <?php if($this->userdata->gender=='F'){ echo 'checked'; } ?>/></td>
                                        <td width="35" align="left" valign="middle" class="text_styl"><?php echo $this->translate('Female');?></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('DOB');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <input class="text_box2" type="text" name="dob" id="dob" value="<?php echo $this->userdata->dob;?>">
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Country');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><div class=""><!-- styled-select -->
                            <select  class="text_box2 tab_txt_fld_select required" name="country" id="country" onChange="fngetstates($(this).val());">
                                <option value=""><?php echo $this->translate('Select Country');?></option>
                                <?php if($this->countries!='') {
                                    foreach($this->countries as $row) {
                                        if($this->userdata->country == $row['id']) { ?>
                                            <option value="<?php echo $row['id']; ?>" selected="selected"><?php echo $row['country_name']; ?></option>
                                        <?php } else { ?>
                                            <option value="<?php echo $row['id']; ?>" ><?php echo $row['country_name']; ?></option>
                                        <?php }
                                    }
                                } ?>
                            </select>
                            </div></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('State');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <div class="" id="divstate"><!-- styled-select -->
                                    <select class="text_box2 tab_txt_fld_select required" name="state" id="state" onChange="fngetcities($(this).val());" >
                                        <option value="">---<?=$this->translate('Select State')?>---</option>
                                        <?php if(!empty($this->states)) { ?>
                                            <?php for($i=0;$i<count($this->states);$i++) {
                                                $state = ($this->userdata->state == $this->states[$i]['id'])?'selected':"";
                                            ?>
                                            <option value="<?=$this->states[$i]['id']?>" <?=$state?>><?=$this->states[$i]['state_name']?></option>
                                            <?php } ?>
                                        <?php } ?>
                                    </select>
                                </div>
                            </td>
                            <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><!--<span class="act_fields" style="margin-top:30px;">-->
                            <label class="act_fieldslabel"><?php echo $this->translate('City');?></label></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
<!--                        <td width="220" align="left" valign="middle"><input class="text_box2" type="text" name="city" id="city" value="<?php echo $this->userdata->city; ?>"></td>-->
                            <td width="220" align="left" valign="middle"><div class="" id="divcity"><!-- styled-select -->
                                <select class="text_box2 tab_txt_fld_select required" name="city" id="city" onChange="fngetzipcodes($(this).val());">
                                    <option value="">---<?=$this->translate('Select City')?>---</option>
                                    <?php if(!empty($this->cities)) { ?>
                                        <?php for($i=0;$i<count($this->cities);$i++) {
                                            $city = ($this->userdata->city == $this->cities[$i]['id'])?'selected':"";
                                        ?>
                                        <option value="<?=$this->cities[$i]['id']?>" <?=$city?>><?=$this->cities[$i]['city_name']?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>
                            </div></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Zipcode');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
<!--                        <td width="220" align="left" valign="middle"><input class="text_box2" type="text" name="zipcode" id="zipcode" value="<?php echo $this->userdata->zipcode; ?>"></td>-->
                            <td width="220" align="left" valign="middle">
                                <div class="" id="divcity"><!-- styled-select -->
                                    <select name="zipcode" id="zipcode" class="text_box2 tab_txt_fld_select required">
                                        <option value="">---<?=$this->translate('Select Zipcode')?>---</option>
                                        <?php if(!empty($this->zipcode)) { ?>
                                            <?php for($i=0;$i<count($this->zipcode);$i++) {
                                                $zipcode = ($this->userdata->zipcode == $this->zipcode[$i]['id'])?'selected':"";
                                            ?>
                                            <option value="<?=$this->zipcode[$i]['id']?>" <?php echo $zipcode; ?>><?=$this->zipcode[$i]['zipcode']?></option>
                                            <?php } ?>
                                        <?php } ?>
                                    </select>
                                </div>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Address 1');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <input class="text_box2" type="text" name="address_line_1" id="address_line_1" value="<?php echo $this->userdata->address_line_1;?>">
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Address 2');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <input class="text_box2" type="text" name="address_line_2" id="address_line_2" value="<?php echo $this->userdata->address_line_2;?>">
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('High School');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
<!--                            <input class="text_box2" type="text" name="highschool" id="highschool" value="<?php echo $this->userdata->high_school_info;?>">-->
                                <select class="text_box2 tab_txt_fld_select required" name="highschool" id="highschool" >
                                    <option value="">---<?php echo $this->translate('Select High School'); ?>---</option>
                                    <?php if(!empty($this->schools)) {
                                        for($i=0;$i<count($this->schools);$i++) {
                                        $schools = ($this->userdata->high_school_info == $this->schools[$i]['school_id'])?'selected':"";?>
                                        <option value="<?=$this->schools[$i]['school_id']?>" <?php echo $schools; ?>><?php echo $this->schools[$i]['school_name']; ?></option>
                                    <?php } } ?>
                                </select>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('College/University');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
<!--                            <input class="text_box2" type="text" name="college" id="college" value="<?php echo $this->userdata->college_info;?>">-->
                                <select class="text_box2 tab_txt_fld_select required" name="college" id="college" >
                                    <option value="">---<?php echo $this->translate('Select College'); ?>---</option>
                                    <?php if(!empty($this->colleges)) {
                                        for($i=0;$i<count($this->colleges);$i++) {
                                        $colleges = ($this->userdata->college_info == $this->colleges[$i]['college_id'])?'selected':"";?>
                                        <option value="<?=$this->colleges[$i]['college_id']?>" <?php echo $colleges; ?>><?php echo $this->colleges[$i]['college_name']; ?></option>
                                    <?php } } ?>
                                </select>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Employer Info');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
<!--                            <input class="text_box2" type="text" name="employer_info" id="employer_info" value="<?php echo $this->userdata->employer_info;?>">-->
                                <select class="text_box2 tab_txt_fld_select required" name="employer_info" id="employer_info" >
                                    <option value="">---<?php echo $this->translate('Select Work Place'); ?>---</option>
                                    <?php for($i=0;$i<count($this->workplaces);$i++) {
                                        $workplaces = ($this->userdata->employer_info == $this->workplaces[$i]['work_place_id'])?'selected':"";?>
                                        <option value="<?=$this->workplaces[$i]['work_place_id']?>" <?php echo $workplaces; ?>><?php echo $this->workplaces[$i]['work_place_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
<!--                    <tr>
                            <td align="right" valign="middle">Work Place</td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><div class="styled-select">
                                <select name="employer" id="employer" class="text_box2">
                                    <option value="0" selected>Haven't gone yet</option>
                                    <?php //if($workplacelist!=''){ foreach($workplacelist as $row){ if($userDetails[0]['employer_info'] == $row['work_place_id']){ ?>
                                        <option value="<?php //echo $row['work_place_id']; ?>"><?php //echo $row['work_place_name']; ?></option>
                                        <?php //}else{ ?>
                                            <option value="<?php //echo $row['work_place_id']; ?>"><?php //echo $row['work_place_name']; ?></option>
                                        <?php //} } } ?>
                                </select></div>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>-->
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('Mobile No');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle"><input class="text_box" type="text" name="mobileno" id="mobileno" value="<?php echo $this->userdata->mobile_no; ?>"></td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" valign="middle"><?php echo $this->translate('About me');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">
                                <!--<input type="text" name="aboutme" id="aboutme" maxlength="200" style="margin-bottom: 10px; margin-top: 50px; width: 250px; height: 50px;" value="<?php //echo $userDetails[0]['description']; ?>">-->
                                <textarea name="aboutme" id="aboutme" cols="35" rows="4" maxlength="200" style="width:300px; height: 200px;"><?php echo $this->userdata->description;?></textarea>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="act_fields btndiv">
                        <input class="act_fieldsinput btnwidth" type="submit" name="submit" value="Save" onClick="$().formsave();" >
                        <input class="act_fieldsinput btnwidth" type="reset" name="reset" value="Cancel" onClick="$().reset();" >
                    </div>
                </div>
            </div>
        </div>
        <!--For Account Profile Picture Edit-->
        <div id="account_profilepicedit" style="display: none;">
            <div class="act_fcon">
                <div class="act_ftitle"><?php echo $this->translate('Profile Picture Edit');?></div>
                <div class="act_fbox" style="height:150px;">
                    <table width="466" border="0" cellpadding="12" cellspacing="0" class="text_styl">
                        <input type="hidden" name="userid" id="userid" value="<?php echo $this->userdata->user_id;?>">
                        <tr>
                            <td><?php echo $this->form; ?></td>
                        </tr>
                    </table>
                    <div class="act_fields dtndiv">
                        <input class="act_fieldsinput btnwidth" type="submit" name="submit" value="Save" onclick="$().savemyphoto();">
                        <input class="act_fieldsinput btnwidth " type="reset" name="reset" value="Cancel" onclick="$().reset();">
                    </div>
                </div>
            </div>
        </div>
        <!--For Account Settings-->
        <div id="account_setting" style="display: none;">
            <div class="act_fcon">
                <input type="hidden" name="userid" id="userid" value="<?php echo $this->userdata->user_id;?>">
                <div class="act_ftitle"><?php echo $this->translate('Settings');?></div>
                    <div class="act_fbox">
                        <div class="acts_fields" style="margin-top:20px;">
                            <div style="float: left;width: 70px;">
                            <label><?php echo $this->translate('Language').' :';?></label>
                            </div>
                            <div class="" style="float: left; height: 33px;margin-right: 10px;"><!-- styled-selected -->
                                <select name="language" id="language" class="text_box2 tab_txt_fld_select1" onchange="changeLangageOption()">
                                    <?php if(!empty($this->languages)) { ?>
                                        <?php for($i=0;$i<count($this->languages);$i++) {
                                            $languages = ($this->userdata->user_language == $this->languages[$i]['language_code'])?'selected':"";
                                        ?>
                                        <option value="<?=$this->languages[$i]['language_code']?>" <?=$languages?>>><?=$this->languages[$i]['language_name']?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>
                            </div>
                            <div style="float: left; width: 70px;">
                            <label><?php echo $this->translate('Time Zone').': ';?> </label>
                            </div>
                            <div class="" style="float: left; height: 33px;margin-right: 10px;"><!-- styled-selected -->
                                <select name="timezone" id="timezone" class="text_box2 tab_txt_fld_select1" onchange="changeTimezoneOption()">
                                    <?php if(!empty($this->timezones)) { ?>
                                        <?php for($i=0;$i<count($this->timezones);$i++) {
                                            $timezones = ($this->userdata->user_timezone == $this->timezones[$i]['timezone'])?'selected':"";
                                        ?>
                                        <option value="<?=$this->timezones[$i]['timezone']?>" <?=$timezones?>><?=$this->timezones[$i]['timezone']?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="acts_btnc">
                            <?php echo $this->translate('privacy');?><input type="checkbox" name="privacy" id="privacy" value="P"<?php if($this->userdata->privacy =='P') echo 'checked';?> onclick="$().checkprivacy(this.value);">
                            <?php echo $this->translate('LPS Location');?><input type="checkbox" name="location" id="location" value="E"<?php if($this->userdata->location =='E') echo 'checked'; ?> onclick="$().checklocation(this.value);">
                        </div>
                        <!--<div class="acts_btnc">
                            <button class="act_btn" style="float:left;">privacy <div style="width:13px; height:13px; background:#FFF; float:right; margin:0 20px 0 0;"></div></button>
                            <button class="act_btn" style="float:left; margin:0 0 0 10px;">LPS Location <div style="width:13px; height:13px; background:#FFF; float:right; margin:0 0px 0 0;"></div></button>
                        </div>-->
                        <div class="acts_btntxt">
                            <span><?php echo $this->translate('Protect my Scribbles');?></span>
                            <span style="margin:0 0 0 40px;"><?php echo $this->translate('Enable my Scribble Location');?></span>
                        </div>
                        <div class="acts_bott_btn">
                            <span><?php echo $this->translate('Want a break').' ? '.$this->translate('Click disable').'.';?></span>&nbsp;
                            <button class="acts_bott_btn_butt" onclick="$().deactive();" ><?php echo $this->translate('disable');?></button>
                        </div>
                    </div>
            </div>
        </div>
        <!--For Account Status-->
        <!--<div id="account_status" style="display: none;">
            <div class="act_fcon">
                <div class="act_ftitle"><?//php echo $this->translate('Status');?></div>
                <div class="act_fbox" style="height:150px;">
                    <table width="466" border="0" cellpadding="12" cellspacing="0" class="text_styl">
                        <input type="hidden" name="userid" id="userid" value="<?//php echo $this->userdata->user_id;?>">
                        <tr>
                            <td align="right" valign="middle"><?//php echo $this->translate('About me');?></td>
                            <td width="20" align="center" valign="middle" class="text_styl">:</td>
                            <td width="220" align="left" valign="middle">-->
                                <!--<input type="text" name="aboutme" id="aboutme" maxlength="200" style="margin-bottom: 10px; margin-top: 50px; width: 250px; height: 50px;" value="<?php //echo $userDetails[0]['description']; ?>">-->
                                <!-- <textarea name="aboutme" id="aboutme" cols="35" rows="4" maxlength="200" style="width:300px; height: 200px;"><?//php echo $this->userdata->description;?></textarea>
                            </td>
                            <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="act_fields" style="margin-left: 100px;margin-top:0px;">
                        <input class="act_fieldsinput" type="submit" name="submit" value="Save" style="width: 150px;" onclick="$().savemystatus();">
                        <input class="act_fieldsinput" type="reset" name="reset" value="Cancel" onclick="$().reset();" style="width: 150px;">
                    </div>
                </div>
            </div>
        </div>-->
        <!--For Account Password-->
        <div id="account_password" style="display: none;">
            <div class="act_fcon">
                <div class="act_ftitle"><?php echo $this->translate('Change Password');?></div>
                <div class="act_fbox">
                    <div style="width: 100%; height: 20px;text-align: center;" id="changepwderr"></div>
                    <table width="466" border="0" cellpadding="12" cellspacing="0" class="text_styl">
                        <input type="hidden" name="userid" id="userid" value="<?php echo $this->userdata->user_id;?>">
                        <tr>
                        <td align="right" valign="middle"><?php echo $this->translate('Old Password');?></td>
                        <td width="20" align="center" valign="middle" class="text_styl">:</td>
                        <td width="220" align="left" valign="middle">
                            <input type="password" name="oldpwd" id="oldpwd" maxlength="200" style="width: 250px;" value="">
                        </td>
                        <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                        <td align="right" valign="middle"><?php echo $this->translate('New Password');?></td>
                        <td width="20" align="center" valign="middle" class="text_styl">:</td>
                        <td width="220" align="left" valign="middle">
                            <input type="password" name="newpwd" id="newpwd" maxlength="200" style="width: 250px;" value="">
                        </td>
                        <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                        <td align="right" valign="middle"><?php echo $this->translate('Confirm Password');?></td>
                        <td width="20" align="center" valign="middle" class="text_styl">:</td>
                        <td width="220" align="left" valign="middle">
                            <input type="password" name="confirm" id="confirm" maxlength="200" style="width: 250px;" value="">
                        </td>
                        <td width="20" align="left" valign="middle">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="act_fields btndiv1">
                        <input class="act_fieldsinput btnwidth" type="submit" name="submit" value="Save" onclick="$().savenewpassword();">
                        <input class="act_fieldsinput btnwidth" type="reset" name="reset" value="Cancel" onclick="$().reset();">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" lang="javascript">
    $("#acgeneral").click(function() {
        $('#account_general').show();
        $('#account_profilepicedit').hide();
        $('#account_setting').hide();
        $('#account_status').hide();
        $('#account_password').hide();
        $('.MEP_container').css('height', '555px');
        $('.act_fbox').css('height','475px');
        $('.act_s_con li:first-child').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(4)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(5)').removeClass('selectedtabs').addClass('unselectedtabs');

    });
    $("#acprofilepicedit").click(function() {
        $('#account_general').hide();
        $('#account_profilepicedit').show();
        $('#account_setting').hide();
        $('#account_status').hide();
        $('#account_password').hide();
        $('.MEP_container').css('height', '555px');
        $('.act_fbox').css('height','475px');
        $('.act_s_con li:first-child').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(4)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(5)').removeClass('selectedtabs').addClass('unselectedtabs');
    });
    $("#acsettings").click(function() {
        $('#account_general').hide();
        $('#account_profilepicedit').hide();
        $('#account_setting').show();
        $('#account_status').hide();
        $('#account_password').hide();
        $('.MEP_container').css('height', '400px');
        $('.act_fbox').css('height','300px');
        $('.act_s_con li:first-child').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(4)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(5)').removeClass('selectedtabs').addClass('unselectedtabs');
    });
    $("#acstatus").click(function() {
        $('#account_general').hide();
        $('#account_profilepicedit').hide();
        $('#account_setting').hide();
        $('#account_status').show();
        $('#account_password').hide();
        $('.MEP_container').css('height', '400px');
        $('.act_fbox').css('height','300px');
        $('.act_s_con li:first-child').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(4)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(5)').removeClass('unselectedtabs').addClass('selectedtabs');
    });
    $("#acpwd").click(function() {
        $('#account_general').hide();
        $('#account_profilepicedit').hide();
        $('#account_setting').hide();
        $('#account_status').hide();
        $('#account_password').show();
        $('.MEP_container').css('height', '400px');
        $('.act_fbox').css('height','300px');
        $('.act_s_con li:first-child').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(4)').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(5)').removeClass('selectedtabs').addClass('unselectedtabs');
    });
    $(document).ready(function() {
        /*$("#dob").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '-90: -20'
        });*/
        $.fn.formreset = function() {
            $('#firstname').val("<?php echo $this->userdata->firstname; ?>");
            $('#lastname').val("<?php echo $this->userdata->lastname; ?>");
            $('#email').val("<?php echo $this->userdata->email; ?>");
            $('#gender').val("<?php echo $this->userdata->gender; ?>");
            $('#country').val("<?php echo $this->userdata->country; ?>");
            $('#state').val("<?php echo $this->userdata->state; ?>");
            $('#city').val("<?php echo $this->userdata->city; ?>");
            $('#zipcode').val("<?php echo $this->userdata->zipcode; ?>");
            $('#highschool').val("<?php if($this->userdata->high_school_info!='0') echo $this->userdata->high_school_info; else echo ''; ?>");
            $('#college').val("<?php if($this->userdata->college_info!='0') echo $this->userdata->college_info; else echo ''; ?>");
            $('#employer_info').val("<?php if($this->userdata->employer_info!='0') echo $this->userdata->employer_info; else echo ''; ?>");
            $('#mobileno').val("<?php echo $this->userdata->mobile_no; ?>");
            $('#aboutme').val("<?php echo $this->userdata->description; ?>");
            $('#address_line_1').val("<?php echo $this->userdata->address_line_1; ?>");
            $('#address_line_2').val("<?php echo $this->userdata->address_line_2; ?>");
            $('#dob').val("<?php echo $this->userdata->dob; ?>");
        }
        $.fn.formsave = function() {
            var userid = $('#userid').val();
            var country = $('#country').val();
            var state = $('#state').val();
            var city = $('#city').val();
            var zipcode = $('#zipcode').val();
            var highschool = $('#highschool').val();
            var college = $('#college').val();
            var employer_info = $('#employer_info').val();
            var mobileno = $('#mobileno').val();
            var firstname = $('#firstname').val();
            var lastname = $('#lastname').val();
            var email = $('#email').val();
            var gender = $('input[name=gender]:checked').val();
            var status = $('#aboutme').val();
            var address_line_1 = $('#address_line_1').val();
            var address_line_2 = $('#address_line_2').val();
            var dob = $('#dob').val();

            if(country !='' && state !='' && city !='' && highschool !='' && college !='' && mobileno !='' && firstname !='' && email !='' && gender !='') {
                var datastring = "user_id="+userid+"&country="+country+"&state="+state+"&city="+city+"&high_school_info="+highschool+"&college_info="+college+"&employer_info="+employer_info
                    +"&mobile_no="+mobileno+"&firstname="+firstname+"&lastname="+lastname+"&email="+email+"&gender="+gender+ "&zipcode="+zipcode+"&description="+status+"&address_line_1="+address_line_1+"&address_line_2="+address_line_2+"&dob="+dob;
                $.ajax({
                    type: "POST",
                    url: site_url+"user/updateuserdetails",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/userprofile';
                        } else {
                            $('#errmsg').html(data["error_msg"]);
                            //setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });
            } else {
                $('#errmsg').html("<?php echo $this->translate('All the fields are mandatory');?>");
                return false;
            }
        }
        $.fn.savemyphoto = function() {
            //var userid = $('#userid').val();
            //var datastring = "user_id="+userid;
            var options = {
                url: site_url+'user/accountsettings',
                success: function (html) {
                    if(html == 'success') {
                        $.fancybox.close();
                        window.location =  site_url+'user/userprofile';
                    } else {
                        $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                        //setTimeout("$('#errmsg').html('')", 7000);
                        return false;
                    }
                }  // post-submit callback
            };
            $('#profileUploadForm').ajaxSubmit(options);
            /*$.ajax({
                type: "POST",
                url: site_url+"user/accountsettings",
                data:datastring,
                cache: false,
                success: function(result) {alert(result);return false;
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/userprofile';
                        } else {
                            $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                            setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });*/
        }
        $.fn.reset = function() {
            $.fancybox.close();
        }
        $.fn.savemystatus = function() {
            var userid = $('#userid').val();
            var status = $('#aboutme').val();
            var datastring = "user_id="+userid+"&description="+status;
            $.ajax({
                type: "POST",
                url: site_url+"user/updateuserdescription",
                data:datastring,
                cache: false,
                success: function(result) {
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/userprofile';
                        } else {
                            $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                            //setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });
        }
        $.fn.savenewpassword = function() {
            var userid = $('#userid').val();
            var oldpwd = $('#oldpwd').val();
            var newpwd = $('#newpwd').val();
            var confirm = $('#confirm').val();
            if(newpwd != '' && confirm != '' && oldpwd != '') {
                if(newpwd.length>=6) {
                    if(newpwd == confirm) {
                        var datastring = "user_id="+userid+"&oldpwd="+oldpwd+"&newpwd="+newpwd+"&confirmpwd="+confirm;
                        $.ajax({
                            type: "POST",
                            url: site_url+"user/updateuserpassword",
                            data:datastring,
                            cache: false,
                            success: function(result) {
                                    var data = $.parseJSON(result);
                                    if(data['service_status'] =='success') {
                                        $.fancybox.close();
                                        window.location =  site_url+'user/userprofile';
                                    }
                                    if(data['service_status'] == 'error') {
                                            $('#errmsg').html(data['error_msg']);
                                            setTimeout("$('#errmsg').html('')", 7000);
                                            $('#oldpwd').removeClass('invalid');
                                            $('#newpwd').removeClass('invalid');
                                            $('#confirm').removeClass('invalid');
                                            return false;
                                    }/*else {
                                        $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                                        setTimeout("$('#errmsg').html('')", 7000);
                                        return false;
                                    }*/
                                }
                            });
                    } else {
                        $('#errmsg').html('<font color="red"><?php echo $this->translate('New Password and Confirm Password are miss match').'!';?></font>');
                        setTimeout("$('#errmsg').html('')", 7000);
                    }
                } else { $('#errmsg').html('<font color="red"><?php echo $this->translate('The password should be six or more characters long.');?></font>');
                    setTimeout("$('#errmsg').html('')", 7000);
                }
            } else {
                $('#errmsg').html('<font color="red"><?php echo $this->translate('All fields are mandatory');?></font>');
                if($('#oldpwd').val() == '' && $('#newpwd').val() == '' && $('#confirm').val() == '') {
                    $('#oldpwd').addClass('invalid');
                    $('#newpwd').addClass('invalid');
                    $('#confirm').addClass('invalid');
                } else if(($('#newpwd').val() == '' && $('#confirm').val() == '') && $('#oldpwd').val() != '') {
                    $('#newpwd').addClass('invalid');
                    $('#confirm').addClass('invalid');
                    $('#oldpwd').removeClass('invalid');
                } else if(($('#newpwd').val() == '' && $('#oldpwd').val() == '') && $('#confirm').val() != '') {
                    $('#newpwd').addClass('invalid');
                    $('#oldpwd').addClass('invalid');
                    $('#confirm').removeClass('invalid');
                } else if(($('#confirm').val() == '' && $('#oldpwd').val() == '') && $('#newpwd').val() != '') {
                    $('#confirm').addClass('invalid');
                    $('#oldpwd').addClass('invalid');
                    $('#newpwd').removeClass('invalid');
                } else if(($('#oldpwd').val() == '') && ($('#newpwd').val() != '' && $('#newpwd').val() != '')) {
                    $('#oldpwd').addClass('invalid');
                    $('#confirm').removeClass('invalid');
                    $('#newpwd').removeClass('invalid');
                } else if(($('#newpwd').val() == '') && ($('#confirm').val() != '' && $('#oldpwd').val() != '')) {
                    $('#newpwd').addClass('invalid');
                    $('#confirm').removeClass('invalid');
                    $('#oldpwd').removeClass('invalid');
                } else if(($('#confirm').val() == '') && ($('#oldpwd').val() != '' && $('#newpwd').val() != '')) {
                    $('#confirm').addClass('invalid');
                    $('#oldpwd').removeClass('invalid');
                    $('#newpwd').removeClass('invalid');
                }
                setTimeout("$('#errmsg').html('')", 7000);
            }
        }
        $.fn.checkprivacy = function() {
            if($('#privacy').is(':checked')) {
                var userid = $('#userid').val();
                var privacy = $('#privacy').val();
                var datastring = "user_id="+userid+"&privacy="+privacy;
                v.ajax({
                    type: "POST",
                    url: site_url+"user/updateuserprivacy",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                            var data = $.parseJSON(result);
                            if(data['service_status'] =='success') {
                                $.fancybox.close();
                                window.location =  site_url+'user/userprofile';
                            } else {
                                $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                                setTimeout("$('#errmsg').html('')", 7000);
                                return false;
                            }
                        }
                    });
            } else {
                var userid = $('#userid').val();
                var privacy = '0';
                var datastring = "user_id="+userid+"&privacy="+privacy;
                $.ajax({
                    type: "POST",
                    url: site_url+"user/updateuserprivacy",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                            var data = $.parseJSON(result);
                            if(data['service_status'] =='success') {
                                $.fancybox.close();
                                window.location =  site_url+'user/userprofile';
                            } else {
                                $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                                setTimeout("$('#errmsg').html('')", 7000);
                                return false;
                            }
                        }
                    });
            }
        }
        $.fn.checklocation = function() {
            if($('#location').is(':checked')) {
                var userid = $('#userid').val();
                var location = $('#location').val();
                var datastring = "user_id="+userid+"&location="+location;
                $.ajax({
                    type: "POST",
                    url: site_url+"user/updateuserlocation",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/userprofile';
                        } else {
                            $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                            setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });
            } else {
                var userid = $('#userid').val();
                var location = '0';
                var datastring = "user_id="+userid+"&location="+location;
                $.ajax({
                    type: "POST",
                    url: site_url+"user/updateuserlocation",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/userprofile';
                        } else {
                            $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                            setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });
            }
        }
        $.fn.deactive = function() {
            var userid = $('#userid').val();
            var status = 'D';
            var datastring = "user_id="+userid+"&user_account_status="+status;
            jConfirm('Can you confirm this?','',function(r){if(r==true) {
                $.ajax({
                    type: "POST",
                    url: site_url+"user/statusdisable",
                    data:datastring,
                    cache: false,
                    success: function(result) {
                        var data = $.parseJSON(result);
                        if(data['service_status'] =='success') {
                            $.fancybox.close();
                            window.location =  site_url+'user/logout';
                        } else {
                            $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                            setTimeout("$('#errmsg').html('')", 7000);
                            return false;
                        }
                    }
                });
            }});
        }
    });
</script>
