<div style="min-height: 300px;">
    <div style="text-align:center; color: #676767; margin-top: 230px;">
        <?php 
        if($this->error == "0"){
            echo $this->translate("You have successfully verified your email").".";
        } else {
            echo $this->translate("Error in verifying your email. Please Try Again!!!").".";
        }
        ?></div>
</div>