<?php //echo '<Pre>';print_r($this->userDetAry['user_level']);exit;
    $request = Zend_Controller_Front::getInstance()->getRequest();
    if(Zend_Registry::isRegistered('userdata')) {
        $userdata = Zend_Registry::get('userdata');
        $user_type = "U";
    }
    if(isset($this->userdata->user_type) && ($this->userdata->user_type == "B"))
       $viewuser_type = "B";
    else
       $viewuser_type = "U";
    $to_ID  = $this->userdata->user_id;
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<section>
    <div id="wrapper">
        <div class="left_column">
            <?php if($request->getParam('user_id') == '') { ?>
                 <div class="at_left_frow">
                        <a href="<?php echo SITE_URL.'user/search/top_popular_people';?>" style="text-decoration: none;"><div class="at_left_frow_ppl"></div></a>
                        <a href="<?php echo SITE_URL.'user/search/top_popular_business';?>" style="text-decoration: none;"><div class="at_left_frow_bns"></div></a>
                        <a href="#" style="text-decoration: none;"><div class="at_left_frow_evt"></div></a>
                        <div class="at_left_frow_pop">
                            <?php echo $this->translate("Popular")?><br>
                            <a href="<?php echo SITE_URL; ?>user/popularcolleges" style="text-decoration: none; color: #3D464C;"><span><?php echo $this->translate("College/University"); ?></span>:  <?php echo ucwords(substr($this->college['college_name'], 0, 44)); ?></a><br>
                            <a href="<?php echo SITE_URL; ?>user/popularschools" style="text-decoration: none; color: #3D464C;"><span><?php echo $this->translate("High School"); ?></span>: <?php echo ucwords(substr($this->school['school_name'], 0, 44)); ?></a><br>
                            <a href="<?php echo SITE_URL; ?>user/popularworkplaces" style="text-decoration: none; color: #3D464C;"><span><?php echo $this->translate("Workplace"); ?></span>: <?php echo ucwords(substr($this->workplace['work_place_name'], 0, 44)); ?></a>
                        </div>
                </div>
            <?php } ?>
            <div class="clr"></div>
            <div class="scribble_outer">
                <form name="postScribbleForm" id="postScribbleForm" method="post" action="">
                    <input type="hidden" name="user_level" id="user_level" value="0">
                    <div class="scribble_title"><?php echo $this->translate("Scribble Something.");?></div>
                    <div id="ScribErr" class="scribErr"></div><br /><br />
                    <textarea class="scribble_box emojis-wysiwyg required" rows="5" id="scribbleTxtArea"></textarea>
                    <!-- <div contenteditable="true" class="scribble_box required" rows="5" id="scribbleTxtArea"></div>-->
                    <div class="scribble_points">
                        <span style="color:#000000;float:left;" id="coolPointDiv"><?php echo $this->coolPoints;?></span>
                        <span style="float:left; padding-left: 5px;"><?php echo $this->translate("COOL POINTS");?></span>
                    </div>
                    <div class="scribble_btn_otr">
                        <div class="smileys"></div>
                        <a class="pointer" <?php if($this->userDetAry['user_level'] > 1){ ?>id="showUsrLvlId"<?php } ?> ><img src="<?=SITE_URL?>images/uparrow.png" width="21" height="31"></a>
                        <img class="emoticons" style="cursor:pointer;" src="<?=SITE_URL?>images/emoticons/smile.png">                
                        <a id="postScribbleBtn" class="pointer"><img src="<?=SITE_URL?>images/scribble_btn.png" width="100" height="31"></a>
                        <a id="postScribbleBtnLoading" style="display: none; color:#FF0000; margin: 10px 0 0 15px; float: left;" class="pointer">Please Wait...</a>
                        <div class="popup_scrible" style="display: none;" id="usrLevels">
                            <ul>
                                <li class="pop_up_txt" onclick="setUsrLvl('0')" style="cursor: pointer;"><?php echo "All";?></li>
                                <li class="pop_up_txt" onclick="setUsrLvl('<?php echo $this->userDetAry['user_level']; ?>')" style="cursor: pointer;"><?php echo $this->userlevelAry->level_name; ?></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clr"></div>
            <div id="TabbedPanels1" class="TabbedPanels">
                <?php 
                        echo $this->action('scribbledashboard','index', 'scribbles',array('user_id'=>$request->getParam('user_id')));
                    ?>
            </div>
        </div>
        <!-----RIGHT COLUMN STARTS---->
        <?php echo $this->action('profilerightbar','index', 'user',array('user_id'=>$request->getParam('user_id')));?>
    </div>
</section>
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");

    // to set User Level
    function setUsrLvl(level){
        $('#user_level').val(level);
        $('#usrLevels').toggle('slow');
    }

    $('#showUsrLvlId').click(function(){
        $('#usrLevels').toggle('slow');
    });

    $('#postScribbleBtn').click(function() {
        if($('#scribbleTxtArea').val() == '') {
            $('#ScribErr').html('Invalid scribble');
            return false;
        }
        if($('#scribbleTxtArea').val().length > 150) {
            $('#ScribErr').html('scribble limit exceeded');
            return false;
        }
        $("#postScribbleForm").submit();
    });

    $("#postScribbleForm").validate({
        rules: {
            scribbleTxtArea: {
                required:true,
                minlength: 1,
                maxlength: 150
            }
        },
        submitHandler: function(form) {
            var dataObj = {
                            fromId: '<?=$userdata->user_id?>',
                            fromType: '<?=$user_type?>',
                            toId: '<?=$to_ID?>',
                            scribble: $('#scribbleTxtArea').val(),
                            user_level: $('#user_level').val()
                        };
            $('#ScribErr').html('');
            $('#postScribbleBtn').hide();
            $('#postScribbleBtnLoading').show();
            $.ajax({
                method     : 'post',
                url        : site_url+'/scribbles/postscribbleweb',
                success    : function(result) {
                    //var data = $.parseJSON(result);
                    if(result !='error') {
                        $('#scribbleTxtArea').html('');
                        $('.emoji-wysiwyg-editor').html('');
                        if($('.noLevelScribblesAvailable').length == 1)
                            $('#level').html($(result).fadeIn('slow'));
                        else
                            $('#level').prepend($(result).fadeIn('slow'));
                        $('#user_level').val('0');
                        $('#postScribbleBtn').show();
                        $('#postScribbleBtnLoading').hide();
                        $('#scribbleTxtArea').val('');
                    } else {
                        $('#ScribErr').html(result);
                        $('#user_level').val('0');
                        $('#postScribbleBtn').show();
                        $('#postScribbleBtnLoading').hide();
                        $('#scribbleTxtArea').val('');
                        return false;
                    }
                },
                data: dataObj
            });
        }
    });
    
    //display emoticons
    /*$('.emoticons').click(function (){
        $('.smileys').toggle('slow');
    });
    $('.smileys li img').click(function (){
        var src = '<img src="'+$(this).attr('src')+'">';
        $('#scribbleTxtArea').val($('#scribbleTxtArea').val()+' '+src);
        $('.smileys').toggle();
    });*/
    //display editor to post scribble
    var $wysiwyg = $('.emojis-wysiwyg').emojiarea({wysiwyg: true});
    var $wysiwyg_value = $('#scribbleTxtArea');
    $wysiwyg.on('change', function() {
        $wysiwyg_value.text($(this).val());
    });
    $wysiwyg.trigger('change');
</script>