<div style=" font-weight:bold; margin-left:18px; margin-top:15px; font-size:25px; ">My Box</div>
<div style="margin-top: 25px;" class="MEP_body">
    <a id="account_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">
        <img width="160" border="0" height="162" onclick="" style="margin-left:19px;cursor:pointer;" title="Account Settings" alt="" class="" src="<?=SITE_URL?>public/images/ME_img1.png">
    </a>
    <a id="uppers_fancybox"  href="javascript:void(0);" title="" class="uppervarious fancybox.ajax" >
        <img width="160" border="0" height="162" onclick="" style="cursor:pointer;" title="Uppers" alt="" class="" src="<?=SITE_URL?>public/images/ME_img2.png" >
    </a>
    <a id="images" href="<?=SITE_URL?>user/media/photos" title="" class="">
        <img width="160" border="0" height="162" style="" title="My Photos" alt="" class="" src="<?=SITE_URL?>public/images/me_photo.png">
    </a>
    <a id="videos"  href="<?=SITE_URL?>user/media/videos" title="" class="">
        <img width="160" border="0" height="162" style="" title="My Videos" alt="" class="" src="<?=SITE_URL?>public/images/me_video.png">
    </a>
</div>
<script type="text/javascript">
$("#account_fancybox").click(function() {
    $("#account_fancybox").attr('href',site_url+"user/accountsettings");
    $.fancybox.close();
    $('.various1').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width	: '70%',
        height	: '80%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
$("#uppers_fancybox").click(function() {
    $("#uppers_fancybox").attr('href',site_url+"user/myuppers");
    $.fancybox.close();
    $('.uppervarious').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width	: '70%',
        height	: '80%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
</script>