<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css" />
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<div id="TabbedPanels1" class="TabbedPanels">
    <?php echo $this->render('index/user_signup_menu.phtml');?>
    <form name="user_find_friends_form" id="user_find_friends_form" method="post" action="" >
        <input type="hidden" name="uname" id="uname" value="<?php echo $this->username;?>" />
        <input type="hidden" name="pwd" id="pwd" value="<?php echo base64_encode($this->password);?>" />
        <div class="TabbedPanelsContentGroup">
        <!-------------------------------------------->   
            <div class="TabbedPanelsContent">
                <div class="tab_outer3">
                    <ul>    
                        <li>
                            <img src="<?=SITE_URL?>images/windows_live_icon.png" width="169" height="23"><br><br>
                            <div class="ttle" >Your E-mail Id:</div>
                            <input class="tab_txt_fld2" name="" type="text"><br>
                            <input name="" type="button" class="tab_button_style2" value="Find Friends">
                        </li>
                        
                        <li>
                            <img src="<?=SITE_URL?>images/yahoo_icon.png"> 
                            <span><a href="#">Find Friends</a></span>
                        </li>
                        
                        <li>
                            <img src="<?=SITE_URL?>/images/aol_icon.png"> 
                            <span><a href="#">Find Friends</a></span>
                        </li>
                        
                        <li>
                            <img src="<?=SITE_URL?>/images/gmail_icon.png"> 
                            <span><a href="#">Find Friends</a></span>
                        </li>
                        
                        <li>
                            <img src="<?=SITE_URL?>/images/other_email_icon.png" width="150" height="16"> <br><br>

                            <img src="<?=SITE_URL?>/images/facebook.png" width="164" height="33">&nbsp;&nbsp;<img src="<?=SITE_URL?>/images/twitter.png" width="164" height="33">&nbsp;&nbsp; <img src="<?=SITE_URL?>/images/linkedin_icon.png" width="86" height="23">
                        </li>
                        
                        <li> 
                            <input name="" type="button" class="tab_back_button" value="Back" id="backToHome">
                            <input name="" type="submit" class="tab_button_style" value="SAVE & CONTINUE" id="submitFindFriends">
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
    </div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#backToHome").click(function() {
        window.location.href =  site_url+'user/';
    });
    $("#submitFindFriends").click(function() {
        //window.location.href =  site_url+'user/signup';
        $('#user_find_friends_form').attr('action', site_url+'user/signup');
        $('#user_find_friends_form').submit();
    });
 });
</script>