<?php
    //echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
      //                      ->appendFile($this->baseUrl('js/jquery.validate.js'));
?>

<section>
    <div style="width: 400px; height: 150px;">
        <form name="userForgotPasswordForm" id="userForgotPasswordForm">
            <div style="margin-top: 5px;"><h2>Forgot Password</h2></div>
            <div class="clr" style="height: 10px;"></div>
            <div id="err_div" style="font-size:15px;color:#FF0000; text-align:center;padding-bottom:5px"></div>
            <div style="float: left;"><input type="text" placeholder="enter valid email id" size="11" value="" class="HM_txt_fld required" id="forgot_email" name="forgot_email"></div>
            <input type="submit" id="forgotPwdBtn" value="Submit" class="login_btn" style="margin-left: 5px; margin-top: 13px;">
            <div id="loadingDiv" style="color: #FF0000; margin-top: 15px; display: none;">Checking...</div>
        </form>
    </div>
</section>
<script type="text/javascript" lang="javascript">
    $('#forgot_email').keypress(function(){
        $('#err_div').html('');
    });
    $("#userForgotPasswordForm").validate({
        rules: {
            forgot_email: {
                required:true,
                email: true
            },

        },
        submitHandler: function(forgotForm) {
            var dataObj = {
                            email: $('#forgot_email').val(),
                            mkey: "12",
                        }; 
            $('#err_div').html('');
            $('#loadingDiv').show('');
            $('#forgotPwdBtn').hide('');
            $.ajax({
                    method : 'post',
                    url : site_url+'user/getnewpassword',
                    success : function(result) {
                                var data = $.parseJSON(result);
                                if(data['service_status']==='success') {
                                    $('#err_div').css('color', '#008000');
                                    $('#err_div').html(data['content']);
                                    $('#forgotPwdBtn').show('');
                                    $('#loadingDiv').hide('');
                                    return false;
                                } else {
                                    $('#err_div').css('color', '#FF0000');
                                    $('#err_div').html(data['content']);
                                    $('#forgotPwdBtn').show('');
                                    $('#loadingDiv').hide('');
                                    return false;
                                }
                            },
                    data : dataObj
            });
        }
    });
</script>
    