<?php $timeObj = new UpmeSocial_View_Helper_Datetimediff(); ?>
<section id="inboxmaindiv" style="padding: 0px;">
    <div class="FSP_container">
    <div class="IBP_title"><?=$this->translate("Inbox")?></div>
        <input type="button" id="newmsg" class="IBP_nbtn" value="new message" onclick="newmsgBox();">
        <input type="button" id="sentmsg" class="IBP_nbtn" value="sent message" onclick="sentmsgBox(<?php echo $this->user_id; ?>);">
        <div class="FSP_table_con" style="clear:both;height: 431px;overflow-y: scroll;">
            <?php if(!empty($this->messagedata)) {
                foreach($this->messagedata as $messagedata) {
                    $msgid = $messagedata['message_id'];
                    $msguid = $messagedata['from_user_id'];
                    $message = $messagedata['message'];
                    $name = $messagedata['firstname'];
                    if($messagedata['profile_pic_path'] == '' || !file_exists(UPLOAD_PATH.'images/thumbnails/'.$messagedata['profile_pic_path'])) {
                        $img = SITE_URL."images/no-user.gif";
                    } else {
                        $img = SITE_URL.'uploads/images/thumbnails/'.$messagedata['profile_pic_path'];
                } ?>
                <div class="FSP_table_row_active" id="msgid<?php echo $msgid; ?>">
                    <div class="FSP_table_pic">
                        <img src="<?php echo $img; ?>" border="0" width="66" height="66" title="<?php echo ucwords($messagedata['firstname']); ?>" >
                    </div>
                    <div class="Member_Message_content" style="margin:13px 0 0 0;">
                        <?php echo ucwords($messagedata['firstname']." ".$messagedata['lastname']); ?><span><?php //echo $row['username']; ?></span>
                        <br>
                        <?php echo $message; ?>
                    </div>
                    <div class="Message_action">
                        <img src="<?=SITE_URL?>/images/cross.png" border="0" width="16" height="16" style="cursor:pointer;" onclick="msgdelete(<?php echo $msgid?>);"><br>
                        <img src="<?=SITE_URL?>/images/reply.png" border="0" style="cursor:pointer;margin-top: 15px;" ><!-- onclick="replyMsg(<?php //echo $msguid?>,'<?php //echo $name?>');" -->
                    </div>
                </div>
            <?php }
            } else {
                echo 'No Message To View';
            } ?>
        </div>
    </div>
</section>
<script type="text/javascript" lang="javascript">    
    function sentmsgBox(uid){
        var datastring = 'user_id=' + uid;
        $.ajax({
            type: "POST",
            url: site_url+'user/index/sentmessages',
            data:datastring,
            cache: false,
            success: function(msg) {
                if(msg) {
                    $('#inboxmaindiv').html(msg);
                    return false;
                }
            }
        });
    }
    function msgdelete(msgid) {
        var datastring = 'message_id=' + msgid;
        $.ajax({
            type: "POST",
            url: site_url+'user/index/deletemessage',
            data:datastring,
            cache: false,
            success: function(msg) {
                if(msg =='1') {
                    $("#msgid"+msgid).remove();
                }
            }
        });
    }
</script>