<div id="wrapper">
    <div id="wrapper_inner">
        <div class="HM_left_clm"><img src="<?=SITE_URL?>images/banner_image.png" width="622" height="463"></div>
        <div class="HM_right_clm">
              <img src="<?=SITE_URL?>images/title.png" width="357" height="44">
              <form name="user_signup_form" id="user_signup_form" method="post"  action="" >
                    <div class="HM_login_otr">
                        <div id="err" class="errDiv"></div>
                        <input name="username" id ="username" type="text" class="HM_txt_fld required" value="" size="11" placeHolder="User Name @ 6 to 15 characters">
                        <input name="password" id="password" type="password" class="HM_txt_fld required" value="" size="11" placeHolder="Password @min 6 characters">
                        <input name="cpassword" id="cpassword" type="password" class="HM_txt_fld required" value="" size="11" placeHolder="Confirm Password">
                        <input class="HM_login_btn" value="" name="userSignupsubmitBtn"  type="submit">
                            <!-- FB SHARE -->
<!--                            <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
                                <body>
                                  <div id='fb-root'></div>
                                  <script src='http://connect.facebook.net/en_US/all.js'></script>
                                  <p><a onclick='postToFeed(); return false;' style="cursor: pointer;"><img src="<?php echo SITE_URL;?>/images/facebook_share.gif"></a></p>
                                  <p id='msg'></p>

                                  <script type="text/javascript"> 
                                    FB.init({appId: "<?=FB_APPID;?>", status: true, cookie: true});

                                    function postToFeed() {

                                      // calling the API ...
                                      var obj = {
                                        method: 'feed',
                                        redirect_uri: '<?php echo SITE_URL;?>', 
                                        //link: 'http://www.upmesocial.net/user/',
                                        picture: 'http://54.227.252.33/images/upme_social_logo2.png',
                                        link: 'http://192.168.1.57/upme/user',
                                        name: '::UPMEsocial::',
                                        caption: 'UPMEsocial Caption',
                                        description: 'Using description Dialog to interact with people.',
                                      };

                                      function callback(response) {
                                        //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
                                      }

                                      FB.ui(obj, callback);
                                    }

                                  </script>
                                </body>
                              </html>-->
                    </div>
              </form>
          </div>
    </div>
</div>