<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    if($auth->hasIdentity()) {
        $userdata = $auth->getIdentity();
        $user_id = $userdata->user_id;
        $user_level = $userdata->user_level;
    }  else {
        $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
        $userdata = $auth->getIdentity();
        $user_id = $userdata->business_id;
        $user_level = '0';
    }
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
        $user_type = "B";
    else
        $user_type = "U";
    if(isset($this->userdata->user_type) && ($this->userdata->user_type == "B"))
        $viewuser_type = "B";
    else
        $viewuser_type = "U";
    if($user_id != $this->user_id) {
        $photourl = SITE_URL.'user/media/photos/'.$this->user_id;
        $videourl = SITE_URL.'user/media/videos/'.$this->user_id;
    } else {
        $photourl = SITE_URL.'user/media/photos';
        $videourl = SITE_URL.'user/media/videos';
    }
    echo $this->headLink()->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<script type="text/javascript">
    $(document).ready(function() {
        /*$('#videotabcontent').css('border','none');
        $('#phototabcontent').css('border','none');*/
        $('#TabbedPanels1').css('width', 'auto');
        <?php if($this->type == 'videos') { ?>
            $('#videotab').addClass('active');
            $('#videotabcontent').addClass('TabbedPanelsContentVisible');
            $('#videotabcontent').attr('tabindex', '0');
            $('#videotabcontent').show();
            $('#phototab').removeClass('active');
            $('#phototabcontent').removeClass('TabbedPanelsContentVisible');
            $('#phototabcontent').hide();
        <?php } else { ?>
            $('#videotab').removeClass('active');
            $('#videotabcontent').removeClass('TabbedPanelsContentVisible');
            $('#videotabcontent').hide();
            $('#phototab').addClass('active');
            $('#phototabcontent').addClass('TabbedPanelsContentVisible');
            $('#phototabcontent').attr('tabindex', '0');
            $('#phototabcontent').show();
        <?php } ?>
    });
</script>
<div id="wrapper">
    <div class="at_left_wrap">
        <div id="TabbedPanels1" class="TabbedPanels butns">
            <ul class="TabbedPanelsTabGroup">
                <li><a href="<?php echo $photourl ?>" id ="phototab">Photos</a></li>
                <li><a href="<?php echo $videourl; ?>" id="videotab">Videos</a></li>
<!--                    <li class="TabbedPanelsTab" id="phototab" tabindex="0"><?=$this->translate("Photos")?></li>
                <li class="TabbedPanelsTab" id="videotab" tabindex="0"><?=$this->translate("Videos")?></li>-->
            </ul>
            <div class="clear">&nbsp;</div>
            <div class="TabbedPanelsContentGroup">
                <div class="TabbedPanelsContent" id="phototabcontent" >
                    <!-- Start Photos tab -->  
                    <?php $cnt = COUNT($this->albums);
                        //echo '<pre>';print_r($this->albums);exit;
                        if(!empty($this->albums)) {
                        foreach($this->albums as $albums):
                            if(!empty($albums['cover_photo']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$albums['cover_photo'])) { ?>
                                <div class="photoimg">
                                    <?php if($this->user_id == $user_id && $user_type == 'U') { ?>
                                        <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletealbum(this,<?=$albums['id']?>);" >
                                    <?php } ?>
                                        <a id="albumphoto<?=$albums['id']?>"  href="javascript:void(0);" onclick="getalbumphotos('<?=$albums['id']?>', <?=$this->user_id?>);" title="<?=$albums['album_name']?>" >
                                            <img id="albumimg" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$albums['cover_photo']?>" alt="<?=$albums['album_name']?>" >
                                        </a>
                                </div>
                        <?php } else {?>
                            <div class="photoimg">
                                    <?php if($this->user_id == $user_id && $user_type == 'U') { ?>
                                        <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletealbum(this,<?=$albums['id']?>);" >
                                    <?php } ?>
                                        <a id="albumphoto<?=$albums['id']?>"  href="javascript:void(0);" onclick="getalbumphotos('<?=$albums['id']?>', <?=$this->user_id?>);" title="<?=$albums['album_name']?>" >
                                            <img id="albumimg" src="<?=SITE_URL?>/images/huddlenoimage.jpg" alt="<?=$albums['album_name']?>" >
                                        </a>
                                </div>
                        <?php }
                        endforeach; } else { echo 'No Albums To View'; } ?>
<!--                    <ul class="photos_ul">
                        <li class="photos_li">
                            <img src="<?=SITE_URL?>images/fp_tp1.jpg" width="104" height="76" class="photos_img_style">
                        </li>
                    </ul>-->
<!--                    <div class="tab_loadmore"><a href="javascript:void(0);">Load more Photos</a></div>-->
                    <!-- End Photos tab -->
                </div>
                <div class="TabbedPanelsContent" id="videotabcontent" >
                    <!-- Start Videos tab -->
                    <?php if(!empty($this->videos)) {
                        $cnt = COUNT($this->videos);
                        foreach($this->videos as $videos):
                            if(!empty($videos['video_name']) && file_exists(UPLOAD_PATH.'videos/'.$videos['thumbnail_path'])) { ?>
                                <div class="photoimg">
                                    <?php if($this->user_id == $user_id && $user_type == 'U') { ?>
                                    <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletevideo(this,<?=$videos['video_id']?>);" >
                                    <?php } ?>
                                    <a id="videocomments_fancybox<?=$videos['video_id']?>"  href="javascript:void(0);" onclick="getvideocomment('<?=$videos['video_id']?>');" title="<?=$videos['video_name']?>" class="variousvideocomments fancybox.ajax">
                                        <img id="albumimg" src="<?=SITE_URL?>uploads/videos/<?=$videos['thumbnail_path']?>" alt="<?=$videos['video_name']?>" >
                                    </a>
                                </div>
                    <?php } endforeach; } else { echo 'No Videos To View'; } ?>
<!--                    <div class="tab_loadmore"><a href="javascript:void(0);">Load more Videos</a></div>-->
                    <!-- Start Video tab -->  
                </div>
            </div>
        </div>
    </div>
    <!-----RIGHT COLUMN STARTS---->
    <?php echo $this->action('profilerightbar','index', 'user',array('user_id'=>$request->getParam('user_id')));?>
    <div class="clear"></div>
</div>
<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
function getalbumphotos(albumid, userid) {
    var datastring = 'user_id=' + userid + '&album_id=' + albumid;
    $.ajax({
        type: "POST",
        url: site_url+"user/viewalbumphotos/",
        data:datastring,
        cache: false,
        success: function(msg) {
            $('#phototabcontent').load(site_url+'user/viewalbumphotos/'+userid+'/'+albumid);
        }
    });
}
function getvideocomment(id) {
    $("#videocomments_fancybox"+id).attr('href',site_url+'user/viewvideowithcomments/'+<?=$this->user_id?>+'/'+id);
    $('.variousvideocomments').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
function deletealbum(obj,albumid) {
   if(albumid !='') {
        var datastring = 'album_id=' + albumid + '&ActionType=deleteAlbum';
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            $.ajax({
                type: "POST",
                url: site_url+'user/index/deletealbum',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg =='1') {
                        $(obj).closest('div').remove();
                    }
                }
            });
        }});
    }
}
function deletevideo(obj,videoid) {
   if(videoid !='') {
        var datastring = 'video_id=' + videoid + '&ActionType=deleteVideo';
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            $.ajax({
                type: "POST",
                url: site_url+'user/index/deletevideo',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg =='1') {
                        $(obj).closest('div').remove();
                    }
                }
            });
        }});
    }
}
</script>