<?php
echo $this->headLink()->appendStylesheet($this->baseUrl('css/autosuggest.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'));
echo $this->headScript()->appendFile($this->baseUrl('js/jquery.autoSuggest.js'))
                        ->appendFile($this->baseUrl('SpryAssets/home_tab.js'));
?>
<section id="inboxmaindiv" style="padding: 0px;">
    <div class="FSP_containermsg">
        <div id="TabbedPanels03" class="TabbedPanels03">
            <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab" tabindex="0"><?php echo $this->translate("Inbox");?> </li>
                <li class="TabbedPanelsTab" tabindex="1"><?php echo $this->translate("Sent");?></li>
                <li class="TabbedPanelsTab" tabindex="2"><?php echo $this->translate("Write");?></li>
            </ul>
            <div class="TabbedPanelsContentGroup">
                <div class="TabbedPanelsContent messagewritediv" id="level" style="clear:both;height: 150px;overflow: auto;">
<!--                    <div class="IBP_title"><?=$this->translate("Inbox")?></div>-->
                    <!--<div class="FSP_table_con">-->
                        <?php if(!empty($this->inboxdata)) {
                            foreach($this->inboxdata as $inboxdata) {//echo '<pre>';print_r($inboxdata);
                                $msgid = $inboxdata['message_id'];
                                $msguid = $inboxdata['from_user_id'];
                                //$message = $inboxdata['message'];
                                $message = html_entity_decode(stripslashes(trim($inboxdata['message'])));
                                $message_small = (strlen($message) > 150)?substr($message,0,150):$message;
                                $name = $inboxdata['firstname'];
                                if($inboxdata['profile_pic_path'] == '' || !file_exists(UPLOAD_PATH.'images/thumbnails/'.$inboxdata['profile_pic_path'])) {
                                    $img = SITE_URL."images/no-user.gif";
                                } else {
                                    $img = SITE_URL.'uploads/images/thumbnails/'.$inboxdata['profile_pic_path'];
                            } ?>
                            <div class="FSP_table_row_active" id="msgid<?php echo $msgid; ?>">
                                <div class="FSP_table_pic">
                                    <img src="<?php echo $img; ?>" border="0" width="66" height="66" title="<?php echo ucwords($inboxdata['firstname']); ?>" >
                                </div>
                                <div class="Member_Message_content">
                                    <?php echo ucwords($inboxdata['firstname']." ".$inboxdata['lastname'])." @".$inboxdata['username']." <span class='messagelevel'>".$inboxdata['level_name']."</span>"; ?><br>
                                    <div id="inboxlessmsg<?php echo $msgid; ?>" align="justify"><?php echo nl2br($this->translate($this->escape($message_small))); ?></div>
                                    <div id="inboxmoremsg<?php echo $msgid; ?>" align="justify" style="display:none;"><?php echo nl2br($this->translate($this->escape($message))); ?></div>
                                    <?php if(strlen($message) > 150) { ?><a href="javascript:void(0);" id="inboxmore<?php echo $msgid; ?>" style="float:right" onclick="inboxmore(<?php echo $msgid; ?>);"><?php echo $this->escape($this->translate("More"));?></a><?php } ?>
                                </div>
                                <div class="Message_action">
                                    <img src="<?=SITE_URL?>/images/cross.png" border="0" width="16" height="16" style="cursor:pointer;" onclick="msgdelete(<?php echo $msgid?>,'inbox');"><br>
                                    <img src="<?=SITE_URL?>/images/reply.png" border="0" style="cursor:pointer;margin-top: 15px;" onclick="toggle(<?php echo $inboxdata['message_id']; ?>);" >
                                </div>
                                <div class="clear"></div>
                                <div id="rply-msg<?php echo $inboxdata['message_id']?>" class="rply-msg" style="display: none;">
                                    <div id="inboxmsgs<?php echo $inboxdata['message_id']?>" style="text-align: center; height: 5px; font-size: 12px; color: green; margin-bottom: 15px;"></div>
                                    <div id="inboxerr_msgs<?php echo $inboxdata['message_id']?>" style="text-align: center; height: 5px; font-size: 12px; color: red; margin-bottom: 15px;"></div>
                                    <form action="" method="post" name="inboxreplymessageform" id="inboxreplymessageform">
                                        <div class="lefttext"><?=$this->translate("To")?></div>
                                        <div class="rightfield">
                                            <input type="text" value="<?php echo $inboxdata['firstname']; ?>" class="mess_text_box ac_input" id="inboxname" name="inboxname" readonly="readonly" autocomplete="off">
                                            <input type="hidden" value="<?php echo $inboxdata['from_user_id']; ?>" id="inboxfid<?php echo $inboxdata['message_id']?>" name="inboxfid">
                                            <input type="hidden" value="<?php echo $inboxdata['message_id']; ?>" id="inboxpid<?php echo $inboxdata['message_id']?>" name="inboxpid">
                                        </div>
                                        <div class="clear">&nbsp;</div>
                                        <div class="lefttext"><?=$this->translate("Message")?></div>
                                        <div class="rightfield">
                                            <textarea class="mess_text_area required" id="inboxmessage<?php echo $inboxdata['message_id']?>" name="inboxmessage"></textarea>
                                        </div>
                                        <div>
                                            <input type="button" value="Clear" id="Clear" class="reply_mess_button" onclick="clearmessages(<?php echo $inboxdata['message_id']?>);" name="Clear">
                                            <input type="button" value="Send" id="Send" class="reply_mess_button" onclick="inboxreplymessage(<?php echo $inboxdata['message_id']?>);" name="Send">
                                        </div>
                                        <div class="clear">&nbsp;</div>
                                    </form>
                                </div>
                            </div>
                        <div class="clear"></div>
                            <?php }
                        } else {
                            echo '<div align="center" class="inboxnomessage">No Message To View</div>';
                        } ?>
                    <!--</div>-->
                </div>

                <div class="TabbedPanelsContent messagewritediv" style="clear:both;height: 150px;overflow: auto;">
<!--                    <div class="IBP_title"><?=$this->translate("Sent")?></div>-->
                    <!--<div class="FSP_table_con">-->
                        <?php if(!empty($this->sentdata)) {
                            foreach($this->sentdata as $sentdata) { //echo '<pre>';print_r($sentdata);exit;
                                $msgid = $sentdata['message_id'];
                                $msguid = $sentdata['from_user_id'];
                                //$message = $sentdata['message'];
                                $sentmessage = html_entity_decode(stripslashes(trim($sentdata['message'])));
                                $sentmessage_small = (strlen($sentmessage) > 150)?substr($sentmessage,0,150):$sentmessage;
                                $name = $sentdata['firstname'];
                                if($sentdata['profile_pic_path'] == '' || !file_exists(UPLOAD_PATH.'images/thumbnails/'.$sentdata['profile_pic_path'])) {
                                    $img = SITE_URL."images/no-user.gif";
                                } else {
                                    $img = SITE_URL.'uploads/images/thumbnails/'.$sentdata['profile_pic_path'];
                            } ?>
                            <div class="FSP_table_row_active" id="msgid<?php echo $msgid; ?>">
                                <div class="FSP_table_pic">
                                    <img src="<?php echo $img; ?>" border="0" width="66" height="66" title="<?=ucwords($sentdata['firstname'])?>" >
                                </div>
                                <div class="Member_Message_content" style="margin:13px 0 0 0;">
                                    <?=ucwords($sentdata['firstname']." ".$sentdata['lastname'])." @".$sentdata['username']." <span class='messagelevel'>".$sentdata['level_name']."</span>";?><br>
                                    <div id="sentlessmsg<?php echo $msgid; ?>" align="justify"><?php echo nl2br($this->translate($this->escape($sentmessage_small))); ?></div>
                                    <div id="sentmoremsg<?php echo $msgid; ?>" align="justify" style="display:none;"><?php echo nl2br($this->translate($this->escape($sentmessage))); ?></div>
                                    <?php if(strlen($sentmessage) > 150) { ?><a href="javascript:void(0);" id="sentmore<?php echo $msgid; ?>" style="float:right" onclick="sentmore(<?php echo $msgid; ?>);"><?php echo $this->escape($this->translate("More"));?></a><?php } ?>
                                </div>
                                <div class="Message_action">
                                    <img src="<?=SITE_URL?>/images/cross.png" border="0" width="16" height="16" style="cursor:pointer;" onclick="msgdelete(<?php echo $msgid?>,'sent');"><br>
                                    <img src="<?=SITE_URL?>/images/reply.png" border="0" style="cursor:pointer;margin-top: 15px;" onclick="toggle(<?=$sentdata['message_id']?>);" ><!-- onclick="replyMsg(<?php //echo $msguid?>,'<?php //echo $name?>');" -->
                                </div>
                                <div class="clear"></div>
                                <div id="rply-msg<?php echo $sentdata['message_id']; ?>" class="rply-msg" style="display: none;">
                                    <div id="sentmsgs<?php echo $sentdata['message_id']; ?>" style="text-align: center; height: 5px; font-size: 12px; color: green; margin-bottom: 15px;"></div>
                                    <div id="senterr_msgs<?php echo $sentdata['message_id']; ?>" style="text-align: center; height: 5px; font-size: 12px; color: red; margin-bottom: 15px;"></div>
                                    <form action="" method="post" name="sentreplymessageform" id="sentreplymessageform">
                                        <div class="lefttext"><?=$this->translate("To")?></div>
                                        <div class="rightfield">
                                            <input type="text" value="<?php echo $sentdata['firstname']; ?>" class="mess_text_box ac_input" id="sentname" name="sentname" readonly="readonly" autocomplete="off">
                                            <input type="hidden" value="<?php echo $sentdata['to_user_id']; ?>" id="sentfid<?php echo $sentdata['message_id']; ?>" name="sentfid">
                                            <input type="hidden" value="<?php echo $sentdata['message_id']; ?>" id="sentpid<?php echo $sentdata['message_id']; ?>" name="sentpid">
                                        </div>
                                        <div class="clear">&nbsp;</div>
                                        <div class="lefttext"><?=$this->translate("Message")?></div>
                                        <div class="rightfield">
                                            <textarea class="mess_text_area required" id="sentmessage<?php echo $sentdata['message_id']; ?>" name="sentmessage"></textarea>
                                        </div>
                                        <div>
                                            <input type="button" value="Clear" id="Clear" class="reply_mess_button" onclick="clearmessages(<?php echo $sentdata['message_id']; ?>);" name="Clear">
                                            <input type="button" value="Send" id="Send" class="reply_mess_button" onclick="sentreplymessage(<?php echo $sentdata['message_id']; ?>);" name="Send">
                                        </div>
                                        <div class="clear">&nbsp;</div>
                                    </form>
                                </div>
                            </div>
                        <?php }
                        } else {
                            echo '<div align="center" class="inboxnomessage">No Message To View</div>';
                        } ?>
                    <!--</div>-->
                </div>

                <div class="TabbedPanelsContent messagewritediv">
<!--                    <div class="IBP_title"><?=$this->translate("Write Message")?></div>-->
                    <div class="mess_outer">
                        <div id="msgs" style="text-align: center; height: 5px; font-size: 12px; color: green; margin-bottom: 15px;"></div>
                        <div id="err_msgs" style="text-align: center; height: 5px; font-size: 12px; color: red; margin-bottom: 15px;"></div>
                        <form action="" method="post" name="createmessageform" id="createmessageform">
                            <div class="lefttext"><?=$this->translate("To")?></div>
                            <div class="rightfield">
                                <input type="text" value="" class="mess_text_box ac_input required" id="fname" name="fname" autocomplete="off">
                                <input type="hidden" value="" id="fid" name="fid">
                            </div>
                            <div class="clear">&nbsp;</div>
                            <div class="lefttext"><?=$this->translate("Message").'(Max 150 characters):'?></div>
                            <div class="rightfield">
                                <textarea class="mess_text_area required" id="message" name="message" maxlength="150"></textarea>
                            </div>
                            <div>
                                <input type="button" value="Clear" id="Clear" class="mess_button" onclick="clearwritemessages();" name="Clear">
                                <input type="button" value="Send" id="Send" class="mess_button" onclick="createmessage();" name="Send">
                            </div>
                        </form>
                        <div class="ui-widget-content" style="height: 20px; width: 300px; overflow: auto;" id="log"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript" lang="javascript">
    var TabbedPanels03 = new Spry.Widget.TabbedPanels("TabbedPanels03");
    $(document).ready(function(){
        tagAutoObj = $("#fname").autoSuggest("<?php echo SITE_URL; ?>user/index/displayfriendslist",
	{ minChars: 1, matchCase: false,selectedItemProp: "name", asHtmlID:'tagslist', searchObjProps: "name" });//, selectionLimit: 1
    });
    function toggle(msgid){
        $('#rply-msg'+msgid).slideToggle("normal");
    }
    function inboxmore(msgid) {
        if($("#inboxlessmsg"+msgid).is(":visible")) {
            $("#inboxmore"+msgid).html("<?php echo $this->translate('Less'); ?>");
            $("#inboxlessmsg"+msgid).hide();
            $("#inboxmoremsg"+msgid).show();
        } else {
            $("#inboxmore"+msgid).html("<?php echo $this->translate('More'); ?>");
            $("#inboxmoremsg"+msgid).hide();
            $("#inboxlessmsg"+msgid).show();
        }
    }
    function sentmore(msgid) {
        if($("#sentlessmsg"+msgid).is(":visible")) {
            $("#sentmore"+msgid).html("<?php echo $this->translate('Less'); ?>");
            $("#sentlessmsg"+msgid).hide();
            $("#sentmoremsg"+msgid).show();
        } else {
            $("#sentmore"+msgid).html("<?php echo $this->translate('More'); ?>");
            $("#sentmoremsg"+msgid).hide();
            $("#sentlessmsg"+msgid).show();
        }
    }
    function createmessage() {
        message = $('#message').val();
        uid = $('#as-values-tagslist').val();
        if(message!= '' && uid!= '') {
            var datastring = 'to_user_id=' + uid + '&message=' + message;
            $.ajax({
                type: "POST",
                url: site_url+'user/index/createmessage',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg == 'success') {
                        $('#err_msgs').html("");
                        $('#message').val("");
                        $('#msgs').html("Your message has been sent successfully");
                        return false;
                    }
                }
            });
        } else {
            $('#msgs').html("");
            if(message == '' && uid == '') {
                $('#message').addClass('invalid');
                $('#tagslist').addClass('invalid');
            }
            if(message == '' && uid != '') {
                $('#message').addClass('invalid');
                $('#tagslist').removeClass('invalid');
            }
            if(uid == '' && message != '') {
                $('#message').removeClass('invalid');
                $('#tagslist').addClass('invalid');
            }
            $('#err_msgs').html("Fields are Required");
            return false;
        }
    }
    function inboxreplymessage(msgid) {
        message = $('#inboxmessage'+msgid).val();
        uid = $('#inboxfid'+msgid).val();
        pid = $('#inboxpid'+msgid).val();
        if(message != '' && uid != '' && pid != '') {
            var datastring = 'to_user_id=' + uid +'&parent_id='+ pid + '&message=' + message;
            $.ajax({
                type: "POST",
                url: site_url+'user/index/replymessage',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg == 'success') {
                        $('#inboxerr_msgs'+msgid).html("");
                        $('#inboxmessage'+msgid).val("");
                        $('#inboxmsgs'+msgid).html("Your message has been sent successfully");
                        return false;
                    }
                }
            });
        } else {
            $('#inboxmessage'+msgid).addClass('invalid');
            $('#inboxerr_msgs'+msgid).html("Fields are Required");
            return false;
        }
    }
    function sentreplymessage(msgid) {
        message = $('#sentmessage'+msgid).val();
        uid = $('#sentfid'+msgid).val();
        pid = $('#sentpid'+msgid).val();
        if(message != '' && uid != '' && pid != '') {
            var datastring = 'to_user_id=' + uid +'&parent_id='+ pid + '&message=' + message;
            $.ajax({
                type: "POST",
                url: site_url+'user/index/replymessage',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg == 'success') {
                        $('#senterr_msgs'+msgid).html("");
                        $('#sentmessage'+msgid).val("");
                        $('#sentmsgs'+msgid).html("Your message has been sent successfully");
                        return false;
                    }
                }
            });
        } else {
            $('#sentmessage'+msgid).addClass('invalid');
            $('#senterr_msgs'+msgid).html("Fields are Required");
            return false;
        }
    }
    function msgdelete(msgid,type) {
        var datastring = 'message_id=' + msgid + '&type=' +type;
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            $.ajax({
                type: "POST",
                url: site_url+'user/index/deletemessage',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg == '1') {
                        $("#msgid"+msgid).remove();
                    }
                }
            });
        }});
    }
    function clearmessages(msgid) {
        $('#sentmessage'+msgid).val("");
        $('#sentmessage'+msgid).removeClass('invalid');
        $('#sentmsgs'+msgid).html("");
        $('#senterr_msgs'+msgid).html("");
        $('#inboxmessage'+msgid).val("");
        $('#inboxmessage'+msgid).removeClass('invalid');
        $('#inboxmsgs'+msgid).html("");
        $('#inboxerr_msgs'+msgid).html("");
    }
    function clearwritemessages() {
        $('#message').val("");
        $('#message').removeClass('invalid');
        $('#tagslist').removeClass('invalid');
        $('#tagslist').val("User");
        $('#msgs').html("");
        $('#err_msgs').html("");
    }
    $(document).ready(function(){
        $.fn.showNotification = function() {
            $('#noti_pop_outer').toggle("slidedown",function() {
                $.ajax({
                    type: "POST",
                    url: site_url+"notifications/getnotificationswithid",
                    data: '',
                    cache: false,
                    success: function(result) {
                       $("#noti_pop_outer").html(result);
                    }   
                })
            }); 
        }
   });
</script>