<div id="AccountSetting">
    <div style="width:744px; height:45px;">
        <div class="act_title"><?php echo $this->translate('Account Settings');?></div>
        <div class="act_title_img">
        </div>
    </div>
    <div class="act_body">
        <div id="errmsg" style="text-align: center;height: 15px; color: red; font-size: 12px;"></div>
        <div class="act_s_con">
            <ul>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="viewuppers"><?php echo $this->translate('View Uppers');?></a></li>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="upuppers"><?php echo $this->translate('Up Uppers');?></a></li>
                <li class="unselectedtabs"><a href="javascript:void(0);" id="gifts"><?php echo $this->translate('Gifts').' & '.$this->translate('Rewards');?></a></li>
            </ul>
        </div>
        <div id="viewupperstab" style="display: block;">
            <div class="act_fcon">
                <div class="act_ftitle"><?php echo $this->translate('My Uppers');?></div>
                <div class="act_fbox" style="height:250px;width: 580px;">
                    <?php //echo '<pre>';print_r($this->purchasecoupons);exit; 
                        foreach($this->purchasecoupons as $row): 
                            $count1 = $row['discounted_price'] / $row['original_price']; 
                            $count2 = $count1 * 100;
                            $count = number_format($count2, 0);
                    ?>
                    <div class="tab_row"><a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " > <img class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>/public/uploads/images/thumbnails/<?php echo $row['business_image']; ?>" alt="" width="66" height="66"></a>
                        <div class="tab_row_cnt_otr">
                            <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " > <h1><?php echo ucfirst($row['business_firstname']) . ' ' . ucfirst($row ['business_lastname']); ?></h1>
                            <h2><?php echo $row['business_username'] ?></h2></a>
                            <div class="clear">&nbsp;</div>
                            <div class="coupon_wrapper">
                                <div class="coupon_image_bg">
                                    <div class="coupon_image " id ="firstgallery">
                                        <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $row['business_id']; ?> " class="tooltip1_photo" > 
                                            <img width="276px" height="160px" class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>public/uploads/images/original/<?php echo $row['coupon_image']; ?>">
                                            <div class="caption">
                                                <ul>
                                                    <li class="img_property1"><img  class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>images/coupon_up_icon.png"></li>
                                                    <li class="coupon_txt1"><?php echo $row['business_name']; ?></li><br>
                                                    <li class="coupon_txt1"><?php echo $row['country_name']; ?></li><br>
                                                    <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="coupon_price1" style="width:150px;">
                                    <ul>
                                        <li><strong><?php echo $row['title']; ?></strong></li>
                                        <li><?php $desc = (strlen($row['description'])>110)?substr($row['description'],0,110).'...':$row['description']; echo 'Description: '.$desc; ?></li> 
                                        <li><?php echo 'Upper Price: $ '.$row['coupon_price']; ?></li>
                                        <li><?php echo 'Expires on '.date('d/m/Y',strtotime($row['expiration_date'])); ?></li>
                                    </ul>
                                </div>      
                                <div class="coupon_price2" style="width:134px;"><?php echo $count;?>% off</div>
                            </div>
                        </div>
                    </div>
                <?php endforeach;?>
                </div>
            </div>
        </div>
        <div id="upupperstab" style="display: none;">
            <div class="act_fcon">
                <div class="act_ftitle"><?php echo $this->translate('Up Uppers');?></div>
                <div class="act_fbox nocustomers"><h1>No Up Uppers To View</h1></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" lang="javascript">
    $("#viewuppers").click(function(){
        $('#viewupperstab').show();
        $('#upupperstab').hide();
        $('.MEP_container').css('height', '400px');
        $('.act_fbox').css('height','300px');
        $('.act_s_con li:first-child').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(2)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
    });
    $("#upuppers").click(function(){
        $('#viewupperstab').hide();
        $('#upupperstab').show();
        $('.MEP_container').css('height', '400px');
        $('.act_fbox').css('height','300px');
        $('.act_s_con li:nth-child(2)').removeClass('unselectedtabs').addClass('selectedtabs');
        $('.act_s_con li:nth-child(3)').removeClass('selectedtabs').addClass('unselectedtabs');
        $('.act_s_con li:first-child').removeClass('selectedtabs').addClass('unselectedtabs');
    });
    $(document).ready(function() {

    });
</script>