<?php
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<div class="tpp_wrap">
    <div class="tpp_main_cont">
        <div class="wp_Harea"><h1><?php echo $this->translate("Popular Work Places"); ?></h1></div>
        <div class="wp_Harea_div">
            <a href="<?php echo SITE_URL; ?>user/popularschools" style="text-decoration: none; color: #3D464C;"><span><h5><?php echo $this->translate("High Schools"); ?></h5></span></a><br>
            <a href="<?php echo SITE_URL; ?>user/popularcolleges" style="text-decoration: none; color: #3D464C;"><span><h5><?php echo $this->translate("Colleges/Universities"); ?></h5></span></a>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="wp_part">
            <?php $i=1; if($this->workplacesdata != '') {
                foreach($this->workplacesdata as $row) {
                    if($i == 1) { ?>
                        <div class="wp_topB">
                            <div class="PHS_icon">
                                <img src="<?php echo SITE_URL; ?>images/<?php echo $i ?>.png" alt="topcount" >
                            </div>
                            <div class="PHS_box_pt">
                                <div class="PHS_box_pt_div">
                                    <?php if($row['isFollowing'] == '0') { ?>
                                        <img src="<?php echo SITE_URL; ?>images/up_btn-40x29.png" style="cursor: pointer;" name="<?php echo $row['work_place_id']; ?>" onclick="$().make_friend('<?php echo $row['work_place_id'];?>','W', this);" >
                                    <?php } ?>
                                </div>
                                <div class="PHS_box_ptb">
                                    <span class="PHS_box_ptb_span"><?php echo ucwords(substr($row['work_place_name'], 0, 60)); ?></span><br/>
                                    <span><?php echo $row['followerscnt']; ?> People Following</span>
                                </div>
                            </div>
                        </div>
                    <?php } elseif($i <= 10) { ?>
                        <div class="wp_partB">
                            <div class="PHS_icon_s">
                                <img src="<?php echo SITE_URL; ?>images/<?php echo $i ?>.png" alt="topcount" >
                            </div>
                            <div class="PHS_box_pt">
                                <div class="PHS_box_pt_div">
                                    <?php if($row['isFollowing'] == '0') { ?>
                                        <img src="<?php echo SITE_URL; ?>images/up_btn-40x29.png" style="cursor: pointer;" name="<?php echo $row['work_place_id']; ?>" onclick="$().make_friend('<?php echo $row['work_place_id'];?>','W', this);" >
                                    <?php } ?>
                                </div>
                                <div class="PHS_box_ptb">
                                    <span class="PHS_box_ptb_span"><?php echo ucwords(substr($row['work_place_name'], 0, 60)); ?></span><br/>
                                    <span><?php echo $row['followerscnt']; ?> People Following</span>
                                </div>
                            </div>
                        </div>
                    <?php } $i++;
                }
            } ?>
        </div>
    </div>
    <?php echo $this->action('profilerightbar','index', 'user',array('user_id'=>$this->user_id));?>
</div>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function() {
    $.fn.make_friend = function(fId,user_type, eleObj) {
        var datastring = "follower_id="+fId+"&follower_type="+user_type;
        $.ajax({
            type: "POST",
            url: site_url+"user/makefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                var data = $.parseJSON(value);
                if(data['service_status']=='success') {
                        $(eleObj).remove();
                        window.location =  site_url+'user/popularworkplaces';
                } else {
                    return false;
                }
            }
        });
    }
});
</script>