<?php /* Loading Required Js and Css's */
//echo phpinfo();exit;
?>
<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css" />
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<div id="TabbedPanels1" class="TabbedPanels">
    <?php echo $this->render('index/user_signup_menu.phtml');?>
    <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
            <div class="tab_outer4">
                <ul>
                    <li>
                        <h1><?=$this->translate("Set your profile picture")?></h1>
                    </li>
                    <li>
                        <img src="<?=SITE_URL?>images/video_pic.png" >
                        <div class="profil_detail_outer">
                            <h2><?php echo $this->form;?></h2>
                            <h3><?=$this->translate("from your computer")?></h3><br>
                            <!--OR<br><br>-->
                            <!--<h2><a href="#">Upload a Video</a></h2>
                            <h3>with your webcam</h3>-->
                        </div>
                    </li>
                    <li>
                        <input name="" type="button" class="tab_back_button" value="Back" id="backToProfilePicture">
                        <input name="" type="button" class="tab_button_style" value="SAVE & FINISH" id="profilevideoBtn">
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#profilevideoBtn").click(function() {
        $('#profilevideoForm').submit();
    });

    $("#backToProfilePicture").click(function() {
        window.location.href =  site_url+'user/profilepicture';
    });
});
</script>