<?php echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                            ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'));
$request = Zend_Controller_Front::getInstance()->getRequest();
$auth = Zend_Auth::getInstance()->getIdentity();
if($request->getParam('user_id') != '') {
    $this->user_id = $request->getParam('user_id');
    $huddlesUrl = SITE_URL."user/viewhuddles/".$this->user_id;
    $albumUrl = SITE_URL."user/media/photos/".$this->user_id;
    $videoUrl = SITE_URL."user/media/videos/".$this->user_id;
} else {
    $huddlesUrl = SITE_URL."user/viewhuddles";
    $albumUrl = SITE_URL."user/media/photos";
    $videoUrl = SITE_URL."user/media/videos";
    $this->user_id = $auth->user_id;
    $name = $auth->firstname;
} ?>
<div class="right_column">
    <div class="popularity_stat_outer">
        <div class="popularity_stat_ttl_outer">
            <img src="<?=SITE_URL?>images/pop_ttl.png" width="167" height="25"> <span><?php echo $this->userlevelAry['level_name']; ?></span>
        </div>
        <div class="popularity_tab_outer">
            <div class="popularity_tab_ttl"><?php echo $this->translate('SCRIBBLES');?></div>
            <div class="popularity_tab_ttl2"><?php echo $this->userDetAry['scribblecount']; ?></div>
            <a id="scribblescnt_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">
                <input class="popularity_tab_btn" name="" type="button" value="View">
            </a>
        </div>
        <div class="popularity_tab_outer">
            <div class="popularity_tab_ttl"><?php echo $this->translate('FOLLOWERS');?></div>
            <div class="popularity_tab_ttl2"><?php echo $this->userDetAry['nooffollowers']; ?></div>
            <a id="followerscnt_fancybox"  href="javascript:void(0);" title="" class="various2 fancybox.ajax">
                <input class="popularity_tab_btn" name="" type="button" value="View">
            </a>
        </div>
        <div class="popularity_tab_outer">
            <div class="popularity_tab_ttl"><?php echo $this->translate('FOLLOWINGS'); ?></div>
            <div class="popularity_tab_ttl2"><?php echo $this->userDetAry['nooffollowings']; ?></div>
            <a id="followingcnt_fancybox" href="javascript:void(0);" title="" class="various3 fancybox.ajax">
                <input class="popularity_tab_btn" name="" type="button" value="View">
            </a>
        </div>
    </div>
    <div class="popularity_stat_outer">
        <div class="popularity_tab_outer">
            <a id="huddles" href="<?=SITE_URL?>huddles/viewhuddles" title="" >
                <img src="<?=SITE_URL?>images/img9.png" width="90" height="110" >
            </a>
            <div class="popularity_tab_ttl3"><?=$this->translate("Huddles")?></div>
        </div>
        <div class="popularity_tab_outer">
            <a id="album" href="<?=$albumUrl?>" title="Albums">
                <img src="<?=SITE_URL?>images/img8.png" width="90" height="110">
            </a>
            <!--<a id="album_fancybox" href="<?=SITE_URL?>user/viewalbums" title="" class="variousalbum fancybox.ajax">
                <img src="<?=SITE_URL?>images/img8.png" width="90" height="110">
            </a>-->
            <div class="popularity_tab_ttl3"><?php if(!empty($this->ufname)) { echo $this->ufname.$this->translate("'s Photos"); } else { echo $this->translate("My Photos"); } ?></div>
        </div>
        <div class="popularity_tab_outer">
            <a id="videos" href="<?=$videoUrl?>" title="Videos" >
                <img src="<?=SITE_URL?>images/img7.png" width="90" height="110">
            </a>
            <div class="popularity_tab_ttl3"><?php if(!empty($this->ufname)) { echo $this->ufname.$this->translate("'s Videos"); } else { echo $this->translate("My Videos"); } ?></div>
        </div>
    </div>
    <div class="grayBox">
        <div class="popularity_tab_ttl4"><?=$this->translate("Hotspots")?>
            <span class="popularity_tab_ttl5"><?php echo date('g:i:s a'); ?></span>
            <div class="title6"><?=$this->translate("UpMe")?></div>
        </div>
        <?php if($_SERVER['REMOTE_ADDR'] == '192.168.1.63') {
            if(count($this->businessHotSpots) > 0) {
                foreach($this->businessHotSpots as $hotspot) { ?>
                <div class="grayBox_row">
                    <img src="<?=SITE_URL?>uploads/images/thumbnails/<?php echo $hotspot['coupon_Image'];?>" width="41" height="41" >
                    <div class="grayBox_dtl_otr">
                        <span class="title7"> <?=$this->translate($hotspot['business_name'])?></span><br>
                        <span class="title8"><?php echo $hotspot['followerCnt']." ".$this->translate('followers')." + ".$hotspot['couponcnt']." ".$this->translate('coupons');?></span>  
                    </div>
                    <div class="grayBox_btn_otr">
                        <div id="followdiv<?=$hotspot['coupon_id']?>">
                            <?php if($hotspot['isfollowing'] == 0) { ?> 
                                    <img class="B_img pointer" src="<?=SITE_URL?>images/up_icon2.png" style="height: 17px; width: 28px;" onclick="$().follow_hotspot('<?=$hotspot['coupon_id']?>','<?=$hotspot['business_id']?>','B');">
                            <?php }
                                if($hotspot['isfollowing'] == 1) { ?>
                                    <img class="B_img" src="<?=SITE_URL?>images/follow.png" width="120" height="31">
                                    <img class="B_img2  pointer" src="<?=SITE_URL?>images/close.png" width="24" height="23" onclick="$().unfollow_hotspot('<?=$hotspot['coupon_id']?>','<?=$hotspot['business_id']?>','B');">
                            <?php } ?>
                        </div>
                    </div>
                </div>
            <?php }
            } else {
                echo '<div class="grayBox_row" style="color:#FF0000;" align="center">'.$this->translate("No Hotspots Available").'</div>';
            } ?>
            <div class="grayBox_pag_otr">
                <span class="title9"><?php if(count($this->businessHotSpots) > 0) { ?>View more Hotspots<?php } ?></span>
                <span class="title10">View People Spots</span>
            </div>
        <?php } else { ?>
            <div class="grayBox_row">
                <img src="<?=SITE_URL?>images/img10.png" width="41" height="41">
                <div class="grayBox_dtl_otr">
                    <span class="title7"> <?=$this->translate("Starbucks")?></span><br>
                    <span class="title8">20,000 followers  + 2 coupons</span>  
                </div>
                <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
            </div>
            <div class="grayBox_row">
                <img src="<?=SITE_URL?>images/img11.png" width="41" height="41">
                <div class="grayBox_dtl_otr">
                    <span class="title7"> <?=$this->translate("Starbucks")?></span><br>
                    <span class="title8">20,000 followers  + 2 coupons</span>  
                </div>
                <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
            </div>
            <div class="grayBox_row">
                <img src="<?=SITE_URL?>images/img12.png" width="41" height="41">
                <div class="grayBox_dtl_otr">
                    <span class="title7"><?=$this->translate("Starbucks")?></span><br>
                    <span class="title8">20,000 followers  + 2 coupons</span>  
                </div>
                <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
            </div>
            <div class="grayBox_pag_otr">
                <span class="title9"><?=$this->translate("View more Hotspots")?></span>
                <span class="title10"><?=$this->translate("View People Spots")?></span>
            </div>
        <?php } ?>
    </div>
    <div class="grayBox">
        <div class="popularity_tab_ttl4">What's near you<div class="title6">UpMe</div></div>
        <div class="grayBox_row">
            <img src="<?=SITE_URL?>images/img10.png" width="41" height="41">
            <div class="grayBox_dtl_otr">
                <span class="title7"><?=$this->translate("Starbucks")?></span><br>
                <span class="title8">20,000 followers  + 2 coupons</span>  
            </div>
            <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
        </div>
        <div class="grayBox_row">
            <img src="<?=SITE_URL?>images/img11.png" width="41" height="41">
            <div class="grayBox_dtl_otr">
                <span class="title7"><?=$this->translate("Starbucks")?></span><br>
                <span class="title8">20,000 followers  + 2 coupons</span>  
            </div>
            <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
        </div>
        <div class="grayBox_row">
            <img src="<?=SITE_URL?>images/img12.png" width="41" height="41">
            <div class="grayBox_dtl_otr">
                <span class="title7"><?=$this->translate("Starbucks")?></span><br>
                <span class="title8">20,000 followers  + 2 coupons</span>  
            </div>
            <div class="grayBox_btn_otr"><img src="<?=SITE_URL?>images/up_icon2.png" width="28" height="17"><img src="<?=SITE_URL?>images/close.png" width="24" height="23"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#scribblescnt_fancybox").click(function() {
    $("#scribblescnt_fancybox").attr('href',site_url+"scribbles/viewscribbles/"+<?php echo $this->user_id; ?>);
    $('.various1').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
$("#followerscnt_fancybox").click(function() {
    $("#followerscnt_fancybox").attr('href',site_url+"user/viewfollowers?user_id=<?php echo $this->user_id;?>");
    $('.various2').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});
$("#followingcnt_fancybox").click(function() {
    $("#followingcnt_fancybox").attr('href',site_url+"user/viewfollowing?user_id=<?php echo $this->user_id;?>");
    $('.various3').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width       : '70%',
        height      : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});
/*$("#huddles_fancybox").click(function() {
    $("#huddles_fancybox").attr('href','<?php echo $huddlesUrl; ?>');
    $('.varioushuddles').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});*/
/*$("#album_fancybox").click(function() {
    $("#album_fancybox").attr('href','<?php echo $albumUrl; ?>');
    $('.variousalbum').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});*/
/*$("#videos_fancybox").click(function() {
    $("#videos_fancybox").attr('href','<?php echo $videoUrl; ?>');
    $('.variousvideos').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});*/
$.fn.follow_hotspot = function(coupon_id,fId,user_type){
    //alert(coupon_id+"-->"+fId+"-->"+user_type);return false;
        var datastring = "follower_id=" +fId+"&follower_type="+user_type;
        //  alert(datastring);
        $.ajax({
            type: "POST",
            url: site_url+"user/makefriends",
            data:datastring,
            cache: false,
            success: function(value) { 
                if(trim(value)=="success"){ 
                    //location.reload(true);
                    $('#followdiv'+coupon_id).html('<img class="B_img" src="'+site_url+'images/follow.png" width="120" height="31"><img class="B_img pointer" src="'+site_url+'images/close.png"  width="24" height="23" onclick="$().unfollow_hotspot(&quot;'+coupon_id+'&quot;,&quot;'+fId+'&quot;,&quot;B&quot;);">');
                }else{
                    return false;
                }
            }
        });       
    }
$.fn.unfollow_hotspot = function(coupon_id, fId,user_type){
        var datastring = "follower_id=" +fId+"&follower_type="+user_type;
        $.ajax({
            type: "POST",
            url: site_url+"user/index/makeunfriends",
            data:datastring,
            cache: false,
            success: function(value) { 
                if(trim(value)=="success"){
                    $('#followdiv'+coupon_id).html('<img class="B_img pointer" src="'+site_url+'images/up_icon2.png" style="height: 17px; width: 28px;" onclick="$().follow_hotspot(&quot;'+coupon_id+'&quot;,&quot;'+fId+'&quot;,&quot;B&quot;);">');
                }else{
                    return false;
                }
            }
        });       
    }
</script>