<?php /* Loading Required Js and Css's */
//echo phpinfo();exit;
?>
<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css" />
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">

<div id="TabbedPanels1" class="TabbedPanels">
    <?php echo $this->render('index/user_signup_menu.phtml'); ?>
    <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
            <div class="tab_outer4">
                <ul>
                    <li>
                        <h1>Set your profile picture</h1>
                    </li>
                    <li>
                        <img src="<?=SITE_URL?>images/profile_pic.png" width="184" height="185">
                        <div class="profil_detail_outer">
                            <h2>
<!--                                <a href="#">Upload a Photo</a>-->
                                        <?php echo $this->form;?>
                            </h2>
                            <h3>from your computer</h3>
<!--                            <br>OR<br><br>
                            <h2><a href="#">Upload a Photo</a></h2>
                            <h3>with your webcam</h3>-->
                        </div>
                    </li>
                    <li> 
                        <input name="" type="button" class="tab_back_button" value="<?=$this->translate('Back')?>" id="backToSignup">
                        <input name="" type="submit" class="tab_button_style" id="uploadProfilePictureBtn" value="<?=$this->translate('SAVE & CONTINUE')?>">
                        <!-- <input name="" type="button" class="tab_button_style3" value="Skip" id="skipUpload"> -->
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() { 
    $("#uploadProfilePictureBtn").click(function() {
        $('#profileUploadForm').submit();
    });
    
    $("#backToSignup").click(function() {
        window.location.href =  site_url+'user/signup';
    });
});
</script>