<section style="height: 400px;">
    <p align="center" style="margin-top: 200px;">
        <span style="color: #4F4F4F;font-size: 14px;"><?php echo $this->translate('Your account is deactivated by admin').'?';?></span> 
        <button onclick="$().active();" class="acts_bott_btn_butt"><?php echo $this->translate('Click');?></button>
        <span style="color: #4F4F4F;font-size: 14px;"><?php echo $this->translate('here to send a request to admin ').'?';?></span>
    </p>
</section>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function(){
    
    $.fn.active = function()
    {
        var username = <?php echo $this->userdata->user_name; ?>;
        var email    = <?php echo $this->userdata->email;?>;
        var user_account_status = 'A'; 
        var datastring = "user_id="+username+"&user_account_status="+user_account_status+"&email="+email;
        $.ajax({
            type: "POST",
            url: site_url+"user/requesttoadmin",
            data:datastring,
            cache: false,
            success: function(value) {
                if(value == "success") {
                     jAlert("Thank you, Please wait until Admin accepts your request",'Alert'); 
                    //window.location =  site_url+'user/userprofile';
                } else {
                    return false;
                }
            }
        });
    }
});
</script>