<?php $request = Zend_Controller_Front::getInstance()->getRequest(); ?>
<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css" >
<link href="<?=SITE_URL?>css/calendar.css" rel="stylesheet" type="text/css" >
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<script type="text/javascript" lang="javascript" src="<?=SITE_URL?>js/jquery-ui-datepicker.min.js"></script>
<div id="TabbedPanels1" class="TabbedPanels">
    <?php echo $this->render('index/user_signup_menu.phtml');?>
    <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
            <div class="tab_outer2">
                <form name="signupInfoForm" id="signupInfoForm" method="post" action="" >
                    <ul>
                        <li id="li_title">
                            <h1><?php echo $this->translate('Create Profile Information'); ?></h1>
                            <h2><?php echo $this->translate('This information will help you find friends on UpMeSocial'); ?> </h2>
                        </li>
                        <?php if(!empty($this->errormsg)) { ?>
                            <li><div class="error"><?php echo $this->errormsg; ?></div></li>
                        <?php } ?>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('User Name'); ?>:</span>
                            <input name="SignUp[username]" id="username" type="text" class="tab_txt_fld required" value="<?php if(!empty($this->postdata['username'])) { echo $this->postdata['username']; } elseif(!empty($this->username)) { echo $this->username; } ?>" minlength="6" maxlength="16" size="11" placeHolder="@ 6-15 characters">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Password'); ?>:</span>
                            <input name="SignUp[password]" type="password" id="password" class="tab_txt_fld required" value="<?php if(!empty($this->postdata['password'])) { echo $this->postdata['password']; } elseif(!empty($this->password)) { echo $this->password; } ?>" minlength="6" placeHolder="At least 6 charcters" size="11">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Email'); ?>:</span>
                            <input name="SignUp[email]" type="text" id="email" class="tab_txt_fld required email" value= "<?php if(!empty($this->postdata['email'])) { echo $this->postdata['email']; } ?>" placeHolder="Enter a valid E-mail Id" size="11">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Date of Birth'); ?>:</span>
                            <input name="SignUp[dob]" type="text" id="dob" class="tab_txt_fld required read-only" value= "<?php if(!empty($this->postdata['dob'])) { echo $this->postdata['dob']; } ?>" placeHolder="Select a Date" size="11">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('First Name'); ?>:</span>
                            <input name="SignUp[firstname]" id="firstname" type="text" class="tab_txt_fld required" value="<?php if(!empty($this->postdata['firstname'])) { echo $this->postdata['firstname']; } ?>"  size="11" placeHolder="Enter First Name">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Last Name'); ?>:</span>
                            <input name="SignUp[lastname]" id="lastname" type="text" class="tab_txt_fld required" value="<?php if(!empty($this->postdata['lastname'])) { echo $this->postdata['lastname']; } ?>"  size="11" placeHolder="Enter Last Name">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Gender'); ?>:</span>
                            <div id="gen"><input type="radio" name="SignUp[gender]" id="male" class="tab_txt_fld required genradio" value="M" checked="checked" ><?php echo $this->translate('Male');?></div>
                            <div id="gen"><input type="radio" name="SignUp[gender]" id="female" class="tab_txt_fld genradio" value="F" <?php if(!empty($this->postdata['gender']) && $this->postdata['gender'] == 'F') { ?> checked = "checked" <?php } ?> ><?php echo $this->translate('Female');?></div>
                        </li>
                        <li>
                            <span><?php echo $this->translate('Address Line1');?>:</span>
                            <input name="SignUp[address_line_1]" id="address_line_1" type="text" class="tab_txt_fld" value="<?php if(!empty($this->postdata['address_line_1'])) { echo $this->postdata['address_line_1']; } ?>"  size="11" placeHolder="Address Line1">
                        </li>
                        <li>
                            <span><?php echo $this->translate('Address Line2');?>:</span>
                            <input name="SignUp[address_line_2]" id="address_line_2" type="text" class="tab_txt_fld" value="<?php if(!empty($this->postdata['address_line_2'])) { echo $this->postdata['address_line_2']; } ?>"  size="11" placeHolder="Address Line2">
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Country'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[country]" id="country" onchange="fngetstates($(this).val());">
                                <option value="">---<?php echo $this->translate('Select Country'); ?>---</option>
                                <?php for($i=0;$i<count($this->countries);$i++) { 
                                    $country = ($this->postdata['country'] == $this->countries[$i]['id'])?'selected':"";?>
                                    <option value="<?=$this->countries[$i]['id']?>" <?php echo $country; ?>><?php echo $this->countries[$i]['country_name']; ?></option>
                                <?php } ?>
                            </select> 
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('State'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[state]" id="state" onchange="fngetcities($(this).val());" >
                                <option value="">---<?php echo $this->translate('Select State'); ?>---</option>
                                <?php if(!empty($this->states)) {
                                    for($i=0;$i<count($this->states);$i++) { 
                                    $states = ($this->postdata['state'] == $this->states[$i]['id'])?'selected':"";?>
                                    <option value="<?=$this->states[$i]['id']?>" <?php echo $states; ?>><?php echo $this->states[$i]['state_name']; ?></option>
                                <?php } } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('City'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[city]" id="city" onchange="fngetzipcodes($(this).val());" >
                                <option value="">---<?php echo $this->translate('Select City');?>---</option>
                                <?php if(!empty($this->cities)) {
                                    for($i=0;$i<count($this->cities);$i++) { 
                                    $cities = ($this->postdata['city'] == $this->cities[$i]['id'])?'selected':"";?>
                                    <option value="<?=$this->cities[$i]['id']?>" <?php echo $cities; ?>><?php echo $this->cities[$i]['city_name']; ?></option>
                                <?php } } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Zip Code'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[zipcode]" id="zipcode" >
                                <option value="">---<?php echo $this->translate('Select Zipcode');?>---</option>
                                <?php if(!empty($this->zipcode)) {
                                    for($i=0;$i<count($this->zipcode);$i++) { 
                                    $zipcode = ($this->postdata['zipcode'] == $this->zipcode[$i]['id'])?'selected':"";?>
                                    <option value="<?=$this->zipcode[$i]['id']?>" <?php echo $zipcode; ?>><?php echo $this->zipcode[$i]['zipcode']; ?></option>
                                <?php } } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('Highschool'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[high_school_info]" id="high_school_info" >
                                <option value="">---<?php echo $this->translate('Select High School'); ?>---</option>
                                <?php for($i=0;$i<count($this->schools);$i++) { 
                                    $schools = ($this->postdata['high_school_info'] == $this->schools[$i]['school_id'])?'selected':"";?>
                                    <option value="<?=$this->schools[$i]['school_id']?>" <?php echo $schools; ?>><?php echo $this->schools[$i]['school_name']; ?></option>
                                <?php } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('College University'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[college_info]" id="college_info" >
                                <option value="">---<?php echo $this->translate('Select College'); ?>---</option>
                                <?php for($i=0;$i<count($this->colleges);$i++) {
                                    $colleges = ($this->postdata['college_info'] == $this->colleges[$i]['college_id'])?'selected':"";?>
                                    <option value="<?=$this->colleges[$i]['college_id']?>" <?php echo $colleges; ?>><?php echo $this->colleges[$i]['college_name']; ?></option>
                                <?php } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('Employer'); ?>:</span>
                            <select class="tab_txt_fld required" name="SignUp[employer_info]" id="employer_info" >
                                <option value="">---<?php echo $this->translate('Select Work Place'); ?>---</option>
                                <?php for($i=0;$i<count($this->workplaces);$i++) {
                                    $workplaces = ($this->postdata['employer_info'] == $this->workplaces[$i]['work_place_id'])?'selected':""; ?>
                                    <option value="<?=$this->workplaces[$i]['work_place_id']?>" <?php echo $workplaces; ?>><?php echo $this->workplaces[$i]['work_place_name']; ?></option>
                                <?php } ?>
                            </select>
                        </li>
                        <li>
                            <span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Mobile No'); ?>:</span>
                            <input name="SignUp[mobile_no]" id="mobile_no" type="text" class="tab_txt_fld required" value="<?php if(!empty($this->postdata['mobile_no'])) { echo $this->postdata['mobile_no']; } ?>"  size="11" >
                        </li>
                        <li> 
                            <input name="" type="button" class="tab_back_button" id="backToFindFriends" value="Back">
                            <input name="" type="submit" class="tab_button_style" id="submitSignup" value="CONTINUE">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#signupInfoForm").validate({
    rules: {
        username: {
            required:true,
            minlength: 6,
            maxlength: 15
        },
        password: {
            required:true,
            minlength: 6,
            maxlength: 15
        }
    }
});
$(document).ready(function() {
    $("#backToFindFriends").click(function() {
        window.location.href =  site_url+'user/findfriends';
    });
    $("#skipSignup").click(function() {
        window.location.href =  site_url+'user/profilepicture';
    });
    $("#dob").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '-90: -18'
    });
});
</script>