<?php //echo '<pre>';print_r($this->loggedUserlevel);;exit;
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                            ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
    if($this->userDetAry['user_type'] != 'B')
        $this->userDetAry['user_type'] = 'U'
?>
<style type="text/css">
.tab_loadmore {
    background: none repeat scroll 0 0 #6F6F6F;
    color: #FFFFFF;
    float: left;
    margin-top: 10px;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}
</style>
<section>
    <div class="UP_body_wrap">
        <?php if($this->loggedUserType != 'B') { ?>
            <a href="javascript:void(0);" onclick="$().make_friend('<?=$this->userDetAry['user_id']?>', '<?=$this->userDetAry['user_type']?>');"><input type="button" class="UP_up_btn" value=""></a>
        <?php } else { ?>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
        <?php } ?>
        <div class="UP_box" style="margin-top:-5px;">
            <div class="FP_mid_pic1" style="margin:12px 0 0 16px; float:left;">
                <?php if(!empty($this->userDetAry['profile_pic_path']) && file_exists(UPLOAD_PATH.'images/medium/'.$this->userDetAry['profile_pic_path'])) { ?>
                        <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->userDetAry['profile_pic_path']?>" width="152" height="152" alt="<?php echo $this->userDetAry['firstname']; ?>" >
                    <?php } else { ?>
                        <img src="<?=SITE_URL?>/images/no-user.gif" width="152" height="152" alt="<?php echo $this->userDetAry['firstname']; ?>" >
                <?php } ?>
            </div>
            <div class="UP_text">
                <h1><?php echo ucfirst($this->userDetAry['firstname']).' '.ucfirst($this->userDetAry['lastname']); ?></h1>
                <p><?php echo ucfirst($this->userDetAry['description']); ?></p>
            </div>

            <div class="FP_left_cp" style="margin-left:77px;">
                <div style="text-align: center; color: #000000; margin-top: 25px; font-weight: bold;">
                    <?php echo $this->coolPoints;?><br><span style="color:#EF0E0B;"><?=$this->translate("COOL POINTS")?></span>
                </div>
            </div>

            <div class="FP_right_box1" style="position:absolute; left:565px; top:230px;">
                <div class="FP_right_popt_con">
                    <div class="FP_right_popt"></div>
                    <div class="FP_right_poptext">
                        <span><?php echo $this->userlevelAry['level_name']; ?></span>
                    </div>
                </div>

                <div class="FP_right_poptext2">
                    <?=$this->translate('SCRIBBLES')?><br>
                    <span><?=$this->userDetAry['scribblecount']?></span><br>
                    <!--<a id="scribblescnt_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">-->
                        <input class="popularity_tab_btn" name="" type="button" value="View" >
                    <!--</a>-->
                </div>

                <div class="FP_right_poptext2" style="width:81px; margin-left:39px;">
                    <?=$this->translate('FOLLOWERS')?><br>
                    <span><?=$this->userDetAry['nooffollowers']?></span><br>
                    <!--<a id="followerscnt_fancybox"  href="javascript:void(0);" title="" class="various2 fancybox.ajax">-->
                        <input class="popularity_tab_btn" name="" type="button" value="View" >
                    <!--</a>-->
                </div>

                <div class="FP_right_poptext2" style="width:81px; margin-left:39px;">
                    <?=$this->translate('FOLLOWINGS')?><br>
                    <span><?=$this->userDetAry['nooffollowings']?></span><br>
                    <!--<a id="followingcnt_fancybox" href="javascript:void(0);" title="" class="various3 fancybox.ajax">-->
                        <input class="popularity_tab_btn" name="" type="button" value="View" >
                    <!--</a>-->
                </div>
            </div>
            <div class="UP_bcon">
                <div class="clear">&nbsp;</div>
                <div class="UP_btitle">
                    <div class="UP_btitle_txt1"><?=$this->translate("My Level")?></div>
                    <?php //if($this->loggedUserlevel!=$this->userDetAry['user_level']){ ?>
                    <div class="UP_btitle_txt2"><?=$this->translate("Downline")?></div>
                    <?php //} ?>
                </div>
                <div class="UP_col02">
                    <div class="UP_row2">
                        <?php if(!empty($this->level)) { //echo '<pre>';print_R($this->level);
                            foreach ($this->level as $level) { 
                                if(!empty($level['image_name']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$level['image_name'])) { ?>
                                    <a href="<?=SITE_URL?>user/userprofile/<?=$level['user_id']?>" title="<?php echo $level['firstname']; ?>"><img src="<?=SITE_URL?>uploads/images/thumbnails/<?=$level['image_name']?>" width="59" height="59" alt="<?php echo $level['firstname']; ?>" ></a>
                                <?php } else { ?>
                                    <a href="<?=SITE_URL?>user/userprofile/<?=$level['user_id']?>" title="<?php echo $level['firstname']; ?>"><img src="<?=SITE_URL?>/images/no-user.gif" width="59" height="59" alt="<?php echo $level['firstname']; ?>" ></a>
                            <?php }
                            }
                        } else {
                            echo '<div class="nocustomers">No Followers To View</div>';
                        } ?>
                    </div>
                </div>
                <?php //if($this->loggedUserlevel!=$this->userDetAry['user_level']) { ?>
                <div class="UP_col02">
                    <div class="UP_row2">
                        <?php if(!empty($this->downline)) { //echo '<pre>';print_R($this->downline);exit;
                            foreach ($this->downline as $downline) {
                                if(!empty($downline['image_name']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$downline['image_name'])) { ?>
                                    <a href="<?=SITE_URL?>user/userprofile/<?=$downline['user_id']?>" title="<?php echo $downline['firstname']; ?>"><img src="<?=SITE_URL?>uploads/images/thumbnails/<?=$downline['image_name']?>" width="59" height="59" alt="<?php echo $downline['firstname']; ?>" ></a>
                                <?php } else { ?>
                                    <a href="<?=SITE_URL?>user/userprofile/<?=$downline['user_id']?>" title="<?php echo $downline['firstname']; ?>"><img src="<?=SITE_URL?>/images/no-user.gif" width="59" height="59" alt="<?php echo $downline['firstname']; ?>" ></a>
                            <?php }
                            }
                        } else {
                            echo 'No Followers To View';
                        } ?>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <?php //} ?>
                <div class="clear">&nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear">&nbsp;</div>
</section>
<script type="text/javascript">
/******* To make a friend ******/
$(document).ready(function(){
    $.fn.make_friend = function(viewuserid,viewuser_type){
        var user_id = <?php echo $this->loggedUserId; ?>;
        var user_type = '<?php echo $this->loggedUserType; ?>';
        var datastring = "follower_id="+viewuserid+"&follower_type="+viewuser_type+"&user_id="+user_id+"&user_type="+user_type;
        $.ajax({
            type: "POST",
            url: site_url+"user/makefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                var data = $.parseJSON(value);
                if(data['service_status']=='success') {
                    //$('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
                    window.location =  site_url+'user/userprofile/'+viewuserid;
                } else {
                    return false;
                }
            }
        });
    }
});
$("#scribblescnt_fancybox").click(function() {
    $("#scribblescnt_fancybox").attr('href',site_url+"scribbles/viewscribbles/"+<?php echo $this->userDetAry['user_id'];?>);
    $('.various1').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
$("#followerscnt_fancybox").click(function() {
    $("#followerscnt_fancybox").attr('href',site_url+"user/viewfollowers?user_id=<?php echo $this->userDetAry['user_id'];?>");
    $('.various2').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});
$("#followingcnt_fancybox").click(function() {
    $("#followingcnt_fancybox").attr('href',site_url+"user/viewfollowing?user_id=<?php echo $this->userDetAry['user_id'];?>");
    $('.various3').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width       : '70%',
        height      : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none',
        live            : 'false'
    });
});
</script>