<div style="min-height: 300px;">
    <div style="text-align:center; color: #676767; margin-top: 230px;">
        <?php 
        if($this->error == "0"){
            echo $this->translate("You have successfully unsubscribed from UPMEsocial newsletter list").".";
        } else {
            echo $this->translate("Error in unsubscribing from UPMEsocial newsletter list. Please Try Again!!!").".";
        }
        ?></div>
</div>