<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    if($auth->hasIdentity()) {
        $userdata = $auth->getIdentity();//echo '<pre>';print_r($this->userdata);exit;
        $user_id = $userdata->user_id;
        $user_level = $userdata->user_level;
    }  else {
        $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
        $userdata = $auth->getIdentity();//echo 'Hi<pre>';print_r($userdata);exit;
        $user_id = $userdata->business_id;
        $user_level = '0';
    }
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
       $user_type = "B";
    else
       $user_type = "U";
    if(isset($this->userdata->user_type) && ($this->userdata->user_type == "B"))
       $viewuser_type = "B";
    else
       $viewuser_type = "U";
    //$to_ID  = $this->userdata->user_id;
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                        ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<div class="clear"></div>
<div id="wrapper">
    <div class="left_column">
        <div class="FP_left_text">
            <?php if(!empty($this->userdata->profile_pic_path) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$this->userdata->profile_pic_path)) { 
                    $img = SITE_URL.'public/uploads/images/thumbnails/'.$this->userdata->profile_pic_path;
                } else {
                    $img = SITE_URL.'images/no-user.png';
                } 
            ?>
            
            <h1><img src="<?php echo $img;?>" width="66" height="66"><br><br><?php echo ucfirst($this->userdata->firstname).' '.ucfirst($this->userdata->lastname).' @'.$this->userdata->username; ?></h1>
            <p align="justify"><?php echo stripslashes(nl2br(ucfirst($this->userdata->description)));?></p>
        </div>
        <div class="FP_left_cp">
            <div style="text-align: center; color: #000000; margin-top: 25px; font-weight: bold;">
                <?php echo $this->coolPoints;?><br><span style="color:#EF0E0B;"><?=$this->translate("COOL POINTS")?></span>
            </div>
        </div>
        <div class="FP_mid_arrow">
            <?php if($this->userfollowing['isFollowing'] =='1') { ?>
                <input type="button" class="FSP_table_btnT" value="" >
                <div>
                    <a class="unfollow_link" onclick="$().make_unfriend('<?php echo $request->getParam('user_id');?>','<?php echo $viewuser_type;?>');" ><?=$this->translate("Unfollow")?></a>
                </div>
            <?php }
            if($this->userfollowing['isFollowing'] =='0') {
                if($user_type =='B' && $viewuser_type =='U') {
                } else { ?>
                    <a href="javascript:void(0);" onclick="$().make_friend('<?php echo $request->getParam('user_id');?>','<?php echo $viewuser_type;?>');"><img height="38" width="39" src="<?=SITE_URL?>images/arrowup.png" ></a>
            <?php } } ?>
        </div>
        <div class="clr"></div>
        <div id="TabbedPanels1" class="TabbedPanels">
            <?php echo $this->action('index','index', 'scribbles',array('user_id'=>$request->getParam('user_id')));?>
        </div>
    </div>
    <!-----RIGHT COLUMN STARTS---->
    <?php echo $this->action('profilerightbar','index', 'user',array('user_id'=>$request->getParam('user_id')));?>
</div>
<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
    /******* To make a friend ******/
    $(document).ready(function() {
        $.fn.make_friend = function(viewuserid,viewuser_type) {
            var user_id = <?php echo $user_id; ?>;
            var user_type = '<?php echo $user_type; ?>';
            var datastring = "follower_id="+viewuserid+"&follower_type="+viewuser_type+"&user_id="+user_id+"&user_type="+user_type;
            $.ajax({
                type: "POST",
                url: site_url+"user/makefriends",
                data:datastring,
                cache: false,
                success: function(value) {
                    if(value =="success") {
                        $('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
                    } else {
                        return false;
                    }
                }
            });
        }
        $.fn.make_unfriend = function(viewuserid,viewuser_type) {
            jConfirm('Can you confirm this?','',function(r){
                if(r==true) {
                    var datastring = "follower_id="+viewuserid+"&follower_type="+viewuser_type;
                    $.ajax({
                        type: "POST",
                        url: site_url+"user/index/makeunfriends",
                        data:datastring,
                        cache: false,
                        success: function(value) {
                            if(value =="success") {
                                //$('input[name='+ fId+user_type+']').removeClass('FSP_table_UnFrndbtn').addClass('FSP_table_Ubtn');
                                window.location =  site_url+'user/userprofile/'+viewuserid;
                            } else {
                                return false;
                            }
                        }
                    });
                }
            });
        }
    });
</script>