<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab <?php echo ($this->action == 'findFriends' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">1.Popularity</h1>
        <span class="tab_span">Find Friends</span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'signup' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">2.Profile</h1>
        <span class="tab_span">Information </span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'profilepicture' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">3.Upload</h1>
        <span class="tab_span">Profile Picture</span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'videointro' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">4.Upload</h1>
        <span class="tab_span">Video Intro</span>
    </li>
</ul>