<?php $timeObj = new UpmeSocial_View_Helper_Datetimediff(); ?>
<?php if($this->video[0]['comments']) {
     if($this->limit == '5') { ?>
    <div class="comments" onclick="viewmorevideocmts();"><?=$this->translate("View All Comments")?></div>
<?php } else { ?>
    <div class="comments" onclick="viewlessvideocmts();"><?=$this->translate("View Few Comments")?></div>
<?php } } ?>
<div class="clear"></div>
<div class="commentdiv">
<?php foreach($this->video as $key => $video) {
    if(!empty($video['comments'])) {
        if($video['user_type'] == 'U') { ?>
            <div class="comment_panel">
                <div class="comments_user">
                    <div style="width: 75px;float: left;">
                        <a href="<?=SITE_URL?>user/userprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;">
                            <?php if(!empty($video['user_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$video['user_image'])) { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$video['user_image']?>" alt="<?=$video['firstname']?>" >
                            <?php } else { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$video['firstname']?>" >
                            <?php } ?>
                        </a>
                    </div>
                    <div style="width: 295px;float: left;word-wrap: break-word;">
                        <a href="<?=SITE_URL?>user/userprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;"><?=ucwords($video['firstname']." ".$video['lastname']).':<br/>'?></a>
                        <?=urldecode($video['comments'])?>
                    </div>
                </div>
                <div class="comments_times">
                    <?=$this->translate($timeObj->humaneDate($video['commented_date']))?>
                </div>
            </div>
        <?php } else { ?>
            <div class="comment_panel">
                <div class="comments_user">
                    <div style="width: 75px;float: left;">
                        <a href="<?=SITE_URL?>business/businessprofile/<?php echo $video['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                            <?php if(!empty($video['business_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$video['business_image'])) { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$video['business_image']?>" alt="<?=$video['business_firstname']?>" >
                            <?php } else { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$video['business_firstname']?>" >
                            <?php } ?>
                        </a>
                    </div>
                    <div style="width: 295px;float: left;word-wrap: break-word;">
                        <a href="<?=SITE_URL?>business/businessprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;"><?=ucwords($video['business_firstname']." ".$video['business_lastname']).':<br/>'?></a>
                        <?=urldecode($video['comments'])?>
                    </div>
                </div>
                <div class="comments_times">
                    <?=$this->translate($timeObj->humaneDate($video['commented_date']))?>
                </div>
            </div> 
        <?php }
    } else {
        echo '<br/>No Comments To View';
    }
} ?>
</div>