<?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
$userdata = $auth->getIdentity();
$auth_id = $userdata->user_id; ?>
<div id="maindiv">
    <div class="album_title"><?=ucfirst($this->firstname)." ".$this->translate('Albums')?></div>
    <div class="clear"></div><br/>
    <div style="height:450px; overflow-y:auto">
        <?php if(!empty($this->albums)) {
            foreach($this->albums as $key=>$albums) { ?>
                <?php if(!empty($albums['cover_photo'])) { ?>
                    <div class="photoimg">
                        <?php if($auth->hasIdentity() && $auth_id == $this->user_id){ ?>
                            <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletealbum(this,<?=$albums['id']?>)" />
                        <?php } 
                        if(file_exists(UPLOAD_PATH."images/mobile/".$albums['cover_photo']) && $albums['cover_photo'] != '')
                            $image_path = SITE_URL."uploads/images/mobile/".$albums['cover_photo'];
                        else
                            $image_path = SITE_URL."images/huddlenoimage.jpg";
                        ?>
                        <a id="albumphoto_fancybox<?=$albums['id']?>"  href="javascript:void(0);" onclick="getalbumphoto('<?=$albums['id']?>');" title="<?=$albums['album_name']?>" class="variousalbumphoto fancybox.ajax">
                            <img id="albumimg" src="<?=$image_path?>" alt="<?=$albums['album_name']?>" />
                        </a>
                    </div>
                <?php }
            }
        } else {
            echo '<div align="center">No Album To View</div>';
        } ?>
    </div>
</div>
<script type="text/javascript">
function getalbumphoto(albumid) {
    $("#albumphoto_fancybox"+albumid).attr('href',site_url+"user/viewalbumphotos/"+<?=$this->user_id?>+'/'+albumid);
    $('.variousalbumphoto').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
function deletealbum(obj,albumid) {
   if(albumid !=''){
        var datastring = 'album_id=' + albumid + '&ActionType=deleteAlbum';
        $.ajax({
            type: "POST",
            url: site_url+'user/index/deletealbum',
            data:datastring,
            cache: false,
            success: function(msg) {
                if(msg =='1') {
                    $(obj).closest('div').remove();
                }
            }
        });
    }
}
</script>