<?php $timeObj = new UpmeSocial_View_Helper_Datetimediff(); 
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
$userdata = $auth->getIdentity();
$auth_id = $userdata->user_id;
$auth_type = $userdata->user_type;
if($auth_id == $this->user_id) {
    $backUrl = SITE_URL.'user/media/videos';
} else {
    $backUrl = SITE_URL.'user/media/videos/'.$this->user_id;
} ?>
<div class="maindiv">
    <div id="view_photos_bg">
        <div style="float: right; padding-right: 15px;">
            <a id="backtovideos" href="<?=$backUrl?>" title="" class=""><?=$this->translate("Back To Videos")?></a>
        </div>
        <div class="clear"></div>
        <div class="view_image_bg">
            <img src="<?=SITE_URL?>uploads/videos/<?=$this->video['0']['thumbnail_path']?>" width="370px" height="250" />
        </div>
        <div class="clear"></div>
<!--        <div style="/*padding-top: 20px;*/ float: right; margin-right: 5px;">
            <?php /*echo '<pre>';print_r($this->video);exit; if(($auth_id == $this->video[0]['user_id'] && $auth_type == $this->video[0]['user_type']) || $auth_type == 'B') {

                } else {
                    if($this->video[0]['isBlastedVideo']== "") { ?>
                        <a id="blast<?php echo $this->video[0]['video_id']; ?>" class="pointer" onclick="blastVideo('<?php echo $auth_id;?>','<?php echo $auth_type;?>','<?php echo $this->video[0]['video_id']; ?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                    <?php }
                } */ ?>
        </div>
        <div class="clear"></div>-->
        <div id="total_comments">
        <?php if(!empty($this->video[0]['comments'])) {
            if($this->limit == '5') { ?>
                <div class="comments" onclick="viewmorevideocmts();"><?=$this->translate("View All Comments")?></div>
            <?php } else { ?>
                <div class="comments" onclick="viewlessvideocmts();"><?=$this->translate("View Few Comments")?></div>
        <?php } } ?>
            <div class="clear"></div>
            <div style="height:150px;width: 405px; overflow-y:auto;">
                <?php foreach($this->video as $key => $video) {
                    if(!empty($video['comments'])) {
                        if($video['user_type']=='U') {
                    ?>
                    <div class="comment_panel">
                        <div class="comments_user">
                            <div style="width: 75px;float: left;">
                                <a href="<?=SITE_URL?>user/userprofile/<?php echo $video['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                                    <?php if(!empty($video['user_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$video['user_image'])) { ?>
                                        <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$video['user_image']?>" alt="<?=$video['firstname']?>" >
                                    <?php } else { ?>
                                        <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$video['firstname']?>" >
                                    <?php } ?>
                                </a>
                            </div>
                            <div style="width: 295px;float: left;word-wrap: break-word;">
                                <a href="<?=SITE_URL?>user/userprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;"><?=ucwords($video['firstname']." ".$video['lastname']).':<br/>'?></a>
                                <?php echo urldecode($video['comments']); ?>
                            </div>
                        </div>
                        <div class="comments_times">
                            <?=$this->translate($timeObj->humaneDate($video['commented_date']))?>
                        </div>
                    </div>
                <?php } else { ?>
                    <div class="comment_panel">
                        <div class="comments_user">
                            <div style="width: 75px;float: left;">
                                <a href="<?=SITE_URL?>business/businessprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;">
                                    <?php if(!empty($video['business_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$video['business_image'])) { ?>
                                        <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$video['business_image']?>" alt="<?=$video['business_firstname']?>" >
                                    <?php } else { ?>
                                        <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$video['business_firstname']?>" >
                                    <?php } ?>
                                </a>
                            </div>
                            <div style="width: 295px;float: left;word-wrap: break-word;">
                                <a href="<?=SITE_URL?>business/businessprofile/<?=$video['user_posted']?>" style="text-decoration: none; color: #545454;"><?=ucwords($video['business_firstname']." ".$video['business_lastname']).':<br/>'?></a>
                                <?=urldecode($video['comments'])?>
                            </div>
                        </div>
                        <div class="comments_times">
                            <?=$this->translate($timeObj->humaneDate($video['commented_date']))?>
                        </div>
                    </div> 
                <?php } 
                    } else {
                        echo '<br/>No Comments To View';
                    }
                } ?>
            </div>
        </div>
        <input type="text" class="type_comments" maxlength="150" name="commentsbox" id="commentsbox" onblur="if (this.value=='') this.value = 'write your comments'" onfocus="if (this.value=='write your comments') this.value = ''" value="write your comments" >
        <input type="hidden" name="commenteduserid" id="commenteduserid" value="<?=$this->logged_user_id?>" >
        <input type="hidden" name="commentedusertype" id="commentedusertype" value="<?=$this->user_type?>" >
        <input type="hidden" name="videoid" id="videoid" value="<?=$this->video_id?>" >
    </div>
</div>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function() {
    $("#commentsbox").keyup(function(e) {
        if(e.keyCode == 13) {
            var comments = $('#commentsbox').val();
            var uid = $('#commenteduserid').val();
            var utype = $('#commentedusertype').val();
            var vid = $('#videoid').val();
            var cmntlength = comments.length;
            if(cmntlength > '150') {
                alert('Comment should not be exceeded morethan 150 characters');
                return false;
            }
            if(comments !='') {
                var datastring = 'comments= ' + comments + '&user_type=' + utype + '&user_id=' + uid + '&video_id=' + vid + '&ActionType=VideoComments';
                $.ajax({
                    type: "POST",
                    url: site_url+'user/index/addvideocomment',
                    data: datastring,
                    cache: false,
                    success: function(msg) {
                        if(msg =='success') {
                            $('#commentsbox').val("");
                            $('#total_comments').load(site_url+'user/index/viewvideocomments?limit=5&video_id='+vid);
                        }
                    }
                });
            }
        }
    });
    return false;
});
function blastVideo(logged_user_id, loggedUserType, video_id) {
    var dataObj = {
                    logged_user_id: logged_user_id,
                    logged_user_type: loggedUserType,
                    video_id: video_id
            };
    $.ajax({
        method : 'post',
        url : site_url+'user/index/blastvideo',
        success : function(result) {
            var data = $.parseJSON(result);
            if(data['service_status'] =='success') {
                $('#blast'+video_id).remove();
                alert('Blasted Successfully');
                return false;
            }
            if(data['service_status'] == 'error') {
                    alert(data['error_msg']);
                    return false;
            }
            /*else {
                alert('Error processing data.. Please try again!');
                return false;
            }*/
        },
        data: dataObj
    });
}
function viewmorevideocmts() {
    var vid = $('#videoid').val();
    $('#total_comments').load(site_url+'user/index/viewvideocomments?limit=100&video_id='+vid);
}
function viewlessvideocmts() {
    var vid = $('#videoid').val();
    $('#total_comments').load(site_url+'user/index/viewvideocomments?limit=5&video_id='+vid);
}
/*$("#backtovideos_fancybox").click(function() {
    window.location =  <?=$backUrl?>;
});*/
</script>