<!DOCTYPE html>
<html lang="en">
<body>
<section>
   
<div class="FP_body_wrap">
    <div class="FP_top_imgb">
      <img src="images/fp_tp1.jpg" width="104" height="76">
      <img src="images/fp_tp2.jpg" width="104" height="76">
      <img src="images/fp_tp3.jpg" width="104" height="76">
      <img src="images/fp_tp4.jpg" width="104" height="76">
      <img src="images/fp_tp5.jpg" width="104" height="76">
      <img src="images/fp_tp6.jpg" width="104" height="76">
      <img src="images/fp_tp7.jpg" width="104" height="76">
      <img src="images/fp_tp8.jpg" width="55" height="76">
      <img src="images/fp_tp9.jpg" width="55" height="76">
      <img src="images/fp_tp10.jpg" width="55" height="76">
    </div>
    <div class="FP_left_column">
    
      <div class="FP_left_textA">
       
        <div class="FP_left_text">
          <h1>James Buford</h1>
           <p>Got’s to go the next level with the profile panel 
we will do it. Trust me we will. We are so fustrated  
right now. #success</p>
        </div>
          <div class="FP_left_cp"></div>
          
      </div>
       
       <div class="FP_tab_btn">level</div>
       <div class="FP_tab_con">
        <div class="H_row" style="margin-top:0px; border-top:none;"><img src="images/img4.png" width="66" height="66" style="margin-top:10px;">
        <div class="H_row_cnt_otr" style="width:360px;">
        <h2>James Buford</h2><h2>ceobuford</h2><br>
        <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2><br>
        <span class="time"><strong>2 hours ago</strong></span> 
            <a href="#"><img class="tab_icon2" src="images/reply.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/up_icon.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/down_icon.png" ></a>
            <a href="#"><img class="tab_icon" src="images/blast_icon.png"></a>
        </div>
        </div>
        
        <div class="H_row" style="margin-top:0px; border-top:none;"><img src="images/img6.png" width="66" height="66" style="margin-top:10px;">
        <div class="H_row_cnt_otr" style="width:360px;">
        <h2>James Buford</h2><h2>ceobuford</h2><br>
        <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2><br>
        <span class="time"><strong>2 hours ago</strong></span> 
            <a href="#"><img class="tab_icon2" src="images/reply.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/up_icon.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/down_icon.png" ></a>
            <a href="#"><img class="tab_icon" src="images/blast_icon.png"></a>
        </div>
        </div>
        
        <div class="H_row" style="margin-top:0px; border-top:none;"><img src="images/img5.png" width="66" height="66" style="margin-top:10px;">
        <div class="H_row_cnt_otr" style="width:360px;">
        <h2>James Buford</h2><h2>ceobuford</h2><br>
        <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2><br>
        <span class="time"><strong>2 hours ago</strong></span> 
            <a href="#"><img class="tab_icon2" src="images/reply.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/up_icon.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/down_icon.png" ></a>
            <a href="#"><img class="tab_icon" src="images/blast_icon.png"></a>
        </div>
        </div>
        
        <div class="H_row" style="margin-top:0px; border-top:none;"><img src="images/img5.png" width="66" height="66" style="margin-top:10px;">
        <div class="H_row_cnt_otr" style="width:360px;">
        <h2>James Buford</h2><h2>ceobuford</h2><br>
        <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2><br>
        <span class="time"><strong>2 hours ago</strong></span> 
            <a href="#"><img class="tab_icon2" src="images/reply.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/up_icon.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/down_icon.png" ></a>
            <a href="#"><img class="tab_icon" src="images/blast_icon.png"></a>
        </div>
        </div>
        
        <div class="H_row" style="margin-top:0px; border-top:none;"><img src="images/img5.png" width="66" height="66" style="margin-top:10px;">
        <div class="H_row_cnt_otr" style="width:360px;">
        <h2>James Buford</h2><h2>ceobuford</h2><br>
        <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2><br>
        <span class="time"><strong>2 hours ago</strong></span> 
            <a href="#"><img class="tab_icon2" src="images/reply.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/up_icon.png" ></a>
            <a href="#"> <img class="tab_icon" src="images/down_icon.png" ></a>
            <a href="#"><img class="tab_icon" src="images/blast_icon.png"></a>
        </div>
        </div>
        
        
       </div>
    </div>
    <div class="FP_mid_column">
     <div class="FP_mid_arrow"><img src="images/arrowup.png" width="39" height="38"></div>
     <div class="FP_mid_pic1"></div>
     <div class="FP_mid_txt1">My Level</div>
     <div class="FP_mid_pic2">
       <img src="images/img15.png" width="72" height="72">
       <img src="images/img15.png" width="72" height="72">
     </div>
     
     <div class="FP_mid_pic3">
       <img src="images/img5.png" width="59" height="59">
       <img src="images/img5.png" width="59" height="59" >
       <img src="images/img5.png" width="59" height="59">
     </div>
     <div class="FP_mid_txt2"><a href="#">more</a></div>
     <div class="FP_mid_txt3">Downline</div>
     
     <div class="FP_mid_pic3" style="height:61px; width:193px;">
        <img src="images/img4.png" width="60" height="61">
        <img src="images/img4.png" width="60" height="61">
        <img src="images/img4.png" width="60" height="61">
        
     </div>
     
     <div class="FP_mid_pic3" style="margin-top:5px;">
       <img src="images/img5.png" width="59" height="59" style="margin-left:1px;">
       <img src="images/img5.png" width="59" height="59" >
       <img src="images/img5.png" width="59" height="59">
     </div>
     
     <div class="FP_mid_pic3" style="height:61px; width:193px; margin-top:3px;">
        <img src="images/img4.png" width="60" height="61">
        <img src="images/img4.png" width="60" height="61">
        <img src="images/img4.png" width="60" height="61">
        
     </div>
     
     <div class="FP_mid_pic3" style="margin-top:7px;">
       <img src="images/img5.png" width="59" height="59" style="margin-left:1px;">
       <img src="images/img5.png" width="59" height="59" >
       <img src="images/img5.png" width="59" height="59">
     </div>
     
     <div class="FP_mid_txt2"><a href="#">more</a></div>
     
    </div>
    
    <div class="FP_right_column">
       <div class="FP_right_box1">
       
            <div class="FP_right_popt_con">
               <div class="FP_right_popt"></div>
               <div class="FP_right_poptext">BRONZE</div>
            </div>
            
            <div class="FP_right_poptext2">
                SCRIBBLES<br>
                <span>20, 000</span><br>
                <input type="button" class="FP_right_poptb" value="">
            </div>
            
            <div class="FP_right_poptext2" style="width:81px; margin-left:39px;">
                 followers<br>
                <span>20, 000</span><br>
                <input type="button" class="FP_right_poptb" value="">
            </div>
            
            <div class="FP_right_poptext2" style="width:81px; margin-left:39px;">
                 followers<br>
                <span>20, 000</span><br>
                <input type="button" class="FP_right_poptb" value="">
            </div>
            
       </div>
       
       <div class="FP_right_box2">
          <div class="FP_right_box2_IR">
             <img src="images/img9.png" width="90" height="110" style="margin:0 4px 0 24px;">
             <img src="images/img8.png" width="90" height="110" style="margin-right:4px;">
             <img src="images/img7.png" width="90" height="110">
          </div>
          
          <div class="FP_right_box2_It">
           <span>Huddles</span>
           <span>My Photos</span>
           <span>My Videos</span>
          </div>
          
       </div>
       
       <div class="grayBox">
<div class="popularity_tab_ttl4">Hotspots  <span class="popularity_tab_ttl5">8:00:59 pm</span><div class="title6">UpMe</div></div>

   
    <div class="grayBox_row">
     <img src="images/img10.png" width="41" height="41">
    <div class="grayBox_dtl_otr">
    <span class="title7"> Starbucks</span><br>
    <span class="title8">20,000 followers  + 2 coupons</span>  
    </div>
    <div class="grayBox_btn_otr"><img src="images/up_icon2.png" width="28" height="17"><img src="images/close.png" width="24" height="23"></div>
    </div>
    
    <div class="grayBox_row">
     <img src="images/img11.png" width="41" height="41">
    <div class="grayBox_dtl_otr">
    <span class="title7"> Starbucks</span><br>
    <span class="title8">20,000 followers  + 2 coupons</span>  
    </div>
    <div class="grayBox_btn_otr"><img src="images/up_icon2.png" width="28" height="17"><img src="images/close.png" width="24" height="23"></div>
    </div>
    
    <div class="grayBox_row">
     <img src="images/img12.png" width="41" height="41">
    <div class="grayBox_dtl_otr">
    <span class="title7"> Starbucks</span><br>
    <span class="title8">20,000 followers  + 2 coupons</span>  
    </div>
    <div class="grayBox_btn_otr"><img src="images/up_icon2.png" width="28" height="17"><img src="images/close.png" width="24" height="23"></div>
    </div>
    
    <div class="grayBox_row">
     <img src="images/img10.png" width="41" height="41">
    <div class="grayBox_dtl_otr">
    <span class="title7"> Starbucks</span><br>
    <span class="title8">20,000 followers  + 2 coupons</span>  
    </div>
    <div class="grayBox_btn_otr"><img src="images/up_icon2.png" width="28" height="17"><img src="images/close.png" width="24" height="23"></div>
    </div>
    
    
    
    <div class="grayBox_pag_otr">
    <span class="title9">View more Hotspots&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View People Spots</span></div>

</div>
 
    <div class="FP_right_box3_t">Top Offers</div>
   <div class="FP_right_box3">
   
       <div id="slides" style="top:743px; left:858px;">
         <div class="slides_container" style="width:320px; height:61px;">
         
            <div class="slide" style="width:320px; height:61px;">
               <div class="FP_right_box3_img"><img src="images/oil_w.png" width="60" height="48"></div>
               <div class="FP_right_box3_p">
                 <h1>Free Hair Wash</h1>
                 <p>Red Hair Salon<br/>123 S main Street Royal Oak,Michigan</p>
               </div>
            </div>
            
            <div class="slide" style="width:320px; height:61px;">
               <div class="FP_right_box3_img"><img src="images/oil_w.png" width="60" height="48"></div>
               <div class="FP_right_box3_p">
                 <h1>Free Hair Wash</h1>
                 <p>Red Hair Salon<br/>123 S main Street Royal Oak,Michigan</p>
               </div>
            </div>   
         </div>
         <a href="#" class="next" style="left:280px; top:15px;"><img src="images/arrow_btn.png" width="8" height="15"></a>
       </div>
       
   </div>
       
    </div>
    
    
</div>   

</section>
</body>
</html>