<?php 
    $request = Zend_Controller_Front::getInstance()->getRequest(); 
//    /echo '<pre>';print_r($request->getParams());exit;
    $request_user_id = $request->getParam('user_id');
    if($this->businessAuthVar == 1) {
       $logged_user_type = "B";
       $logged_user_id = $this->businessdata->business_id;;
    }

    if($this->userAuthVar == 1) {
       $logged_user_type = "U";
       $logged_user_id = $this->userdata->user_id;
    }
    $loadMoreMarginTop = 'margin-top:10px';
    $textContent = "No More Followers Available";
    if($request_user_id == ''){
        $request_user_id = $logged_user_id;
    }
    if($this->pagenum == 0){
        $loadMoreMarginTop = 'margin-top:100px';
        $textContent = "No Followers Available";
?>
<section style="padding: 0px;">
    <div class="FSP_container" style="padding: 10px;">
        <div class="FSP_poptitle"></div>
        <div class="FSP_Ftitle"><?php echo 'FOLLOWERS'; ?></div>
        <div class="FSP_table_con" id="FollowersDiv">
        <?php }
            $followerCnt = count($this->userfollowers);
            if($followerCnt > 0) {
                foreach($this->userfollowers as $row) { //echo '<pre>';print_r($row);exit;
                    $path = 'images/thumbnails/'.$row['image_name'];
                    $imgPath = (($row['image_name'] != '') && file_exists(UPLOAD_PATH.$path))?SITE_URL.'uploads/'.$path:SITE_URL.'public/images/no-user.gif';?>
                    <div class="FSP_table_row" id="<?php echo $row['user_id']; ?>">
                        <div class="FSP_table_pic">
                            <a class="pointer" onclick="redirect(<?php echo $row['user_id'];?>,'<?php echo $row['user_type'];?>');">
                                <img src="<?php echo $imgPath; ?>" border="0" width="66" height="66" title="<?php echo ucwords($row['firstname']); ?>">
                            </a>
                        </div>
                        <div class="HA_right_scroll_name" style="margin:13px 0 0 0;">
                            <a class="pointer" onclick="redirect(<?php echo $row['user_id'];?>,'<?php echo $row['user_type'];?>');"><?php echo ucwords($row['firstname'].' '.$row['lastname']); ?></a>
                            <span><b><?php echo '@'.$row['username']; ?></b></span>
                            <span class='messagelevel'><b><?php echo ucwords($row['user_level_name']); ?></b></span>
                            <span class='messagelevel'><b><?php echo ucwords($row['cool_points']); ?></b></span>
                        </div>
                        <?php if($logged_user_type=='B' && $row['user_type']=='U') {
                        } else {
                            if($row['isFollowing'] =='1') { ?>
                                <input type="button" class="FSP_table_btnT" value="">
                            <?php }
                            if($row['isFollowing'] =='0') { ?>
                                <input type="button" class="FSP_table_Ubtn" name="<?php echo $row['user_id']; ?><?php echo $row['user_type']; ?>" value="" onclick="$().make_friend('<?php echo $row['user_id'];?>','<?php echo $row['user_type'];?>');">
                            <?php }
                        }?>
                    </div>
                <?php }
            }
            if($followerCnt >= $this->limit) {
               echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreUserFollowers('.$request_user_id.', '.(($this->pagenum)+1).', '.$this->limit.');">'.$this->translate("Load more followers").'</div>';
            }
            if($followerCnt == 0) {
                echo "<div class='notAvailable' style='".$loadMoreMarginTop."' align='center'>".$textContent."</div>";
            } ?>
        </div>
    </div>
</section>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function(){
    $.fn.make_friend = function(fId,user_type){
        var datastring = "follower_id="+fId+"&follower_type="+user_type;
        $.ajax({
            type: "POST",
            url: site_url+"user/makefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                 var data = $.parseJSON(value);
                if(data['service_status']=='success') {
                    $('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
                } else {
                    return false;
                }
            }
        });       
    }
});  
</script>