<?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
$userdata = $auth->getIdentity();
$auth_id = $userdata->user_id;
if($auth_id == $this->user_id) {
    $backUrl = SITE_URL.'user/media/photos';
} else {
    $backUrl = SITE_URL.'user/media/photos/'.$this->user_id;
} ?>
    <div style="float: right; padding-right: 15px;">
        <a id="backtoalbum"  href="<?=$backUrl?>" title=""><?=$this->translate("Back To Album")?></a>
    </div>
    <div class="clear"></div>
    <div class="adjustdelbtn">
        <?php if(!empty($this->photos)) {
            foreach($this->photos as $key=>$photos) {
                if(!empty($photos['photo_modified_name'])) { ?>
                    <div class="photoimg">
                        <?php if($auth->hasIdentity() && $auth_id == $this->user_id) { ?>
                            <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletephoto(this,<?=$photos['photo_id']?>);" >
                        <?php } 
                        if(file_exists(UPLOAD_PATH."images/mobile/".$photos['photo_modified_name']) && $photos['photo_modified_name'] != '')
                            $image_path = SITE_URL."uploads/images/mobile/".$photos['photo_modified_name'];
                        else
                            $image_path = SITE_URL."images/huddlenoimage.jpg";
                        ?>
                        <a id="photocomment_fancybox<?=$photos['photo_id']?>" href="javascript:void(0);" onclick="getphotocomment('<?=$this->album_id?>','<?=$photos['photo_id']?>');" title="" class="variousphotocomment fancybox.ajax">
                            <img id="albumimg" src="<?=$image_path?>" alt="" >
                        </a>
                    </div>
                <?php }
            }
        } else { echo 'No Photos To View'; } ?>
    </div>
<script type="text/javascript">
function getphotocomment(albumid,photoid) {
    $("#photocomment_fancybox"+photoid).attr('href',site_url+"user/viewalbumphotowithcomments/"+<?=$this->user_id?>+"/"+albumid+"/"+photoid);
    $('.variousphotocomment').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
function deletephoto(obj,photoid) {
   if(photoid !='') {
        var datastring = 'photo_id=' + photoid + '&ActionType=deletePhoto';
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            $.ajax({
                type: "POST",
                url: site_url+'user/index/deletephoto',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg =='1') {
                        $(obj).closest('div').remove();
                    }
                }
            });
        }});
    }
}
</script>