<?php $timeObj = new UpmeSocial_View_Helper_Datetimediff(); ?>
<?php if(!empty($this->photo['0']['comments']) && $this->commentcnt > 5) { if($this->limit == '5') { ?>
    <div class="comments" onclick="viewmorephotocmts();"><?=$this->translate("View All Comments")?></div>
<?php } else { ?>
    <div class="comments" onclick="viewlessphotocmts();"><?=$this->translate("View Few Comments")?></div>
<?php } } ?>
<div class="clear"></div>
<div style="height:150px;width: 405px; overflow-y:auto;">
<?php foreach($this->photo as $key => $photo) {
    if(!empty($photo['comments'])) {
        if($photo['user_type']== 'U') { ?>
            <div class="comment_panel">
                <div class="comments_user">
                    <div style="width: 60px;float: left;">
                        <a href="<?=SITE_URL?>user/userprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                            <?php if(!empty($photo['user_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$photo['user_image'])) { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$photo['user_image']?>" alt="<?=$photo['firstname']?>"/>
                            <?php } else { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$photo['firstname']?>"/>
                            <?php } ?>
                        </a>
                    </div>
                    <div style="width: 295px;float: left;word-wrap: break-word;">
                        <a href="<?=SITE_URL?>user/userprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;"><?php echo ucwords($photo['firstname']." ".$photo['lastname']).':<br/>'; ?></a>
                        <?php echo urldecode($photo['comments']); ?>
                    </div>
                </div>
                <div class="comments_times">
                    <?=$this->translate($timeObj->humaneDate($photo['commented_date']))?>
                </div>
            </div>
        <?php } else { ?>
            <div class="comment_panel">
                <div class="comments_user">
                    <div style="width: 60px;float: left;">
                        <a href="<?=SITE_URL?>business/businessprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                            <?php if(!empty($photo['business_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$photo['business_image'])) { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$photo['business_image']?>" alt="<?=$photo['business_firstname']?>"/>
                            <?php } else { ?>
                                <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$photo['business_firstname']?>"/>
                            <?php } ?>
                        </a>
                    </div>
                    <div style="width: 295px;float: left;word-wrap: break-word;">
                        <a href="<?=SITE_URL?>business/businessprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;"><?php echo ucwords($photo['business_firstname']." ".$photo['business_lastname']).':<br/>'; ?></a>
                        <?php echo urldecode($photo['comments']); ?>
                    </div>
                </div>
                <div class="comments_times">
                    <?=$this->translate($timeObj->humaneDate($photo['commented_date']))?>
                </div>
            </div>
        <?php }
    } else {
        echo '<br/>No Comments To View';
    }
} ?>
</div>