<?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    $userdata = $auth->getIdentity();
    if(isset($userdata->user_type) && ($userdata->user_type == "B"))
        $user_type = "B";
    else
        $user_type = "U";
    if($auth->hasIdentity()) {
        $logged_user_id = $userdata->user_id;
        $logged_user_type = 'U';
    } else {
        $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
        $data = $auth->getIdentity();
        $logged_user_id = $data->business_id;
        $logged_user_type = 'B';
    }
    $timeObj = new UpmeSocial_View_Helper_Datetimediff(); ?>
<div class="maindiv">
    <div id="view_photos_bg">
        <div style="float: right; padding-right: 15px;">
            <a id="backtoalbumphotos_fancybox" href="javascript:void(0);" title="" class="variousbacktoalbumphotos fancybox.ajax"><?=$this->translate("Back To Album Photos")?></a>
        </div>
        <div class="clear"></div>
        <div class="view_image_bg">
            <div>
                <?php
                if(file_exists(UPLOAD_PATH."images/mobile/".$this->photo['0']['photo_modified_name']) && $this->photo['0']['photo_modified_name'] != '')
                            $image_path = SITE_URL."uploads/images/mobile/".$this->photo['0']['photo_modified_name'];
                        else
                            $image_path = SITE_URL."images/huddlenoimage_medium.png";
                ?>
                <img src="<?=$image_path?>" ><!--  width="370px" height="250" -->
            </div>
        </div>
        <div class="clear"></div>
        <div style="/*padding-top: 20px;*/ float: right; margin-right: 5px;">
            <?php if(($logged_user_id == $this->photo[0]['user_id'] && $user_type == $this->photo[0]['user_type']) || $logged_user_type == 'B') {

                } else {
                    if($this->photo[0]['isBlastedPhoto'] == "") { ?>
                        <a id="blast<?php echo $this->photo[0]['photo_id']; ?>" class="pointer" onclick="blastPhoto('<?php echo $logged_user_id;?>','<?php echo $user_type;?>','<?php echo $this->photo[0]['photo_id']; ?>')"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                    <?php }
                } ?>
        </div>
        <div class="clear"></div>
        <div id="total_comments">
            <?php if(!empty($this->photo['0']['comments']) && $this->commentcnt > 5) { if($this->limit == '5') { ?>
                <div class="comments" onclick="viewmorephotocmts();" ><?=$this->translate("View All Comments")?></div>
            <?php } else { ?>
                <div class="comments" onclick="viewlessphotocmts();" ><?=$this->translate("View Few Comments")?></div>
            <?php } } ?>
            <div class="clear"></div>
            <div style="height:150px;width: 405px; overflow-y:auto;">
            <?php foreach($this->photo as $key => $photo) {
                if(!empty($photo['comments'])) {
                    if($photo['user_type']=='U') {
                ?>
                <div class="comment_panel">
                    <div class="comments_user">
                        <div style="width: 60px;float: left;">
                            <a href="<?=SITE_URL?>user/userprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                                <?php if(!empty($photo['user_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$photo['user_image'])) { ?>
                                    <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$photo['user_image']?>" alt="<?=$photo['firstname']?>"/>
                                <?php } else { ?>
                                    <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$photo['firstname']?>"/>
                                <?php } ?>
                            </a>
                        </div>
                        <div style="width: 295px;float: left;word-wrap: break-word;">
                            <a href="<?=SITE_URL?>user/userprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;"><?php echo ucwords($photo['firstname']." ".$photo['lastname']).':<br/>'; ?></a>
                            <?php echo urldecode($photo['comments']); ?>
                        </div>
                    </div>
                    <div class="comments_times">
                        <?php echo $this->translate($timeObj->humaneDate($photo['commented_date'])); ?>
                    </div>
                </div>
            <?php } else { ?>
                <div class="comment_panel">
                    <div class="comments_user">
                        <div style="width: 60px;float: left;">
                            <a href="<?=SITE_URL?>business/businessprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;">
                                <?php if(!empty($photo['business_image']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$photo['business_image'])) { ?>
                                    <img width="50px" height="45px" src="<?=SITE_URL?>uploads/images/thumbnails/<?=$photo['business_image']?>" alt="<?=$photo['business_firstname']?>"/>
                                <?php } else { ?>
                                    <img width="50px" height="45px" src="<?=SITE_URL?>images/no-user.gif" alt="<?=$photo['business_firstname']?>"/>
                                <?php } ?>
                            </a>
                        </div>
                        <div style="width: 295px;float: left;word-wrap: break-word;">
                            <a href="<?=SITE_URL?>business/businessprofile/<?php echo $photo['user_posted']; ?>" style="text-decoration: none; color: #545454;"><?php echo ucwords($photo['business_firstname']." ".$photo['business_lastname']).':<br/>'; ?></a>
                            <?php echo urldecode($photo['comments']); ?>
                        </div>
                    </div>
                    <div class="comments_times">
                        <?php echo $this->translate($timeObj->humaneDate($photo['commented_date'])); ?>
                    </div>
                </div>
            <?php }
            } else {
                    echo '<br/>No Comments To View';
                }
            } ?>
            </div>
        </div>
        <input type="text" class="type_comments" maxlength="150" name="commentsbox" id="commentsbox" onblur="if (this.value=='') this.value = 'write your comments'" onfocus="if (this.value=='write your comments') this.value = ''" value="write your comments" >
        <input type="hidden" name="commenteduserid" id="commenteduserid" value="<?=$this->user_id?>">
        <input type="hidden" name="commentedusertype" id="commentedusertype" value="<?=$this->user_type?>">
        <input type="hidden" name="photoid" id="photoid" value="<?=$this->photo_id?>">
    </div>
</div>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function() {
    $("#commentsbox").keyup(function(e) {
        if(e.keyCode == 13) {
            var comments = $('#commentsbox').val();
            var uid = $('#commenteduserid').val();
            var utype = $('#commentedusertype').val();
            var pid = $('#photoid').val();
            var cmntlength = comments.length;
            if(cmntlength > '150') {
                alert(cmntlength);
                alert('Comment should not be exceeded morethan 150 characters');
                return false;
            }
            if(comments !='') {
                var datastring = 'comments= ' + comments + '&user_type=' + utype + '&user_id=' + uid + '&photo_id=' + pid + '&ActionType=PhotoComments';
                $.ajax({
                    type: "POST",
                    url: site_url+'user/index/addphotocomment',
                    data:datastring,
                    cache: false,
                    success: function(msg) {
                        if(msg =='success') {
                            $('#commentsbox').val("");
                            $('#total_comments').load(site_url+'user/viewcomments/5/'+pid+'/'+uid+'/'+utype);
                        }
                    }
                });
            }
        }
    });
    return false;
});
function viewmorephotocmts(){
    var pid = $('#photoid').val();
    var uid = $('#commenteduserid').val();
    var utype = $('#commentedusertype').val();
    $('#total_comments').load(site_url+'user/viewcomments/100/'+pid+'/'+uid+'/'+utype);
}
function viewlessphotocmts(){
    var pid = $('#photoid').val();
    var uid = $('#commenteduserid').val();
    var utype = $('#commentedusertype').val();
    $('#total_comments').load(site_url+'user/viewcomments/5/'+pid+'/'+uid+'/'+utype);
}
$("#backtoalbumphotos_fancybox").click(function() {
    $.fancybox.close();
});
function blastPhoto(logged_user_id, loggedUserType, photo_id) {
    var dataObj = {
                    logged_user_id: logged_user_id,
                    logged_user_type: loggedUserType,
                    photo_id: photo_id
            };
    $.ajax({
        method : 'post',
        url : site_url+'user/blastphoto',
        success : function(result) {
            var data = $.parseJSON(result);
            if(data['service_status'] =='success') {
                $('#blast'+photo_id).remove();
                alert('Blasted Successfully');
                return false;
            }
            if(data['service_status'] == 'error') {
                    alert(data['error_msg']);
                    return false;
            }
            /*else {
                alert('Error processing data.. Please try again!');
                return false;
            }*/
        },
        data: dataObj
    });
}
</script>