<?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id; ?>
<div id="maindiv">
    <div class="album_title"><?=$this->translate('Users Videos')?></div>
    <div class="clear"></div>
    <?php if(!empty($this->videos)) {
        foreach($this->videos as $key=>$videos) { ?>
<!--            <div class="album_title"><?=$videos['video_name']?></div>
            <div class="clear"></div>-->
            <div class="photoimg">
                <?php if(!$auth->hasIdentity() && $user_id == $this->user_id) { ?>
                    <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletevideo(this,<?=$videos['video_id']?>);" >
                <?php } ?>
                <a id="videocomments_fancybox<?=$videos['video_id']?>" href="javascript:void(0);" onclick="getvideocomment('<?=$videos['video_id']?>');" title="<?=$videos['video_name']?>" class="variousvideocomments fancybox.ajax">
                    <img id="albumimg" src="<?=SITE_URL?>uploads/videos/<?=$videos['thumbnail_path']?>" alt="<?=$videos['video_name']?>" >
                </a>
            </div>
        <?php }
    } else {
        echo '<div align="center">No Videos To View</div>';
    } ?>
</div>
<script type="text/javascript">
function getvideocomment(id) {
    $("#videocomments_fancybox"+id).attr('href',site_url+'user/viewvideowithcomments/'+<?=$this->user_id?>+'/'+id);
    $('.variousvideocomments').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
function deletevideo(obj,videoid) {
   if(videoid !='') {
        var datastring = 'video_id=' + videoid + '&ActionType=deleteVideo';
        $.ajax({
            type: "POST",
            url: site_url+'user/index/deletevideo',
            data:datastring,
            cache: false,
            success: function(msg) {
                if(msg =='1') {
                    $(obj).closest('div').remove();
                }
            }
        });
    }
}
</script>