<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("Edit College");?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                        <?php echo $this->form; ?>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script language="javascript">
$(document).ready(function(){
    $("#addcollege").validate({
        college_name: {
            required: true
        },
        college_city: {
            required: true
        }
    });
});
</script>