<?php echo $this->doctype('HTML5');?>
<html>
<head>
<link rel="icon" href="<?=SITE_URL?>images/up_icon2.png" type="image/gif">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>:: <?=$this->translate('UPMEsocial Admin')?> ::</title>
<script type="text/javascript">
    var site_url = '<?php echo SITE_URL; ?>';
</script>
<?php  
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/admin/less/bootstrap.css'))
                        ->appendStylesheet($this->baseUrl('css/admin/less/custom.css'))
                        ->appendStylesheet($this->baseUrl( 'css/admin/calendar.css'))
                        ->appendStylesheet($this->baseUrl('css/admin/juiceme.css'))
                        ->appendStylesheet($this->baseUrl().'/css/jquery.alerts.css')
                        ->headLink(array('rel' => 'icon','type'=>'image/x-icon',
                                  'href' => $this->baseUrl('favicon.ico')),
                                  'PREPEND');
    echo $this->headScript()->appendFile($this->baseUrl('js/jquery-1.8.0.min.js'))
                        ->appendFile($this->baseUrl('js/jquery.validate.js'))
                        ->appendFile($this->baseUrl('js/formvalidations.js'))
                        ->appendFile($this->baseUrl('js/jquery.alerts.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap.js'))                        
                        ->appendFile($this->baseUrl('js/admin/bootstrap-transition.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-alert.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-modal.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-dropdown.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-scrollspy.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-tab.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-tooltip.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-popover.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-button.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-collapse.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-carousel.js'))
                        ->appendFile($this->baseUrl('js/admin/bootstrap-typeahead.js'))
                        ->appendFile($this->baseUrl('js/admin/general.js'))
                        ->appendFile($this->baseUrl('js/general.js'))
                        ->appendFile($this->baseUrl('js/jquery-ui-datepicker.min.js'))
                        ->appendFile($this->baseUrl('js/admin/custom.js'))
                        ->appendFile($this->baseUrl('js/modernizr-1.7.min.js'))
                        ->appendFile($this->baseUrl('js/paginator.js'));
	
  ?>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Le fav and touch icons -->
   
</head>
<body>
    <header class="navbar navbar-fixed-top row-fluid">
    <?php  $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('adminuser'));?>
      <div class="navbar-inner">
        <div class="container-fluid">
          <section class="left">
            <a class="brand" href="<?php echo $this->url(array('controller'=>'index', 'action'=>'index')); ?>"><img src="<?php echo $this->baseUrl('images/upme_social_logo2.png'); ?>" alt=""></a>
            <?php  if ($auth->hasIdentity()) { 
                //echo "<pre>";print_r($auth->getIdentity());exit;
            ?>
            <div class="adminDetails">
                <!--<span class="user">Version 2.0.0</span>-->
                <span class="user"><?php echo ucfirst($auth->getIdentity()->admin_name); ?></span>
                <!-- <span class="pswdchange">Last Login: 09 May 2012</span>-->
                <?php 
                if($auth->getIdentity()->last_login_time != '0000-00-00 00:00:00')
                    $lastLogin = date('d M Y',strtotime($auth->getIdentity()->last_login_time));
                else 
                    $lastLogin = "No previous login";
                ?>
                <span class="pswdchange"><?php echo $this->translate("Last Login").':'.$lastLogin; ?></span>
            </div>
            <?php } ?>
          </section><!-- End of left Section -->
          <?php  if ($auth->hasIdentity()) { //echo '<pre>';print_r($this->page);exit;?>
          <section class="right">
            <ul class="topControls">
              <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'index', 'action'=>'changepassword'), 'default',true); ?>" data-parent="#mainNav" class="accordion-toggle <?php if($this->page_Name == 'changepassword'){?>active<?php }?>"><i class="icon-briefcase icon-white"></i><?php echo $this->translate("ChangePassword");?></a></li>
              <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'index', 'action'=>'logout'), 'default',true); ?>"><i class="icon-off icon-white"></i><?php echo $this->translate("Logout");?></a></li>
            </ul>
          </section>
            <?php }?>
        </div>
      </div><!-- End of Wrapper -->
    </header>
    <!-- End of Topbar (100% of the page) -->
    <!-- End of Top Bar -->
    <section id="content" class="row-fluid equalize">
    <?php echo $this->render('admin-left.phtml');
        echo $this->layout()->content; 
    ?>
    </section>
    <div style="clear:both"></div>
    <!--<footer class="row-fluid">
        <div class="padding10">
        <span class="copyright">
            <?php //echo $this->translate("&copy;2012 GO-Gulf. All Rights Reserved.");?>
        </span>
        <span>| <a href=""><?php //echo $this->translate("Top");?></a></span>
        <span class="pull-right">
            <a href="http://www.go-gulf.com" target="_blank"><?php //echo $this->translate("Powered by Dubai Web Design: GO-Gulf");?></a>
        </span>
        </div>
    </footer>-->
</body> 
</html>