<?php  $auth = Zend_Auth::getInstance();
if($this->page_Name != 'login') { ?>
    <aside id="panels" class="span3">
        <nav>
            <ul id="mainNav" class="accordion">
                <!------ DASHBOARD ------>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'index', 'action'=>'dashboard'), 'default',true); ?>" class="accordion-toggle <?php if($this->page_Name == 'dashboard'){?>active<?php }?>"><?php echo $this->translate("Dashboard");?></a>
                </li>              
                <!------ CATEGORIES MANAGEMENT ------>
                <li>
                    <a href="#collapseOne" data-parent="#categories" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Categories Management");?></a>
                    <ul <?php if($this->page_Name == 'categoriesmanagement' || $this->page_Name == 'addcategory' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseOne">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'categories', 'action'=>'index'), 'default',true); ?>" data-parent="#categories" class="accordion-toggle <?php if($this->page_Name == 'categoriesmanagement'){?>active<?php }?>"><?php echo $this->translate("View categories");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'categories', 'action'=>'addcategory'), 'default',true); ?>" data-parent="#categories" class="accordion-toggle <?php if($this->page_Name == 'addcategory'){?>active<?php }?>"><?php echo $this->translate("Add Category");?></a></li>
                    </ul>
                </li>
                <!------ USER LEVELS MANAGEMENT ------>
                <li>
                    <a href="#collapseTwo" data-parent="#userlevels" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("User Levels Management");?></a>
                    <ul <?php if($this->page_Name == 'userlevelsmanagement' || $this->page_Name == 'adduserlevel' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseTwo">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlevels', 'action'=>'index'), 'default',true); ?>" data-parent="#userlevels" class="accordion-toggle <?php if($this->page_Name == 'userlevelsmanagement'){?>active<?php }?>"><?php echo $this->translate("View User Level Points");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'userlevels', 'action'=>'adduserlevel'), 'default',true); ?>" data-parent="#userlevels" class="accordion-toggle <?php if($this->page_Name == 'adduserlevel'){?>active<?php }?>"><?php echo $this->translate("Add User Level Points");?></a></li>
                    </ul>
                </li>
                <!------ COOL POINTS MANAGEMENT ------>
                <li>
                    <a href="#collapseEleven" data-parent="#coolpoints" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Cool Points Management");?></a>
                    <ul <?php if($this->page_Name == 'coolpointsmanagement' || $this->page_Name == 'addcoolpoints' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseEleven">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'coolpoints', 'action'=>'index'), 'default',true); ?>" data-parent="#userlevels" class="accordion-toggle <?php if($this->page_Name == 'coolpointsmanagement'){?>active<?php }?>"><?php echo $this->translate("View Cool Points");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'coolpoints', 'action'=>'addcoolpoints'), 'default',true); ?>" data-parent="#userlevels" class="accordion-toggle <?php if($this->page_Name == 'addcoolpoints'){?>active<?php }?>"><?php echo $this->translate("Add Cool Points");?></a></li>
                    </ul>
<!--                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'coolpoints', 'action'=>'index'), 'default',true); ?>" data-parent="#mainNav" class="accordion-toggle <?php if($this->page_Name == 'coolpointsmanagement'){?>active<?php }?>"><?php echo $this->translate("Cool Points Management");?></a>-->
                </li>
                <!------ CMS MANAGEMENT ------>
                <li>
                    <a href="#collapseThree" data-parent="#cms" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("CMS Management");?></a>
                    <ul <?php if($this->page_Name == 'cmsmanagement' || $this->page_Name == 'addcms' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseThree">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'cms', 'action'=>'index'), 'default',true); ?>" data-parent="#cms" class="accordion-toggle <?php if($this->page_Name == 'cmsmanagement'){?>active<?php }?>"><?php echo $this->translate("View CMS");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'cms', 'action'=>'addcms'), 'default',true); ?>" data-parent="#cms" class="accordion-toggle <?php if($this->page_Name == 'addcms'){?>active<?php }?>"><?php echo $this->translate("Add CMS");?></a></li>
                    </ul>
                </li>
                <!------ USERS MANAGEMENT ------>
                <li>
                    <a href="#collapseFour" data-parent="#users" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Users Management");?></a>
                    <ul <?php if($this->page_Name == 'usersmanagement' || $this->page_Name == 'adduser' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseFour">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'users', 'action'=>'index'), 'default',true); ?>" data-parent="#user" class="accordion-toggle <?php if($this->page_Name == 'usersmanagement'){?>active<?php }?>"><?php echo $this->translate("View Users");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'users', 'action'=>'adduser'), 'default',true); ?>" data-parent="#user" class="accordion-toggle <?php if($this->page_Name == 'adduser'){?>active<?php }?>"><?php echo $this->translate("Add User");?></a></li>
                    </ul>
                </li>
                <!------ Registered Celebrity User MANAGEMENT ------>
                <li>
                    <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'users', 'action'=>'celebrityusers'), 'default',true); ?>" data-parent="#mainNav" class="accordion-toggle <?php if($this->page_Name == 'registeredcelebrityusersmanagement'){?>active<?php }?>"><?php echo $this->translate("Registered Celebrity Users Management");?></a>
                </li>
                <!------ BUSINESS USERS MANAGEMENT ------>
                <li>
                    <a href="#collapseFive" data-parent="#businessusers" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Business Users Management");?></a>
                    <ul <?php if($this->page_Name == 'businessusersmanagement' || $this->page_Name == 'addbusinessuser' ){?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseFive">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'businessusers', 'action'=>'index'), 'default',true); ?>" data-parent="#businessuser" class="accordion-toggle <?php if($this->page_Name == 'businessusersmanagement'){?>active<?php }?>"><?php echo $this->translate("View Business Users");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'businessusers', 'action'=>'addbusinessuser'), 'default',true); ?>" data-parent="#businessuser" class="accordion-toggle <?php if($this->page_Name == 'addbusinessuser'){?>active<?php }?>"><?php echo $this->translate("Add Business User");?></a></li>
                    </ul>
                </li>
                <!------ SCHOOLS MANAGEMENT ------>
                <li>
                    <a href="#collapseSix" data-parent="#schools" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Schools Management");?></a>
                    <ul <?php if($this->page_Name == 'schoolsmanagement' || $this->page_Name == 'addschool' ) { ?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseSix">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'schools', 'action'=>'index'), 'default',true); ?>" data-parent="#schools" class="accordion-toggle <?php if($this->page_Name == 'schoolsmanagement') { ?>active<?php } ?>"><?php echo $this->translate("View Schools"); ?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'schools', 'action'=>'addschool'), 'default',true); ?>" data-parent="#schools" class="accordion-toggle <?php if($this->page_Name == 'addschool') { ?>active<?php } ?>"><?php echo $this->translate("Add School"); ?></a></li>
                    </ul>
                </li>
                <!------ COLLEGES MANAGEMENT ------>
                <li>
                    <a href="#collapseSeven" data-parent="#colleges" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Colleges Management");?></a>
                    <ul <?php if($this->page_Name == 'collegesmanagement' || $this->page_Name == 'addcollege' ) { ?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseSeven">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'colleges', 'action'=>'index'), 'default',true); ?>" data-parent="#colleges" class="accordion-toggle <?php if($this->page_Name == 'collegesmanagement') { ?>active<?php } ?>"><?php echo $this->translate("View Colleges"); ?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'colleges', 'action'=>'addcollege'), 'default',true); ?>" data-parent="#colleges" class="accordion-toggle <?php if($this->page_Name == 'addcollege') { ?>active<?php } ?>"><?php echo $this->translate("Add College"); ?></a></li>
                    </ul>
                </li>
                <!------ WORK PLACES MANAGEMENT ------>
                <li>
                    <a href="#collapseEight" data-parent="#workplaces" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Work Places Management");?></a>
                    <ul <?php if($this->page_Name == 'workplacesmanagement' || $this->page_Name == 'addworkplace' ) { ?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseEight">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'workplaces', 'action'=>'index'), 'default',true); ?>" data-parent="#workplaces" class="accordion-toggle <?php if($this->page_Name == 'workplacesmanagement') { ?>active<?php } ?>"><?php echo $this->translate("View Work Places"); ?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'workplaces', 'action'=>'addworkplace'), 'default',true); ?>" data-parent="#workplaces" class="accordion-toggle <?php if($this->page_Name == 'addworkplace') { ?>active<?php } ?>"><?php echo $this->translate("Add Work Place"); ?></a></li>
                    </ul>
                </li>
                <!------ QUOTES MANAGEMENT ------>
                <li>
                    <a href="#collapseNine" data-parent="#quotes" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Quotes Management");?></a>
                    <ul <?php if($this->page_Name == 'quotesmanagement' || $this->page_Name == 'addquote' ) { ?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseNine">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'quotes', 'action'=>'index'), 'default',true); ?>" data-parent="#quotes" class="accordion-toggle <?php if($this->page_Name == 'quotesmanagement'){?>active<?php }?>"><?php echo $this->translate("View Quotes");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'quotes', 'action'=>'addquote'), 'default',true); ?>" data-parent="#quotes" class="accordion-toggle <?php if($this->page_Name == 'addquote'){?>active<?php }?>"><?php echo $this->translate("Add Quote");?></a></li>
                    </ul>
                </li>
                <!------ HELP VIDEOS MANAGEMENT ------>
                <li>
                    <a href="#collapseTen" data-parent="#helpvideos" data-toggle="collapse" class="accordion-toggle"><?php echo $this->translate("Help Videos Management");?></a>
                    <ul <?php if($this->page_Name == 'helpvideosmanagement' || $this->page_Name == 'addhelpvideo' ) { ?>style="height:auto;" <?php } else ?> style="height:0;" class="accordion-body subnav collapse" id="collapseTen">
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'helpvideos', 'action'=>'index'), 'default',true); ?>" data-parent="#helpvideos" class="accordion-toggle <?php if($this->page_Name == 'helpvideosmanagement') { ?>active<?php } ?>"><?php echo $this->translate("View HelpVideos");?></a></li>
                        <li><a href="<?php echo $this->url(array('module'=>'admin','controller'=>'helpvideos', 'action'=>'addhelpvideo'), 'default',true); ?>" data-parent="#helpvideos" class="accordion-toggle <?php if($this->page_Name == 'addhelpvideo') { ?>active<?php } ?>"><?php echo $this->translate("Add HelpVideo");?></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End of Administrative Panels -->
    </aside>
    <!-- End of Aside -->
<?php } ?>