<header>
    <div id="wrapper">
        <?php if(!empty($this->businessdata)) { ?>
            <a href="<?=SITE_URL?>business/dashboard"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo.png" alt="business_logo" width="374" height="35" ></a>
            <div class="top_nav_outer">
                <form name="searchHeaderForm" id="searchHeaderForm" method="post" style="float:left;">
                    <input class="search_box" name="q" id="searchBoxHeader" type="text" value="">
                    <input class="category" name="category" id="category" type="hidden" value="Business">
                </form>
                <div class="top_profile_pic_outer">
                    <span><?=$this->translate('Welcome').',';?>
                        <a href="<?php echo SITE_URL;?>business/businessprofile"><?php echo ucfirst($this->businessdata->firstname);?></a>
                    </span>
                </div>
                <div class="not_but" onclick="$().showNotification();">
                    <div class="not_arrow"><img class="top_icons3" src="<?=SITE_URL?>images/notification_icon.png"></div>
                    <div class="not_text"><?php //echo $totalnewnotify; ?></div>
                    <div id="noti_pop_outer" style="display: none;"></div>
                </div>
                <a title="Logout" href="<?=SITE_URL?>business/logout"><img class="top_icons4" src="<?=SITE_URL?>images/logout.png"></a>
            </div>
        <?php } else { ?>
            <a href="<?=SITE_URL?>business"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo.png" alt="business_logo" width="374" height="35"></a>
            <div class="Home_menu_outer">
                <a href="<?=SITE_URL?>business"><?=$this->translate('Home')?></a>    |   <a href="javascript:void(0);"><?=$this->translate('Blog')?></a>    |    <a href="javascript:void(0);"><?=$this->translate('Become Partners')?></a>    |    <a href="javascript:void(0);"><?=$this->translate('Local Seminars')?></a>    |    <a href="javascript:void(0);"><?=$this->translate('FAQ')?></a>
            </div>
        <?php } ?>
    </div>
</header>
<script type="text/javascript">
    $('#searchBoxHeader').keypress(function(e) {
        if(e.which == 13) {
            $("#searchHeaderForm").attr("action", site_url+'business/search/advanced_search');
            $("#searchHeaderForm").submit();
        }
    });
    $(document).ready(function() {
        $.fn.showNotification = function() {
            $('#noti_pop_outer').toggle("slidedown",function() {
                $.ajax({
                    type    : "POST",
                    url     : site_url+"notifications/getnotificationswithid",
                    data    : '',
                    cache   : false,
                    success : function(result) {
                        $("#noti_pop_outer").html(result);
                    }
                })
            });
        }
   });
</script>