<footer class="business_footer">
  <div class="footer_lb">
    <div class="footer_Copy"><?=$this->translate('UP')?><span><?=$this->translate('ME')?></span><?=$this->translate('social')?><span class="cop_ic">&copy; 2012</span></div>
    <div class="footer_Lnk">
       <ul>
          <li><a href="#"><?=$this->translate('About')?></a></li><span class="divd">|</span>
          <li><a href="#"><?=$this->translate('Careers')?></a></li><span class="divd">|</span>
          <li><a href="#"><?=$this->translate('Business Solutions')?></a></li><span class="divd">|</span>
          <li><a href="#"><?=$this->translate('Terms')?></a></li><span class="divd">|</span>
          <li><a href="#"><?=$this->translate('Advertisement')?></a></li><span class="divd">|</span>
           <li><a href="#"><?=$this->translate('Help')?></a></li> 
       </ul>
    </div>
  </div>
</footer>