<div class="BS_left_cont">
    <div class="BS_left_dashH"><?=$this->translate("Dashboard")?></div>
    <div class="BS_left_dashC">
        <ul>
            <li><a href="<?=SITE_URL?>business/businessmysettings" class="active"><?=$this->translate("My Account")?></a></li>
            <li><a href="javascript:void(0);" style="border:none;"><?=$this->translate("Detailed Analytics")?></a></li>
        </ul>
    </div>
    <div class="BS_left_upmeH"><?=$this->translate("UpMeSocial")?></div>
    <div class="BS_left_dashC" style="height:160px;">
        <ul>
            <li><a href="<?=SITE_URL?>business/businessprofile"><?=$this->translate("My Profile Page")?></a></li>
            <li><a href="javascript:void(0);"><?=$this->translate("My Customers")?></a></li>
            <li><a href="<?=SITE_URL?>business/mybusiness"><?=$this->translate("My Businesses")?></a></li>
        </ul>
        <div class="BS_left_dasht"><a href="javascript:void(0);"><img src="<?=SITE_URL?>images/huddle.png" width="108" height="34"></a></div>
    </div>
    <div class="BS_left_dataH"><?=$this->translate("My Data")?></div>
    <div class="BS_left_dashC" style="height:39px;">
        <ul>
        <li><a href="javascript:void(0);"><?=$this->translate("Transaction Reports")?></a></li>
        </ul>
    </div>
    <div class="BS_left_dashH" style="margin-top:21px;"><?=$this->translate("Tools")?></div>
    <div class="BS_left_dashC" style="height:120px;">
        <ul>
        <li><a href="javascript:void(0);"><?=$this->translate("Download QR Code")?></a></li>
        <li><a href="<?=SITE_URL?>business/help"><?=$this->translate("Help")?></a></li>
        <li><a href="<?=SITE_URL?>business/techsupport" style="border:none;"><?=$this->translate("Technical Support")?></a></li>
        </ul>
    </div>
</div>