<?php
    echo $this->headLink()->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<script>
jQuery.noConflict();
(function($){
    window.onload=function(){
	$("#tS2").thumbnailScroller({
		scrollerType:"clickButtons", 
		scrollerOrientation:"horizontal",
		scrollSpeed:2,
		scrollEasing:"easeOutCirc",
		scrollEasingAmount:600,
		acceleration:4,
		scrollSpeed:800,
		noScrollCenterSpace:10,
		autoScrolling:0,
		autoScrollingSpeed:2000,
		autoScrollingEasing:"easeInOutQuad",
		autoScrollingDelay:500
	});
    }
})(jQuery);
</script>
<div class="clear"></div>
<div id="wrapper2">
    <?php if(count($this->followersgallery) > 0) { ?>
        <div class="FP_top_imgb" style="width:1120px; margin:0px;">
            <div id="tS2" class="jThumbnailScroller">
                <div class="jTscrollerContainer">
                    <div class="jTscroller">
                        <?php foreach ($this->followersgallery as $followersgallery) {
                            if($followersgallery['type'] == 'photo') {
                                if(!empty($followersgallery['name']) && file_exists(UPLOAD_PATH.'images/thumbnails/'.$followersgallery['name'])) {
                                    if($followersgallery['userType'] == 'U') {
                                        $imgUrl = SITE_URL.'user/userprofile/'.$followersgallery['userID'];
                                    } else {
                                        $imgUrl = SITE_URL.'business/businessprofile/'.$followersgallery['userID'];
                                    } ?>
                                    <span class="random_profile">
                                        <a href="<?php echo $imgUrl;?>"><img src="<?=SITE_URL?>uploads/images/thumbnails/<?=$followersgallery['name']?>" alt="<?=$followersgallery['name']?>" ></a><!-- width="106" height="76" -->
                                    </span>
                                <?php }
                            }
                            if($followersgallery['type'] == 'video') {
                                if(!empty($followersgallery['name']) && file_exists(UPLOAD_PATH.'videos/'.$followersgallery['name'])) { 
                                    if($followersgallery['userType'] == 'U') {
                                        $imgUrl = SITE_URL.'user/userprofile/'.$followersgallery['userID'];
                                    } else {
                                        $imgUrl = SITE_URL.'business/businessprofile/'.$followersgallery['userID'];
                                    } ?>
                                    <span class="random_profile">
                                        <a href="<?php echo $imgUrl;?>"><img src="<?=SITE_URL?>uploads/videos/<?=$followersgallery['name']?>" width="106" height="76"></a>
                                    </span>
                                <?php }
                            }
                        } ?>
                    </div>
                </div>
                <a href="javascript:void(0);" class="jTscrollerPrevButton"></a>
                <a href="javascript:void(0);" class="jTscrollerNextButton"></a>
            </div>
        </div>
    <?php } ?>
</div>