<?php echo $this->doctype('HTML5') ?>
<!--[if IE 7]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html > <!--<![endif]-->
<!-- to change from Quircks to standart mode <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> -->
    <head>
        <link rel="icon" href="<?=SITE_URL?>images/up_icon2.png" type="image/gif">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>:: <?=$this->translate('UPMEsocial')?> ::</title>
        <meta name="Keywords" content="">
        <meta name="Description" content="">

<!--        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>:: <?//=$this->translate('UPMEsocial')?> ::</title>
        <meta name="og:title" content="::UPMEsocial::">
        <meta name="og:image" content="<?php //echo 'http://54.227.252.33/images/upme_social_logo2.png';?>">
        <meta name="og:url" content="<?php //echo SITE_URL;?>">
        <meta name="og:site_name" content="::UPMEsocial::">-->
        
        <script language="javascript" type="text/javascript">
            var site_url = '<?=SITE_URL?>';
        </script>
        <?php
            echo $this->headLink()->appendStylesheet($this->baseUrl('css/reset.css'))
                                    ->appendStylesheet($this->baseUrl('css/mainpage_styles.css'))
                                    ->appendStylesheet($this->baseUrl('css/jquery.alerts.css'))
                                    ->appendStylesheet($this->baseUrl('css/me_box.css'))
                                    ->appendStylesheet($this->baseUrl('css/reset.css'))
                                    ->appendStylesheet($this->baseUrl('css/fonts.css'))
                                    ->appendStylesheet($this->baseUrl('css/style.css'))
                                    ->appendStylesheet($this->baseUrl('css/autosuggest.css'))
                                    ->appendStylesheet($this->baseUrl('css/ImageOverlay.css'));
            echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.8.0.min.js'))
                                    ->appendFile($this->baseUrl('js/jquery.validate.js'))
                                    ->appendFile($this->baseUrl('js/general.js'))
                                    ->appendFile($this->baseUrl('js/jquery.metadata.js'))
                                    ->appendFile($this->baseUrl('js/jquery.ImageOverlay.js'))
                                    ->appendFile($this->baseUrl('js/jquery.alerts.js'))
                                    ->appendFile($this->baseUrl('js/jquery.autoSuggest.js'))
                                    ->appendFile($this->baseUrl('js/css_browser_selector.js'));
        ?>
        <script language="javascript" type="text/javascript">
            $(document).ready(function (){
                $('#login').validate({
                    submitHandler: function(form) {
                        var dataObj = {
                                        uname: $('#luname').val(),
                                        pwd: $('#lupwd').val()
                                    };
                        $.ajax({
                            method     : 'post',
                            url        : site_url+'user/login',
                            success    : function(result) {
                                var resultObj = $.parseJSON(result);
                                var result = resultObj['service_status'];
                                if(result =='success') { 
                                    window.location.href =  site_url+'user/dashboard';
                                }else if(result =='deactive') { 
                                    window.location.href =  site_url+'user/deactive';
                                } 
                                else {
                                    jAlert('<?php echo $this->translate("Invalid Login Details");?>');
                                    return false;
                                }
                            },
                            data: dataObj
                        });
                    }
                });

                //Business Login
                $('#businesslogin').validate({
                    submitHandler: function(form) {
                        var dataObj = {
                                        uname: $('#lbusinessname').val(),
                                        pwd: $('#lbusinesspwd').val()
                                    };
                        $.ajax({
                            method     : 'post',
                            url        : site_url+'business/login',
                            success    : function(result) {
                                var resultObj = $.parseJSON(result);
                                var result = resultObj['service_status'];
                                if(result =='success') {
                                    window.location.href =  site_url+'business/dashboard';
                                } else {
                                    jAlert('<?php echo $this->translate("Invalid Login Details");?>');
                                    return false;
                                }
                            },
                            data: dataObj
                        });
                    }
                });
            });
        </script>
    </head>
    <body>
        <!-- header -->
        <?php 
            $moduleName = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
            //echo $moduleName;exit;
            if($_SERVER['REMOTE_ADDR'] == '192.168.1.63'){
               //echo $this->userAuthVar."--->".$this->businessAuthVar;exit;
            }
            
            if($this->businessAuthVar == 1 && $this->userAuthVar == 0) {
                echo $this->render('business_header.phtml');
            }

            if($this->userAuthVar == 1 && $this->businessAuthVar == 0) {
                echo $this->render('userprofile_header.phtml');
                echo $this->render('media_time_line.phtml');
            }

            if($this->userAuthVar == 0 && $this->businessAuthVar == 0) {
                if($moduleName == 'user') {
                    echo $this->render('user_header.phtml');
                    //echo $this->render('media_time_line.phtml');
                }
                
                if($moduleName == 'business') {
                    echo $this->render('business_header.phtml');
                }
            }
        ?>
        <!-- header end-->
        <div class="clear"></div>
        <!-- mid content-->
        <section <?php if($moduleName != 'business') echo"class='sectn_bg'";?>>
            <?=$this->layout()->content?>
        </section>
        <!-- mid content end-->
        <div class="clear"></div>
        <!-- footer -->
        <?php 
            if($moduleName == 'business') {
                echo $this->render('business_footer.phtml');
            } else {
                echo $this->render('user_footer.phtml');
            } ?>
        <!-- footer end-->
        <?php $this->addScriptPath(APPLICATION_PATH . '/views/scripts/index');
            echo $this->render('profiler.phtml') ?>
    </body>
</html>