<?php
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                             ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
?>
<!-- header -->
<header>
<div id="wrapper">
    <a href="<?=SITE_URL?>"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo2.png" width="374" height="35"></a>
    <div style="float: right;">
        <div style="float: left">
        <form name="login" method="post" id="login" action="">
            <div class="login_outer">
                  <input name="luname" id="luname" type="text" class="login_fild required" value="" size="11" placeHolder="username">
                  <input name="lupwd" id="lupwd" type="password" class="login_fild2 required" value="" size="11" placeHolder="password">
                  <input type="submit" class="login_btn" value="Sign In">
            </div>
        </form>
        </div>
        <div style="" class="fbbtn">
            <button id="fbc-login-button" class="fbloginBtn"></button>
        </div>
        <div class="clr">
        <a id="forgotpassword_fancybox" href="javascript:void(0);" title="" class="various10 fancybox.ajax fpwd">
            Forgot Password?
        </a>
        </div>
    </div>
</div>
</header>
<!-- header end-->
<script type="text/javascript">
window.fbAsyncInit = function() {
    FB.init({
        appId      : <?=FB_APPID?>,
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        oauth      : true, // enable OAuth 2.0
        xfbml      : true  // parse XFBML
    });
 
    button = document.getElementById('fbc-login-button');
    button.onclick = function() {
        FB.getLoginStatus(function(response) {
            if (response.authResponse) {
                this.location = site_url+'user/facebook/?token=' +  response.authResponse.accessToken;
            }
            else {
                FB.login(function(response) {
                    if (response.authResponse) {
                        this.location = site_url+'user/facebook/?token=' +  response.authResponse.accessToken;
                    }}, {scope: 'email'});
            }
        });
 
    };
};
(function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
   
$("#forgotpassword_fancybox").click(function() {
    $("#forgotpassword_fancybox").attr('href',site_url+"user/forgotpassword");
    $('.various10').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
</script>