<footer>
    <div id="wrapper">
        <div class="HM_tab">
            <div class="HM_tab_ttl">Business Owner's </div>
            <div class="HM_tab_ttl2">How Popular is your Business?</div>
        </div>
        <div class="HM_tab2">
            <div class="HM_tab2_ttl">Build your own database</div>
            <div class="HM_tab2_ttl2">Tired of using other platforms databases to advertise? Let us help you build your own. </div>
        </div>
        <div class="HM_tab3">
            <img src="<?=SITE_URL?>images/tour_bnnr.png" width="225" height="61">
        </div>
        <div class="HM_footer_links">
            <strong>Languages</strong>
            Bahasa Indonesia   Bahasa Melayu   Dansk   Deutsch   English   Espanol   Flilipino   Francais
        </div>
    </div>
</footer>

<?php
    $this->addScriptPath(APPLICATION_PATH . '/views/scripts/index');
    //echo $this->render('profiler.phtml')
?>