<!-- header -->
<header>
    <div id="wrapper">
         <?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
            $userdata = $auth->getIdentity(); //echo '<pre>';print_r($userdata);exit;
            if(!empty($userdata)) { ?>
                <a href="<?=SITE_URL?>"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo2.png" width="374" height="35"></a>
                <div class="top_nav_outer">
                    <input class="search_box" name="" type="text">
                    <div class="top_profile_pic_outer">
                    <?php
                        if(($userdata->profile_pic_path != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$userdata->profile_pic_path)))
                                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$userdata->profile_pic_path;
                        else
                                $imagepath = SITE_URL.'images/no-user.gif';
                    ?>
                    <!--<a href="<?=SITE_URL?>user/userprofile">--><img src="<?=$imagepath?>" width="45" height="45">
                    <span><?=ucfirst($userdata->firstname);?></span><!--</a>-->
                    </div>
                    <img class="top_icons" src="<?=SITE_URL?>images/msg_icon.png">
                    <!--<a id="me_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">-->
                    <img class="top_icons2" src="<?=SITE_URL?>images/me_icon.png">
                    <!--</a>-->
                    <img class="top_icons3" src="<?=SITE_URL?>images/notification_icon.png">
                    <a href="<?=SITE_URL?>user/logout"><img class="top_icons4" src="<?=SITE_URL?>images/logout.png"></a>
                </div>  
        <?php }else{ ?>
               <a href="<?=SITE_URL?>"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo2.png" alt="business_logo" width="374" height="35"></a>
               <div class="top_nav_outer">
                    <input class="search_box" name="" type="text">
                    <div class="top_profile_pic_outer">
                    <?php
                        if(($this->userdata->profile_pic_path != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$this->userdata->profile_pic_path)))
                                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$this->userdata->profile_pic_path;
                        else
                                $imagepath = SITE_URL.'images/no-user.gif';
                    ?>
                    <!--<a href="<?=SITE_URL?>user/userprofile">--><img src="<?=$imagepath?>" width="45" height="45">
                    <span><?=ucfirst($this->userdata->firstname);?></span><!--</a>-->
                    </div>
                    <img class="top_icons" src="<?=SITE_URL?>images/msg_icon.png">
                    <!--<a id="me_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">-->
                    <img class="top_icons2" src="<?=SITE_URL?>images/me_icon.png">
                    <!--</a>-->
                    <img class="top_icons3" src="<?=SITE_URL?>images/notification_icon.png">
                    <a href="<?=SITE_URL?>user/logout"><img class="top_icons4" src="<?=SITE_URL?>images/logout.png"></a>
                </div>
    </div>
    <?php } ?>
</header>