<!-- header -->
<header>
    <div id="wrapper">
        <?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
        $userdata = $auth->getIdentity();
        if(!empty($userdata)) { ?>
                <a href="<?=SITE_URL?>user/dashboard"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo2.png" width="374" height="35"></a>
                <div class="top_nav_outer">
                    <form name="searchHeaderForm" id="searchHeaderForm" method="post" style="float:left;">
                        <input class="search_box" name="q" id="searchBoxHeader" type="text" value="">
                    </form>
                    <div class="top_profile_pic_outer">
                        <?php if(($userdata->profile_pic_path != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$userdata->profile_pic_path)))
                                $imagepath = SITE_URL.'uploads/images/thumbnails/'.$userdata->profile_pic_path;
                        else
                                $imagepath = SITE_URL.'images/no-user.gif';
                        if($auth->hasIdentity()) { ?>
                            <a href="<?=SITE_URL?>user/userprofile" title="<?=ucfirst($userdata->firstname);?>"><img src="<?=$imagepath?>" alt="<?=ucfirst($userdata->firstname);?>" >
                            <span><?=ucfirst($userdata->firstname);?></span></a>
                        <?php } else { ?>
                            <img src="<?=$imagepath?>" alt="<?=ucfirst($userdata->firstname);?>"><span><?=ucfirst($userdata->firstname);?></span>
                        <?php } ?>
                    </div>
                    <a id="msginbox_fancybox" href="javascript:void(0);" title="Messages" class="inbox fancybox.ajax" >
                        <img class="top_icons" src="<?=SITE_URL?>images/msg_icon.png">
                    </a>
                    <a id="me_fancybox" href="javascript:void(0);" title="" class="useredit fancybox.ajax">
                        <img class="top_icons2" src="<?=SITE_URL?>images/me_icon.png">
                    </a>
                    <div class="not_but notificationpopup" onclick="$().showNotification();" title="Notifications">
                        <div class="not_arrow"><img class="top_icons3" src="<?=SITE_URL?>images/notification_icon.png"></div>
                        <div class="not_text"><?php //echo $totalnewnotify; ?></div>
                        <div id="noti_pop_outer" style="display: none;"></div>
                    </div>
                    <a href="<?=SITE_URL?>user/logout" title="Logout"><img class="top_icons4" src="<?=SITE_URL?>images/logout.png"></a>
                </div>  
        <?php } else { ?>
               <a href="<?=SITE_URL?>"><img class="logo" src="<?=SITE_URL?>images/upme_social_logo2.png" alt="business_logo" width="374" height="35"></a>
               <div class="top_nav_outer">
                    <input class="search_box" name="" type="text">
                    <div class="top_profile_pic_outer">
                        <?php
                            if(($this->userdata->profile_pic_path != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$this->userdata->profile_pic_path)))
                                    $imagepath = SITE_URL.'uploads/images/thumbnails/'.$this->userdata->profile_pic_path;
                            else
                                    $imagepath = SITE_URL.'images/no-user.gif';
                        ?>
                        <a href="<?=SITE_URL?>user/userprofile"><img src="<?=$imagepath?>" alt="<?php echo $this->userdata->firstname; ?>" >
                        <span><?=ucfirst($this->userdata->firstname);?></span></a>
                    </div>
                    <img class="top_icons" src="<?=SITE_URL?>images/msg_icon.png">
                    <a id="me_fancybox"  href="javascript:void(0);" title="" class="various1 fancybox.ajax">
                        <img class="top_icons2" src="<?=SITE_URL?>images/me_icon.png">
                    </a>
                    <img class="top_icons3 notificationpopup" src="<?=SITE_URL?>images/notification_icon.png">
                    <a href="<?=SITE_URL?>user/logout"><img class="top_icons4" src="<?=SITE_URL?>images/logout.png"></a>
                </div>
        <?php } ?>
    </div>
</header>
<script type="text/javascript">
    $('#searchBoxHeader').keypress(function(e) {
        if(e.which == 13) {
            $("#searchHeaderForm").attr("action", site_url+'user/search/advanced_search');
            $("#searchHeaderForm").submit();
        }
    });
    $("#msginbox_fancybox").click(function() {
        $("#msginbox_fancybox").attr('href',site_url+"user/messages");
        $('.inbox').fancybox({
            /*maxWidth	: 1000,
            maxHeight	: 'auto',*/
            width	: '100%',
            height	: '100%',
            fitToView	: true,
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });
    $("#me_fancybox").click(function() {
        $("#me_fancybox").attr('href',site_url+"user/edit");
        $('.useredit').fancybox({
            maxWidth	: 1000,
            maxHeight	: 900,
            fitToView	: true,
            width	: '100%',
            height	: '100%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            helpers     : { 
                            overlay : {closeClick: false}
                        },
            closeEffect	: 'none'
        });
    });
    $(document).ready(function() {
        $('.notificationpopup').click(function(event) {
            event.stopPropagation();
        });
        $('html').click(function() {
            $('#noti_pop_outer').css('display','none');
            $('.noti_bg').css('display','none');
        });
        $.fn.showNotification = function() {
            if($("#noti_pop_outer").children('.noti_bg').length === 0) {
                $('#noti_pop_outer').toggle("slidedown",function() {
                    $.ajax({
                        type:"POST",
                        url:site_url+"notifications/getnotificationswithid",
                        data:'',
                        cache: false,
                        success: function(result) {
                            $('#noti_pop_outer').css('display','block');
                            $('.noti_bg').css('display','block');
                            $("#noti_pop_outer").html(result);
                        }   
                    })
                });
            } else {
                $('#noti_pop_outer').css('display','block');
                $('#noti_pop_outer').toggle();
            }
        }
    });
</script>