<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("Edit Business User");?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                        <?php echo $this->form; ?>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script language="javascript">
$(document).ready(function(){
    $("#addbusinessuser").validate({
        business_name: {
            required: true
        },
        description: {
            required: true
        },
        type: {
            required: true
        },
        category_id: {
            required: true
        },
        username: {
            required: true
        },
        email: {
            required: true
        },
        security_question: {
            required: true
        },
        security_answer: {
            required: true
        },
        website: {
            required: true
        },
        firstname: {
            required: true
        },
        lastname: {
            required: true
        },
        country: {
            required: true
        },
        state: {
            required: true
        },
        city: {
            required: true
        },
        zipcode: {
            required: true
        },
        phone_no: {
            required: true
        },
        mobile_no: {
            required: true
        }
    });
});
</script>