<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <div class="addbtn"><a href="<?php echo SITE_URL.'admin/businessusers/addbusinessuser'; ?>">Add Business User</a></div>
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("View Business User"); ?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                            <form class="form-horizontal">
                                 <div style="float:left;">
                                     <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('Business Id'); ?>:</label>
                                            <div class="controls"><?php if($this->result['business_id'] != '')echo $this->translate($this->escape($this->result['business_id'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('Business name'); ?>:</label>
                                            <div class="controls"><?php if($this->result['business_name'] != '')echo $this->translate($this->escape($this->result['business_name'])); else echo "--N/A--" ?></div>
                                    </div>
                                     <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('Full name'); ?>:</label>
                                            <div class="controls"><?php if($this->result['firstname'] != '' || $this->result['lastname']!='')echo $this->translate($this->escape($this->result['firstname'].$this->result['lastname'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Business Category'); ?>:</label>
                                        <div class="controls"><?php if($this->category['category_name'] != '')echo $this->translate($this->escape($this->category['category_name'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('No Of Followers'); ?>:</label>
                                        <div class="controls"><?php if($this->followerscnt != '')echo $this->translate($this->escape($this->followerscnt)); else echo "0" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('No Of Coupons'); ?>:</label>
                                        <div class="controls"><?php if($this->couponscnt != '')echo $this->translate($this->escape($this->couponscnt)); else echo "0" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('No Of Reviews'); ?>:</label>
                                        <div class="controls"><?php if($this->reviewscnt != '')echo $this->translate($this->escape($this->reviewscnt)); else echo "0" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Email'); ?>:</label>
                                        <div class="controls"><?php if($this->result['email'] != '')echo $this->translate($this->escape($this->result['email'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('website'); ?>:</label>
                                        <div class="controls"><?php if($this->result['website'] != '')echo $this->translate($this->escape($this->result['website'])); else echo "--N/A--" ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('mobile_no'); ?>:</label>
                                        <div class="controls"><?php if($this->result['mobile_no'] != '')echo $this->translate($this->escape($this->result['mobile_no'])); else echo "--N/A--" ?></div>
                                    </div>
                                </div>
                                <div style="float:right; padding-right: 50px;">
                                    <?php if(file_exists(UPLOAD_PATH.'business/thumbnails/'.$this->result['image_path']) && $this->result['image_path'] !='') { ?>
                                        <img src="<?php echo SITE_URL;?>uploads/business/thumbnails/<?php echo $this->result['image_path'];?>" alt="<?php echo $this->result['image_path'];?>"/>
                                    <?php } ?>
                                </div>
                                <div class="control-group">
                                     <div style="clear:both;"></div>
                                    <label class="control-label"><?php echo $this->translate('Description'); ?>:</label>
                                    <div class="controls" align="justify" style="margin-right:15px;"><?php if($this->result['description'] != '')echo stripslashes(htmlentities(html_entity_decode($this->translate($this->escape(wordwrap($this->result['description'],75,"\n",TRUE)))))); else echo "--N/A--";?></div>
                                </div> 
                                <div class="form-action-area">
                                    <button id="back" class="btn btn-primary" onclick='javasctipt:history.go(-1);' type="button" name="back">Back</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<style type="text/css">
    .form-horizontal .controls{ margin-top: 5px; }
</style>