<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("Add User");?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                        <?php echo $this->form;?>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script language="javascript">
$(document).ready(function(){
    $("#UserEdit").validate({
        username: {
            required: true
        },
        email: {
            required: true
        },
        dob: {
            required: true
        },
        firstname: {
            required: true
        },
        /*lastname: {
            required: true
        },*/
        gender: {
            required: true
        },
        country: {
            required: true
        },
        state: {
            required: true
        },
        city: {
            required: true
        }/*,
        mobile_no: {
            required: true
        }*/
        
    });
});
//$('#date_of_birth').datepicker();
$("#dob").datepicker({ 
	changeMonth: true,
	changeYear: true,
	yearRange:'-90:+0'  
});
</script>