<div class="tab-content">
    <div class="tab-pane row-fluid active" id="tab2">
        <fieldset class="span12">
            <?php echo $this->form;?>
        </fieldset>
        <div class="clearfix"></div>
    </div>
</div>