<?php $paginationControl = $this->paginationControl($this->paginator, 'Sliding', '_partials/paginator.phtml');
 $id = Zend_Auth::getInstance()->getIdentity()->id;
//echo 'view'.$id;exit;
//echo $this->sort;exit;
if(!$this->isAjaxReq) {
?>
<section id="main" class="span9">
    <?php
        if($this->flashMessages())
            echo $this->translate($this->flashMessages());
    ?>
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab"><?php echo $this->translate("Celebrity Users Management");?></a></li>
            </ul>
            <div class="tab-content">
<?php } ?>
                <div class="tab-pane active" id="tab1">
                    <div id="ajaxresults">  
                        <form name="manageusers" id="manageusers" method="post">
                        <input type="hidden" name="hid_key" id="hid_key" value=""/>
                        <input type="hidden" name="hid_id" id="hid_id" value="" />
                        <input type="hidden" name="hid_status" id="hid_status" value="" />
                            <div class="dropdown_left">
                                    <select name="userviewActions" id="userviewActions">
                                            <option value="MR" <?php if($this->sort== 'MR') {?><?php echo 'selected ="selected"';?> <?php } ?> ><?php echo $this->translate("Most Recent");?></option>
                                            <option value="AO" <?php if($this->sort == 'AO') {?><?php echo 'selected ="selected"';?> <?php } ?> ><?php echo $this->translate("Alphabetical Order");?></option>
                                    </select>
                                    <button class="btn btn-primary" onclick="return setUserSelectStatus('manageusers');"><?php echo $this->translate("Sort");?></button>
                            </div>
                            <div  class="search_right">
                               <input type="text" name="userssearch" id="userssearch" value="<?php if($this->keyword !='') echo $this->keyword;?>"  placeholder="Search for Users"/>
                               <button class="btn btn-primary" id="searchsubmit">Search</button>
                            </div>
                            <div class="clear"></div> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate("Image");?></th>
                                        <th><?php echo $this->translate("Name");?></th>
                                        <th><?php echo $this->translate("Email");?></th>
                                        <th><?php echo $this->translate("Joined Date");?></th>
                                        <th><?php echo $this->translate("Actions");?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php $count = 0;
                                    foreach($this->paginator as $users){ $count++;  //echo "<pre>";print_r($users);exit;?>
                                    <tr>
                                        <td>
                                        <?php
                                            if(file_exists(UPLOAD_PATH.'images/thumbnails/'.$users['profile_pic_path']) && $users['profile_pic_path'] !='')
                                        {?>    
                                            <img width="50px" height="50px" src="<?php echo SITE_URL;?>uploads/images/thumbnails/<?php echo $users['profile_pic_path'];?>" alt="<?php echo $users['profile_pic_path'];?>"/>
                                        <?php } else { ?> <img src="<?php echo SITE_URL;?>images/no-user.gif" alt="no image"/><?php } ?>    

                                        </td>
                                        <td><?php echo stripslashes($users['firstname'].$users['lastname']);?></td>
                                        <td><?php echo stripslashes($users['email']);?></td>
                                        <td><?php echo date('jS/M/Y- h:ia ', strtotime($users['created_date']));?></td>
                                        <td>
                                            <a href="<?php echo $this->url(array('controller'=>'users', 'action'=>'viewuser','id'=>$users['user_id'])); ?>" title="View User"><i class="icon-zoom-in"></i></a>
                                            <a href="<?php echo $this->url(array('controller'=>'users', 'action'=>'edituser','id'=>$users['user_id'])); ?>" title="Edit User"><i class="icon-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="icon-remove" title="Remove User" onclick="fnDeleteRecord('manageusers',<?php echo $users['user_id'];?>);"></i></a>
                                            <?php if($users['user_account_status'] == 'I'){?>
                                                <a href="javascript:void(0);" title="Make Active" onclick="fnChangeStatus('manageusers','A',<?php echo $users['user_id'];?>);"><i class="icon-ok-circle"></i></a>
                                            <?php } else{?>
                                                <a href="javascript:void(0);" title="Make Inactive" onclick="fnChangeStatus('manageusers','I',<?php echo $users['user_id'];?>);"><i class="icon-ban-circle"></i></a>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <?php } if($count == 0) { ?>
                                        <tr><td colspan="6" class="norecords" style="text-align: center;"><?php echo $this->translate("No Records To Display");?></td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>                 
                            <div class="tableFooter">
                                <?php /*if($count != 0) { ?>
                                    <div class="tableActions span7 action">
                                        <select name="adminActions" id="adminActions">
                                            <option value=""><?php echo $this->translate("Choose an action");?></option>
                                            <option value="A"><?php echo $this->translate("Make Active");?></option>
                                            <option value="I"><?php echo $this->translate("Make Inactive");?></option>
                                            <option value="D"><?php echo $this->translate("Delete");?></option>
                                        </select>
                                        <button class="btn btn-primary" onclick="return setAdminStatus('manageusers');"><?php echo $this->translate("Submit");?></button>
                                    </div><!-- End of table Actions -->
                                <?php }*/ ?>
                                <div class="pagination span5 page">
                                    <?php echo $paginationControl ?>
                                </div><!-- End of Pagination -->
                                <div class="clearfix"></div>
                            </div><!-- End of Table footer -->
                        </form>
                    </div>   
                </div><!-- End of Tab 1 -->
            </div>
        </div>
    </section><!-- End of Tabs -->
</section>
<SCRIPT language="javascript">
$(window).scrollTop(0);
$(function(){
    /*/ add multiple select / deselect functionality
    $("#selectall").click(function () {
        $('.case').attr('checked', this.checked);
    });

    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".case").click(function(){
        if($(".case").length == $(".case:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
    });*/
    $('#searchsubmit').click(function(){
        var searchStr = $('#userssearch').val();
        if(searchStr == '') {
            jAlert("Please enter your keyword to display search results",'Alert');
            return false;
        } else {
            $('.tab-content').html('<div id="tab1"><div id="ajax-load"></div></div>');
            $('#ajax-load').addClass('loading overlay');
            $('.overlay').attr('style','height:150px;position:relative;');
            $.get(site_url+'admin/users/celebrityusers', {'search' : searchStr}, 
            function (data) {
                $('#ajax-load').removeClass('loading overlay');
                $('.tab-content').html(data);
                return false;
            });		
        } 
        return false;
    });
});
</SCRIPT>