<?php //echo '<pre>';print_r($this->counArr);exit; ?>
<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("Edit User");?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                        <form style="margin-left: 25px;margin-top: 25px;margin-bottom: 25px;" name="usersInfoForm" id="usersInfoForm" method="post" action="" >
                        <table>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('User Name'); ?>:</span></td>
                                <td><input name="users[username]" id="username" type="text" class="tab_txt_fld required" value="<?php echo $this->result->username; ?>"  maxlength="16" size="11" placeHolder="@ 6-15 characters"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Password'); ?>:</span></td>
                                <td><input name="users[password]" type="password" id="password" class="tab_txt_fld required" value="<?php echo $this->result->password; ?>" placeHolder="At least 6 charcters" size="11"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Email'); ?>:</span></td>
                                <td><input name="users[email]" type="text" id="email" class="tab_txt_fld required email" value= "<?php echo $this->result->email; ?>" placeHolder="Enter a valid E-mail Id" size="11"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Date of Birth'); ?>:</span></td>
                                <td><input name="users[dob]" type="text" id="dob" class="tab_txt_fld required" value= "<?php echo $this->result->dob; ?>" placeHolder="Select a Date" size="11"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('First Name'); ?>:</span></td>
                                <td><input name="users[firstname]" id="firstname" type="text" class="tab_txt_fld required" value="<?php echo $this->result->firstname; ?>"  size="11" placeHolder="Enter First Name"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Last Name'); ?>:</span></td>
                                <td><input name="users[lastname]" id="lastname" type="text" class="tab_txt_fld required" value="<?php echo $this->result->lastname; ?>"  size="11" placeHolder="Enter Last Name"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Gender'); ?>:</span></td>
                                <td><div style="float:left;"><input type="radio" name="users[gender]" id="male" class="tab_txt_fld required" value="M" <?php if($this->result->gender== 'M') {?><?php echo 'checked ="checked"';?> <?php } ?> ><?php echo $this->translate('Male');?></div> </td>
                                <td><div style="float:left; margin-left: 5px;"><input type="radio" name="users[gender]" id="female" class="tab_txt_fld" value="F" <?php if($this->result->gender== 'F') {?><?php echo 'checked ="checked"';?> <?php } ?>><?php echo $this->translate('Female');?></div></td>
                            </tr>
                            <tr>
                                <td><span><?php echo $this->translate('Address Line1');?>:</span></td>
                                <td><input name="users[address_line_1]" id="address_line_1" type="text" class="tab_txt_fld" value="<?php echo $this->result->address_line_1; ?>"  size="11" placeHolder="Address Line1"></td>
                            </tr>
                            <tr>
                                <td><span><?php echo $this->translate('Address Line2');?>:</span></td>
                                <td><input name="users[address_line_2]" id="address_line_2" type="text" class="tab_txt_fld" value="<?php echo $this->result->address_line_2; ?>"  size="11" placeHolder="Address Line2"></td>
                            </tr>
                            <tr>
                                <td><span><?php echo $this->translate('Upload Photo');?>:</span></td>
                                <td><input name="users[profile_pic_path]" id="profile_pic_path" type="file" class="tab_txt_fld" value=""  size="" placeHolder="Upload Photo">
                                    <img src="<?php echo SITE_URL; ?>/uploads/images/thumbnails/<?php echo $this->result->profile_pic_path; ?>">
                                </td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Country'); ?>:</span></td>
                                <td><select class="tab_txt_fld required" name="users[country]" id="country" onchange="fngetstates($(this).val());">
                                    <option value="">---<?php echo $this->translate('Select Country'); ?>---</option>
                                    <?php foreach ($this->countries as $result): ?>
                                        <option value="<?=$result["id"];?>" <?php if($this->result->country== $result["id"]) {?><?php echo 'selected ="selected"';?> <?php } ?>><?php echo $result["country_name"]; ?></option>
                                    <?php endforeach; ?>
                                </select></td> 
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('State'); ?>:</span></td>
                                <td><select class="tab_txt_fld required" name="users[state]" id="state" onchange="fngetcities($(this).val());">
                                    <option value="">---<?php echo $this->translate('Select State'); ?>---</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('City'); ?>:</span></td>
                                <td><select class="tab_txt_fld required" name="users[city]" id="city">
                                    <option value="">---<?php echo $this->translate('Select City');?>---</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Zip Code'); ?>:</span></td>
                                <td><input name="users[zipcode]" id="zipcode" type="text" class="tab_txt_fld required" value="<?php echo $this->result->zipcode; ?>"  size="11" placeHolder="Enter Zipcode"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('Highschool'); ?>:</span></td>
                                <td><input name="users[high_school_info]" id="high_school_info" type="text" class="tab_txt_fld " value="<?php echo $this->result->high_school_info; ?>"  size="11" placeHolder=""></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('College University'); ?>:</span></td>
                                <td><input name="users[college_info]" id="college_info" type="text" class="tab_txt_fld " value="<?php echo $this->result->college_info; ?>"  size="11"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red"></font></sup>&nbsp;<?php echo $this->translate('Employer'); ?>:</span></td>
                                <td><input name="users[employer_info]" id="employer_info" type="text" class="tab_txt_fld " value="<?php echo $this->result->employer_info; ?>"  size="11"></td>
                            </tr>
                            <tr>
                                <td><span><sup><font color="red">*</font></sup>&nbsp;<?php echo $this->translate('Mobile No'); ?>:</span></td>
                                <td><input name="users[mobile_no]" id="mobile_no" type="text" class="tab_txt_fld required" value="<?php echo $this->result->mobile_no; ?>"  size="11"></td>
                            </tr>
                            <tr> 
                                <td><input name="" type="submit" class="btn btn-primary" id="submitusers" value="CONTINUE"></td>
                                <td><button id="back" class="btn btn-primary" onclick='javasctipt:history.go(-1);' type="button" name="back">Back</button></td>
                                
                            </tr>
                        </ul>
                        </table>
                    </form>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script language="javascript">
$(document).ready(function(){
    $("#adduser").validate({
        username: {
            required: true
        },
        email: {
            required: true
        },
        dob: {
            required: true
        },
        firstname: {
            required: true
        },
        lastname: {
            required: true
        },
        gender: {
            required: true
        },
        country: {
            required: true
        },
        state: {
            required: true
        },
        city: {
            required: true
        },
        mobile_no: {
            required: true
        }
        
    });
});
//$('#date_of_birth').datepicker();
$("#dob").datepicker({ 
	changeMonth: true,
	changeYear: true,
	yearRange:'-90:+0'  
});

function updateMarkerPosition(latLng) {
    document.getElementById('info').innerHTML = [
        latLng.lat(),
        latLng.lng()
    ].join(', ');
    document.getElementById('lat').value = latLng.lat();
    document.getElementById('lng').value = latLng.lng();
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>