<?php //echo '<pre>';print_r($this->scribblescnt);exit; ?>
<section id="main" class="span9">
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab2" data-toggle="tab"><?php echo $this->translate("View User"); ?></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab2">
                    <fieldset class="span12">
                            <form class="form-horizontal">
                                 <div style="float:left;">
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('FullName'); ?>:</label>
                                            <div class="controls"><?php echo $this->translate($this->escape($this->result['firstname'].$this->result['lastname']));?></div>
                                    </div>
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('Username'); ?>:</label>
                                            <div class="controls"><?php echo $this->translate($this->escape($this->result['username']));?></div>
                                    </div>
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('User Level'); ?>:</label>
                                            <div class="controls"><?php echo $this->translate($this->escape($this->levels['level_name']));?></div>
                                    </div>
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('User Cool Points'); ?>:</label>
                                            <div class="controls"><?php echo $this->translate($this->escape($this->coolpoints));?></div>
                                    </div>
                                    <div class="control-group">
                                            <label class="control-label"><?php echo $this->translate('User Scribbles Count'); ?>:</label>
                                            <div class="controls"><?php echo $this->translate($this->escape($this->scribblescnt));?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Email'); ?>:</label>
                                        <div class="controls"><?php echo $this->translate($this->escape($this->result['email']));?></div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Gender'); ?>:</label>
                                        <div class="controls"><?php if($this->result['gender']=='M') echo $this->translate($this->escape('Male')); else echo $this->translate($this->escape('Female')); ?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Date Of Birth'); ?>:</label>
                                        <div class="controls"><?php if($this->result['dob'] != '0000-00-00' && $this->result['dob'] != '') echo date('jS/M/Y', strtotime($this->result['dob'])); else echo "--N/A--";?></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><?php echo $this->translate('Address'); ?>:</label>
                                        <div class="controls"><?php if($this->result['address_line_1'] != '' || $this->result['address_line_2']!='')echo $this->translate($this->escape($this->result['address_line_1'].$this->result['address_line_2'])); else echo "--N/A--" ?></div>
                                    </div>
                                </div>
                                <div style="float:right; padding-right: 50px;">
                                    <?php if(file_exists(UPLOAD_PATH.'images/thumbnails/'.$this->result['profile_pic_path']) && $this->result['profile_pic_path'] !='') { ?>
                                        <img src="<?php echo SITE_URL;?>uploads/images/thumbnails/<?php echo $this->result['profile_pic_path'];?>" alt="<?php echo $this->result['profile_pic_path'];?>"/>
                                    <?php } ?>
                                </div>
                                <div class="control-group">
                                     <div style="clear:both;"></div>
                                    <label class="control-label"><?php echo $this->translate('About Me'); ?>:</label>
                                    <div class="controls" align="justify" style="margin-right:15px;"><?php if($this->result['description'] != '')echo stripslashes(htmlentities(html_entity_decode($this->translate($this->escape(wordwrap($this->result['description'],75,"\n",TRUE)))))); else echo "--N/A--";?></div>
                                </div> 
                                <div class="form-action-area">
                                    <button id="back" class="btn btn-primary" onclick='javasctipt:history.go(-1);' type="button" name="back">Back</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<style type="text/css">
    .form-horizontal .controls{ margin-top: 5px; }
</style>