<?php if($this->notification!=''){  //echo '<pre>';print_r($this->notification);exit;
   echo '<div class="noti_arrow"><img class="top_icons_notif" src="'.SITE_URL.'images/noti_pop_arrow.png"></div>
        <div class="noti_bg">';
            $i=1;
            foreach($this->notification as $row){  //echo '<pre>';print_r($row);exit;
                if($row['user_type']=='U'){
                    if(($row->user_image != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row->user_image))){
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row->user_image;
                        $name = $row['user_firstname'];
                    }else{
                        $imagepath = SITE_URL.'images/no-user.gif';
                        $name = $row['user_firstname'];
                    }
                }
                if($row['user_type']=='B'){
                    if(($row->business_image != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row->business_image))){
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row->business_image;
                        $name = $row['business_firstname'];
                    }else{
                        $imagepath = SITE_URL.'images/no-user.gif';
                        $name = $row['business_firstname'];
                    }
                }
                if($row['notifications_type'] == 'level_upgrade'){
                    if(($row->level_user_image != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row->level_user_image))){
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row->level_user_image;
                        $name = $row['level_firstname'];
                    }else{
                        $imagepath = SITE_URL.'images/no-user.gif';
                        $name = $row['level_firstname'];
                    }
                }
                if($row['notifications_type'] == 'new_upper'){
                    if(($row->newupper_image != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row->newupper_image))){
                        $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row->newupper_image;
                        $name = $row['newupper_firstname'];
                    }else{
                        $imagepath = SITE_URL.'images/no-user.gif';
                        $name = $row['newupper_firstname'];
                    }
                }
                if($row['notifications_type'] == 'message'){
                if(($row->message_user_image != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$row->message_user_image))){
                    $imagepath = SITE_URL.'uploads/images/thumbnails/'.$row->message_user_image;
                    $name = $row['message_firstname'];
                    }else{
                        $imagepath = SITE_URL.'images/no-user.gif';
                        $name = $row['message_firstname'];
                    }
                }
            echo '<div class="noti_outer">
            <ul>
                <li class="noti_imgouter"><img src="'.$imagepath.'" border="0" width="45" height="45" title="'.ucwords($name).'"></li>
                <li class="noti_pop_txt">';
                         if($row['notifications_type'] == 'following'){ 
                             if($row['user_type']=='U'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['user_id'].'">'.ucwords($row['user_firstname']).'</a> is Following You.<br/>';
                             }else{
                                echo '<a href="'.SITE_URL.'business/businessprofile'.$row['user_id'].'">'.ucwords($row['business_firstname']).'</a> is Following You.<br/>';
                             }
                         }
                         if($row['notifications_type'] == 'followed'){ 
                             if($row['user_type']=='U'){
                                echo 'You Followed by <a href="'.SITE_URL.'user/userprofile'.$row['user_id'].'">'.ucwords($row['user_firstname']).'</a><br/>';
                             }else{
                                echo 'You Followed by <a href="'.SITE_URL.'business/businessprofile'.$row['user_id'].'">'.ucwords($row['business_firstname']).'</a><br/>';
                             }
                         }
                         if($row['notifications_type'] == 'purchasecoupon'){ 
                             if($row['user_type']=='U'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['purchaseid'].'">'.ucwords($row['purchaserfirstname']).'</a> is Purchasing Your coupon.<br/>';
                             }else{
                                echo '<a href="'.SITE_URL.'business/businessprofile'.$row['purchaseid'].'">'.ucwords($row['purchaserfirstname']).'</a> is Purchasing Your coupon.<br/>';
                             }
                         }
                         if($row['notifications_type'] == 'level_upgrade'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['leveluser_id'].'">'.ucwords($row['level_firstname']).'</a> Your Level is Upgraded.<br/>';
                         }
                         if($row['notifications_type'] == 'scribble_blasted'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['leveluser_id'].'">'.ucwords($row['level_firstname']).'</a> Your Scribble is Blasted.<br/>';
                         }
                         if($row['notifications_type'] == 'photo_blasted'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['leveluser_id'].'">'.ucwords($row['level_firstname']).'</a> Your Photo is Blasted.<br/>';
                         }
                         if($row['notifications_type'] == 'new_upper'){ 
                                echo '<a href="'.SITE_URL.'business/businessprofile'.$row['newupper_business_id'].'">'.ucwords($row['newupper_firstname']).'</a> is Created A Coupon.<br/>';
                         }
                         if($row['notifications_type'] == 'message'){
                                echo '<a href="'.SITE_URL.'user/userprofile'.$row['message_user_id'].'">'.ucwords($row['message_firstname']).'</a> has sent you a message.<br/>';
                         }
                         
                echo '</li>
            </ul>
            </div>';
            $i++; if($i>5){ break; } }  if(count($this->notification)>5){
            echo '<div class="noti_foot" onclick="gotonotificationpage();"> <a href="notification_list.php" style="text-decoration: none; color: #000;">See All Notifications</a></div>';
             }
        echo '</div>';
       
} else {
    echo '<div class ="msg_notfound" style="text-align: center;">'.$this->translate("No Notifications Found").'</div>';
}