<?php //echo "<pre>";print_r($this->data);exit;?>
<section id="main" class="span9">
        <section id="tabs" class="row-fluid">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs ">
                            <li class="active"><a href="#tab2" data-toggle="tab"><?= $this->translate("Add Category");?></a></li>
                        </ul>
                        <div class="tab-content">
                                <div class="tab-pane row-fluid active" id="tab2">
                                                <fieldset class="span12">
                                                        <?php 
                                                        $this->form->setAction($this->baseUrl().'/admin/categories/addcategory');
                                                        echo $this->form;
                                                        ?>
                                                </fieldset>
                                        <div class="clearfix"></div>
                                        <div class="tableFooter">
                                                <div class="clearfix"></div>
                                        </div><!-- End of Table footer -->
                                </div>
                        </div>
                </div>
        </section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script type="text/javascript">
$(document).ready(function(){
    $("#addcategories").validate({                                   
            category_name: {
                    required: true
                }
            });
    });
</script>