<?php $paginationControl = $this->paginationControl($this->paginator, 'Sliding', '_partials/paginator.phtml');
//sleep(5);
if(!$this->isAjaxReq)
{
?>
<section id="main" class="span9">
    <?php
    if($this->flashMessages())
    {
        echo $this->translate($this->flashMessages());
    }
    ?>
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <div class="addbtn"><a href="<?php echo SITE_URL.'admin/categories/addcategory'; ?>">Add Category</a></div>
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab"><?= $this->translate("Business Categories Management");?></a></li>			
            </ul>
            <div class="tab-content">
<?php } ?>
                <form name="managecategories" id="managecategories" method="post">
                    <input type="hidden" name="hid_key" id="hid_key" value=""/>
                    <input type="hidden" name="hid_id" id="hid_id" value="" />
                    <input type="hidden" name="hid_status" id="hid_status" value="" />
                    <div class="tab-pane active" id="tab1">
                        <div class="pagination-result">
                            <div  class="search_right">
                               <input type="text" name="categoriessearch" id="categoriessearch" value="<?php if($this->keyword !='') echo $this->keyword;?>"  placeholder="Search for Categories"/>
                               <button class="btn btn-primary" id="searchsubmit">Search</button>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectall" name="checkAll" value="Y" onclick="javascript:funCheckAll();"></th>  
                                    <th><?php echo $this->translate('Categories');?></th>
                                    <th><?php echo $this->translate('Status');?></th>
                                    <th><?php echo $this->translate('Actions');?></th>
                                </tr>					
                                </thead>
                                <tbody>
                                <?php 
                                    $count = 0;    
                                    foreach ($this->paginator as $categories) { $count++;?>
                                    <tr>
                                            <td><input type="checkbox" class="case" name="checkcategories[]" value="<?php echo $categories['id'];?>"></td>
                                            <td> 
                                                <?php if(strlen($categories['category_name'])>50) {  echo stripslashes(substr($categories['category_name'],0,50)).'....'; } else { echo stripslashes($categories['category_name']);}?>
                                            </td>
                                            <td><?php if($categories['status'] == '1'){?> 
                                                    <span style="color:#008000"><?php echo $this->translate("Active");?></span>
                                                    <?php } else{ ?>
                                                    <span style="color:#FF0000"><?php echo $this->translate("Inactive");}?></span>
                                            </td>
                                            <td>
                                                <a href="<?php echo $this->url(array('controller'=>'categories', 'action'=>'editcategory','id'=>$categories['id'])); ?>" title="Edit Category"><i class="icon-edit"></i></a>
                                                <a href="javascript:void(0);"><i class="icon-remove" title="Remove Category" onclick="fnDeleteRecord('managecategories',<?php echo $categories['id'];?>);"></i></a>
                                                <?php if($categories['status'] == '0'){?>
                                                            <a href="javascript:void(0);" title="Make Active" onclick="fnChangeStatus('managecategories','1',<?php echo $categories['id'];?>);"><i class="icon-ok-circle"></i></a>
                                                <?php } else{?>
                                                            <a href="javascript:void(0);" title="Make Inactive" onclick="fnChangeStatus('managecategories','0',<?php echo $categories['id'];?>);"><i class="icon-ban-circle"></i></a>
                                                <?php } ?>
                                            </td>
                                    </tr>
                                <?php } 
                                    if($count == 0)
                                    {?>
                                        <tr><td colspan="5" class="norecords" style="text-align: center;"><?php echo $this->translate("No Records To Display");?></td></tr>
                                <?php } ?>
                                </tbody>                                    
                            </table>                  
                        </div>
                        <div class="tableFooter">
                            <?php if($count != 0) { ?>
                            <div class="tableActions span7 action">
                            <select name="adminActions" id="adminActions">
                                <option value=""><?php echo $this->translate("Choose an action");?></option>
                                <option value="A"><?php echo $this->translate("Make Active");?></option>
                                <option value="I"><?php echo $this->translate("Make Inactive");?></option>
                                <option value="D"><?php echo $this->translate("Delete");?></option>
                            </select>
                            <button class="btn btn-primary" onclick="return setAdminStatus('managecategories');"><?php echo $this->translate("Submit");?></button>
                            </div><!-- End of table Actions -->
                            <?php } ?>
                            <div class="pagination span5 page">
                            <?php echo $paginationControl ?>
                            </div>    
                            <div class="clearfix"></div>
                        </div><!-- End of Table footer -->
                    </div><!-- End of Tab 1 -->
                </form>
            </div>
        </div>
    </section><!-- End of Tabs -->        
</section>
<SCRIPT language="javascript">
$(window).scrollTop(0);
$(function(){

        // add multiple select / deselect functionality
        $("#selectall").click(function () {
        $('.case').attr('checked', this.checked);
        });

        // if all checkbox are selected, check the selectall checkbox
        // and viceversa
        $(".case").click(function(){

        if($(".case").length == $(".case:checked").length) {
        $("#selectall").attr("checked", "checked");
        } else {
        $("#selectall").removeAttr("checked");
        }
     });
     $('#searchsubmit').click(function(){
            var searchStr = $('#categoriessearch').val();
            if(searchStr == '') {
                jAlert("Please enter your keyword to display search results",'Alert');
                return false;
            } else {
                $('.tab-content').html('<div id="tab1"><div id="ajax-load"></div></div>');
                $('#ajax-load').addClass('loading overlay');
                $('.overlay').attr('style','height:150px;position:relative;');
                $.get(site_url+'admin/categories/index', {'search' : searchStr}, 
                function (data) {
                    //alert(data);
                    $('#ajax-load').removeClass('loading overlay');
                    //alert(data);
                    $('.tab-content').html(data);
                    return false;
                });		
            } 
            return false;
        });
});
</SCRIPT>