<div id="B_left_column">
    <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
    if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
        <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax">
    <?php } ?>
        <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
    <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
            <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
        </a>
    <?php } ?>
    <div class="title10 <?php if($this->page_Name == 'businessmap'){?>active<?php }?>"><a href="<?=SITE_URL?>business/businessmap/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Maps')?></a></div>
    <div class="title10 <?php if($this->page_Name == 'businessphotos'){?>active<?php }?>"><a href="<?=SITE_URL?>business/businessphotos/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Photos')?></a></div>
    <?php if($user == 'business') { ?>
        <div class="title10"><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate('Edit')?></a></div>
    <?php } ?>
    <div class="title10 <?php if($this->page_Name == 'followers'){?>active<?php }?>"><?=$this->translate('Followers')?></div>
    <div class="title10 <?php if($this->page_Name == 'postreview'){?>active<?php }?>">
        <?php if($this->user_id != $auth_id){ ?>
            <a id="postreview_fancybox"   class="various fancybox.ajax pointer"><?=$this->translate('Post Review')?></a>
        <?php } else { 
            echo $this->translate('Post Review');
        } ?>
    </div>
</div>               