<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab <?php echo ($this->action == 'businessinfo' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">1.<?=$this->translate('Business')?></h1>
        <span class="tab_span"><?=$this->translate('Signup')?></span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'profileinfo' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">2.<?=$this->translate('Business')?></h1>
        <span class="tab_span"><?=$this->translate('Profile Info')?></span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'findfriends' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">3.<?=$this->translate('Business')?></h1>
        <span class="tab_span"><?=$this->translate('Find Friends')?></span>
    </li>
    <li class="TabbedPanelsTab <?php echo ($this->action == 'profilepicture' ? 'TabbedPanelsTabSelected':'');?>" tabindex="0">
        <h1 class="tab_h1">4.<?=$this->translate('Business')?></h1>
        <span class="tab_span"><?=$this->translate('Profile Picture')?></span>
    </li>
</ul>