<?php //echo '<pre>';print_r($this->media);exit; ?>
<div class="view_image_bg">
    <?php if($this->type == 'photo') { ?>
        <img src="<?php echo SITE_URL.'uploads/images/original/'.$this->media->photo_modified_name; ?>" alt="<?php echo $this->media->photo_name; ?>" >
    <?php } if($this->type == 'video') { ?>
        <img src="<?php echo SITE_URL.'uploads/videos/'.$this->media['thumbnail_path']; ?>" alt="<?php echo $this->media['video_name']; ?>" >
    <?php } ?>
</div>