<script src="<?=SITE_URL?>SpryAssets/Business_tab.js" type="text/javascript"></script>
<link href="<?=SITE_URL?>SpryAssets/Business_tab.css" rel="stylesheet" type="text/css">
<section>
    <div class="BS_body_wrap">
        <!--left content-->
        <?php echo $this->render('index/businessleftbar.phtml');?>
        <!--End left content-->
        <!--main-->
        <div class="BS_mainCon">
            <div class="BS_mainConH"><?=$this->translate("My Account Settings")?></div>
            <div class="BS_mainConR"><?=$this->translate("Company Information")?> <span>( <?=$this->translate("Contact Name")?>, <?=$this->translate("Business Name")?>, <?=$this->translate("Address")?>, <?=$this->translate("Phone")?>)</span></div>
            <div class="BS_mainConR2"><a href="javascript:void(0);" id="toggle1"><?=$this->translate("Edit")?></a></div>
            <div class="clear"></div>
            <div id="companyinfodiv" class="BS_mainConR_accord" style="display:none;">
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Business Name')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[business_name]" id="business_name" value="<?php if(isset($this->businessdata->business_name)){ echo $this->businessdata->business_name;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Business Keywords')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="keywords" id="keywords" value="<?php if(isset($this->keywords)) { echo $this->keywords; } ?>" ></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Category')?></div>
                    <div class="BS_mainConR_accordF">
                        <select name="business[business_category]" class="tab_list_menu" id="business_category">
                            <option value="">---<?=$this->translate('Select Category')?>---</option>
                            <?php for($i=0;$i<count($this->categories);$i++) {
                                $category = ($this->businessdata->category_id ==$this->categories[$i]['id'])?'selected':"";
                            ?>
                                <option value="<?=$this->categories[$i]['id']?>" <?=$category?>><?=$this->categories[$i]['category_name']?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Security Question')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[security_question]" id="security_question" value="<?php if(isset($this->businessdata->security_question)){echo $this->businessdata->security_question;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Security Answer')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[security_answer]" id="security_answer" value="<?php if(isset($this->businessdata->security_answer)){echo $this->businessdata->security_answer;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Website')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[website]" id="website" value="<?php if(isset($this->businessdata->website)){echo $this->businessdata->website;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('First Name')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[firstname]" id="firstname" value="<?php if(isset($this->businessdata->firstname)){echo $this->businessdata->firstname;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Last Name')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[lastname]" id="lastname" value="<?php if(isset($this->businessdata->lastname)){echo $this->businessdata->lastname;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Address1')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[address1]" id="address1" value="<?php if(isset($this->businessdata->address1)){echo $this->businessdata->address1;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Address2')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[address2]" id="address2" value="<?php if(isset($this->businessdata->address2)){echo $this->businessdata->address2;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Country')?></div>
                    <div class="BS_mainConR_accordF">
                        <select class="tab_txt_fld4" name="business[country]" id="country" onChange="fngetstates($(this).val());" >
                            <option value="">---<?=$this->translate('Select Country')?>---</option>
                            <?php for($i=0;$i<count($this->countries);$i++) {
                                $country = ($this->businessdata->country ==$this->countries[$i]['id'])?'selected':"";
                                ?>
                                <option value="<?=$this->countries[$i]['id']?>" <?=$country?>><?=$this->countries[$i]['country_name']?></option>
                            <?php } ?>
                        </select> 
                    </div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('State')?></div>
                    <div class="BS_mainConR_accordF">
                        <select class="tab_txt_fld4" name="business[state]" id="state" onchange="fngetcities($(this).val());" >
                            <option value="">---<?=$this->translate('Select State')?>---</option>
                            <?php if(!empty($this->states)) { ?>
                                <?php for($i=0;$i<count($this->states);$i++) {
                                    $state = ($this->businessdata->state == $this->states[$i]['id'])?'selected':"";
                                ?>
                                <option value="<?=$this->states[$i]['id']?>" <?php echo $state; ?>><?=$this->states[$i]['state_name']?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('City')?></div>
                    <div class="BS_mainConR_accordF">
<!--                    <input type="text" name="business[city]" id="city" value="<?php if(isset($this->businessdata->city)){echo $this->businessdata->city;}?>" >-->
                        <select class="tab_txt_fld4" name="business[city]" id="city" onchange="fngetzipcodes($(this).val());" >
                            <option value="">---<?=$this->translate('Select City')?>---</option>
                            <?php if(!empty($this->cities)) { ?>
                                <?php for($i=0;$i<count($this->cities);$i++) {
                                    $city = ($this->businessdata->city == $this->cities[$i]['id'])?'selected':"";
                                ?>
                                <option value="<?=$this->cities[$i]['id']?>" <?php echo $city; ?>><?=$this->cities[$i]['city_name']?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Zipcode')?></div>
                    <div class="BS_mainConR_accordF">
<!--                    <input type="text" name="business[zipcode]" id="zipcode" value="<?php if(isset($this->businessdata->zipcode)){echo $this->businessdata->zipcode;}?>" >-->
                        <select class="tab_txt_fld4" name="business[zipcode]" id="zipcode">
                            <option value="">---<?=$this->translate('Select Zipcode')?>---</option>
                            <?php if(!empty($this->zipcode)) { ?>
                                <?php for($i=0;$i<count($this->zipcode);$i++) {
                                    $zipcode = ($this->businessdata->zipcode == $this->zipcode[$i]['id'])?'selected':"";
                                ?>
                                <option value="<?=$this->zipcode[$i]['id']?>" <?php echo $zipcode; ?>><?=$this->zipcode[$i]['zipcode']?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Phone')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="business[phone_no]" id="phone_no" value="<?php if(isset($this->businessdata->mobile_no)){echo $this->businessdata->mobile_no;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC" style="margin:0;" id="company_info_message"></div>
<!--                <div class="BS_mainConR_accordFC" style="margin:0;">
                    <input type="button" value="Save" class="BS_mainConR_accordbtn" id="save_company_info">
                </div>-->
                <div class="BS_mainConR_accordFC"><input id="save_company_info" class="savebtnsettings" type="button"></div>
            </div>
            <div class="BS_mainConR"><?=$this->translate("Username")?></div>
            <div class="BS_mainConR2"><a href="javascript:void(0);" id="toggle2"><?=$this->translate("Edit")?></a></div>
            <div class="clear"></div>
            <div id="usernamediv" class="BS_mainConR_accord" style="display: none">
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Username')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="username" id="username" value="<?php if(isset($this->businessdata->username)){echo $this->businessdata->username;}?>" minlength="6" maxlength="16" ></div>
                </div>
                <div class="BS_mainConR_accordFC" style="margin:0;" id="save_username_message">
                </div>
<!--                <div class="BS_mainConR_accordFC" style="margin:0;">
                    <input type="button" value="Save" class="BS_mainConR_accordbtn" id="save_username">
                </div>-->
                <div class="BS_mainConR_accordFC"><input id="save_username" class="savebtnsettings" type="button"></div>
            </div>
            <div class="BS_mainConR"><?=$this->translate("Password")?></div>
            <div class="BS_mainConR2"><a href="javascript:void(0);" id="toggle3"><?=$this->translate("Edit")?></a></div>
            <div class="clear"></div>
            <div id="passworddiv" class="BS_mainConR_accord" style="display: none">
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN">Password</div>
                    <div class="BS_mainConR_accordF"><input type="password" name="password" id="password" minlength="6" maxlength="16" ></div>
                </div>
                <div class="BS_mainConR_accordFC" style="margin:0;" id="save_password_message"></div>
<!--                <div class="BS_mainConR_accordFC" style="margin:0;">
                    <input type="button" value="Save" class="BS_mainConR_accordbtn" id="save_password">
                </div>-->
                <div class="BS_mainConR_accordFC"><input id="save_password" class="savebtnsettings" type="button"></div>
            </div>
            <div class="BS_mainConR"><?=$this->translate("Email")?></div>
            <div class="BS_mainConR2"><a href="javascript:void(0);" id="toggle4"><?=$this->translate("Edit")?></a></div>
            <div class="clear"></div>
            <div id="emaildiv" class="BS_mainConR_accord" style="display: none">
                <div class="BS_mainConR_accordFC">
                    <div class="BS_mainConR_accordN"><?=$this->translate('Email')?></div>
                    <div class="BS_mainConR_accordF"><input type="text" name="email" id="email"  value="<?php if(isset($this->businessdata->email)){echo $this->businessdata->email;}?>"></div>
                </div>
                <div class="BS_mainConR_accordFC" style="margin:0;" id="save_email_message"></div>
<!--                <div class="BS_mainConR_accordFC" style="margin:0;">
                    <input type="button" value="Save" class="BS_mainConR_accordbtn" id="save_email">
                </div>-->
                <div class="BS_mainConR_accordFC"><input id="save_email" class="savebtnsettings" type="button"></div>
            </div>
            <div class="BS_mainConR bdrnone"><?=$this->translate("About Me")?></div>
            <div class="BS_mainConRB"><textarea id="description" name="description"><?=stripcslashes($this->businessdata->description);?></textarea></div>
<!--        <div class="BS_mainConR"><?=$this->translate("Billing")?> <span>(<?=$this->translate("Credit Card")?>, <?=$this->translate("Billing Address")?></span></div>
            <div class="BS_mainConR2"><a href="javascript:void(0);"><?=$this->translate("Edit")?></a></div>-->
            <div class="clear">&nbsp;</div>
            <div class="BS_mainConR_accordFC" style="margin:0;" id="save_desc_message"></div>
            <div class="BS_mainConR bdrnone" ><?=$this->translate("Cancel Account")?><input class="cancelbtnsettings" type="button" onclick="cancelaccount(<?=$this->businessdata->business_id?>);"></div><!-- src="<?=SITE_URL?>images/cancel_btn.png" -->
            <div class="BS_mainConRL"><input id="save_desc_botton" class="savebtnsettings" type="button"></div><!-- src="<?=SITE_URL?>images/save_btn.png" -->
        </div>
    <!--End main-->
    </div>
</section>
<script type="text/javascript">
function IsEmail(email) {
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
}
function cancelaccount(bid) {
    if(bid == '') {
        alert("BusinessId Can't be Empty");
        return false;
    }
    var dataObj = { businessId: bid };
    jConfirm('Can you confirm this?','',function(r){if(r==true) {
        $.ajax({
            type: "POST",
            url: site_url+"business/index/cancelaccount",
            data: dataObj,
            success: function(result) {
                if(result == 'success') {
                    window.location =  site_url+'business/logout';
                }
            }
        });
        return false;
    }});    
}
$(document).ready(function(){
    $("#save_desc_botton").click(function() {
        description = $("#description").val();
        if(description == '') {
            $("#save_desc_message").html('');
            alert('Please Enter Description');
            $('#description').focus();
            return false;
        }
        var dataObj = { For:'description',description: description };
        $.ajax({
            type: "POST",
            url: site_url+"business/editdata",
            data: dataObj,
            success: function(result) {
                if(result == 'success') {
                    $('#save_desc_message').html("<?=$this->translate('Description Updated Successfully')?>");
                    return false;
                }
                if(result == 'fail') {
                    $('#save_desc_message').html("<?=$this->translate('Some Error Occured')?>");
                    return false;
                }
            }
        });
        return false;
    });
    $("#toggle1").click(function(){
        $('#companyinfodiv').slideToggle("normal");
        $("#usernamediv").hide();
        $("#passworddiv").hide();
        $("#emaildiv").hide();
        $("#save_username_message").html('');
        $("#save_password_message").html('');
        $("#save_email_message").html('');
        $("#save_desc_message").html('');
        $("#company_info_message").html('');
    });
    $("#toggle2").click(function(){
        $('#usernamediv').slideToggle("normal");
        $("#companyinfodiv").hide();
        $("#passworddiv").hide();
        $("#emaildiv").hide();
        $("#save_username_message").html('');
        $("#save_password_message").html('');
        $("#save_email_message").html('');
        $("#save_desc_message").html('');
        $("#company_info_message").html('');
    });
    $("#toggle3").click(function(){
        $('#passworddiv').slideToggle("normal");
        $("#companyinfodiv").hide();
        $("#usernamediv").hide();
        $("#emaildiv").hide();
        $("#save_username_message").html('');
        $("#save_password_message").html('');
        $("#save_email_message").html('');
        $("#save_desc_message").html('');
        $("#company_info_message").html('');
    });
    $("#toggle4").click(function(){
        $('#emaildiv').slideToggle("normal");
        $("#companyinfodiv").hide();
        $("#usernamediv").hide();
        $("#passworddiv").hide();
        $("#save_username_message").html('');
        $("#save_password_message").html('');
        $("#save_email_message").html('');
        $("#save_desc_message").html('');
        $("#company_info_message").html('');
    });
    $("#save_username").click(function() {
        uname = $("#username").val();
        if(uname == '') {
            $("#save_username_message").html('');
            alert('Please Enter UserName');
            $('#username').focus();
            return false;
        }
        if(uname.length < 6) {
            $("#save_username_message").html('');
            alert('UserName Should be minimum of 6 characters');
            $('#username').focus();
            return false;
        }
        if(uname.length > 16) {
            $("#save_username_message").html('');
            alert('UserName Should be maximum of 16 characters');
            $('#username').focus();
            return false;
        }
        var dataObj = {For:'username',username: uname};
        $.ajax({
            type: "POST",
            url: site_url+"business/editdata",
            data: dataObj,
            success: function(result) {
                if(result =='same') {
                    $('#save_username_message').html("<?=$this->translate('Same Username Entered')?>");
                    return false;
                }
                if(result == 'success') {
                    $('#save_username_message').html("<?=$this->translate('Username Updated Successfully')?>");
                    return false;
                }
                if(result == 'fail') {
                    $('#save_username_message').html("<?=$this->translate('Some Error Occured')?>");
                    return false;
                }
                if(result == 'exists') {
                    $('#save_username_message').html("<?=$this->translate('Username Already Exists')?>");
                    return false;
                }
            }
        });
        return false;
    });
    $("#save_password").click(function() {
        pwd = $("#password").val();
        if(pwd == '') {
            $("#save_password_message").html('');
            alert('Please Enter Password');
            $('#password').focus();
            return false;
        }
        if(pwd.length < 6) {
            $("#save_password_message").html('');
            alert('Password Should be minimum of 6 characters');
            $('#password').focus();
            return false;
        }
        if(pwd.length > 16) {
            $("#save_password_message").html('');
            alert('Password Should be maximum of 16 characters');
            $('#password').focus();
            return false;
        }
        var dataObj = {For:'password',password: pwd}; 
        $.ajax({
            type: "POST",  
            url: site_url+"business/editdata",
            data: dataObj,
            success: function(result) {
                if(result == 'success') {
                    $('#save_password_message').html("<?=$this->translate('Password Updated Successfully')?>");
                    return false;
                }
                if(result == 'fail') {
                    $('#save_password_message').html("<?=$this->translate('Some Error Occured')?>");
                    return false;
                }
            }
        });
        return false;
    });
    $("#save_email").click(function() {
        email = $("#email").val();
        if(email == '') {
            $("#save_email_message").html('');
            alert('Please Enter Email');
            $('#email').focus();
            return false;
        } else if(!IsEmail(email)) {
            $("#save_email_message").html('');
            alert('Please Enter Valid Email');
            $('#email').focus();
            return false;
        }
        var dataObj = {For:'email',email: email};
        $.ajax({
            type: "POST",
            url: site_url+"business/editdata",
            data: dataObj,
            success: function(result) {
                if(result =='same') {
                    $('#save_email_message').html("<?=$this->translate('Same Email Entered')?>");
                    return false;
                }
                if(result == 'success') {
                    $('#save_email_message').html("<?=$this->translate('Email Updated Successfully')?>");
                    return false;
                }
                if(result == 'fail') {
                    $('#save_email_message').html("<?=$this->translate('Some Error Occured')?>");
                    return false;
                }
                if(result == 'exists') {
                    $('#save_email_message').html("<?=$this->translate('Email Already Exists')?>");
                    return false;
                }
            }
        });
        return false;
    });
    $("#save_company_info").click(function() {
        firstname = $("#firstname").val();
        lastname = $("#lastname").val();
        keywords = $("#keywords").val();
        business_name = $("#business_name").val();
        country = $("#country").val();
        state = $("#state").val();
        city = $("#city").val();
        zipcode = $("#zipcode").val();
        website = $("#website").val();
        security_question = $("#security_question").val();
        security_answer = $("#security_answer").val();
        phone_no = $("#phone_no").val();
        business_category = $("#business_category").val();
        address1 = $("#address1").val();
        address2 = $("#address2").val();
        if(firstname == '') {
            alert('Please Enter First Name');
            $('#firstname').focus();
            return false;
        } else if(keywords == '') {
            alert('Please Enter Keywords');
            $('#keywords').focus();
            return false;
        } else if(business_name == '') {
            alert('Please Enter Business Name');
            $('#business_name').focus();
            return false;
        } else if(country == '') {
            alert('Please Select Country Name');
            $('#country').focus();
            return false;
        } else if(zipcode == 0 || zipcode == '') {
            alert('ZIP code must be of 4 to 8 characters');
            $('#zipcode').focus();
            return false;
        } else if(state == 0) {
            alert('Please Select State');
            $('#state').focus();
            return false;
        } else if(city == '') {
            alert('Please Enter City');
            $('#city').focus();
            return false;
        } else if(website == '') {
            alert('Please Enter Website');
            $('#website').focus();
            return false;
        } else if(security_question == '') {
            alert('Please Enter Security Question');
            $('#security_question').focus();
            return false;
        } else if(security_answer == '') {
            alert('Please Enter Security Answer');
            $('#security_answer').focus();
            return false;
        } else if(isNaN(phone_no) || phone_no == '') {
            alert('Please Enter Valid(Numeric) Telephone Number');
            $('#phone_no').focus();
            return false;
        } else if(business_category == '') {
            alert('Please Select Business Category');
            $('#business_category').focus();
            return false;
        }
        var dataObj = {For:'company info',firstname: firstname, lastname: lastname, keywords: keywords, business_name: business_name, country: country,state : state, city : city, zipcode: zipcode, security_question : security_question, security_answer : security_answer, phone_no : phone_no, business_category : business_category, address1 : address1, address2 : address2, website : website};
        $.ajax({
            type: "POST",
            url: site_url+"business/editdata",
            data: dataObj,
            success: function(result) {//alert(result);return;
                if(result == 'success') {
                    $('#company_info_message').html("<?=$this->translate('Company Info Updated Successfully')?>");
                    return false;
                }
                if(result == 'fail') {
                    $('#company_info_message').html("<?=$this->translate('Some Error Occured')?>");
                    return false;
                }
            }
        });
        return false;
    });
});
function fngetstates(countryId){
    if(countryId != 0 || countryId != '') {
        var dataObj = {country_id: countryId}; 
        var stateHtml = '<option value="">---Select State---</option>';
        var cityHtml = '<option value="">---Select City---</option>';
        var zipHtml = '<option value="">---Select Zipcode---</option>';
        $('#state').html(stateHtml);
        $('#city').html(cityHtml);
        $('#zipcode').html(zipHtml);
        $.ajax({
            type: "POST",
            url: site_url+"user/getstates",
            data: dataObj,
            success: function(result) {
                var resultObj = $.parseJSON(result);
                if(resultObj != '') {
                    $.each(resultObj, function(i, obj) {
                        stateHtml   = stateHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].state_name+'</option>';
                    });
                }
                if(resultObj == '') {
                    stateHtml   = stateHtml+'<option value="">---No States Available---</option>';
                }
                if ($('#state').length) {
                    $('#state').html(stateHtml);
                }
            }
        });
    }
    return false;
}
function fngetcities(stateId) {
    var dataObj = {state_id: stateId};
    var cityHtml = '<option value="">---Select City---</option>';
    var zipHtml = '<option value="">---Select Zipcode---</option>';
    $('#city').html(cityHtml);
    $('#zipcode').html(zipHtml);
    $.ajax({
        type: "POST",
        url: site_url+"user/getcities",
        data: dataObj,
        success: function(result) {
            var resultObj = $.parseJSON(result);
            if(resultObj != '') {
                $.each(resultObj, function(i, obj) {
                    cityHtml   = cityHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].city_name+'</option>';
                });
            }
            if(resultObj == '') {
                cityHtml   = cityHtml+ '<option value="">---No Cities Available---</option>';
            }
            if ($('#city').length) {
                $('#city').html(cityHtml);
            }
        }
    });
    return false;
}
function fngetzipcodes(cityId) {
    var dataObj = {cityId: cityId};
    var zipHtml   = '<option value="">---Select Zipcode---</option>';
    $('#zipcode').html(zipHtml);
    $.ajax({
        type: "POST",
        url: site_url+"user/getzipcodes",
        data: dataObj,
        success: function(result) {
            var resultObj = $.parseJSON(result);
            if(resultObj != '') {
                $.each(resultObj, function(i, obj) {
                    zipHtml   = zipHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].zipcode+'</option>';
                });
            }
            if(resultObj == '') {
                zipHtml   = zipHtml+ '<option value="">---No Zipcodes Available---</option>';
            }
            if ($('#zipcode').length) {
                $('#zipcode').html(zipHtml);
            }
        }
    });
    return false;
}
</script>