<?php //echo '<pre>';print_r($this->followers);exit;
$request = Zend_Controller_Front::getInstance()->getRequest();
    if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $auth_type = "B";
    }
    if($this->userAuthVar == 1) {
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $auth_type = "U";
    }
    if($request->getParam('userid') != '') {
        $user_id = $request->getParam('userid');
    } else {
        $user_id = $auth_id;
    }
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'));
?>
<script src="<?=SITE_URL?>SpryAssets/Business_tab.js" type="text/javascript"></script>
<link href="<?=SITE_URL?>SpryAssets/Business_tab.css" rel="stylesheet" type="text/css" >
<section>
    <div id="wrapper">
        <div id="B_left_column">
            <?php /*if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax">
            <?php } ?>
                <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
            <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                    <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
                </a>
            <?php }*/ ?>
            <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $user_id && $auth_type == 'B') { ?>
                <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax" >
            <?php } else { ?>
                <a href="<?=SITE_URL?>business/businessprofile/<?php echo $user_id; ?>" class="tooltip_photo">
            <?php } ?>
                <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
            <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <span><?php echo $this->escape($this->translate("Edit Photo")); ?></span>
                </a>
            <?php } ?>
            <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $user_id && $auth_type == 'B') { ?>
                <div class="title10 <?php if($this->page_Name == 'businessprofile') { ?>active<?php } ?>" ><?=$this->translate('My Profile')?></div>
            <?php } ?>
            <div class="title10 <?php if($this->page_Name == 'businessmap'){?>active<?php }?>"><a href="<?=SITE_URL?>business/businessmap/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Map')?></a></div>
            <div class="title10 <?php if($this->page_Name == 'businessphotos'){?>active<?php }?>"><a href="<?=SITE_URL?>business/businessphotos/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Photos')?></a></div>
            <div class="title10"><a href="<?=SITE_URL?>business/myfollowers/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Followers')?></a></div>
            <div class="title10 <?php if($this->page_Name == 'postreview') { ?>active<?php } ?>">
                <?php //if($this->user_id != $auth_id) { ?>
                    <a id="postreview_fancybox" class="various fancybox.ajax pointer"><?=$this->translate('Reviews')?></a>
                <?php /*} else { 
                    echo $this->translate('Review');
                }*/ ?>
            </div>
            <div class="clear" style="padding-top: 5px;"></div>
            <div>
                <a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><img src="<?php echo SITE_URL.'uploads/qrcode/'.$this->QRC;?>" /></a>
            </div>
        </div>
        <div id="B_center_column">
            <h1 class="title12"><?=$this->businessuserdata->business_name?></h1>
            <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <div class="title10" style="text-align: right;"><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate('Edit')?></a></div>
            <?php } ?>
            <p class="business_details">
                <?php if(!empty($this->businessuserdata->description)) { echo $this->businessuserdata->description; } else { echo ''; } ?>
            </p>

            <div class="B_tab_outer">
                <div class="B_tab_ttl"><?=$this->translate("REVIEWS")?></div>
                <div class="B_tab_ttl2"><?=$this->reviewscnt?></div>
            </div>

            <div class="B_tab_outer">
                <div class="B_tab_ttl"><?=$this->translate("FOLLOWERS")?></div>
                <div class="B_tab_ttl2"><?=$this->followerscnt?></div>
                <a id="followerscnt_fancybox"  href="javascript:void(0);" title="" class="variousfollowers fancybox.ajax">
                    <div class="popularity_tab_btn"><?=$this->translate('View')?></div>
                </a>
            </div>

            <div class="B_tab_outer">
                <div class="B_tab_ttl"><?=$this->translate("FOLLOWINGS")?></div>
                <div class="B_tab_ttl2"><?=$this->followingcnt?></div>
                <a id="followingcnt_fancybox" href="javascript:void(0);" title="" class="variousfollowing fancybox.ajax">
                    <div class="popularity_tab_btn"><?=$this->translate('View')?></div>
                </a>
            </div>
            <div class="B_slider">
                <div id="pictureslider">
                    <?php $result = $this->imagegallery;
                    $i = 0;
                    foreach($result as $row) {
                        $img = SITE_URL.'uploads/images/original/'.$row['photo_modified_name']; ?>
                        <div id="slider<?php echo $i; ?>" class="nonedisplay" style="">
                            <img src="<?php echo $img; ?>" width="527" height="274">
                        </div>
                    <?php $i++; } ?>
                </div>
            </div>
            <div id="TabbedPanels1" class="TabbedPanels">
                <ul class="TabbedPanelsTabGroup">
                    <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("REVIEWS")?></li>
                    <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("HUDDLES")?></li>
                    <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("UPPERS")?></li>
                    <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("CONTACT")?></li>
                </ul>
                <div class="TabbedPanelsContentGroup">
                    <div class="TabbedPanelsContent" id="reviewDiv">
                       <?php echo $this->action('index','reviews', 'business',array('userid'=>$request->getParam('userid'))); ?>
                    </div>
                    <div class="TabbedPanelsContent">
                        <div class="tab_row"><img src="<?=SITE_URL?>images/img4.png" width="66" height="66">
                        <div class="tab_row_cnt_otr">
                            <div style="float:left;width: 405px;">
                                <h1>James Buford</h1><h2>ceobuford</h2><br>
                                <h2>WOW....I feel for #10 Williams right now. Huge break for the NY Giants!!</h2>
                            </div>
                            <div style="float:right"><span class="time" style="float: right;">2h </span></div>
                        <br>
                        </div>
                        <a href="javascript:void(0);"><img class="tab_icon2" src="<?=SITE_URL?>images/reply.png"></a>
                        <a href="javascript:void(0);"><img class="tab_icon" src="<?=SITE_URL?>images/up_icon.png"></a>
                        <a href="javascript:void(0);"><img class="tab_icon" src="<?=SITE_URL?>images/down_icon.png"></a>
                        <a href="javascript:void(0);"><img class="tab_icon" src="<?=SITE_URL?>images/blast_icon.png"></a>
                        </div>
                    </div>
                    <div class="TabbedPanelsContent">
                        <?php if($user=='business' && $request->getParam('userid')=='') { ?>
                            <div class="" style="height:40px;"><a href="createcoupon"><input class="coupon_button" type="button" value="Create New Upper" style="margin-top:5px;" /></a></div>
                        <?php } ?>
                        <?php if(!empty($this->couponsinfo)) {
                            foreach ($this->couponsinfo as $key=>$couponsinfo) {
                                if($couponsinfo['original_price'] != '' && $couponsinfo['original_price'] != 0 && $couponsinfo['discounted_price'] != '' && $couponsinfo['discounted_price'] != 0){
                                    $count1 = $couponsinfo['discounted_price'] / $couponsinfo['original_price']; 
                                    $count2 = $count1 * 100;
                                    $count = number_format($count2, 0); 
                                }
                                if($couponsinfo['original_price'] == '' || $couponsinfo['original_price'] == 0 || $couponsinfo['discounted_price'] == '' || $couponsinfo['discounted_price'] == 0){
                                    $count1 = 0; 
                                    $count2 = 0;
                                    $count = 0;
                                }
                            ?>
                                <?php if($user=='normal' && $request->getParam('userid')!='') { ?>
                                <div class="" style="margin-right: -30px;"><input class="coupon_button" type="button" value="Purchase" style="margin-top:5px;width:auto;" onclick="purchasecoupon(<?=$couponsinfo['coupon_id']?>);" /></div>
                                <?php } ?>
                                <div class="coupons_bar photoimg" style="margin-left:25px;">
                                    <?php if($user=='business' && $request->getParam('userid')=='') { ?>
                                    <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletecoupon(this,<?=$couponsinfo['coupon_id']?>);" />
                                    <?php } ?>
                                    <div class="slide" style="width:450px; height:auto;">
                                        <div class="coupon_wrapper">
                                            <div class="coupon_image_bg">
                                                <div class="coupon_image " id ="firstgallery">
                                                    <a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $couponsinfo['business_id']; ?> " class="tooltip1_photo" > 
                                                        <img width="276px" height="160px" class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>public/uploads/images/original/<?php echo $couponsinfo['image_path']; ?>">
                                                        <div class="caption">
                                                            <ul>
                                                                <li class="img_property"><img  class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>images/coupon_up_icon.png"></li>
                                                                <li class="coupon_txt"><?php echo $couponsinfo['business_name']; ?></li>
                                                                <br>
                                                                <li class="coupon_txt"><?php echo $couponsinfo['country_name']; ?></li>
                                                                <br>
                                                                <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="coupon_price" style="width:150px;">
                                                <ul>
                                                    <li><strong><?php echo $couponsinfo['title']; ?></strong></li>
                                                    <li><?php $desc = (strlen($couponsinfo['description'])>110)?substr($couponsinfo['description'],0,110).'...':$couponsinfo['description']; echo 'Description: '.$desc; ?></li> 
                                                    <li><?php echo 'Upper Price: $ '.$couponsinfo['coupon_price']; ?></li>
                                                    <li><?php echo 'Expires on '.date('d/m/Y',strtotime($couponsinfo['expiration_date'])); ?></li>
                                                </ul>
                                            </div>      
                                            <div class="coupon_price2" style="width:134px;"><?php echo $count;?>% off</div>
                                        </div>
                                    </div>
                                </div>
                        <?php }
                        } else {
                            echo "<div align='center' class='noLevelScribblesAvailable'>".$this->translate("No Uppers Available")."</div>";
                        } ?>
                    </div>
                    <div class="TabbedPanelsContent">
                        <p><?php echo ucwords($this->businessuserdata->firstname).' '.ucwords($this->businessuserdata->lastname);?></p><br/>
                        <p><?php echo $this->businessuserdata->email;?></p><br/>
                        <p><?php echo $this->businessuserdata->mobile_no; ?></p><br/>
                        <p><?php if(!empty($this->businessuserdata->city_name)) { echo $this->businessuserdata->city_name.","; }
                            else if(!empty($this->businessuserdata->city)) { echo $this->businessuserdata->city.","; }
                            if($this->businessuserdata->state_name!='') { echo $this->businessuserdata->state_name.","; }
                            if($this->businessuserdata->country_name!='') { echo $this->businessuserdata->country_name; }
                            if($this->businessuserdata->zip!='') { echo "- ".$this->businessuserdata->zip; }
                        ?></p><br/>
                    </div>
                </div>
            </div>
        </div>
        <div id="B_right_column">
            <?php //echo $auth_id."====".$request->getParam('userid')."---".$auth_type;//exit;
            if(($request->getParam('userid') != '') || ($request->getParam('userid') == $auth_id && $auth_type != 'B')) {
                if(!empty($this->isfollow)) { ?>
                    <img class="B_img" src="<?=SITE_URL?>images/follow.png" width="120" height="31">
                    <img class="B_img2" src="<?=SITE_URL?>images/close.png" width="24" height="23" onclick="$().unmake_friend_main('<?php echo $user_id;?>','B');" style="cursor:pointer;">
                    <div class="clear">&nbsp;</div>
                    <?php } else { 
                        if($request->getParam('userid') == $auth_id && $auth_type == 'B') { } else { ?>
                            <img class="B_img" src="<?=SITE_URL?>images/up_btn.png" title="" alt="" style="margin-left:100px;cursor: pointer;" onclick="$().make_friend_main('<?php echo $user_id;?>','B');"><br/>
                            <div class="clear">&nbsp;</div>
            <?php } } } ?>
            <?php if(!empty($this->followers)) {
                echo '<div style="font-weight: bold;">'.$this->translate('Followers').':</div>';
                $cnt = count($this->followers);
                $limit = $cnt-1;
                $limit = 10;
                for($i=0;$i<$cnt;$i++) {
                    if(file_exists(UPLOAD_PATH.'images/thumbnails/'.$this->followers[$i]['image_name']) && !empty($this->followers[$i]['image_name']))
                        $image_path = SITE_URL.'uploads/images/thumbnails/'.$this->followers[$i]['image_name'];
                    else
                        $image_path = SITE_URL.'images/img15.png';
                    if($this->followers[$i]['user_type'] == 'U') { ?>
                        <a href="<?php echo SITE_URL;?>user/userprofile/<?php echo $this->followers[$i]['user_id'];?>" title="<?php echo $this->followers[$i]['firstname'].' '.$this->followers[$i]['lastname']; ?>"><img class="B_img4" src="<?=$image_path?>" width="72" height="72"></a>
                    <?php } elseif ($this->followers[$i]['user_type'] == 'B') { ?>
                        <a href="<?php echo SITE_URL;?>business/businessprofile/<?php echo $this->followers[$i]['user_id'];?>" title="<?php echo $this->followers[$i]['name']; ?>"><img class="B_img4" src="<?=$image_path?>" width="72" height="72"></a>
                <?php } } ?>
                <?php if($i == $limit && $cnt <= $this->followerscnt) { ?>
                    <div class="clear">&nbsp;</div>
                    <a style="float: right; cursor: pointer;" id="morediv" onclick="fetchmorefollowers(<?php echo $this->followers[0]['follower_id'];?>,<?php echo $cnt; ?>,'<?php echo $this->followerscnt; ?>');">More</a>
            <?php } } else {
                echo '<div style="font-weight: bold;">'.$this->translate('Followers').':</div>';
                echo '<div class="error err-msg-following">'.$this->translate('Get more followers by creating attractive Uppers').'</div>';
            } ?>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        setTimeout("sliderplay(0)", 100);
    });
    function sliderplay(seconds) {
        var totdiv = $('#pictureslider > div').size();
        var i;
        if(seconds == 0) {
            var sec = 0;
        } else {
            var sec = seconds;
        }
        for(i=0;i<totdiv;i++) {
            setTimeout("sliderplay1("+i+","+totdiv+")", sec);
            sec = sec+5000;
        }
        setTimeout("sliderplay(0)",sec);
    }
    function sliderplay1(str,tot) {
        var j =0;
        for(j=0;j<tot;j++) {
            if(j==str) {
                jQuery('div #slider'+j).fadeIn(1000).removeClass("nonedisplay").addClass("blockdisplay");
            } else {
                jQuery('div #slider'+j).fadeOut(1000).removeClass("blockdisplay").removeClass("nonedisplay").addClass("nonedisplay");
            }
        }
    }
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
    function fetchmorefollowers(userid,offset,followerscnt) {
        var datastring = 'user_id=' + userid + '&offset=' + offset + '&followerscnt=' + followerscnt;
        $.ajax({
            type: "POST",
            url: site_url+'business/index/getmorefollowers',
            data:datastring,
            cache: false,
            success: function(values) {
                var result = $.parseJSON(values);
                if(result != '') {
                    var len = result.length;
                    for(var i=0;i<len;i++) {
                        $("#morediv").remove();
                        $("#B_right_column").append(result[i]);
                    }
                }
            }
        })
    }
    function deletecoupon(obj,couponid) {
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            if(couponid !='') {
                var datastring = 'coupon_id=' + couponid + '&ActionType=deleteCoupon';
                $.ajax({
                    type: "POST",
                    url: site_url+'business/index/deletecoupon',
                    data:datastring,
                    cache: false,
                    success: function(msg) {
                        if(msg =='1') {
                            $(obj).closest('div').remove();
                        }
                    }
                });
            }
        }});
    }
    function purchasecoupon(couponid) {
        if(couponid !='') {
            var business_id = '<?php echo $this->businessuserdata->business_id; ?>';
            var datastring = 'coupon_id='+couponid+'&business_id='+business_id+'&ActionType=purchaseCoupon';
            $.ajax({
                type: "POST",
                url: site_url+'business/index/purchasecoupon',
                data:datastring,
                cache: false,
                success: function(result) {
                    var data = $.parseJSON(result);
                    if(data['service_status'] =='success') {
                        alert('Upper Purchased Succesfully.');
                    } else {
                        $('#errmsg').html('<font color="red"><?php echo $this->translate('Error processing data.. Please try again!').'!';?></font>');
                        setTimeout("$('#errmsg').html('')", 7000);
                        return false;
                    }
                }
            });
        }
    }
    $("#profilepic_fancybox").click(function() {
        $("#profilepic_fancybox").attr('href',site_url+"business/profilepictureedit");
        $('.variousprofilepic').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width       : '70%',
            height      : '80%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });
    $("#postreview_fancybox").click(function() {
        $("#postreview_fancybox").attr('href',site_url+"reviews/postreview?user_id=<?php echo $request->getParam('userid');?>");
        $('.various').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width       : '70%',
            height      : '80%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });
    $("#followerscnt_fancybox").click(function() {
        $("#followerscnt_fancybox").attr('href',site_url+"business/viewfollowers?business_id=<?php echo $user_id;?>");
        $('.variousfollowers').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width       : '70%',
            height      : '80%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none',
            live        : 'false'
        });
    });
    $("#followingcnt_fancybox").click(function() {
        $("#followingcnt_fancybox").attr('href',site_url+"business/viewfollowing?business_id=<?php echo $user_id;?>");
        $('.variousfollowing').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width       : '70%',
            height      : '80%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none',
            live        : 'false'
        });
    });
    $.fn.make_friend_main = function(fId,user_type) {
        var datastring = "follower_id=" +fId+"&follower_type="+user_type;
        //$('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
        $.ajax({
            type: "POST",
            url: site_url+"business/makefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                if(trim(value)=="success") {
                    location.reload(true);
                } else {
                    return false;
                }
            }
        });
    }
    $.fn.unmake_friend_main = function(fId,user_type) {
        var datastring = "follower_id=" +fId+"&follower_type="+user_type;
        $.ajax({
            type: "POST",
            url: site_url+"business/unmakefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                if(trim(value)=="success") {
                    location.reload(true);
                } else {
                    return false;
                }
            }
        });
    }
</script>