<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $auth_type = "B";
    }
    if($this->userAuthVar == 1) {
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $auth_type = "U";
    }
    if($request->getParam('business_id') != '') {
        $user_id = $request->getParam('business_id');
    } else {
        $user_id = $auth_id;
    }
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                            ->appendStylesheet($this->baseUrl('SpryAssets/home_tab.css'))
                            ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'))
                            ->appendStylesheet($this->baseUrl('scroll/jquery.thumbnailScroller.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/home_tab.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.emojiarea.js'))
                            ->appendFile($this->baseUrl('js/emojis.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'))
                            ->appendFile($this->baseUrl('scroll/jquery-ui-1.8.13.custom.min.js'))
                            ->appendFile($this->baseUrl('scroll/jquery.thumbnailScroller.js'));
?>
<style>
    .huddlecnt { float:left; width:275px; padding: 0 10px 10px; }
    .huddledivide { float: left; border-right: 2px solid #B7B8B8; height: 50px; padding: 10px; }
    .huddlecntmain { float:left; width:auto; padding-left:10px; font-size: 13px;color: #545454; }
    .huddlecntmain h1 { float:left; width:auto; font-size: 16px; color: #545454; }
    .huddlecntmain h2 { float:left; width:auto; font-size: 12px; color: #545454; }
    .imgdiv { float: left;padding-left:5px; width: 90px; }
</style>
<div id="wrapper">
    <div id="B_left_column">
        <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
        if($auth_id == $user_id && $auth_type == 'B') { ?>
            <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax">
        <?php } else { ?>
            <a href="<?=SITE_URL?>business/businessprofile/<?php echo $user_id; ?>" class="tooltip_photo">
        <?php } ?>
            <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
        <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
            <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
            </a>
        <?php } ?>
        <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
        if($auth_id == $user_id && $auth_type == 'B') { ?>
        <div class="title10"><a href="<?=SITE_URL?>business/businessprofile/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('My Profile')?></a></div>
        <?php } ?>
        <div class="title10"><a href="<?=SITE_URL?>business/businessmap/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Map')?></a></div>
        <div class="title10"><a href="<?=SITE_URL?>business/businessphotos/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Photos')?></a></div>
        <div class="title10"><a href="<?=SITE_URL?>business/myfollowers/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Followers')?></a></div>
        <div class="title10">
            <?php //if($user_id != $auth_id) { ?>
                <a id="postreview_fancybox" class="various fancybox.ajax pointer"><?=$this->translate('Reviews')?></a>
            <?php //} else {
                //echo $this->translate('Post Review');
            //} ?>
        </div>
        <div class="clear" style="padding-top: 5px;"></div>
        <div>
            <a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><img src="<?php echo SITE_URL.'uploads/qrcode/'.$this->QRC;?>" /></a>
        </div>
    </div>
    <div id="TabbedPanels01" class="TabbedPanels1">
        <ul class="TabbedPanelsTabGroup">
            <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("Open Huddle Sessions")?></li>
            <li class="TabbedPanelsTab" tabindex="1"><?=$this->translate("User Huddles History")?></li>
            <?php /*if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <div class="title10" style="text-align: right; float: right;" ><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate('Edit')?></a></div>
            <?php }*/ ?>
        </ul>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent businessphotodiv">
                <ul class="business_photos_ul">
                    <?php echo '<div class="clear"></div><div align="center" class="nocustomers"><strong>Under Construction</strong></div>'; ?>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
            <div class="TabbedPanelsContent businessphotodiv">
                <ul class="business_photos_ul">
                    <?php if(!empty($this->roominfo)) {
                            foreach($this->roominfo as $room):
                                foreach($room['user_detail'] as $userdetail):
                                    if($userdetail['type'] == 'Owner') {
                                        //$userid = $userdetail['user_id'];
                                        $fullname = $userdetail['realname'];
                                        $username = $userdetail['username'];
                                        $userimage = $userdetail['profile_pic_path'];
                                        $level = $userdetail['level_name'];
                                    }
                                endforeach; ?>
                                <a id="roomchatlog_fancybox<?=$room['room_id']?>" href="javascript:void(0);" onclick="getRoomChatLog(<?=$room['room_id']?>);" class="variousroomchatlog fancybox.ajax">
                                    <div class="imgdiv">
    <!--                                    <img src="<?=SITE_URL?>uploads/images/thumbnails/<?php echo $userimage; ?>" >-->
                                        <img src="<?=SITE_URL?>uploads/images/thumbnails/<?php echo $room['room_photo_path']; ?>" >
                                    </div>
                                    <div class="huddlecntmain">
                                        <div class="huddlecnt">
                                            <?php echo '<h1>'.ucwords($fullname).'</h1><h2>&nbsp;@'.$username.'</h2>'; ?><br>
                                            <?=$level?><br>
                                            <?=$this->translate("Huddle Topic").': '.$room['room_name']?>
                                        </div>
                                        <div class="huddledivide"></div>
                                        <div class="huddlecnt">
                                            <?=$this->translate("Date").': '.date('m/d/Y',strtotime($room['created_date']))?><br>
                                            <?=$this->translate("Total Huddlers").': '.$room['huddlerscnt']?><br>
                                            <?=$this->translate("Total Conversations").': '.$room['chatcnt']?>
                                        </div>
                                    </div>
                                </a>
                                <div class="clear">&nbsp;</div>
                            <?php endforeach;
                        } else { echo '<center>No Targeted Rooms To View</center>'; }
                    ?>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var TabbedPanels01 = new Spry.Widget.TabbedPanels("TabbedPanels01");
$("#postreview_fancybox").click(function() {
    $("#postreview_fancybox").attr('href',site_url+"reviews/postreview?user_id=<?php echo $request->getParam('business_id');?>");
    $('.various').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
function getRoomChatLog(roomid) {
    $("#roomchatlog_fancybox"+roomid).attr('href',site_url+"business/index/businesschatlog?rid="+roomid);
    $('.variousroomchatlog').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
</script>