<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    if($this->businessAuthVar == 1){
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $auth_type = "B";
    }
    if($this->userAuthVar == 1){
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $auth_type = "U";
    }
    if($request->getParam('business_id') != ''){
        $user_id = $request->getParam('business_id');
    } else {
        $user_id = $auth_id;
    }
    //echo $user_id.'-->'.$auth_id.'-->'.$auth_type;exit;
    echo $this->headLink()//->appendStylesheet($this->baseUrl('/SpryAssets/Business_tab.css'))
                            ->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            //->appendFile($this->baseUrl('/SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/general.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
?>
<!--        <link href="<?=SITE_URL?>css/reset.css" rel="stylesheet" type="text/css" />
        <link href="<?=SITE_URL?>css/mainpage_styles.css" rel="stylesheet" type="text/css" />
        <script src="<?=SITE_URL?>js/html5.js" type="text/javascript"></script>
        <script src="<?=SITE_URL?>SpryAssets/Business_tab.js" type="text/javascript"></script>
        <link href="<?=SITE_URL?>SpryAssets/Business_tab.css" rel="stylesheet" type="text/css">-->
<section>
    <div id="wrapper">
        <?php $followerscnt = count($this->followers);
            $followingcnt = count($this->following); ?>
        <div id="B_left_column">
            <?php /*if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $this->businessuserdata->business_id) { ?>
            <a href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo">
            <?php } ?>
                <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
                <?php if($auth_id == $this->businessuserdata->business_id) { ?>
                    <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
            </a>
            <?php }*/ ?>
            <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $user_id && $auth_type == 'B') { ?>
                <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax">
            <?php } else { ?>
                <a href="<?=SITE_URL?>business/businessprofile/<?php echo $user_id; ?>" class="tooltip_photo">
            <?php } ?>
                <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
            <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
                </a>
            <?php } ?>
            <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
            if($auth_id == $user_id && $auth_type == 'B') { ?>
            <div class="title10"><a href="<?=SITE_URL?>business/businessprofile/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('My Profile')?></a></div>
            <?php } ?>
            <div class="title10 <?php if($this->page_Name == 'businessmap'){?>active<?php }?>"><?=$this->translate('Map')?></div>
            <div class="title10 <?php if($this->page_Name == 'businessphotos'){?>active<?php }?>"><a href="<?=SITE_URL?>business/businessphotos/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Photos')?></a></div>
            <?php //if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
            <!--<div class="title10"><a href="<?//=SITE_URL?>business/businessmysettings"><?//=$this->translate('Edit')?></a></div>-->
            <?php //} ?>
            <div class="title10"><a href="<?=SITE_URL?>business/myfollowers/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Followers')?></a></div>
            <div class="title10 <?php if($this->page_Name == 'postreview') { ?>active<?php } ?>">
                <?php //if($user_id != $auth_id) { ?>
                    <a id="postreview_fancybox" class="various fancybox.ajax pointer"><?=$this->translate('Reviews')?></a>
                <?php //} else {
                    //echo $this->translate('Post Review');
                //} ?>
            </div>
            <div class="clear" style="padding-top: 5px;"></div>
            <div>
                <a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><img src="<?php echo SITE_URL.'uploads/qrcode/'.$this->QRC;?>" /></a>
            </div>
        </div>
        <div class="BUT_cont_area">
            <div class="BUT_cont_h">
                <?php /*if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                    <div class="title10" style="text-align: right; float: right; width: 100px;" ><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate('Edit')?></a></div>
                <?php }*/ ?>
                <h1>My Business Location</h1>
                <div>
                    <span style="line-height:40px; padding:0 0 0 3px;">Visit Us Today!</span>
                </div>
            </div>
            <div id="map" style="width:755px; height:400px;" ></div>
        </div>
    </div>
</section>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$("#profilepic_fancybox").click(function() {
    $("#profilepic_fancybox").attr('href',site_url+"business/profilepictureedit");
    $('.variousprofilepic').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});

$("#postreview_fancybox").click(function() {
    $("#postreview_fancybox").attr('href',site_url+"reviews/postreview?user_id=<?php echo $request->getParam('business_id');?>");
    //$.fancybox.close();
    $('.various').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
//var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
function deletecoupon(obj,couponid) {
    if(couponid !='') {
        var datastring = 'coupon_id=' + couponid + '&ActionType=deleteCoupon';
        $.ajax({
            type: "POST",
            url: site_url+'business/index/deletecoupon',
            data:datastring,
            cache: false,
            success: function(msg) {
                if(msg =='1') {
                    $(obj).closest('div').remove();
                }
            }
        });
    }
}
var geocoder = new google.maps.Geocoder();
var address = "<?php echo $this->businessuserdata->city_name; ?>";
var titleinfo = "<?php echo ucwords($this->businessuserdata->business_name); ?>";
var info = "<?php echo ucwords($this->businessuserdata->business_name).'<br/>'.ucwords($this->businessuserdata->city_name); ?>";
geocoder.geocode( { "address": address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                loadmapview(latitude,longitude);
        }
});
function loadmapview(latitude,longitude) {
        var latlng = new google.maps.LatLng(latitude, longitude);
        var options = {
                zoom: 14,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var marker = new google.maps.Marker({
                map: map,
                position: latlng
        });
        var map = new google.maps.Map(document.getElementById("map"), options);
        var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: titleinfo,
                clickable: true,
                icon: ""
        });
        var infowindow = new google.maps.InfoWindow({content: info});
        google.maps.event.addListener(marker, 'click', function() { infowindow.open(map, marker); });
}
</script>