<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    //echo '<pre>';print_r($request->getParams());exit;
    if($request->getParam('userid') != '')
        $viewid = $request->getParam('userid');
if($auth->hasIdentity()) {
    $userdata = $auth->getIdentity();
    $user_id = $userdata->user_id;
    $user_type = $userdata->user_type;
}  else {
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    $userdata = $auth->getIdentity();
    $user_id = $userdata->business_id;
    $user_type = $userdata->user_type;
} ?>
<div class="BS_left_cont">
    <?php if(isset($user_type) && ($user_type == 'B' || ($user_type != 'B' && empty($viewid)))) { ?>
        <div class="BS_left_dashH"><?=$this->translate("Dashboard")?></div>
        <div class="BS_left_dashC">
            <ul>
                <li><a href="<?=SITE_URL?>business/businessmysettings" class="<?php if($this->page_Name == 'businessmysettings') { ?>active<?php } ?>"><?=$this->translate("My Account")?></a></li>
                <li><a href="<?=SITE_URL?>business/detailedanalytics" style="border:none;"><?=$this->translate("Detailed Analytics")?></a></li>
            </ul>
        </div>
        <div class="BS_left_upmeH"><?=$this->translate("UpMeSocial")?></div>
        <div class="BS_left_dashC" style="height:200px;">
            <ul>
                <li><a href="<?=SITE_URL?>business/businessprofile" class="<?php if($this->page_Name == 'businessprofile') { ?>active<?php } ?>"><?=$this->translate("My Profile Page")?></a></li>
                <li><a href="<?=SITE_URL?>business/mycustomers" class="<?php if($this->page_Name == 'mycustomers') { ?>active<?php } ?>"><?=$this->translate("My Customers")?></a></li>
                <li><a href="<?=SITE_URL?>business/mybusiness" class="<?php if($this->page_Name == 'mybusiness') { ?>active<?php } ?>"><?=$this->translate("My Businesses")?></a></li>
                <li><a href="<?=SITE_URL?>business/myuppers" class="<?php if($this->page_Name == 'myuppers') { ?>active<?php } ?>"><?=$this->translate("My Uppers")?></a></li>
            </ul>
            <div class="BS_left_dasht"><a href="<?=SITE_URL?>business/businesshuddles"><img src="<?=SITE_URL?>images/huddle.png" width="108" height="34"></a></div>
        </div>
        <div class="BS_left_dataH"><?=$this->translate("My Data")?></div>
        <div class="BS_left_dashC" style="height:39px;">
            <ul>
            <li><a href="<?=SITE_URL?>business/transactionreports"><?=$this->translate("Transaction Reports")?></a></li>
            </ul>
        </div>
        <div class="BS_left_dashH" style="margin-top:21px;"><?=$this->translate("Tools")?></div>
        <div class="BS_left_dashC" style="height:120px;">
            <ul>
                <li><a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><?=$this->translate("Download QR Code")?></a></li>
                <li><a href="<?=SITE_URL?>business/help" class="<?php if($this->page_Name == 'help') { ?>active<?php } ?>" ><?=$this->translate("Help")?></a></li>
                <li><a href="<?=SITE_URL?>business/techsupport" class="<?php if($this->page_Name == 'techsupport') { ?>active<?php } ?>"><?=$this->translate("Technical Support")?></a></li>
            </ul>
        </div>
    <?php } else { ?>
        <div class="BS_left_upmeH"><?=$this->translate("UpMeSocial")?></div>
    <div class="BS_left_dashC" style="height:200px;">
        <ul>
            <li><a href="<?=SITE_URL?>business/businessprofile/<?=$viewid?>" class="<?php if($this->page_Name == 'businessprofile') { ?>active<?php } ?>"><?=$this->translate("My Profile Page")?></a></li>
            <li><a href="<?=SITE_URL?>business/mycustomers/<?=$viewid?>" class="<?php if($this->page_Name == 'mycustomers') { ?>active<?php } ?>"><?=$this->translate("My Customers")?></a></li>
            <li><a href="<?=SITE_URL?>business/mybusiness/<?=$viewid?>" class="<?php if($this->page_Name == 'mybusiness') { ?>active<?php } ?>"><?=$this->translate("My Businesses")?></a></li>
            <li><a href="<?=SITE_URL?>business/myuppers/<?=$viewid?>" class="<?php if($this->page_Name == 'myuppers') { ?>active<?php } ?>"><?=$this->translate("My Uppers")?></a></li>
        </ul>
        <div class="BS_left_dasht"><a href="<?=SITE_URL?>business/businesshuddles/<?=$viewid?>"><img src="<?=SITE_URL?>images/huddle.png" width="108" height="34"></a></div>
    </div>
    <div class="BS_left_dashH" style="margin-top:21px;"><?=$this->translate("Tools")?></div>
    <div class="BS_left_dashC" style="height:120px;">
        <ul>
<!--            <li><a href="javascript:void(0);"><?//=$this->translate("Download QR Code")?></a></li>-->
             <li><a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><?=$this->translate("Download QR Code")?></a></li>
            <li><a href="<?=SITE_URL?>business/help/<?=$viewid?>" class="<?php if($this->page_Name == 'help') { ?>active<?php } ?>" ><?=$this->translate("Help")?></a></li>
            <li><a href="<?=SITE_URL?>business/techsupport/<?=$viewid?>" class="<?php if($this->page_Name == 'techsupport') { ?>active<?php } ?>"><?=$this->translate("Technical Support")?></a></li>
        </ul>
    </div>
    <?php } ?>
</div>