<?php $request = Zend_Controller_Front::getInstance()->getRequest();
    if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $auth_type = "B";
    }
    if($this->userAuthVar == 1) {
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $auth_type = "U";
    }
    if($request->getParam('business_id') != '') {
        $user_id = $request->getParam('business_id');
    } else {
        $user_id = $auth_id;
    }
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                            ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/ajaxupload.js'));
?>
<div id="wrapper">
    <div id="B_left_column">
        <?php /*if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
        if($auth_id == $this->businessuserdata->business_id) { ?>
        <a href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo">
        <?php } ?>
            <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
            <?php if($auth_id == $this->businessuserdata->business_id) { ?>
                <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
        </a>
        <?php }*/ ?>
        <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
        if($auth_id == $user_id && $auth_type == 'B') { ?>
            <a id="profilepic_fancybox" href="<?=SITE_URL?>business/profilepictureedit" class="tooltip_photo variousprofilepic fancybox.ajax">
        <?php } else { ?>
            <a href="<?=SITE_URL?>business/businessprofile/<?php echo $user_id; ?>" class="tooltip_photo">
        <?php } ?>
            <img src="<?=SITE_URL?>uploads/images/medium/<?=$this->businessuserdata->image_path?>" width="180" height="391">
        <?php if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
            <span><?php echo $this->escape($this->translate("Edit Photo"));?></span>
            </a>
        <?php } ?>
        <?php if(!empty($this->user_id)) $this->businessuserdata->business_id = $this->user_id;
        if($auth_id == $user_id && $auth_type == 'B') { ?>
        <div class="title10"><a href="<?=SITE_URL?>business/businessprofile/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('My Profile')?></a></div>
        <?php } ?>
        <div class="title10"><a href="<?=SITE_URL?>business/businessmap/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Map')?></a></div>
        <div class="title10 <?php if($this->page_Name == 'businessphotos'){?>active<?php }?>"><?=$this->translate('Photos')?></div>
        <?php //if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
        <!--<div class="title10"><a href="<?//=SITE_URL?>business/businessmysettings"><?//=$this->translate('Edit')?></a></div>-->
        <?php //} ?>
        <div class="title10"><a href="<?=SITE_URL?>business/myfollowers/<?php echo $this->businessuserdata->business_id; ?>"><?=$this->translate('Followers')?></a></div>
        <div class="title10 <?php if($this->page_Name == 'postreview') { ?>active<?php } ?>">
            <?php //if($user_id != $auth_id) { ?>
                <a id="postreview_fancybox" class="various fancybox.ajax pointer"><?=$this->translate('Reviews')?></a>
            <?php //} else {
                //echo $this->translate('Post Review');
            //} ?>
        </div>
        <div class="clear" style="padding-top: 5px;"></div>
        <div>
            <a id="QRCodeLink" class="pointer" onclick="downloadFile('<?php echo $this->QRC; ?>');"><img src="<?php echo SITE_URL.'uploads/qrcode/'.$this->QRC;?>" /></a>
        </div>
    </div>
    <div id="TabbedPanels01" class="TabbedPanels1">
        <ul class="TabbedPanelsTabGroup">
            <li class="TabbedPanelsTab" tabindex="0"><?=$this->translate("PHOTOS")?></li>
            <li class="TabbedPanelsTab" tabindex="1"><?=$this->translate("VIDEOS")?></li>
            <?php /*if($auth_id == $this->businessuserdata->business_id && $user=="business") { ?>
                <div class="title10" style="text-align: right; float: right;" ><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate('Edit')?></a></div>
            <?php }*/ ?>
        </ul>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent businessphotodiv">
                <?php if($this->businessuserdata['business_id'] !='' && $auth_id == $user_id && $auth_type == 'B') { ?>
                    <form name="photo_upload" action="" method="post" enctype="multipart/form-data">
                        <input type="file" name="business_photo" id="business_photo"/>
                        <input type="submit" name="" id="upload_button" value="Upload"/>
                    </form>
                <?php } ?>
                <div class="clear">&nbsp;</div>
                <ul class="business_photos_ul">
                    <?php $i = 0;
                    $cnt = count($this->imagegallery);
                    if($cnt > 0) {
                    foreach ($this->imagegallery as $image): ?>
                        <li class="business_photos_li">
                            <div class="photos_img_style photoimg" >
                                <?php if($auth_id == $user_id && $auth_type == 'B') { ?>
                                <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletephoto(this,<?=$image['photo_id']?>);" >
                                <?php } ?>
                                <a href="javascript:void(0);" id="businessphoto_fancybox<?=$image['photo_id']?>" onclick="getbusinessmedia('<?=$image['photo_id']?>','photo');" class="variousbusinessphoto fancybox.ajax">
                                    <img src="<?=SITE_URL?>uploads/images/thumbnails/<?=$image['photo_modified_name']?>" style="">
                                </a>
                            </div>
                        </li>
                    <?php $i++; endforeach; }
                    if($cnt == 0) {
                        echo '<div class="clear"></div><div align="center" class="nocustomers"><strong>No Photos for this Business</strong></div>';
                    } ?>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
            <div class="TabbedPanelsContent businessphotodiv">
                <?php if($this->businessuserdata['business_id'] !='' && $auth_id == $user_id && $auth_type == 'B') { ?>
                    <form name="photo_upload" action="" method="post" enctype="multipart/form-data" >
                        <input type="file" name="business_video" id="business_video" />
                        <input type="submit" name="" id="upload_button" value="Upload" />
                    </form>
                <?php } ?>
                <div class="clear">&nbsp;</div>
                <ul class="business_photos_ul">
                    <?php $i = 0;
                    $cnt = count($this->videogallery);
                    if($cnt > 0) {
                    foreach ($this->videogallery as $video): ?>
                        <li class="business_photos_li">
                            <div class="photos_img_style photoimg">
                                <?php if($auth_id == $user_id && $auth_type == 'B') { ?>
                                <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletevideo(this,<?=$video['video_id']?>);" />
                                <?php } ?>
                                <a href="javascript:void(0);" class="variousbusinessphoto fancybox.ajax" id="businessphoto_fancybox<?=$video['video_id']?>" onclick="getbusinessmedia('<?=$video['video_id']?>', 'video');">
                                    <img src="<?=SITE_URL?>uploads/videos/<?=$video['thumbnail_path']?>" alt="<?=$video['video_name']?>" width="100" height="75" >
                                </a>
                            </div>
                        </li>
                    <?php $i++; endforeach; }
                    if($cnt == 0) {
                        echo '<div class="clear"></div><div align="center" class="nocustomers"><strong>No Videos for this Business</strong></div>';
                    } ?>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var TabbedPanels01 = new Spry.Widget.TabbedPanels("TabbedPanels01");

$("#profilepic_fancybox").click(function() {
        $("#profilepic_fancybox").attr('href',site_url+"business/profilepictureedit");
        $('.variousprofilepic').fancybox({
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width       : '70%',
            height      : '80%',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });

function deletephoto(obj,photoid) {
    jConfirm('Can you confirm this?','',function(r){if(r==true) {
        if(photoid !='') {
            var datastring = 'photo_id=' + photoid;
            $.ajax({
                type: "POST",
                url: site_url+'business/index/deletephoto',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg =='1') {
                        window.location.href = site_url+'business/businessphotos/<?php echo $user_id;?>';
                        //$(obj).closest('div').remove();
                    }
                }
            });
        }
    }});
}
function deletevideo(obj,videoid) {
    jConfirm('Can you confirm this?','',function(r){if(r==true) {
        if(videoid !='') {
            var datastring = 'video_id=' + videoid;
            $.ajax({
                type: "POST",
                url: site_url+'business/index/deletevideo',
                data:datastring,
                cache: false,
                success: function(msg) {
                    if(msg =='1') {
                        window.location.href = site_url+'business/businessphotos/<?php echo $user_id;?>';
                    }
                }
            });
        }
    }});
}
$("#postreview_fancybox").click(function() {
    $("#postreview_fancybox").attr('href',site_url+"reviews/postreview?user_id=<?php echo $request->getParam('business_id');?>");
    //$.fancybox.close();
    $('.various').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width           : '70%',
        height          : '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
function getbusinessmedia(id, type) {
    $("#businessphoto_fancybox"+id).attr('href',site_url+'business/businessmedia/'+id+'/'+type);
    $('.variousbusinessphoto').fancybox({
        /*minWidth	: 800,
        minHeight	: 600,*/
        fitToView	: false,
        width		: 'auto',
        height		: 'auto',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
}
</script>