<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css">
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">

<div id="TabbedPanels1" class="TabbedPanels">
    <?php echo $this->render('index/business_signup_menu.phtml');?>
    <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent" id="gen_info">
            <div class="tab_outer">
                <?php if(!empty($errormsg)){ echo $errormsg; } ?>
                <form name="businessinfo_form" id="businessinfo_form" method="post" action="">
                    <ul><?php //echo '<pre>';print_r($this->business);exit; ?>
                        <li><h1><?=$this->translate('Tell us about yourself')?>. </h1></li>
                        <li>
                            <span><?=$this->translate('First Name')?>:<div class="redstar">*</div></span>
                            <?php $firstName = ($this->business['firstname'] !="")?$this->business['firstname']:""?>
                            <input class="tab_txt_fld required" name="business[firstname]" type="text" id="first_name" value="<?=$firstName?>">

                            <span><?=$this->translate('Last Name')?>:</span>
                            <?php $lastName = ($this->business['lastname'] !="")?$this->business['lastname']:""?>
                            <input class="tab_txt_fld" name="business[lastname]" type="text" id="last_name" value="<?=$lastName?>">
                        </li>
                        <li>
                            <span><?=$this->translate('Business Name')?>:<div class="redstar">*</div></span>
                            <?php $businessName = ($this->business['business_name'] !="")?$this->business['business_name']:""?>
                            <input class="tab_txt_fld2 required" name="business[business_name]" type="text" id="business_name" value="<?=$businessName?>">
                        </li>
                        <li>
                            <span><?=$this->translate('keywords')?>:<div class="redstar">*</div></span>
                            <?php $businesskeyword = ($this->keywords !="")?$this->keywords:""?>
                            <input class="tab_txt_fld2 required" name="keywords" type="text" id="keywords" value="<?=$businesskeyword?>">
                        </li>
                        <li>
                            <span><?=$this->translate('Country')?>:<div class="redstar">*</div></span>
                            <select class="tab_txt_fld3 required" name="business[country]" id="country" onChange="fngetstates($(this).val());" >
                                <option value="">---<?=$this->translate('Select Country')?>---</option>
                                <?php for($i=0;$i<count($this->countries);$i++) {
                                    $country = ($this->business['country'] ==$this->countries[$i]['id'])?'selected':"";
                                    ?>
                                    <option value="<?=$this->countries[$i]['id']?>" <?=$country?>><?=$this->countries[$i]['country_name']?></option>
                                <?php } ?>
                            </select> 
                            <span><?=$this->translate('State')?>:<div class="redstar">*</div></span>
                            <select class="tab_txt_fld3 required" name="business[state]" id="state" onchange="fngetcities($(this).val());" >
                                <option value="">---<?=$this->translate('Select State')?>---</option>
                                <?php if(!empty($this->states)) { ?>
                                    <?php for($i=0;$i<count($this->states);$i++) {
                                        $state = ($this->business['state'] == $this->states[$i]['id'])?'selected':"";
                                    ?>
                                    <option value="<?=$this->states[$i]['id']?>" <?=$state?>><?=$this->states[$i]['state_name']?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                            <span><?=$this->translate('City')?>:<div class="redstar">*</div></span>
                            <?php //$city = ($this->business['city'] !="")?$this->business['city']:""; ?>
<!--                            <input class="tab_txt_fld_small required" name="business[city]" type="text" id="city" value="<?=$city?>">-->
                            <select class="tab_txt_fld3 required" name="business[city]" id="city" onchange="fngetzipcodes($(this).val());" >
                                <option value="">---<?=$this->translate('Select City')?>---</option>
                                <?php if(!empty($this->cities)) { ?>
                                    <?php for($i=0;$i<count($this->states);$i++) {
                                        $city = ($this->business['city'] == $this->cities[$i]['id'])?'selected':"";
                                    ?>
                                    <option value="<?=$this->cities[$i]['id']?>" <?=$city?>><?=$this->cities[$i]['city_name']?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </li>
                        <li>
                            <span><?=$this->translate('Zip')?>:<div class="redstar">*</div></span>
                            <?php //$zipcode = ($this->business['zipcode'] !="")?$this->business['zipcode']:""?>
<!--                            <input class="tab_txt_fld required" name="business[zipcode]" type="text" id="zip" value="<?=$zipcode?>">-->
                            <select class="tab_txt_fld3 required" name="business[zipcode]" id="zipcode">
                                <option value="">---<?=$this->translate('Select Zipcode')?>---</option>
                                <?php if(!empty($this->zipcode)) { ?>
                                    <?php for($i=0;$i<count($this->zipcode);$i++) {
                                        $city = ($this->business['zipcode'] == $this->zipcode[$i]['id'])?'selected':"";
                                    ?>
                                    <option value="<?=$this->zipcode[$i]['id']?>" <?=$city?>><?=$this->zipcode[$i]['zipcode']?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                            <span><?=$this->translate('E-mail')?>:<div class="redstar">*</div></span>
                            <?php $email = ($this->business['email'] !="")?$this->business['email']:""?>
                            <input class="tab_txt_fld required email" name="business[email]" type="text" id="email" value="<?=$email?>">
                        </li>
                        <li>
                            <span><?=$this->translate('Website')?>:<div class="redstar">*</div></span>
                            <?php $website = ($this->business['website'] !="")?$this->business['website']:""?>
                            <input class="tab_txt_fld required" name="business[website]" type="text" id="website" value="<?=$website?>">
                            <span><?=$this->translate('Number')?>:<div class="redstar">*</div></span>
                            <?php $mobile_no = ($this->business['mobile_no'] !="")?$this->business['mobile_no']:""?>
                            <input class="tab_txt_fld required number" name="business[mobile_no]" type="text" id="number" value="<?=$mobile_no?>">
                        </li>
                        <li>
                            <span><?=$this->translate('Business Description')?>:<div class="redstar">*</div></span>
                            <?php $description = ($this->business['description'] !="")?$this->business['description']:""?>
                            <textarea class="tab_txt_fld5 required" name="business[description]" maxlength="250" id="description"><?=$description?></textarea>
                        </li>
                        <li><h1><?=$this->translate('What type of business are you')?>? *</h1></li>
                        <li>
                            <input name="business[type]" id="business_type" class="required" type="radio" value="b2b" <?php if($this->business['type'] == '' || $this->business['type'] == 'b2b') { ?> checked ="checked" <?php } ?>><?=$this->translate('Business to Business (B2B)')?>
                            <input name="business[type]" id="business_type" class="required" type="radio" value="b2c" <?php if($this->business['type'] == 'b2c') { ?> checked ="checked" <?php } ?>><?=$this->translate('Business to Customer (B2C)')?>
                            <input name="business[type]" id="business_type" class="required" type="radio" value="both" <?php if($this->business['type'] == 'both') { ?> checked ="checked" <?php } ?>><?=$this->translate('Both')?>
                        </li>
                        <div class="clear"></div>
                        <div id="err" class="errDiv"></div>
                        <div class="clear"></div>
                        <li><input name="" type="submit" class="tab_button_style" value="CONTINUE" id="gen_info_continue_button"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function IsEmail(email) {
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
}
$("#businessinfo_form").validate({
    rules: {
        first_name: {
            required:true,
            minlength: 6,
            maxlength: 15
        },
        business_type: {
            required:true
        }
    },
    submitHandler: function(form) {
        email = $('#email').val();
        if(email == '') {
            alert('Please Enter Email');
            $('#email').focus();
            return false;
        } else if(!IsEmail(email)) {
            alert('Please Enter Valid Email');
            $('#email').focus();
            return false;
        }
        var dataObj = { For : 'email', email: email }; 
        $('#err').html('');
        $.ajax({
            method     : 'post',
            url        : site_url+'business/datavalidate',
            success    : function(result) {
                if(result == 'exists') {
                    $('#err').html('Email Already Exists');
                    return false;
                }
                if(result == 'notexists') {
                    $('#businessinfo_form').attr('action', site_url+'business/businessinfo');
                    form.submit();
                }
            },
            data: dataObj    
        });
    }
});
function fngetstates(countryId) {
    if(countryId != 0 || countryId != '') {
         var dataObj = {country_id: countryId}; 
         var stateHtml   = '<option value="">---Select State---</option>';
         var cityHtml   = '<option value="">---Select City---</option>';
         var zipHtml   = '<option value="">---Select Zipcode---</option>';
         $('#state').html(stateHtml);
         $('#city').html(cityHtml);
         $('#zipcode').html(zipHtml);
        $.ajax({
            type: "POST",  
            url: site_url+"user/getstates",
            data: dataObj,
            success: function(result) {
                var resultObj = $.parseJSON(result);
                if(resultObj != '') {
                    $.each(resultObj, function(i, obj) {
                        stateHtml   = stateHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].state_name+'</option>';
                    });
                }
                if(resultObj == '') {
                    stateHtml   = stateHtml+'<option value="">---No States Available---</option>';
                }
                if ($('#state').length) {
                    $('#state').html(stateHtml);
                }
            }
        });
    }
    return false;
}
function fngetcities(stateId) {
    var dataObj = {state_id: stateId}; 
    var cityHtml   = '<option value="">---Select City---</option>';
    var zipHtml   = '<option value="">---Select Zipcode---</option>';
    $('#city').html(cityHtml);
    $('#zipcode').html(zipHtml);
    $.ajax({
        type: "POST",  
        url: site_url+"user/getcities",
        data: dataObj,
        success: function(result) {
            var resultObj = $.parseJSON(result);
            if(resultObj != '') {
                $.each(resultObj, function(i, obj) {
                    cityHtml   = cityHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].city_name+'</option>';
                });
            }
            if(resultObj == '') {
                cityHtml   = cityHtml+ '<option value="">---No Cities Available---</option>';
            }
            if ($('#city').length) {
                $('#city').html(cityHtml);
            }
        }
    });
    return false;
}
function fngetzipcodes(cityId) {
    var dataObj = {cityId: cityId}; 
    var zipHtml   = '<option value="">---Select Zipcode---</option>';
    $('#zipcode').html(zipHtml);
    $.ajax({
        type: "POST",  
        url: site_url+"user/getzipcodes",
        data: dataObj,
        success: function(result) {
            var resultObj = $.parseJSON(result);
            if(resultObj != '') {
                $.each(resultObj, function(i, obj) {
                    zipHtml   = zipHtml+ '<option value="'+resultObj[i].id+'">'+resultObj[i].zipcode+'</option>';
                });
            }
            if(resultObj == '') {
                zipHtml   = zipHtml+ '<option value="">---No Zipcodes Available---</option>';
            }
            if ($('#zipcode').length){
                $('#zipcode').html(zipHtml);
            }
        }
    });
    return false;
}
</script>