<center><h1><?=$this->translate('Upper Details')?></h1></center>
<?php //echo $this->category.'<pre>';print_r($this->coupon);exit; ?>
<div class="clear">&nbsp;</div>
<div id = "coupondata">
    <div id="title"><?=$this->translate('Upper Title')?></div><div id="desc">: <?=$this->coupon['title']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Upper Code')?></div><div id="desc">: <?=$this->coupon['code']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Upper Description')?></div><div id="desc">: <?=$this->coupon['description']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Category')?></div><div id="desc">: <?=$this->category?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Original Price')?></div><div id="desc">: <?=$this->coupon['original_price']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Discounted Price')?></div><div id="desc">: <?=$this->coupon['discounted_price']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Upper Price')?></div><div id="desc">: <?=$this->coupon['coupon_price']?></div>
    <div class="clear">&nbsp;</div>
    <div id="title"><?=$this->translate('Expiration Date')?></div><div id="desc">: <?=$this->coupon['expiration_date']?></div>
    <?php if(!empty($this->coupon['image_path'])) { ?>
        <div class="clear">&nbsp;</div>
        <div id="title"><?=$this->translate('Image')?></div><div id="desc"><img src="<?=SITE_URL.'uploads/images/thumbnails/'.$this->coupon['image_path']?>" alt="<?=$this->coupon['title']?>" ></div>
    <?php } ?>
</div>
<style>
    h2 { width:150px;float: left; }
    #coupondata { float: left; width: 500px; height: 325px; overflow-y: auto; }
    /***#couponimg { float: left; width:20%; }*/
    /*#coupondet { float: left; width: 79%; height: 325px; overflow-y: auto; }*/
    #title { float: left; width: 140px; }
    #desc { float: left; width: 340px; word-wrap:break-word; }
</style>