<?php //echo 'Hi<pre>';print_r($this->businessdata);exit;
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                        ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'))
                            ->appendStylesheet($this->baseUrl('css/calendar.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery-ui-datepicker.min.js'));
?>
<section>
    <div class="BS_body_wrap">
        <!--left content-->
        <div class="BS_left_cont">
            <div class="BS_left_dashH"><?=$this->translate("Dashboard")?></div>
            <div class="BS_left_dashC">
                <ul>
                    <li><a href="<?=SITE_URL?>business/businessmysettings"><?=$this->translate("My Account")?></a></li>
                    <li><a href="<?=SITE_URL?>business/detailedanalytics" style="border:none;"><?=$this->translate("Detailed Analytics")?></a></li>
                </ul>
            </div>
            <div class="BS_left_upmeH"><?=$this->translate("UpMeSocial")?></div>
            <div class="BS_left_dashC" style="height:200px;">
                <ul>
                    <li><a href="<?=SITE_URL?>business/businessprofile"><?=$this->translate("My Profile Page")?></a></li>
                    <li><a href="<?=SITE_URL?>business/mycustomers"><?=$this->translate("My Customers")?></a></li>
                    <li><a href="<?=SITE_URL?>business/mybusiness"><?=$this->translate("My Businesses")?></a></li>
                    <li><a href="<?=SITE_URL?>business/myuppers"><?=$this->translate("My Uppers")?></a></li>
                </ul>
                <div class="BS_left_dasht"><a href="<?=SITE_URL?>business/businesshuddles"><img src="<?=SITE_URL?>images/huddle.png" width="108" height="34"></a></div>
            </div>
            <div class="BS_left_dataH"><?=$this->translate("My Data")?></div>
            <div class="BS_left_dashC" style="height:39px;">
                <ul>
                <li><a href="<?=SITE_URL?>business/transactionreports"><?=$this->translate("Transaction Reports")?></a></li>
                </ul>
            </div>
            <div class="BS_left_dashH" style="margin-top:21px;"><?=$this->translate("Tools")?></div>
            <div class="BS_left_dashC" style="height:120px;">
                <ul>
                <li><a href="javascript:void(0);"><?=$this->translate("Download QR Code")?></a></li>
                <li><a href="<?=SITE_URL?>business/help"><?=$this->translate("Help")?></a></li>
                <li><a href="<?=SITE_URL?>business/techsupport" style="border:none;"><?=$this->translate("Technical Support")?></a></li>
                </ul>
            </div>
        </div>
        <!--End left content-->
        <!--main-->
        <div class="PP_body_wrap">
            <div class="BCC_form_con">
                <div class="BS_mainConH"><?=$this->translate("Create New Upper")?></div>
                <form name="createcoupon_form" id="createcoupon_form" action="" method="post" enctype="multipart/form-data">
                    <?php if(!empty($this->successmsg)) { ?><div id="success-error" style="float:left;color:green;"><?=$this->successmsg?></div><?php } ?>
                    <?php if(!empty($this->errormsg)) { ?><div id="success-error" style="float:left;color:red;"><?=$this->errormsg?></div><?php } ?>
                    <div class="clear"></div>
                    <div class="BCC_form_rowt">1. <?=$this->translate('Upper Title')?></div>
                    <div class="BCC_form_feild"><input type="text" name="business[title]" id="title" class="BCC_form_input1 required"></div>
                    <div class="BCC_form_rowt">2. <?=$this->translate('Upper Code')?></div>
                    <div class="BCC_form_feild"><input type="text" name="business[code]" id ="code" class="BCC_form_input2 required" readonly="readonly" value="<?php echo $this->businessdata->firstname.$this->uppercode;?>" ></div>
                    <div class="BCC_form_rowt">3. <?=$this->translate('Upper Description')?></div>
                    <div class="BCC_form_feild2"><textarea class="BCC_form_input3 required" name="business[description]" id="description"></textarea></div>
                    <div class="BCC_form_rowt">4. <?=$this->translate('Category')?></div>
                    <div class="BCC_form_feild3">
                        <select name="business[category_id]" class="required" id="category" style="width: 275px;">
                            <option value="">---<?=$this->translate('Select Category')?>---</option>
                            <?php for($i=0;$i<count($this->categories);$i++) { ?>
                                <option value="<?=$this->categories[$i]['id']?>"><?=$this->categories[$i]['category_name']?></option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="BCC_form_rowt">5. <?=$this->translate('Original Price')?></div>
                    <div class="BCC_form_feild required"><input type="text" name="business[original_price]" id="original_price" class="BCC_form_input1 required"></div>
                    <div class="BCC_form_rowt">6. <?=$this->translate('Discounted Price')?></div>
                    <div class="BCC_form_feild required"><input type="text" name="business[discounted_price]" id="discounted_price" class="BCC_form_input1 required"></div>
                    <div class="BCC_form_rowt">7. <?=$this->translate('Upper Price')?></div>
                    <div class="BCC_form_feild required"><input type="text" name="business[coupon_price]" id="coupon_price" class="BCC_form_input1 required"></div>
                    <div class="BCC_form_rowt">8. <?=$this->translate('Expiration Date')?></div>
                    <div class="BCC_form_feild"><input type="date" class="BCC_form_input1 readonly required" id="expiration_date" name="business[expiration_date]"></div>
                    <div class="BCC_form_rowt">9. <?=$this->translate('Upload Upper Image')?></div>
                    <div class="BCC_form_feild"><input type="file" class="required" id="coupon_image" name="coupon_image" /></div>
                    <div class="error_msg" id="error_msg"></div>
                    <div class="BCC_form_submit_row">
                        <a href="<?=SITE_URL?>business/businesscoupon" id="previewcoupon_fancybox" class="variouspreviewcoupon fancybox.ajax" onclick="getpreview();" ><input type="button" class="BCC_form_submit" id="preview" value="Preview" ></a>
                    </div>
                    <div class="BCC_form_submit_row">
                        <input type="submit" class="BCC_form_submit" id="submit" value="Submit">
                    </div>
                    <div class="BCC_form_submit_row">
                        <input type="button" class="BCC_form_submit" id="cancel" value="Cancel" onclick="cancelcoupon();">
                    </div>
                    <div class="clear">&nbsp;</div>
                </form>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="clear"></div>
    <!--End main-->
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        $("#expiration_date").datepicker({ 
            changeMonth: true,
            changeYear: true,
            yearRange:'0:+10',
            minDate: new Date,
            dateFormat:'yy-mm-dd'
        });
        $('#createcoupon_form').validate();
        $('#code').focus(function(){

        });
    });
    function cancelcoupon() {
        var r=confirm("Can You Confirm This Action");
        if (r==true) {
            window.location.href =  site_url+'business/businessprofile';
        }
    }
    function getpreview() {
        $('.variouspreviewcoupon').fancybox({
            ajax: {
                type: "POST",
                data: 'title=' + $('#title').val() + '&code=' + $('#code').val() + '&description=' + $('#description').val() + '&category=' + $('#category').val() + '&original_price=' + $('#original_price').val() + '&discounted_price=' + $('#discounted_price').val() + '&coupon_price=' + $('#coupon_price').val() + '&expiration_date=' + $('#expiration_date').val() + '&Type=PreviewCoupon'
            },
            maxWidth	: 800,
            maxHeight	: 600,
            fitToView	: false,
            width	: '32%',
            height	: '70%',
            autoSize	: false,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    }
</script>