<section style="height: 400px;">
    <p align="center" style="margin-top: 200px;">
        <span style="color: #4F4F4F;font-size: 14px;"><?php echo $this->translate('Do you wish to continue your account').'?';?></span> 
        <button onClick="$().active();" class="acts_bott_btn_butt"><?php echo $this->translate('Enable');?></button> 
    </p>
</section>
<script type="text/javascript">
//var $ = jQuery;
$(document).ready(function(){
    $.fn.active = function(){
        var businessid = '<?php echo $this->businessdata->business_id; ?>';
        var datastring = "business_id="+businessid+"&status=A";
        jConfirm('Can you confirm this?','',function(r){if(r==true) {
            $.ajax({
                type    : "POST",
                url     : site_url+"business/index/businessactive",
                data    : datastring,
                cache   : false,
                success : function(value) {
                    if(value == "success") {
                        window.location =  site_url+'business/businessprofile';
                    } else {
                        return false;
                    }
                }
            });
        }});
    }
});
</script>