<?php $request = Zend_Controller_Front::getInstance()->getRequest();
echo $this->headLink()->appendStylesheet($this->baseUrl('css/datepicker/datepicker.css'))
                    ->appendStylesheet($this->baseUrl('css/datepicker/layout.css'));
echo $this->headScript()->prependFile($this->baseUrl('js/datepicker/datepicker.js'))
                        ->appendFile($this->baseUrl('js/datepicker/eye.js'))
                        ->appendFile($this->baseUrl('js/datepicker/utils.js'))
                        ->appendFile($this->baseUrl('js/datepicker/layout.js?ver=1.0.2'))
                        ->appendFile('https://www.google.com/jsapi');
if($this->businessAuthVar == 1) {
    $auth_id = $this->businessdata->business_id;
    $user = 'business';
    $auth_type = "B";
}
if($this->userAuthVar == 1) {
    $user = 'normal';
    $auth_id = $this->userdata->user_id;
    $auth_type = "U";
}
if($request->getParam('userid') != '') {
    $user_id = $request->getParam('userid');
} else {
    $user_id = $auth_id;
} ?>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    function loadFollowers() {
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                <?php echo $this->followerData;?>
            ]);
            var options = {
                hAxis: {
                        gridlines:{count:0},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        }
                },
                vAxis: {
                        gridlines:{count:2},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        },
                        format: '#'
                },
                tooltip:{trigger:"none"},
                width: 600, 
                height:200,
                colors:['#0E3D5D','#6C8A9E'],
                reverseCategories: false,
                legend: {position:'none'}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('followers_div'));
            chart.draw(data, options);
        }
    }
    google.load("visualization", "1", {packages:["corechart"]});
    function loadCouponClicks() {
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                <?php echo $this->couponClickData;?>
            ]);
            var options = {
                hAxis: {
                        gridlines:{count:0},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        }
                },
                vAxis: {
                        gridlines:{count:2},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        },
                        format: '#'
                },
                tooltip:{trigger:"none"},
                width: 600, 
                height:200,
                colors:['#0E3D5D','#6C8A9E'],
                reverseCategories: false,
                legend: {position:'none'}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('couponClicks_div'));
            chart.draw(data, options);
        }
    }
    google.load("visualization", "1", {packages:["corechart"]});
    function loadtotalSales() {
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                <?php echo $this->totalSalesData;?>
            ]);
            var options = {
                hAxis: {
                        gridlines:{count:0},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        }
                },
                vAxis: {
                        gridlines:{count:2},
                        viewWindowMode:'explicit',
                        viewWindow:{
                                min:0
                        },
                        format: '#'
                },
                tooltip:{trigger:"none"},
                width: 600, 
                height:200,
                colors:['#0E3D5D','#6C8A9E'],
                reverseCategories: false,
                legend: {position:'none'}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('totalSales_div'));
            chart.draw(data, options);
        }
    }
</script>
<section>
    <div class="BS_body_wrap">
        <?php echo $this->render('/index/businessleftbar.phtml',array('userid'=>$request->getParam('userid')));?>
        <!--main-->
        <div class="outer_wrapper">
            <div class="analy_header">
                <input type="button" class="learn_btn" value="LEARN MORE">
            </div>
            <div class="maps_div">
                <span class="analy_txt"><?php echo $this->translate("Detailed Analytics");?></span><br><br>
                <div style="float: left;">
                    <div id="widget" style="float: left;">
                        <div id="widgetField">
                            <?php if($this->lastMonth != '') {
                                    $lastMonth = $this->lastMonth;
                                } else {
                                    $lastMonth = date("Y-m-d", strtotime("-1 month", time()));
                                }
                                if($this->uptoToday != '') {
                                    $uptoToday = $this->uptoToday;
                                } else {
                                    $uptoToday = date("Y-m-d", time());
                                } ?>
                            <span id="followerCalenderSpan"><?php echo $lastMonth;?> &divide; <?php echo $uptoToday;?></span>
                            <a href="#"><?php echo $this->translate("Select date range");?></a>
                        </div>
                        <div id="widgetCalendar"></div>
                    </div>
                    <form name="followersAnalytics" id="followersAnalyticsForm" method="post" style="float: left;" >
                        <input type="hidden" name="dates" id="dates" value="">
                        <input type="hidden" name="user_id" id="user_id" value="<?php echo $user_id;?>">
                        <input type="hidden" name="isFollowerRequest" id="isFollowerRequest" value="">
                        <input type="button" class="analy_but" value="Submit" style="float: left;" onclick="getFollowerData($('#followerCalenderSpan').html());">
                    </form>
                </div>
                <div style="float: right">
                    <span style="float:right"><img src="<?=SITE_URL?>images/export_data.png"></span><br><br>
                </div>
                <div class="clr"></div>
                <span class="map_txt"><?php echo $this->translate("My Followers");?>:</span>&ensp;&ensp;
                <span class="map_txt"><?php echo $this->translate("Male");?></span>&ensp;&ensp;
                <span class="map_txt2"><?php echo $this->translate("Female");?></span><br>
                <!-- <span><img src="<//?=SITE_URL?>images/first_map.png"></span> -->
                <div class="analyticsFollowerGraph">
                    <a href="#"><div id="followers_div"><script type="text/javascript">loadFollowers();</script></div></a>
                </div>

                <div class="country_column">
                    <ul>
                        <h1><?=$this->translate("Countries")?></h1>
                        <?php $i = 0;
                        foreach($this->countries as $country) {
                            if($i < 7) {
                                echo "<li ><strong>".$country['cnt']."</strong> ".ucfirst($country['country_name'])."</li>";
                            }
                            $i++;
                        }
                        if(count($this->countries) > 7) { ?>
                            <li></li>
                            <span><?php echo $this->translate("More"); ?></span>
                        <?php } ?>
                    </ul>
                </div>

                <div class="country_column">
                  <ul>
                    <h1><?=$this->translate("Cities")?></h1>
                    <?php $i = 0;
                    foreach($this->cities as $country) {
                        if($i < 7) {
                            echo "<li ><strong>".$country['cnt']."</strong> ".ucfirst($country['city_name'])."</li>";
                        }
                        $i++;
                    }
                    if(count($this->countries) > 7) { ?>
                        <li></li>
                        <span><?php echo $this->translate("More")?></span>
                    <?php } ?>
                  </ul>
                </div>
                
                <div class="country_column">
                    <ul>
                      <h1><?=$this->translate("Languages")?></h1>
                      <?php 
                          $i = 0;
                          foreach($this->languages as $country) {
                              if($i < 7) {
                                  echo "<li ><strong>".$country['cnt']."</strong> ".ucfirst($country['language_name'])."</li>";
                              }
                              $i++;
                          }
                          if(count($this->languages) > 7) {?>
                              <li></li>
                              <span><?php echo $this->translate("More");?></span>
                          <?php } ?>
                    </ul>
                </div>
                <div class="clear">&nbsp;</div>
                <span class="active_txt2"><?php echo $this->translate("Active Upper Clicks");?></span><br><br>
                <form name="couponClicksAnalyticsForm" id="couponClicksAnalyticsForm" method="post" style="float: left;" >
                    <input type="hidden" name="dates2" id="dates2" value="">
                    <input type="hidden" name="user_id2" id="user_id2" value="<?php echo $user_id;?>">
                    <input type="hidden" name="isCouponClickRequest" id="isCouponClickRequest" value="">
                    <select name="coupon_id" id="coupon_id" class="analy_droupdown" style="float: left;">
                        <option value="all" >---<?php echo $this->translate("All");?>---</option>
                        <?php if(count($this->couponAry) > 0) {
                            foreach ($this->couponAry as $coupon) { ?>
                                <option value="<?php echo $coupon['coupon_id'];?>" <?php if($this->coupon_id == $coupon['coupon_id']) { ?> selected="selected"<?php } ?>><?php echo $coupon['title'];?></option>
                            <?php }
                        } else { ?>
                            <option value="0"><?php echo $this->translate("No Uppers");?></option>
                        <?php } ?>
                    </select>
    <!--            <span class="active_txt2">Calender</span>-->
                    <div id="widget2" style="float: left; margin-left: 5px;">
                        <div id="widgetField2">
                            <?php if($this->lastMonth2 != '') {
                                    $lastMonth2 = $this->lastMonth2;
                                } else {
                                    $lastMonth2 = date("Y-m-d", strtotime("-1 month", time()));
                                }
                                if($this->uptoToday2 != '') {
                                    $uptoToday2 = $this->uptoToday2;
                                } else {
                                    $uptoToday2 = date("Y-m-d", time());
                                }
                            ?>
                            <span id="followerCalenderSpan2"><?php echo $lastMonth2;?> &divide; <?php echo $uptoToday2;?></span>
                            <a href="#"><?php echo $this->translate("Select date range");?></a>
                        </div>
                        <div id="widgetCalendar2"></div>
                    </div>
                    <input type="button" class="analy_but" value="Submit" style="float: left;" onclick="getCouponClickData($('#followerCalenderSpan2').html());">
                </form>
                <div class="clear"></div>
    <!--            <span><img src="<?=SITE_URL?>images/second_map.png"></span>-->
                <div class="analyticsFollowerGraph">
                    <a href="#"><div id="couponClicks_div"><script type="text/javascript">loadCouponClicks();</script></div></a>
                </div>
                <span class="active_txt2"><?php echo $this->translate("Total Sales");?></span><br><br>
                <form name="tOtalSalesAnalytics" id="tOtalSalesAnalyticsForm" method="post" style="float: left;" >
                    <input type="hidden" name="dates3" id="dates3" value="">
                    <input type="hidden" name="user_id3" id="user_id3" value="<?php echo $user_id;?>">
                    <input type="hidden" name="isTotalSalesRequest" id="isTotalSalesRequest" value="">
                    <div id="widget3" style="float: left;">
                        <div id="widgetField3">
                            <span id="followerCalenderSpan3"><?php echo $this->lastMonth3;?> &divide; <?php echo $this->uptoToday3;?></span>
                            <a href="#"><?php echo $this->translate("Select date range");?></a>
                        </div>
                        <div id="widgetCalendar3"></div>
                    </div>
                    <?php //echo $this->lastMonth3."==".$this->uptoToday3;exit;
                        $from = strtotime($this->lastMonth3);
                        $to = strtotime($this->uptoToday3);
                        $timeDiff = abs($to - $from);
                        $numberDays = intval($timeDiff/86400);  // 86400 seconds in one day and you might want to convert to integer
                    ?>
                    <select name="display_type" id="display_type" class="analy_droupdown" style="float: left;">
                        <option value="0" >---<?php echo $this->translate("Select");?>---</option>
                        <?php if($numberDays < 7){?>
                            <option value="d" <?php if($this->display_type == 'd'){?> selected="selected"<?php } ?>><?php echo $this->translate("Day");?></option><option value="w" <?php if($this->display_type == 'w'){?> selected="selected"<?php } ?>><?php echo $this->translate("Week");?></option><option value="m" <?php if($this->display_type == 'm'){?> selected="selected"<?php } ?>><?php echo $this->translate("Month");?></option><option value="Y" <?php if($this->display_type == 'Y'){?> selected="selected"<?php } ?>><?php echo $this->translate("Year");?></option> <?php } 
                        if($numberDays >= 7 && $numberDays < 30){?>
                            <option value="w" <?php if($this->display_type == 'w'){?> selected="selected"<?php } ?>><?php echo $this->translate("Week");?></option><option value="m" <?php if($this->display_type == 'm'){?> selected="selected"<?php } ?>><?php echo $this->translate("Month");?></option><option value="Y" <?php if($this->display_type == 'Y'){?> selected="selected"<?php } ?>><?php echo $this->translate("Year");?></option> <?php }
                        if($numberDays >= 30 && $numberDays < 365){?>
                            <option value="m" <?php if($this->display_type == 'm'){?> selected="selected"<?php } ?>><?php echo $this->translate("Month");?></option><option value="Y" <?php if($this->display_type == 'Y'){?> selected="selected"<?php } ?>><?php echo $this->translate("Year");?></option><?php } 
                        if($numberDays >= 365){?>
                        <option value="Y" <?php if($this->display_type == 'Y'){?> selected="selected"<?php } ?>><?php echo $this->translate("Year");?></option> <?php } ?>
                    </select>
                    <input type="button" class="analy_but" value="Submit" style="float: left;" onclick="getTotalSaleData($('#followerCalenderSpan3').html());">
                </form>
                <div class='clr'></div>
    <!--        <span><img src="<?=SITE_URL?>images/third_map.png"></span>-->
                <div class="analyticsFollowerGraph">
                    <a href="#"><div id="totalSales_div"><script type="text/javascript">loadtotalSales();</script></div></a>
                </div>
            </div>
        </div>
          <!--End main-->
    </div>
</section>
<script type="text/javascript">
    function getFollowerData(dates) {
        $('#dates').val(dates);
        $('#isFollowerRequest').val('YES');
        $('#followersAnalyticsForm').submit();
    }
    function getCouponClickData(dates2) {
        $('#dates2').val(dates2);
        $('#isCouponClickRequest').val('YES');
        $('#couponClicksAnalyticsForm').submit();
    }
    function getTotalSaleData(dates3) {
        $('#dates3').val(dates3);
        $('#isTotalSalesRequest').val('YES');
        $('#tOtalSalesAnalyticsForm').submit();
    }
</script>