<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css">
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<div id="wrapper">
    <div id="TabbedPanels1" class="TabbedPanels">
        <?php echo $this->render('index/business_signup_menu.phtml');?>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent" id="find_friends">
                <div class="tab_outer3">
                    <iframe src="http://64.207.159.244/api/contactgrabber/" frameBorder="0" height="365px;" width="100%" scrolling="no"></iframe>
                    <iframe src="http://64.207.159.244/api/friendinviter/" height="380px;" frameBorder="0" width="100%" scrolling="no"></iframe>
                    <ul>
                        <li>
                            <input name="" type="button" class="tab_back_button" value="Back" id="find_friend_back_button">
                            <input name="" type="submit" class="tab_button_style" value="SAVE & CONTINUE" id="find_friend_continue_button">
                            <input name="" type="button" class="tab_button_style3" value="Skip" id="skipUpload">
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#find_friend_continue_button").click(function() {
        //$('#profileUploadForm').submit();
        window.location.href =  site_url+'business/profilepicture';
    });
    $("#find_friend_back_button").click(function() {
        window.location.href =  site_url+'business/profileinfo';
    });
    $("#skipUpload").click(function() {
        window.location.href =  site_url+'business/profilepicture';
    });
});
</script>