<div class="BS_body_wrap">
    <!--left content-->
    <?php echo $this->render('index/businessleftbar.phtml');
        echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                              ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
        echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
        ?>
    <!--End left content-->
    <!--main-->
    <div class="cust_coupon">
        <div class="cust_outer">
            <ul class="cust_text_outer">
                <li class="customer_txt"><?php echo $this->translate('Help'); ?></li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>
        <div id="followers-outer">
            <?php echo '<div class="nocustomers">Help Content Goes Here</div>'; ?>
        </div>
    </div>
<!--End main-->
</div>