<?php
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'));
?>
<div id="wrapper">
<!--<div class="login_outer">
        <input name="rname" type="text" class="login_fild" value="username" size="11" onFocus="if (this.value=='username') this.value='';" onBlur="if (this.value=='') this.value='username';">
        <input name="rname" type="text" class="login_fild2" value="password" size="11" onFocus="if (this.value=='password') this.value='';" onBlur="if (this.value=='') this.value='password';">
        <input type="button" class="login_btn" value="Sign In">
    </div>-->
    <?php 
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    if(!$auth->hasIdentity()){
    ?>
    <form name="businesslogin" method="post" id="businesslogin" action="">
        <div class="yetregistered"><?php echo $this->translate('Not registered yet!!').'<b><a href="'.SITE_URL.'business/businessinfo" >'.$this->translate('Get Started').'</a></b>';?></div>
        <div class="clear"></div>
        <div class="login_outer">
            <input name="lbusinessname" id="lbusinessname" type="text" class="login_fild required" value="" size="11" placeHolder="username">
            <input name="lbusinesspwd" id="lbusinesspwd" type="password" class="login_fild2 required" value="" size="11" placeHolder="password">
            <input type="submit" class="login_btn" value="Sign In">
            <div class="clr"></div>
            <a id="forgotpassword_fancybox"  href="javascript:void(0);" title="" class="various10 fancybox.ajax yetregistered">Forgot Password?</a>
        </div>
    </form>
    <?php } ?>
    <div class="BS_banner">
        <div class="BS_btn">
            <a href="<?=SITE_URL?>business/businessinfo"><img width="221" height="66" src="<?=SITE_URL?>images/bsns_btn.png"></a>
        </div>
    <!--<img src="<?//=SITE_URL?>images/bsns_banner.png" width="993" height="393" >-->
    </div>
    <div class="BS_tab_otr">
        <div class="BS_tab">
            <h1>UNIQUE</h1>
            <h2>ADVERTISING MODELS </h2>
            <img width="87" height="128" src="<?=SITE_URL?>images/img22.png" >
        </div>
        <div class="BS_tab">
            <h1>REAL-TIME</h1>
            <h2>SALES ANALYTICS </h2>
            <img width="103" height="98" src="<?=SITE_URL?>images/img21.png" >
        </div>
        <div class="BS_tab">
            <h1>INSTANT</h1>
            <h2>BUSINESS REVIEWS</h2>
        </div>
        <div class="BS_tab2">
            <h1>PRICING</h1>
            <h2>PRICING</h2>
            <div class="BS_price_otr">
                <div class="BS_price_clmn">COST</div>
                <div class="BS_price_clmn">DATABASE</div>
                <div class="BS_price_clmn"><div class="BS_price_box">$49</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box2">0-500</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box">$99</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box2">501-2500</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box">$149</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box2">2501-5000</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box">$249</div></div>
                <div class="BS_price_clmn"><div class="BS_price_box2">5001-10000</div></div>
            </div>
        </div>
    </div>
    <div class="BS_ad_otr">
        <img width="419" height="86" src="<?=SITE_URL?>images/img23.png" >
        <img width="141" height="78" src="<?=SITE_URL?>images/img24.png" >
        <img width="136" height="80" src="<?=SITE_URL?>images/img25.png" >
        <img width="140" height="78" src="<?=SITE_URL?>images/img26.png" >
    </div>
</div>
<script type="text/javascript" lang="javascript">
$("#forgotpassword_fancybox").click(function() {
    $("#forgotpassword_fancybox").attr('href',site_url+"business/forgotpassword");
    $('.various10').fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '80%',
        autoSize	: true,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
});
</script>