<?php //echo '<pre>';print_r($this->following);exit; ?>
<section>
    <div class="BS_body_wrap">
        <!--left content-->
        <?php echo $this->render('index/businessleftbar.phtml');
        echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                              ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
        echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
        ?>
        <!--End left content-->
        <!--main-->
        <div class="cust_coupon">
            <div class="cust_outer">
                <ul class="cust_text_outer">
                    <li class="customer_txt"><?php echo $this->translate('My Business'); ?></li>
                    <li class="customer_txt2"><?php echo $this->translate('These are your following businesses'); ?></li>
                </ul>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="followers-outer">
                <?php if(!empty($this->following)) {
                    foreach ($this->following as $result): ?>
                        <div class="followers"><a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $result['follower_id']; ?>"><img src="<?php echo SITE_URL; ?>uploads/images/thumbnails/<?php echo $result['image_path']; ?>"  width="50" height="50"></a>
                            <div class="txt_outer">
                                <li class="followers_text"><a href="<?php echo SITE_URL; ?>business/businessprofile/<?php echo $result['follower_id']; ?>"><?php echo $result['firstname'].' '.$result['lastname']; ?></a>&nbsp;</li><br/>
                                <li class="followers_text2"><?php echo $result['business_name']; ?></li>
                            </div>
                        </div>
                <?php endforeach; } else { echo '<div class="nocustomers"><strong>No Business to View</strong></div>'; } ?>
                <style>
                    #prev { display:none; }
                    #more { display:none; }
                </style>
            </div>
        </div>
    <!--End main-->
    </div>
</section>