<?php //echo '<pre>';print_r($this->result);exit; ?>
<script src="<?=SITE_URL?>SpryAssets/Business_tab.js" type="text/javascript"></script>
<link href="<?=SITE_URL?>SpryAssets/Business_tab.css" rel="stylesheet" type="text/css">
<section>
    <div class="BS_body_wrap">
        <!--left content-->
        <?php echo $this->render('index/businessleftbar.phtml');
        echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                              ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
        echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
        ?>
        <!--End left content-->
        <!--main-->
        <div class="cust_coupon">
            <div class="cust_outer">
                <ul class="cust_text_outer">
                    <li class="customer_txt"><?php echo $this->translate('Customers'); ?></li>
                    <li class="customer_txt2"><?php echo $this->translate('These are your paying followers'); ?></li>
                </ul>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="followers-outer">
                <?php if(!empty($this->result)) {
                    foreach ($this->result as $result):
                ?>
                    <div class="followers"><a href="<?php echo SITE_URL; ?>user/userprofile/<?php echo $result['user_id']; ?>"><img src="<?php echo SITE_URL; ?>uploads/images/thumbnails/<?php echo $result['profile_pic_path']; ?>"  width="50" height="50"></a>
                        <div class="txt_outer">
                            <li class="followers_text"><a href="<?php echo SITE_URL; ?>user/userprofile/<?php echo $result['user_id']; ?>"><?php echo $result['firstname'].' '.$result['lastname']; ?></a>&nbsp;</li><br/>
                            <li class="followers_text2"><?php echo $result['username']; ?></li>
                        </div>
                    </div>
                
                    <?php endforeach;
                } else {
                    echo '<div class="nocustomers"><strong>No Customers to View</strong></div>';
                } ?>
                <style>
                    #prev {
                        display:none;
                    }
                    #more {
                        display:none;
                    }
                </style>
            </div>
        </div>
    <!--End main-->
    </div>
</section>