<section>
    <div class="BS_body_wrap">
        <!--left content-->
        <?php echo $this->render('index/businessleftbar.phtml');
        echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'))
                              ->appendStylesheet($this->baseUrl('SpryAssets/Business_tab.css'));
        echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('SpryAssets/Business_tab.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
        ?>
        <!--End left content-->
        <!--main-->
        <div class="cust_coupon">
            <div class="cust_outer">
                <ul class="cust_text_outer">
                    <li class="customer_txt"><?php echo $this->translate('My Followers'); ?></li>
                    <li class="customer_txt2"><?php echo $this->translate('These are your followers'); ?></li>
                </ul>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="followers-outer">
                <?php if(!empty($this->userfollowers)) {
                    foreach ($this->userfollowers as $result): //echo '<pre>';print_r($result);exit;
                        if(($result['image_name'] != '') && (file_exists(UPLOAD_PATH."images/thumbnails/".$result['image_name']))){
                          $imagepath = SITE_URL.'uploads/images/thumbnails/'.$result['image_name'];
                        }else{
                          $imagepath = SITE_URL.'images/no-user.gif';
                        }
                      if($result['user_type']=='U'){
                          $profilelink = SITE_URL.'user/userprofile/'.$result['user_id'];
                      }else{
                          $profilelink = SITE_URL.'business/businessprofile/'.$result['user_id'];
                      }
                ?>
                <div class="followers"><a href="<?php echo SITE_URL; ?>user/userprofile/<?php echo $result['user_id']; ?>">
                        <img src="<?php echo $imagepath; ?>"  width="50" height="50">
                    </a>
                    <div class="txt_outer">
                        <li class="followers_text">
                            <a href="<?php echo $profilelink;?>">
                                <?php echo $result['firstname'].' '.$result['lastname']; ?>
                            </a>&nbsp;</li><br/>
                        <li class="followers_text2"><?php //echo $result['username']; ?></li>
                    </div>
                </div>
                <?php endforeach; } else { echo '<div class="nocustomers"><strong>No Followers to View</strong></div>'; } ?>
            </div>
        </div>
    <!--End main-->
    </div>
</section>
<script type="text/javascript">

</script>