<?php $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('businessuser'));
    if($auth->hasIdentity()) {
        $logged_user_id = $auth->getIdentity()->business_id;
        $logged_user_type = $auth->getIdentity()->user_type;
    }
    $auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('normaluser'));
    if($auth->hasIdentity()) {
        $logged_user_id = $auth->getIdentity()->user_id;
        $logged_user_type = $auth->getIdentity()->user_type;
        
} ?>
<section>
    <div class="BS_body_wrap">
        <?php echo $this->render('index/businessleftbar.phtml');
        echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'));
        echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
                            ->appendFile($this->baseUrl('js/jquery.validate.js'))
                            ->appendFile($this->baseUrl('js/jquery.fancybox.js'));
        ?>
        <!--main-->
        <div class="cust_coupon">
            <div class="cust_outer">
                <ul class="cust_text_outer">
                    <li class="customer_txt"><?php echo $this->translate('My Uppers'); ?></li>
                    <li class="customer_txt2"><?php echo $this->translate('These are your Uppers'); ?></li>
                </ul>
                <?php if($logged_user_type== 'B' && $logged_user_id == $this->business_id) { ?>
                    <a href="<?php echo SITE_URL; ?>business/createcoupon"><input type="button" class="coupon_button" value="Create New Upper"></a>
                <?php } ?>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="followers-outer">
                <?php if(!empty($this->result)) {
                    foreach ($this->result as $couponsinfo):
                        if($couponsinfo['original_price'] != '' && $couponsinfo['original_price'] != 0 && $couponsinfo['discounted_price'] != '' && $couponsinfo['discounted_price'] != 0){
                            $count1 = $couponsinfo['discounted_price'] / $couponsinfo['original_price']; 
                            $count2 = $count1 * 100;
                            $count = number_format($count2, 0); 
                        }
                        if($couponsinfo['original_price'] == '' || $couponsinfo['original_price'] == 0 || $couponsinfo['discounted_price'] == '' || $couponsinfo['discounted_price'] == 0){
                            $count1 = 0; 
                            $count2 = 0;
                            $count = 0;
                        }
                        ?>
                <div class="coupons_bar1 photoimg" style="margin-left:25px;" >
                    <?php if($logged_user_type== 'B' && $logged_user_id == $this->business_id) { ?>
                        <img class="close" src="<?=SITE_URL?>images/close.png" alt="close" onclick="deletecoupon(this,<?=$couponsinfo['coupon_id']?>);" >
                    <?php } ?>
                    <div class="slide" style="width:450px; height:auto;">
                        <div class="coupon_wrapper1">
                            <div class="coupon_image_bg">
                                <div class="coupon_image " id ="firstgallery">
                                    <a id="businesscoupon_fancybox<?=$couponsinfo['coupon_id']?>" href="javascript:void(0);" onclick="getbusinesscoupon(<?=$couponsinfo['coupon_id']?>)" class="tooltip1_photo variousbusinesscoupon fancybox.ajax" >
                                        <img width="275px" height="160px" class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>public/uploads/images/original/<?php echo $couponsinfo['coupon_image']; ?>" >
                                        <div class="caption">
                                            <ul>
                                                <li class="img_property"><img  class="tab_row_cnt_profileImg" src="<?php echo SITE_URL; ?>/images/coupon_up_icon.png"></li>
                                                <li class="coupon_txt"><?php echo $couponsinfo['business_name']; ?></li><br>
                                                <li class="coupon_txt"><?php echo $couponsinfo['country_name']; ?></li><br>
                                                <!--<li class="coupon_txt"><img src="../assets/images/men.png">&ensp;2</li>-->
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mycoupon_price">
                                <ul>
                                    <li><?php echo 'Title: '.$couponsinfo['title']; ?></li>
                                    <li><?php $desc = (strlen($couponsinfo['description'])>50)?substr($couponsinfo['description'],0,150).'...':$couponsinfo['description']; echo 'Description: '.$desc; ?></li>
                                    <li><?php echo 'Upper Price: $ '.$couponsinfo['coupon_price']; ?></li>
                                    <li><?php echo 'Expires on '.date('d/m/Y',strtotime($couponsinfo['expiration_date'])); ?></li>
                                </ul>
                            </div>      
                            <div class="coupon_price4"><?php echo $count;?>% off</div>
                        </div>
                    </div>
                </div>
                <div class="clear">&nbsp;</div>
                <?php endforeach; } else { echo '<div class="nocustomers"><strong>No Uppers to View</strong></div>'; } ?>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
    <!--End main-->
    </div>
</section>
<script type="text/javascript">
    function deletecoupon(obj,couponid) {
        jConfirm('Can you confirm this?','',function(r) {if(r==true) {
            if(couponid !='') {
                var datastring = 'coupon_id=' + couponid + '&ActionType=deleteCoupon';
                $.ajax({
                    type: "POST",
                    url: site_url+'business/index/deletecoupon',
                    data:datastring,
                    cache: false,
                    success: function(msg) {
                        if(msg =='1') {
                            $(obj).closest('div').remove();
                        }
                    }
                });
            }
        }});
    }
    function getbusinesscoupon(id) {
        $("#businesscoupon_fancybox"+id).attr('href',site_url+'business/businesscoupon/'+id);
        $('.variousbusinesscoupon').fancybox({
            maxwidth    : '800',
            maxheight   : '600',
            fitToView	: false,
            width	: 'auto',
            height	: 'auto',
            autoSize	: true,
            closeClick	: false,
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    }
</script>