<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css">
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">

<div id="wrapper">
    <div id="TabbedPanels1" class="TabbedPanels">
        <?php echo $this->render('index/business_signup_menu.phtml');?>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent" id="pic_upload">
                <div class="tab_outer4">
                    <ul>
                        <li><h1><?=$this->translate('Set your profile picture')?></h1></li>
                        <li>
                            <img src="<?=SITE_URL?>images/profile_pic.png" width="184" height="185">
<!--                                <div class="profil_detail_outer">
                                <h2><a href="#"><?=$this->translate('Upload a Photo')?></a></h2>
                                <h3><input type="file" name="profile_pic" id="profile_pic" /></h3><br/>
                                <?=$this->translate('OR')?><br/><br/>
                                <h2><a href="#"><?=$this->translate('Upload a Photo')?></a></h2>
                                <h3><?=$this->translate('with your webcam')?></h3>
                            </div>-->
                            <div class="profil_detail_outer">
                                <h2><?=$this->form?></h2>
                                <h3>from your computer</h3>
                            </div>
                        </li>
                        <li>
                            <input name="" type="button" class="tab_back_button" value="Back" id="upload_pic_back_button">
                            <input name="" type="submit" class="tab_button_style" value="SAVE & FINISH" id="save_finish_button">
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#save_finish_button").click(function() {
        $('#profileUploadForm').submit();
    });
    $("#upload_pic_back_button").click(function() {
        window.location.href =  site_url+'business/findfriends';
    });
});
</script>