<?php 
    //echo $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.css'));
    //echo $this->headScript()->prependFile($this->baseUrl('js/jquery-1.7.min.js'))
      //                      ->appendFile($this->baseUrl('js/jquery.fancybox.js'))
      //                      ->appendFile($this->baseUrl('js/ajaxupload.js'));?>
<div id="maindiv">
    <div class="album_title"><?=$this->translate('Profile Picture')?></div>
    <div class="clear"></div>
    <div id="msg"></div><br/>
    <div class="photoimg">
        <?=$this->form?>
        <div id="loadingdiv"><input id="upload_button" type="submit" value="Upload" name=""></div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() { 
    $("#upload_button").click(function() {
        var uploadbtn = $("#loadingdiv").html();
        $("#loadingdiv").html('Loading...');
        var options = {
            url: site_url+'business/profilepictureedit',
            success: function (html) {
                var data = $.parseJSON(html);
                if(data['service_status']==='success') {
                    $.fancybox.close();
                    window.location =  site_url+'business/businessprofile';
                } else {
                    $("#loadingdiv").html(uploadbtn);
                    $("#msg").html('<font color="red">Error uploading file. Please Try Again...</font>');
                    $("#photo").val('');
                }
            }  // post-submit callback
        };
        $('#profileUploadForm').ajaxSubmit(options);
    });
    /*$('.variousprofilepic').fancybox({
        'afterClose'  : function() {
            window.location.href =  site_url+'business/businessprofile';
        }
    });*/
});
</script>