<link href="<?=SITE_URL?>css/style.css" rel="stylesheet" type="text/css" >
<link href="<?=SITE_URL?>SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" >
<div id="wrapper"><?php //echo $this->pwd.'view<pre>';print_r($this->business);exit; ?>
    <div id="TabbedPanels1" class="TabbedPanels">
        <?=$this->render('index/business_signup_menu.phtml');?>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent"  id="profile_info">
                <div class="tab_outer21">
                    <form name="businessprofileinfo_form" id="businessprofileinfo_form" method="post" action="">
                        <ul>
                            <li><h1><?=$this->translate('Create Profile Information')?></h1></li>
                            <li>
<!--                                <div><?=$this->translate('User Name')?>:<span class="redstar1">*</span></div>-->
                                <span><?=$this->translate('User Name')?>:<div class="redstar">*</div></span>
                                <input class="tab_txt_fld required" name="business[username]" minlength="6" maxlength="16" type="text" id="user_name" value="<?=$this->business['username']?>" placeholder="between 6 to 15 characters" >
                            </li>
                            <li>
                                <span><?=$this->translate('Password')?>:<div class="redstar">*</div></span>
                                <input class="tab_txt_fld required" name="business[password]" minlength="6" maxlength="16" type="password" id="password" value="<?=$this->pwd?>" placeholder="minimum 6 characters" >
                            </li>
                            <li>
                                <span><?=$this->translate('Confirm password')?>:<div class="redstar">*</div></span>
                                <input class="tab_txt_fld required equalTo" name="confirm_password" minlength="6" maxlength="16" type="password" id="confirm_password" value="<?=$this->pwd?>" placeholder="minimum 6 characters" >
                                <span><?=$this->translate('Business Category')?>:<div class="redstar">*</div></span>
                                <select name="business[category_id]" class="tab_list_menu required" id="business_category">
                                    <option value="">---<?=$this->translate('Select Category')?>---</option>
                                    <?php for($i=0;$i<count($this->categories);$i++) {
                                        $category = ($this->business['category_id'] ==$this->categories[$i]['id'])?'selected':"";
                                    ?>
                                    <option value="<?=$this->categories[$i]['id']?>" <?=$category?>><?=$this->categories[$i]['category_name']?></option>
                                    <?php } ?>
                                </select>
                            </li>
                            <li>
                                <span><?=$this->translate('Security Question')?>?<div class="redstar">*</div></span>
                                <input class="tab_txt_fld required" name="business[security_question]" type="text" id="security_question" value="<?=$this->business['security_question']?>" >
                            </li>
                            <li>
                                <span><?=$this->translate('Security Answer')?>?<div class="redstar">*</div></span>
                                <input class="tab_txt_fld required" name="business[security_answer]" type="text" id="security_answer" value="<?=$this->business['security_answer']?>" >
                            </li>
                            <div id="err" class="errDiv"></div>
                                <div class="clear"></div>
                            <li>
                                <input name="" type="button" class="tab_back_button" value="Back" id="profile_info_back_button">
                                <input name="" type="submit" class="tab_button_style" value="CONTINUE" id="profile_info_continue_button">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#businessprofileinfo_form").validate({
    /*rules: {
        username: {
            required:true,
            minlength: 5,
            maxlength: 15
        },
        password: {
            required:true,
            minlength: 5,
            maxlength: 15
        },
        confirm_password: {
            required:true,
            equalTo:password
        }
    },*/
    submitHandler: function(form) {
            username = $('#user_name').val();
            if(username == '') {
                alert('Please Enter UserName');
                $('#user_name').focus();
                return false;
            }
            password = $('#password').val();
            cpassword = $('#confirm_password').val();
            if(password != cpassword) {
                alert('password and confirm password should be same');
                $('#confirm_password').focus();
                return false;
            }
            var dataObj = { For : 'username', username: username }; 
            $('#err').html('');
            $.ajax({
                    method     : 'post',
                    url        : site_url+'business/datavalidate',
                    success    : function(result) {
                        if(result == 'exists') {
                            $('#err').html('UserName Already Exists');
                            return false;
                        }
                        if(result == 'notexists') {
                            $('#businessprofileinfo_form').attr('action', site_url+'business/profileinfo');
                            form.submit();
                        }
                    },
                    data: dataObj    
            });
    }
});
$(document).ready(function() {
    $("#profile_info_back_button").click(function() {
        window.location.href =  site_url+'business/businessinfo';
    });
});
</script>