<?php 
    //echo "<pre>".$this->startDate."-------->".$this->endDate;print_r($this->transactionReports);exit;
    echo $this->headLink()->appendStylesheet($this->baseUrl('css/transactionreports.css'))
                        ->appendStylesheet($this->baseUrl('css/datepicker/datepicker.css'))
                        ->appendStylesheet($this->baseUrl('css/datepicker/layout.css'));
    echo $this->headScript()->prependFile($this->baseUrl('js/datepicker/datepicker.js'))
                            ->appendFile($this->baseUrl('js/datepicker/eye.js'))
                            ->appendFile($this->baseUrl('js/datepicker/utils.js'))
                            ->appendFile($this->baseUrl('js/datepicker/layout.js?ver=1.0.2'));
    
    $request = Zend_Controller_Front::getInstance()->getRequest(); 
    //echo "<pre>".$this->pagenum;print_r($this);exit;
    //echo $this->pagenum."-->".$this->reportsCnt;//exit;
    if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $auth_type = "B";
    }
    if($this->userAuthVar == 1) {
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $auth_type = "U";
    }
    if($request->getParam('userid') != ''){
        $user_id = $request->getParam('userid');
    } else {
        $user_id = $auth_id;
    }
?>
<section>
    <div class="BS_body_wrap">
        <?php //echo $this->render('index/businessleftbar.phtml');?>
        <?php echo $this->render('/index/businessleftbar.phtml',array('userid'=>$request->getParam('userid')));?>
        <!--main-->
        <div class="main">
            <form name="transactionReportForm" id="transactionReportForm" method="post">
                <input type="hidden" name="pagenum" id="pagenum" value="<?php echo ($this->pagenum);?>">
                <input type="hidden" name="dates" id="dates" value="">
                <input type="hidden" name="startDate" id="startDate" value="">
                <input type="hidden" name="endDate" id="endDate" value="">
                <div class="main_heading"><h2><?php echo $this->translate("Detailed Transaction Report");?></h2></div>
                <div class="day_period-box">
                    <div class="day_period-box_heading"><h2><?php echo $this->translate("Select Day or a period:");?> </h2></div>

                    <div id="widget" style="float: left; margin-left: 5px;">
                        <div id="widgetField">
                            <?php 
                                if($this->startDate != ''){ $startDate = $this->startDate;
                                } else {
                                    $startDate = date("Y-m-01");
                                }
                                if($this->endDate != ''){ $endDate = $this->endDate;
                                } else {
                                    $endDate = date("Y-m-d", time());
                                }
                            ?>
                            <span id="transactionCalenderSpan"><?php echo $startDate;?>&divide;<?php echo $endDate;?></span>
                            <a href="#"></a>
                        </div>
                        <div id="widgetCalendar"></div>
                    </div>
                    <input type="button" class="submitBtn transact_btn" value="<?php echo $this->translate("Submit");?>" name="submitBtn" id="submitBtn" onclick="getTransactionReports($('#transactionCalenderSpan').html());" >
                </div>
    
                <div class="transaction">
                    <div class="transaction_box">
                        <?php $today = date('Y-m-d');?>
                        <input type="button" class="submitBtn" value="<?php echo $this->translate("Just Show me Today's Transactions");?>" name="todayTransaction" id="todayTransactionBtn" 
                               onclick="getTodaysTransactions('<?php echo $today.'÷'.$today;?>')">
                    </div>
                    <div class="upperes">
            <div class="upperes_headline"><h3><?php echo $this->translate("Filter Uppers");?></h3></div>
            <div class="transaction_box_two">
                <select name="coupon_id" id="coupon_id" class="analy_droupdown" style="float: left;" onchange="getTransactionReports($('#transactionCalenderSpan').html());">
                    <option value="" >---<?php echo $this->translate("Select");?>---</option>
                    <option value="all" <?php if($this->coupon_id == 'all'){?> selected="selected"<?php } ?>><?php echo $this->translate("All");?></option>
                    <?php 
                    if(count($this->couponAry) > 0){
                        foreach ($this->couponAry as $coupon){?>
                        <option value="<?php echo $coupon['coupon_id'];?>" <?php if($this->coupon_id == $coupon['coupon_id']){?> selected="selected"<?php } ?>><?php echo $coupon['title'];?></option>
                        <?php }
                    } else {?>
                        <option value="0" selected="selected"><?php echo $this->translate("No Uppers");?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
                </div>
    
                <table class="transactionTable" width="90%" border="0" cellspacing="0" cellpadding="0" id="ajaxtable">
                    <tr>
                      <td><?php echo $this->translate("Date");?></td>
                      <td><?php echo $this->translate("Upper");?></td>
                      <td><?php echo $this->translate("Purchased By");?></td>
                      <td><?php echo $this->translate("Quantity");?></td>
                      <td><?php echo $this->translate("Acutal Cost");?></td>
                      <td><?php echo $this->translate("Discount");?></td>
                      <td><?php echo $this->translate("Made Of Payment");?></td>
                    </tr>
                    <?php 
                    if($this->reportsCnt > 0){
                        foreach($this->transactionReports as $report){?>
                            <tr>
                              <td><?php echo date('Y-m-d', strtotime($report['purchase_date']));?></td>
                              <td><?php echo $report['title'];?></td>
                              <td><?php echo $report['realname'];?></td>
                              <td><?php echo "1";?></td>
                              <td><?php echo $report['original_price'];?></td>
                              <td><?php echo $report['discounted_price'];?></td>
                              <td><?php echo "-";?></td>
                            </tr>
                        <?php }
                    } else {?>
                            <tr>
                                <td colspan="7"><?php echo $this->translate("No Records Available");?></td>
                            </tr>
                    <?php }?>
                </table>
    
                <div class="purched">
                    <div class="purched_headline"><h3><?php echo $this->translate("Total");?><br/><?php echo $this->translate("Purchased");?></h3></div>
                    <div class="purched_headline"><h3><?php echo $this->translate("Total");?><br/><?php echo $this->translate("Quantity");?></h3></div>
                    <div class="purched_headline"><h3><?php echo $this->translate("Total");?><br/><?php echo $this->translate("Actual Cost");?></h3></div>
                   <div class="purched_headline_last"><h3><?php echo $this->translate("Total");?><br/><?php echo $this->translate("Discount");?></h3></div>
                </div>
                <div class="purched" style="margin-top: -1px; height: 20px;">
                    <div class="purched_headline"><?php echo $this->reportsCnt; ?></div>
                    <div class="purched_headline"><?php echo $this->reportsCnt; ?></div>
                    <div class="purched_headline"><?php echo $this->totalActualCostAndDiscount['totalActualCost']; ?></div>
                   <div class="purched_headline_last"><?php echo $this->totalActualCostAndDiscount['totalDiscount']; ?></div>
                </div>
                <?php if($this->reportsCnt > 0){?>
                <div class="last">
                    <div class="last_left_box">
                        <?php if($this->pagenum > 0){?>
                        <input type="button" class="submitBtn" value="<?php echo $this->translate("Load Previous");?>" name="todayTransaction" id="todayTransactionBtn" onclick="getPreviousReports($('#transactionCalenderSpan').val(), <?php echo ($this->pagenum)-1;?>, '<?php echo ($this->startDate);?>','<?php echo ($this->endDate);?>')">
                        <?php } ?>
                    </div>
                    <div class="last_left_box_two">
                        <?php 
                        if((($this->pagenum+1)*($this->limit)) <= ($this->reportsCnt)-1){?>
                        <input type="button" class="submitBtn" value="<?php echo $this->translate("Load Next");?>" name="nextTransactions" id="nextTransactions" onclick="getNextReports($('#transactionCalenderSpan').val(), <?php echo ($this->pagenum)+1;?>, '<?php echo ($this->startDate);?>','<?php echo ($this->endDate);?>')">
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>
            </form>
        
        <!--End main-->
    </div>
</section>
<script type="text/javascript">
    function getTransactionReports(dates) {
        $('#dates').val(dates);
        $('#pagenum').val("0");
        $('#transactionReportForm').submit();
    }
    function getNextReports(dates, pagenum, startDate, endDate) {
        $('#dates').val(dates);
        $('#pagenum').val(pagenum);
        $('#startDate').val(startDate);
        $('#endDate').val(endDate);
        $('#transactionReportForm').submit();
    }
    function getPreviousReports(dates, pagenum, startDate, endDate) {
        $('#dates').val(dates);
        $('#startDate').val(startDate);
        $('#endDate').val(endDate);
        $('#pagenum').val(pagenum);
        $('#transactionReportForm').submit();
    }
    function getTodaysTransactions(dates) {
        $('#dates').val(dates);
        $('#pagenum').val("0");
        $('#transactionReportForm').submit();
    }
</script>