<?php
$request = Zend_Controller_Front::getInstance()->getRequest(); 
//echo '<pre>';print_r($request->getParams());exit;
$request_user_id = $request->getParam('business_id');
    if($this->businessAuthVar == 1) {
        $auth_id = $this->businessdata->business_id;
        $user = 'business';
        $logged_user_type = "B";
        $logged_user_id = $auth_id;
    }
//echo $this->businessAuthVar.'-->'.$this->userAuthVar;exit;
    if($this->userAuthVar == 1) {
        $user = 'normal';
        $auth_id = $this->userdata->user_id;
        $logged_user_type = "U";
        $logged_user_id = $auth_id;
    }
    if($request->getParam('business_id') != '') {
        $user_id = $request->getParam('business_id');
    } else {
        $user_id = $auth_id;
    }
    $loadMoreMarginTop = 'margin-top:10px';
    $textContent = "No More Followers Available";
    //echo $this->pagenum;exit;
    if($this->pagenum == 0){
        $loadMoreMarginTop = 'margin-top:100px';
        $textContent = "No Followers Available";
?>
<section style="padding: 0px;">
    <div class="FSP_container" style="padding: 10px;">
      <div class="FSP_poptitle"></div>
      <div class="FSP_Ftitle"><?php echo 'FOLLOWERS'; ?></div>
      <div class="FSP_table_con" id="FollowersDiv">
    <?php }
        //echo "<pre>";print_r($this->userfollowers);exit;
        $followerCnt = count($this->userfollowers);
        if($followerCnt > 0){
            foreach($this->userfollowers as $row) { 
                $path = 'images/thumbnails/'.$row['image_name'];
                $imgPath = (($row['image_name'] != '') && file_exists(UPLOAD_PATH.$path))?SITE_URL.'uploads/'.$path:SITE_URL.'public/images/no-user.gif';?>
                <div class="FSP_table_row" id="<?php echo $row['user_id']; ?>">
                    <div class="FSP_table_pic">
                        <a class="pointer" onclick="redirect(<?php echo $row['user_id'];?>,'<?php echo $row['user_type'];?>');">
                            <img src="<?php echo $imgPath; ?>" border="0" width="66" height="66" title="<?php echo ucwords($row['firstname']); ?>">
                        </a>
                    </div>
                <div class="HA_right_scroll_name" style="margin:13px 0 0 0;">
                    <a class="pointer" onclick="redirect(<?php echo $row['user_id'];?>,'<?php echo $row['user_type'];?>');"><?php echo ucwords($row['firstname'].' '.$row['lastname']); ?></a>
                </div>
                    <?php 
                    if($logged_user_type=='B' && $row['user_type']=='U'){}
                    else{
                        if($row['isFollowing'] =='1'){ ?>
                            <input type="button" class="FSP_table_btnT" value="">
                        <?php  }
                        if($row['isFollowing'] =='0'){  ?>
                            <input type="button" class="FSP_table_Ubtn" name="<?php echo $row['user_id']; ?><?php echo $row['user_type']; ?>" value="" onclick="$().make_friend('<?php echo $row['user_id'];?>','<?php echo $row['user_type'];?>');">
                <?php } }?>
                </div>
    <?php 
            }
            if($followerCnt >= $this->limit) {
                echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreFollowers('.$request_user_id.', '.(($this->pagenum)+1).', '.$this->limit.');">'.$this->translate("Load more followers").'</div>';
            }
        }
        if($followerCnt == 0){
            echo "<div class='notAvailable' style='".$loadMoreMarginTop."' align='center'>".$textContent."</div>";
        }
        if($this->pagenum == 0){
        ?>
      </div>
   </div>
</section>
<script>
var $ = jQuery;
$(document).ready(function(){
    $.fn.make_friend = function(fId,user_type){
        var datastring = "follower_id=" +fId+"&follower_type="+user_type;
        //  alert(datastring);
        $('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
        $.ajax({
            type: "POST",
            url: site_url+"business/makefriends",
            data:datastring,
            cache: false,
            success: function(value) {
                if(value =="success"){
                    //window.parent.location.reload();
                }else{
                    return false;
                }
            }
        });       
    }
          
});  
</script>
<?php } ?>