<?php 
    $request = Zend_Controller_Front::getInstance()->getRequest(); 
    //echo '<pre>';print_r($request->getParams());exit;
    $request_user_id = $request->getParam('business_id');
    
    if($this->businessAuthVar == 1) {
       $logged_user_type = "B";
       $logged_user_id = $this->businessdata->business_id;;
    }

    if($this->userAuthVar == 1) {
       $logged_user_type = "U";
       $logged_user_id = $this->userdata->user_id;
    }
    $loadMoreMarginTop = 'margin-top:10px';
    $textContent = "No More Following users Available";
    //echo $this->pagenum;exit;
    if($this->pagenum == 0){
        $loadMoreMarginTop = 'margin-top:100px';
        $textContent = "No Following users Available";
?>
<section style="padding: 0px;">
    <div class="FSP_container" style="padding: 10px;">
      <div class="FSP_poptitle"></div>
      <div class="FSP_Ftitle"><?php echo 'FOLLOWING'; ?></div>
      <div class="FSP_table_con"  id="FollowingDiv">
           <?php }
                $followingCnt = count($this->userfollowing);
                if($followingCnt > 0){
                    foreach($this->userfollowing as $row) { 
                        $path = 'images/thumbnails/'.$row['image_name'];
                        $imgPath = (file_exists(UPLOAD_PATH.$path) && $row['image_name'] != '')?SITE_URL.'uploads/'.$path:SITE_URL.'public/images/no-user.gif';?>
                        <div class="FSP_table_row" id="<?php echo $row['follower_id']; ?>">
                              <div class="FSP_table_pic">
                                    <a class="pointer" onclick="redirect(<?php echo $row['follower_id'];?>,'<?php echo $row['follower_type'];?>');">
                                        <img src="<?php echo $imgPath; ?>" border="0" width="66" height="66" title="<?php echo ucwords($row['firstname']); ?>">
                                    </a>
                              </div>
                              <div class="HA_right_scroll_name" style="margin:13px 0 0 0;">
                                    <a class="pointer" onclick="redirect(<?php echo $row['follower_id'];?>,'<?php echo $row['follower_type'];?>');"><?php echo ucwords($row['firstname'].' '.$row['lastname']); ?></a>
                              </div>
                            <?php
                                if($logged_user_type=='B' && $row['follower_type']=='U'){}
                                else{
                                    if($row['isFollowing'] == 1){ ?>
<!--                                        <input type="button" class="FSP_table_btnT" value="">-->
                                        <div class="followUnfollowDiv" id="unFollowDiv<?php echo $row['follower_id'].$row['follower_type'];?>">
                                            <div class="Unfollow"><img class="B_img2" src="<?php echo  SITE_URL;?>/images/close.png" width="24" height="23" onclick="$().unmake_friend(<?php echo $row['follower_id'];?>,'<?php echo $row['follower_type'];?>');" style="cursor: pointer;"/></div><input type="button" class="FSP_table_btnT_Following" value="" >
                                        </div>
                                        <div id="followDiv<?php echo $row['follower_id'].$row['follower_type'];?>" style="display: none;">
                                            <input type="button" class="FSP_table_Ubtn" name="<?php echo $row['follower_id']; ?><?php echo $row['follower_type']; ?>" value="" onclick="$().make_friend('<?php echo $row['follower_id'];?>','<?php echo $row['follower_type'];?>');" >
                                        </div>
                                    <?php  }elseif($row['isFollowing'] == 0){ ?>
                                        <div class="followUnfollowDiv" id="unFollowDiv<?php echo $row['follower_id'].$row['follower_type'];?>" style="display: none;">
                                           <div class="Unfollow"><img class="B_img2" src="<?php echo  SITE_URL;?>/images/close.png" width="24" height="23" onclick="$().unmake_friend(<?php echo $row['follower_id'];?>,'<?php echo $row['follower_type'];?>');" style="cursor: pointer;"/></div><input type="button" class="FSP_table_btnT_Following" value="" >
                                       </div>
                                        <div id="followDiv<?php echo $row['follower_id'].$row['follower_type'];?>">
                                            <input type="button" class="FSP_table_Ubtn" name="<?php echo $row['follower_id']; ?><?php echo $row['follower_type']; ?>" value="" onclick="$().make_friend('<?php echo $row['follower_id'];?>','<?php echo $row['follower_type'];?>');">
                                        </div>
                                  <?php } 
                                    }?>
                        </div>
          <?php     }
                    if($followingCnt >= $this->limit) {
                        echo '<div class="tab_loadmore" style="cursor: pointer;" onclick="moreFollowings('.$request_user_id.', '.(($this->pagenum)+1).', '.$this->limit.');">'.$this->translate("Load more followings").'</div>';
                    }
                }
                if($followingCnt == 0){
                  echo "<div class='notAvailable' style='".$loadMoreMarginTop."' align='center'>".$textContent."</div>";
                }
           ?>
      </div>
   </div>
</section>
<script type="text/javascript">
var $ = jQuery;
$(document).ready(function(){
    $.fn.make_friend = function(fId,user_type){
    var datastring = "follower_id=" +fId+"&follower_type="+user_type;
    //  alert(datastring);
    //$('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
    $.ajax({
        type: "POST",
        url: site_url+"business/makefriends",
        data:datastring,
        cache: false,
        success: function(value) {
            if(trim(value)==='success') {
                //$('input[name='+ fId+user_type+']').removeClass('FSP_table_Ubtn').addClass('FSP_table_btnT');
                $('#unFollowDiv'+fId+user_type).show();
                $('#followDiv'+fId+user_type).hide();
            } else {
                return false;
            }
        }
    });       
}
          
});  
$.fn.unmake_friend = function(fId,user_type){
    var datastring = "follower_id=" +fId+"&follower_type="+user_type;
    $.ajax({
        type: "POST",
        url: site_url+"business/unmakefriends",
        data:datastring,
        cache: false,
        success: function(value) {
            if(trim(value)==="success") {alert(value);
                $('#unFollowDiv'+fId+user_type).hide();
                $('#followDiv'+fId+user_type).show();
            } else {
                return false;
            }
        }
    });       
}
</script>