<?php $paginationControl = $this->paginationControl($this->paginator, 'Sliding', '_partials/paginator.phtml');
if(!$this->isAjaxReq)
{
?>
<section id="main" class="span9">
    <?php
    if($this->flashMessages())
    {
        echo $this->translate($this->flashMessages());
    }
    ?>
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <div class="addbtn"><a href="<?php echo SITE_URL.'admin/userlevels/adduserlevel'; ?>">Add User Level</a></div>
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab"><?= $this->translate("User Levels Management");?></a></li>			
            </ul>
            <div class="tab-content">
<?php } ?>
                <form name="manageuserlevels" id="manageuserlevels" method="post">
                    <input type="hidden" name="hid_key" id="hid_key" value=""/>
                    <input type="hidden" name="hid_id" id="hid_id" value="" />
                    <input type="hidden" name="hid_status" id="hid_status" value="" />
                    <div class="tab-pane active" id="tab1">
                        <div class="pagination-result">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectall" name="checkAll" value="Y" onclick="javascript:funCheckAll();"></th>  
                                    <th><?php echo $this->translate('Level No');?></th>
                                    <th><?php echo $this->translate('Level Name');?></th>
                                    <th><?php echo $this->translate('Minimum Cool Points');?></th>
                                    <th><?php echo $this->translate('Minimum Followers');?></th>
                                    <th><?php echo $this->translate('Minimum Followings');?></th>
                                    <th><?php echo $this->translate('Actions');?></th>
                                </tr>					
                                </thead>
                                <tbody>
                                <?php 
                                    $count = 0;    
                                    foreach ($this->paginator as $userlevels) { 
                                        //echo "<pre>";print_r($userlevels);exit;
                                        $count++;?>
                                    <tr>
                                            <td><input type="checkbox" class="case" name="checkuserlevels[]" value="<?php echo $userlevels['id'];?>"></td>
                                            <td> 
                                                <?php echo stripslashes($userlevels['level_no']);?>
                                            </td>
                                            <td> 
                                                <?php echo stripslashes($userlevels['level_name']);?>
                                            </td>
                                            <td> 
                                                <?php echo stripslashes($userlevels['minimum_coolpoints']);?>
                                            </td>
                                            <td> 
                                                <?php echo stripslashes($userlevels['minimum_followers']);?>
                                            </td>
                                            <td> 
                                                <?php echo stripslashes($userlevels['minimum_followings']);?>
                                            </td>
                                            <td>
                                                <a href="<?php echo $this->url(array('controller'=>'userlevels', 'action'=>'edituserlevel','id'=>$userlevels['id'])); ?>" title="Edit Userlevel"><i class="icon-edit"></i></a>
                                                <a href="javascript:void(0);"><i class="icon-remove" title="Delete Userlevel" onclick="fnDeleteRecord('manageuserlevels',<?php echo $userlevels['id'];?>);"></i></a>
                                            </td>
                                    </tr>
                                <?php } 
                                    if($count == 0)
                                    {?>
                                        <tr><td colspan="5" class="norecords" style="text-align: center;"><?php echo $this->translate("No Records To Display");?></td></tr>
                                <?php } ?>
                                </tbody>                                    
                            </table>                  
                        </div>
                        <div class="tableFooter">
                            <?php if($count != 0) { ?>
                            <div class="tableActions span7 action">
                            <select name="adminActions" id="adminActions">
                                <option value=""><?php echo $this->translate("Choose an action");?></option>
                                <option value="D"><?php echo $this->translate("Delete");?></option>
                            </select>
                            <button class="btn btn-primary" onclick="return setAdminStatus('manageuserlevels');"><?php echo $this->translate("Submit");?></button>
                            </div><!-- End of table Actions -->
                            <?php } ?>
                            <div class="pagination span5 page">
                            <?php echo $paginationControl ?>
                            </div>    
                            <div class="clearfix"></div>
                        </div><!-- End of Table footer -->
                    </div><!-- End of Tab 1 -->
                </form>
            </div>
        </div>
    </section><!-- End of Tabs -->        
</section>
<SCRIPT language="javascript">
$(window).scrollTop(0);
$(function(){

        // add multiple select / deselect functionality
        $("#selectall").click(function () {
        $('.case').attr('checked', this.checked);
        });

        // if all checkbox are selected, check the selectall checkbox
        // and viceversa
        $(".case").click(function(){

        if($(".case").length == $(".case:checked").length) {
        $("#selectall").attr("checked", "checked");
        } else {
        $("#selectall").removeAttr("checked");
        }
     });
});
</SCRIPT>