<?php //echo "<pre>";print_r($this->data);exit;?>
<section id="main" class="span9">
	<section id="tabs" class="row-fluid">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs ">
				<li class="active"><a href="#tab2" data-toggle="tab"><?= $this->translate("Edit HelpVideo");?></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane row-fluid active" id="tab2">
					<fieldset class="span12">
                                                <?php echo $this->form; ?>
					</fieldset>
					<div class="clearfix"></div>
					<div class="tableFooter">
						<div class="clearfix"></div>
					</div><!-- End of Table footer -->
				</div>
			</div>
		</div>
	</section><!-- End of Tabs -->
</section><!-- End of Main Section (Holds all controls of the page) -->
<script type="text/javascript">
$(document).ready(function(){
        $("#addhelpvideo").validate({
                iphone_path: {
                        required: true
                },
                android_path: {
                        required: true
                },
                web_path: {
                        required: true
                }
        });
});
</script>