<?php $paginationControl = $this->paginationControl($this->paginator, 'Sliding', '_partials/paginator.phtml');
if(!$this->isAjaxReq) { ?>
<section id="main" class="span9">
    <?php if($this->flashMessages()) {
        echo $this->translate($this->flashMessages());
    } ?>
    <section id="tabs" class="row-fluid">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <div class="addbtn"><a href="<?php echo SITE_URL.'admin/helpvideos/addhelpvideo'; ?>">Add Help Video</a></div>
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab1" data-toggle="tab"><?= $this->translate("Help Videos Management");?></a></li>			
            </ul>
            <div class="tab-content">
<?php } ?>
                <form name="managehelpvideos" id="managehelpvideos" method="post">
                    <input type="hidden" name="hid_key" id="hid_key" value=""/>
                    <input type="hidden" name="hid_id" id="hid_id" value="" />
                    <input type="hidden" name="hid_status" id="hid_status" value="" />
                    <div class="tab-pane active" id="tab1">
                        <div class="pagination-result">
                            <div  class="search_right">
                                <input type="text" name="helpvideossearch" id="helpvideossearch" value="<?php if($this->keyword !='') echo $this->keyword;?>"  placeholder="Search for Help Videos"/>
                                <button class="btn btn-primary" id="searchsubmit">Search</button>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectall" name="checkAll" value="Y" onclick="javascript:funCheckAll();"></th>
                                        <th><?php echo $this->translate('IphonePath');?></th>
                                        <th><?php echo $this->translate('AndroidPath');?></th>
                                        <th><?php echo $this->translate('WebPath');?></th>
                                        <th><?php echo $this->translate('Created Date');?></th>
                                        <th><?php echo $this->translate('Status');?></th>
                                        <th><?php echo $this->translate('Actions');?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php $count = 0;
                                    foreach ($this->paginator as $helpvideos) { $count++; ?>
                                    <tr>
                                        <td><input type="checkbox" class="case" name="checkhelpvideos[]" value="<?php echo $helpvideos['id'];?>"></td>
                                        <td>
                                            <?php if(strlen($helpvideos['iphone_path'])>50) { echo stripslashes(substr($helpvideos['iphone_path'],0,50)).'....'; } else { echo stripslashes($helpvideos['iphone_path']); } ?>
                                        </td>
                                        <td>
                                            <?php if(strlen($helpvideos['android_path'])>50) { echo stripslashes(substr($helpvideos['android_path'],0,50)).'....'; } else { echo stripslashes($helpvideos['android_path']); } ?>
                                        </td>
                                        <td>
                                            <?php if(strlen($helpvideos['web_path'])>50) { echo stripslashes(substr($helpvideos['web_path'],0,50)).'....'; } else { echo stripslashes($helpvideos['web_path']); } ?>
                                        </td>
                                        <td><?php if($helpvideos['created_date'] != '0000-00-00' && $helpvideos['created_date'] != '') echo date('jS/M/Y- h:ia', strtotime($helpvideos['created_date'])); else echo "--N/A--";?></td>
                                        <td><?php if($helpvideos['status'] == '1') { ?>
                                            <span style="color:#008000"><?php echo $this->translate("Active");?></span>
                                        <?php } else { ?>
                                            <span style="color:#FF0000"><?php echo $this->translate("Inactive");}?></span>
                                        </td>
                                        <td>
                                            <a href="<?php echo $this->url(array('controller'=>'helpvideos', 'action'=>'edithelpvideo','id'=>$helpvideos['id'])); ?>" title="Edit Quote"><i class="icon-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="icon-remove" title="Remove HelpVideo" onclick="fnDeleteRecord('managehelpvideos',<?php echo $helpvideos['id'];?>);"></i></a>
                                            <?php if($helpvideos['status'] == '0') { ?>
                                                        <a href="javascript:void(0);" title="Make Active" onclick="fnChangeStatus('managehelpvideos','1',<?php echo $helpvideos['id'];?>);"><i class="icon-ok-circle"></i></a>
                                            <?php } else{?>
                                                        <a href="javascript:void(0);" title="Make Inactive" onclick="fnChangeStatus('managehelpvideos','0',<?php echo $helpvideos['id'];?>);"><i class="icon-ban-circle"></i></a>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                <?php } 
                                    if($count == 0) { ?>
                                        <tr><td colspan="5" class="norecords" style="text-align: center;"><?php echo $this->translate("No Records To Display");?></td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="tableFooter">
                            <?php if($count != 0) { ?>
                            <div class="tableActions span7 action">
                            <select name="adminActions" id="adminActions">
                                <option value=""><?php echo $this->translate("Choose an action");?></option>
                                <option value="A"><?php echo $this->translate("Make Active");?></option>
                                <option value="I"><?php echo $this->translate("Make Inactive");?></option>
                                <option value="D"><?php echo $this->translate("Delete");?></option>
                            </select>
                            <button class="btn btn-primary" onclick="return setAdminStatus('managehelpvideos');"><?php echo $this->translate("Submit");?></button>
                            </div><!-- End of table Actions -->
                            <?php } ?>
                            <div class="pagination span5 page">
                                <?php echo $paginationControl ?>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- End of Table footer -->
                    </div><!-- End of Tab 1 -->
                </form>
            </div>
        </div>
    </section><!-- End of Tabs -->
</section>
<script language="javascript">
$(window).scrollTop(0);
$(function() {
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
        $('.case').attr('checked', this.checked);
    });
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".case").click(function() {
        if($(".case").length == $(".case:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
    });
    $('#searchsubmit').click(function() {
        var searchStr = $('#helpvideossearch').val();
        if(searchStr == '') {
            jAlert("Please enter your keyword to display search results",'Alert');
            return false;
        } else {
            $('.tab-content').html('<div id="tab1"><div id="ajax-load"></div></div>');
            $('#ajax-load').addClass('loading overlay');
            $('.overlay').attr('style','height:150px;position:relative;');
            $.get(site_url+'admin/helpvideos/index', {'search' : searchStr},
            function (data) {
                $('#ajax-load').removeClass('loading overlay');
                $('.tab-content').html(data);
                return false;
            });
        }
        return false;
    });
});
</script>